[2017-06-09 11:29] relekang commented on #843
That would be really helpful 🙂

[2017-06-09 12:09] kevin940726 commented on #843
@relekang
[Here](https://github.com/kevin940726/styled-components-flow-typed) you go 😃 .

The steps I took.
1. create-react-app
2. `yarn add styled-components`
3. `yarn add -D flow-bin`
4. `yarn flow -- init`
5. ignore `node_modules` in `.flowconfig`
6. `flow-typed install styled-components@2.0.1`
6. Edit `src/App.js`
7. run `yarn flow`

What did I miss? Thanks in advance!

[2017-06-09 14:03] Jonarod commented on #899
@philpl   My bad...

The example does explain it indeed:
[code]

The abstraction `Component.extend` made me miss it while looking for explicit
[code]
But it may be just me, sorry for that.

[2017-06-09 14:42] philpl commented on #899
It's definitely not your fault :) It's easy to miss. I'll add another paragraph about chaining these two methods

[2017-06-09 14:45] ronnyhaase commented on #624
I agree that it's hard to test using themes powered by ThemeProvider. I think @neoziro 's solution is very smart, and maybe a note regarding this in the docs would be nice.

Allow me to side-note that currently my thought is not using a provider and instead have the theme in a raw JS file and importing it directly is smarter. It avoids exactly this testing issue that I've seen many people run into

[2017-06-09 15:38] nfarina commented on #888
Upgrading to styled-components v2.0.1 also broke my styles with comments - the parser seemed to discard all styles after the comment. I'm not sure of root cause yet though.

[2017-06-09 15:40] diondiondion commented on #888
Same, had to manually revert to 2.0.0. Would probably be best to revert the release until this has been fixed.

[2017-06-09 15:46] thysultan commented on #888
Can't tell if this is s-c or stylis related, @nfarina @didierfranc Do you have examples that can be tested... I use this for the [remove comments] test spec (https://github.com/thysultan/stylis.js/blob/master/tests/spec.js#L110)

[2017-06-09 15:48] nfarina commented on #888
This is speculative (upgrading to 2.0.1 now to test it) but my hunch is that it's related to commenting out actual lines of CSS including colons/semicolons.

[2017-06-09 15:54] nfarina commented on #888
OK, so this causes the bug:

[code]

Removing the 2nd comment line "fixes" it. So it seems to be related to two consecutive comments?

[2017-06-09 15:56] thysultan commented on #888
@nfarina What comes after `/* Line two */`?

[2017-06-09 15:58] nfarina commented on #888
Updated my comment above - will delete this one (for email)

[2017-06-09 16:01] nfarina commented on #888
Here's another example that breaks it right away (and in a different way - screws up the whole page layout):

[code]

[2017-06-09 16:14] thysultan commented on #888
This works with [stylis](https://stylis.js.org) @philpl [stringifyRules.js#L21](https://github.com/styled-components/styled-components/blob/master/src/utils/stringifyRules.js#L21) this might be the source of this.

[2017-06-09 18:10] three60five commented on #624
When I use styled-components to make "building block" components defined in the same file as the "assembled" component, I am having a really difficult time targeting them in my tests using enzyme's `.find()` method.

For example, with this styled-component:
[code]
If I use an imported styled-component like `<ImportedComponent>`, I can easily find it like with enzyme like:
[code]
But I haven't foun

[2017-06-09 18:18] philpl commented on #888
Are most people here forgetting to mention that they're using the babel plugin possibly?

If it's not stylis, the only thing that could cause this is the optional babel plugin for v2 and it's minify option which is enabled by default ;)

https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/visitors/minify.js

[2017-06-09 18:29] diondiondion commented on #888
Guilty as charged.

[2017-06-09 18:52] philpl commented on #888
Ok, I'll try to patch the plugin with the cases you guys mentioned :)

[2017-06-09 20:39] MarkSMT opened #901 "Webpack module bundling failure on v2.0.1 (_stylis2.default.set is not a fn)"
## Version
2.0.1

## Reproduction

Update from 2.0.0 to 2.0.1

## Issue

<img width="716" alt="screen shot 2017-06-09 at 22 36 55" src="https://user-images.githubusercontent.com/20295793/26993641-514fbfdc-4d64-11e7-8ff1-c68d9f896318.png">

I get this error after update. How can i fix this?

[2017-06-09 20:41] MarkSMT commented on #901
<img width="673" alt="screen shot 2017-06-09 at 22 40 56" src="https://user-images.githubusercontent.com/20295793/26993726-bd5cb0d6-4d64-11e7-8d5e-47c315c4b498.png">

[2017-06-09 22:44] KTruong888 commented on #827
I'm not too experienced with this stuff but I've got the whole weekend free and I just watched the talk. Looks interesting and I'd like to give it a shot, is that alright?

[2017-06-09 22:46] philpl commented on #901
It seems that your stylis didn't upgrade initially, but it's impossible for me to tell you why ^^

[2017-06-09 22:46] #901 closed

[2017-06-10 12:56] dagda1 commented on #624
as @nfcampos stated, the only way I have found is to use dive:
[code]

[2017-06-10 13:25] ohjames commented on #624
chuanxie has the best solution further up this thread, it covers shallow rendering and access to root-specific methods.

[2017-06-10 21:12] butlersrepos commented on #624
@chuanxie Is this for testing styled-components outside of this repo? I don't follow how you're referencing the `createBroadcast` function.

[2017-06-10 21:38] ohjames commented on #624
Ah he left that out:

[code]

[2017-06-10 21:40] ohjames commented on #624
His code can be simplified a little too, did it for a client I work for, unfortunately can't post it right now.

[2017-06-10 21:45] butlersrepos commented on #624
I tried the direct import like that and ran into the "fun" problem of Jest transforming the import. Isn't jest supposed to ignore node_modules for transforms by default? :|

![image](https://user-images.githubusercontent.com/1380635/27006545-86726390-4e04-11e7-9fe2-cd6ebd769e39.png)

[2017-06-10 22:55] ohjames commented on #624
You talking about auto-mocking?

[2017-06-10 23:08] butlersrepos commented on #624
I thought that the error I posted a snapshot of was Jest trying to trasnform an import improperly? automocking is defaulted to off.

[2017-06-11 13:12] ohjames commented on #624
No idea, I'm also using it with jest at BulbEnergy and didn't have that problem.

[2017-06-11 13:15] ohjames commented on #624
It looks like you are trying to import ES6 module syntax, which isn't supported by any existing version of node. Are you sure you used the right path for your broadcast import?

[2017-06-11 16:28] ehtb opened #903 "[V.2.0.1] Parent inheritance problem"
Please check this: https://codesandbox.io/s/wplNXEN1J
Check `.modifier & {` underneath.

This JSX:
[code]

Renders this HTML:
[code]

The CSS is compiled as:
[code]

I think the modifier should be: `.YJEIW .modifier .wrapper`

[2017-06-11 16:57] k15a commented on #903
Which styled-components version are you using?

[2017-06-11 17:07] philpl commented on #888
@Flydiverny @nfarina @diondiondion Please test and review this PR. It now correctly strips *all* comments. If everything is working correct, or if you're experiencing bugs while testing it, please leave a comment there.

cc @thysultan

[2017-06-11 17:08] thysultan commented on #903
I'm trying think what should be the correct behavior here.

Going from how [sass](https://www.sassmeister.com/gist/2076736c7e60ce1a26780adec6879a3f) handles this, since

[code]
Shouldn't
[code]

assuming `.YJEIW` is the enclosing namespace.

[2017-06-11 17:10] serle opened #905 "Styling 3rd party libraries with multiple className props e.g. material-ui"
Is there a styled-component helper which uses your functionality to generate the CSS class but returns a plain old string that can be used explicitly to set 3rd party component properties. I'm using the material-ui library which contains components with multiple "className" properties. Each one applies the specified className to one of their inner component, which I don't have access to.

In gener

[2017-06-11 17:18] philpl commented on #905
You can actually use `attrs` to achieve this. Consider react-router's good old Link component as an example:

[code]

or extract that magic classname:

[code]

[2017-06-11 17:18] #905 closed

[2017-06-11 17:25] ehtb commented on #903
@k15a v.2.0.1 (I added to the title).

@thysultan Could also be right yes, though that's more a library decision. I believe Sass would always put the modifier within the enclosing namespace, but outside it probably would serve more use cases and would be consistent with how `injectGlobal` would work.

[2017-06-11 17:25] philpl commented on #903
Btw @ehtb. Not trying to chime in here, but:

I'm not sure what you're trying to achieve here, but `.modifier` in your example isn't a modifier as in BEM. It's just a separate element class.

Modifiers should use interpolations. No matter whether this is a bug or not, the code you're writing doesn't seem to follow some best practices :wink:

[2017-06-11 17:27] ehtb commented on #903
Hi @philpl It is only to illustrate the issue, not to be a real world example.

[2017-06-11 17:39] thysultan commented on #903
The way sass handles it looks more consistent across the board of possible uses. i.e would the following

[code]
produce `.YJEIW .c .a .b` or `.YJEIW .a .c .b`?

@ehtb Can you give me example cases that one would be to able handle over the other?

[code]

patterns

[2017-06-11 17:56] k15a commented on #903
Sorry, I should have read the complete issue. I think the current behavior is great because the `&` acts like a variable for the generated class which is quite reasonable. This way you don't have to think twice how your current selector looks like because `&` gets replaced with the generated class and if there is no `&` in the selector the generated class is prepended.

[2017-06-11 18:02] ehtb commented on #903
@k15a I agree, I feel that that is the correct behaviour too. I was unsure if the library wanted to render: `.YJEIW .modifier .wrapper`, or `.modifier .YJEIW .wrapper`. In the current version this is rendered as `.wrapper .modifier .YJEIW`, which I think is the actual bug.

[2017-06-11 23:17] thysultan commented on #903
patched in stylis 3.1.6, works like it would in scss.

[2017-06-11 23:19] philpl commented on #903
@thysultan awesome :tada:

@ehtb can you confirm, please, that it's now working correctly for you? 😄

[2017-06-11 23:47] mschipperheyn commented on #762
Nope, added the babel-plugin on this test repo I prepared and added the ssr: true. Still a "hanging" load. I updated the repo

[2017-06-12 07:47] ehtb commented on #903
@thysultan Great, thanks for the fast fix!

@philpl Just did, can confirm that 2.0.1 with stylis 3.1.6 works. Awesome work!

[2017-06-12 07:47] #903 closed

[2017-06-12 08:14] serle commented on #905
The example that you give deals with setting one className attribute on the component and returns one styled component. How could you set multiple classNames on a component and return one styled component. Take for instance the Table component in react-virtualized, it contains multiple classNames to be set in order to style it for use.

[2017-06-12 09:54] philpl commented on #905
the prop is just a string, so you can pass more than one classname. You can also pass a function and use the props to generate it.

To answer why it's messy: it's messy in general, since you're building on existing styles. In my experience, there's no way to make that a nicer experience. And you're always going to run into some trouble using existing styling frameworks and building on top of them.

[2017-06-12 09:56] jamieholliday opened #907 "Testing styled components with snapshots"
We are currently using styled components with Jest snapshot testing. Works pretty nicely except for if I add a new styled component to one of my react components it causes the css class names and then therefore the snapshots to change in multiple unrelated components.

The diffs in git are now all css classname changes in completely otherwise untouched parts of the codebase which is making the dif

[2017-06-12 10:13] philpl commented on #907
There's a separate project that makes this whole experience with Jest a lot nicer: https://github.com/styled-components/jest-styled-components

:+1:

[2017-06-12 10:13] #907 closed

[2017-06-12 10:59] jamieholliday commented on #907
Thanks, I did check out the project, and it looks like it makes the snapshot error messages nicer looking, which is great.

However the original issue still exists. I add a new styled component in one react component, unrelated components (not using the component I changed in any way) have their classnames updated so a new snapshot gets generated for multiple components, which makes the diff reall

[2017-06-12 11:05] philpl commented on #907
This should be circumventable with our babel-plugin with the ssr option. It generates stable componentIds. I'm not sure if that applies to the jest plugin though

[2017-06-12 11:09] mxstbr commented on #905
You can repeat this pattern as often as you want!

[code]

[2017-06-12 11:41] mjanssen opened #908 "Component-styling not functional while using Preact"
## Versions
styled-components: 2.0.1
preact: 8.1.0
preact-compat: 3.16.0

## Code reproduction

Page component

[code]

[code]

## Expected Behavior

The imported Header (in page.js) should obtain the class containing `float: right;`.

## Actual Behavior

The imported Header (in page.js) only gets the class for `color: #F51963;`.

## Additional notes

`preact-compat` is included using Webpack.

[c

[2017-06-12 12:31] k15a commented on #908
You need to pass the class name down to the component.

[code]

[2017-06-12 12:31] #908 closed

[2017-06-12 14:38] jamieholliday commented on #907
Ok just to document my findings here:  I just tried this out with both the babel-plugin ssr option and using jest-styled-components: ```expect(tree).toMatchStyledComponentsSnapshot()``` and looks like I'm still getting unrelated css class names being updated.

[2017-06-12 15:21] langovoi commented on #893
I have similar problem with used of [phemonic](https://github.com/phenomic/phenomic) (1.0.0-alpha.3).

In entry point i have next:
[code]

This code execute on client and on server side.

[2017-06-12 15:56] themre opened #909 "Best way to inject global based on theme provider"
Hi,
I'm trying to inject some global styles based on theme props (e.g. color of anchors etc.). I wanted to use injectGlobal with props from theme provider but it doesn't get registered (inside my App.js which is my entry component). Any suggestions much appreciated!

[2017-06-12 16:02] k15a commented on #909
It's probably best to wrap your page in a Root component and apply your global style to this component. Other than that you can use withTheme to create a component which changes global styles.

[2017-06-12 16:56] Igorbek commented on #900
This is something I was thinking to do in the next 2-3 weeks.

[2017-06-12 17:48] philpl commented on #907
cc @MicheleBertoli

[2017-06-12 18:03] diondiondion commented on #774
Hey, are there any benchmarks on the performance impact of unique classes being generated for lists of items where every item is considered unique due to non-sc props being passed to the underlying element?

I guess this question is somewhat related to #439 since it's about s-c not being able to know which props are actually relevant to styling.

Why I'm asking:
I just noticed that in a big list o

[2017-06-12 21:53] nuragic commented on #761
@geelen Hi, I was just wondering the same as @leecade... Even if there will be no chance to support stylus-like syntax out of the box, is there any other way that you would suggest (apart from forking the lib and implementing it) to achieve the same? Could be the parser configured in some way, at some point, in the future?

Thanks!

[2017-06-12 21:59] nuragic commented on #761
Or you just realize that not having them is quite better for readability! 😄  Also keep in mind that in Stylus they're basically _optional_ and **writing plain CSS is actually valid Stylus**.

[2017-06-12 23:15] thysultan commented on #761
The [parser](https://github.com/thysultan/stylis.js) supports no-semicolons when enabled, the next patch version might enable this which would make... possible

[code]

Strictly from a technical POV, parsing the stylus pattern without colons `color red` is harder when your aiming for a small parser taking into account false positives between selectors and properties i.e how do you diff between

[c

[2017-06-12 23:58] nuragic commented on #761
@thysultan I can go to sleep right now knowing that soon we can at least get rid of the `;` ! 👏  😄

Regarding your question, I guess with `Indentation`? Maybe I was wrong when I stated:

Maybe I need to amend that to say:

**writing plain _indented_ CSS is actually valid Stylus**. 😬

Anyway, I agree about trying to keep the parser as small as possible; I'd just buy that argument against  the possi

[2017-06-13 00:15] thysultan commented on #761
Explored this a bit when working on the no-semicolon options though for different reasons – since i wanted to try and monkey-patch some common syntax errors i.e `color red;`.

So it is possible, you just have to do a lot more book keeping to avoid false positives since there are many valid ways you can write css selectors(involving whitespace) and properties that look syntactical similar without t

[2017-06-13 04:02] geelen commented on #774
@diondiondion the hashes are driven by the content of the CSS and the styled component ID. At least, they should be. So they should all have the same CSS if they are the same SC with the same CSS (regardless of the props generated).

Can you post a reproduction? You're not defining the SC inside a render method or loop or something, are you?

[2017-06-13 04:26] geelen commented on #893
Hmm, you're right, and a side-effect of the perf work I'm doing this should suddenly start working. But your workaround sounds like it's also working?

The data attributes and comments are necessary for SC to rehydrate, same as the react checksum and stuff. But potentially we could add a `getStaticCSS()` method (similar to [`renderToStaticMarkup`](https://facebook.github.io/react/docs/react-dom-se

[2017-06-13 06:55] themre commented on #909
ok thanks. i ended up wrapping root app into SC.

[2017-06-13 06:55] #909 closed

[2017-06-13 07:03] MicheleBertoli commented on #907
Hello @jameslnewell, It'd be awesome if you could provide a minimal example to repro the issue.
I'll be happy to help and improve the package.

[2017-06-13 07:08] serle commented on #905
Thx awesome :) What does the & do. Is it a special character that your parser reads in order to split the style-tag. Could you add this use case when explaining the attrs() helper as the explanation seems to be more focused on renaming the default className attribute as opposed to explaining the multiple className mapping concept.

[2017-06-13 07:12] serle opened #911 "How to sort out styled-component linter warnings in create-react-app"
Many of us use create-react-app. When using styled components it comes up with: styled is unused even though it is used. Could you provide a small guide on how to adapt the create-react-app linter rules for styled components.

[2017-06-13 07:40] k15a commented on #911
I've never had this issue. Could you share an example file where it errors?

[2017-06-13 08:32] diondiondion commented on #774
And they are, mea culpa. I failed to notice a pseudo element with differing background images in it that caused the hashes to differ for my links; then rashly attributed it to the wrong thing, sorry. 🙈

[2017-06-13 12:01] 0xsven opened #912 "How to set up SSR with next.js"
I am following the [documentation](https://www.styled-components.com/docs/advanced#nextjs) around sevrer sider rendering and next.

As warned in the docs my app accumulates style rules over time. The docs suggest to `to cache the SSR response to mitigate this for now`. Can someone elaborate on how to do that? This doesn't make much sense to me.

Thank you..

[2017-06-13 12:51] PlanetIrata commented on #893
Yes, the `StyleSheet.instance.toHTML()` workaround works, for now, but for long term, I think that a `getStaticCSS()` api would be cleaner.

[2017-06-13 13:57] IIIristraM opened #913 "Invalid typings lead to svg tags are missed"
v2.0.1

Current typings contain line
`type ThemedStyledComponentFactories<T> = ThemedStyledComponentFactoriesHTML<T> & ThemedStyledComponentFactoriesHTML<T>; `

instead of
`type ThemedStyledComponentFactories<T> = ThemedStyledComponentFactoriesHTML<T> & ThemedStyledComponentFactoriesSVG<T>;`

[2017-06-13 14:07] IIIristraM commented on #913
Everything Ok in the master branch, so probably it'll be fixed in next release.

[2017-06-13 14:21] k15a commented on #913
Yes, this is already fixed.

[2017-06-13 14:21] #913 closed

[2017-06-13 14:30] IIIristraM opened #914 "Runtime error "__WEBPACK_IMPORTED_MODULE_0_stylis___default.a.set is not a function""
v2.0.1
webpack v2.6.1
babel-core v6.24.1
awesome-typescript-loader v3.1.3

tsconfig:
[code]

Error: `__WEBPACK_IMPORTED_MODULE_0_stylis___default.a.set is not a function`
Error source (/node_modules/styled-components/dist/styled-components.es.js):
[code]

[2017-06-13 15:22] k15a commented on #914
Could you try #901 please?

[2017-06-13 17:25] philpl commented on #893
@geelen I'd suggest us to go with getGlobalCSS instead. The naming is clearer as to what it does, and it will avoid confusion with future changes in v3, as "static CSS" will likely be used to refer to extracted CSS

[2017-06-13 17:29] philpl commented on #912
This is the official example on the next repo for caching SSR results with a LRU cache.

https://github.com/zeit/next.js/tree/v3-beta/examples/ssr-caching

You can also have a look at the SC website's code, since wereyusing the same.

Note that this doesn't stop CSS from accumulating. Over time, if I'm not mistaken, every page will collect CSS code from across pages.

This is still unresolved as o

[2017-06-13 17:29] #912 closed

[2017-06-13 19:37] serle commented on #911
Please close, my mistake. Small component going out of use on re-factor

[2017-06-13 20:08] corbanbrook opened #916 "Jest snapshot testing passing unique classNames"
Styled components generate a unique classname hash based on the style content and passes this classname to the snapshot. This causes snapshots to break when styles are adjusted.

I understand this might be useful if you want to break snapshots on style change or even show style diffs with the jest-styled-components plugin but by including the hashed classname it ends up not only breaking the snaps

[2017-06-13 20:17] k15a commented on #911
Nice to hear you solved the issue.

[2017-06-13 20:17] #911 closed

[2017-06-13 21:10] philpl commented on #916
This should be opened over at jest-styled-components rather than here :)

[2017-06-13 21:10] #916 closed

[2017-06-13 21:13] k15a commented on #916
I've moved it over to jest-styled-components https://github.com/styled-components/jest-styled-components/issues/29

[2017-06-13 21:16] philpl commented on #916
Cheers :)

[2017-06-13 21:17] philpl commented on #907
Lets move this conversation over to this issue please :) https://github.com/styled-components/jest-styled-components/issues/29

[2017-06-13 21:29] corbanbrook commented on #843
I get the same errors, was able to fix it by making a small change to the installed flow-typed definition on line 19 to:

[code]

[2017-06-14 00:21] joeybaker opened #917 "React-Native: comments not supported"
## Version
2.0.0

## Reproduction

[code]

## Steps to reproduce
Add any comment in a styled-component definition.

## Expected Behavior
Comments get stripped out.

## Actual Behavior
![Node of type comment not supported as an inline style](https://cloudup.com/cZpdnC4MopO+)

[2017-06-14 01:27] evenchange4 commented on #843
@kevin940726 Flow-typed does not seem to be set up correctly.

[code]

[Here](https://github.com/MCS-Lite/mcs-lite/blob/master/.flowconfig#L18) is my project settings for reference. I think the issue is related to CRA [PR#2522](https://github.com/facebookincubator/create-react-app/pull/2522).

[2017-06-14 01:31] geelen commented on #893
Hmm, I was mainly trying to parrot React's API already. However, I wonder if we can detect whether we're in `renderToString` or `renderToStaticMarkup` and so we don't need a second entry point, `getStyleTags()` always returns whatever's rendered, but we don't render the data attributes or comments in a static markup render.

I'll have a look to see if that's possible.

[2017-06-14 01:40] geelen commented on #774
No worries. I'll close this issue now in favour of #784.

[2017-06-14 01:40] #774 closed

[2017-06-14 02:17] kevin940726 commented on #843
@evenchange4 hi 學長 😆

But the flow documentation stated that (as far as my understanding) if we are installing via `flow-typed`, the libdef should _just work_ without explicitly specified in `.flowconfig`

Also, adding `flow-typed` under `[lib]` in `.flowconfig` does not work. 😢

[2017-06-14 03:18] evenchange4 commented on #843
Haha, 完全沒發現 @kevin940726
I have clone your project, and you are right! I have no idea now. So weird. 😔

[2017-06-14 03:41] luftywiranda13 commented on #843
it's unnecessary to list `flow-typed` in `[libs]` https://flow.org/en/docs/config/libs/

[2017-06-14 07:57] 0xsven commented on #912
So in other words: Caching doesn't really help solving the issue.

[2017-06-14 08:47] k15a commented on #917
Don't know if we had a discussion about this already but it looks like a bug for me.

[2017-06-14 11:27] philpl commented on #912
@0xsven No, it just makes it less bad haha

[2017-06-14 11:29] philpl commented on #59
@WilliamDugdale please create a new issue and we'll help you. This issue is unrelated :)

[2017-06-14 17:31] #914 closed

[2017-06-14 17:31] k15a commented on #914
Pretty sure this is a duplicate of #901.

[2017-06-14 19:08] #741 closed

[2017-06-14 22:10] Igorbek commented on #900
FYI, an update on the current state. I was able to make the transformer work, the working prototype published from the repo: https://github.com/Igorbek/typescript-plugin-styled-components

I'm going to polish it slightly and add documentation shortly.

[2017-06-15 04:32] geelen opened #918 "Warnings about files being moved"
Is anyone else getting this? Running `yarn test` gives you a bunch of output like this:

[code]

Do we need to bump some versions or something? Do we have hard-coded paths somewhere? Is it just broken on my machine?

[2017-06-15 06:47] mqklin opened #919 "Styled components don't update on forceUpdate"
## Version
1.0.5

## Reproduction

https://codesandbox.io/s/1jYVNX7ym

## Steps to reproduce
Just watch

## Expected Behavior
Font size should be changed every 3 seconds

## Actual Behavior
Font size isn't changed

[2017-06-15 07:09] geelen commented on #919
Hmm, just confirmed this is also broken on 2.0: https://codesandbox.io/s/v2A7zkkV8

[2017-06-15 09:01] k15a commented on #918
These got moved with React v15.5.0. Maybe we just need to update some dependencies and replace all references to `react-addons-test-utils` with `react-dom/test-utils` and `react-test-renderer/shallow`

[react-test-utils](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#react-test-utils), [react-test-renderer](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#re

[2017-06-15 10:23] mqklin opened #920 "Passing props to styled component breaks & ~ & behaviour"
## Version
2.1.0

## Reproduction

https://codesandbox.io/s/qYzMBoQj7

## Steps to reproduce
Just watch

## Expected Behavior
`World` word should be red as well as `Bla`

## Actual Behavior
Only `Bla` is red

[2017-06-15 10:26] philpl commented on #920
It's being tracked as failing tests over here: https://github.com/styled-components/styled-components/pull/784

[2017-06-15 10:26] #920 closed

[2017-06-15 10:40] ds300 opened #921 "react-native Warning: View.propTypes has been deprecated"
Hey peeps :-)

## Version
2.1.0

## Reproduction

I made a create-react-native-app repo over here: https://github.com/ds300/styled-components-native-warning-example

## Steps to reproduce

run the app in the ios simulator

    yarn ios

or on a device if you have expo installed

   yarn start

and snap the QR code from expo.

## Expected Behavior

No warning

## Actual Behavior

    Warning: View.

[2017-06-15 11:11] philpl commented on #921
Based on fixes in some othr libraries, and missing documentation on the react-native site, I'm not sure whether this is actually an issue with SC.

https://github.com/oblador/react-native-vector-icons/commit/3a239363d7a879e8ad3be0447127a74db25b2fab#diff-635ba988e11ad93cf2ddda7d508e9495L39

We're not adding/inheriting any `propTypes` anywhere.

[2017-06-15 12:39] ds300 commented on #921
Yeah it looks like it's coming from one of SC's deps, but can't figure out which one. The warning stack traces are useless. Will keep investigating.

[2017-06-15 13:03] ds300 commented on #921
Ok so this seems to be a problem with yarn. In this instance at least, yarn is installing a nested version of react@15.6.1 for styled-components, rather than just complaining about incompatible peer dependency ranges.

The warning is produced because react 15 indiscriminately dereferences the `.propTypes` property of component classes, and the following special case for react-native's View was add

[2017-06-15 13:17] philpl commented on #921
@ds300 I feel like sth is still missing from the whole picture here. A `peerDependency` shouldn't affect the installed package, but should just yield a warning. Right?

[2017-06-15 13:18] ds300 commented on #921
Right, that's what's confusing. Why on earth would yarn be installing a nested version of react for SC?

[2017-06-15 13:22] ds300 commented on #921
npm handles it correctly (i.e. displays a warning on install, doesn't give SC its own nested react), and the warning goes away.

[2017-06-15 13:27] ds300 commented on #921
So I guess my issue is a duplicate of this: https://github.com/yarnpkg/yarn/issues/1661 - no activity for months though.

[2017-06-15 15:48] #921 closed

[2017-06-15 16:42] ds300 commented on #921
Coool, thanks!

[2017-06-15 19:43] anikolaev commented on #494
Any ideas why this one doesn't work?
[code]
The error is: "TypeError: Cannot call a class as a function"
Is it only possible to use it this way?
[code]
I would prefer not to create additional component just for that.

[2017-06-15 19:57] philpl commented on #494
@anikolaev you can chain both methods, so withComponent(X).Extend

Please don't comment on unrelated issue, as it pings a lot of people at the same time. Feel free though to create a new issue :)

[2017-06-16 00:07] fredguest commented on #659
same here, need to target the head tag of the iframe created by `react-frame-component` instead of the head tag of the parent.

[2017-06-16 01:18] anikolaev opened #923 "Component created with withComponent() and extend doesn't have all the expected styles"
## Version
2.1.0

## Reproduction

https://www.webpackbin.com/bins/-KmiMb8sihntUubq0eF3

## Steps to reproduce

I have one styled component (Button) and an extended one (ButtonRed). I want to create new component (Link) which has all styles of ButtonRed. It should have another tag and some custom styles. I use withComponent() and extend (the only way to do it without creating additional component)

[2017-06-16 01:24] anikolaev commented on #923
If this is not a bug then maybe some notes should be added to the documentation about the potential side effects of 'styled(...)' comparing to 'extend'.

[2017-06-16 04:21] geelen commented on #923
Yep this isn't a bug, it's just confusing (particularly because of how v1 worked).

What you're doing when you do `styled(Button)` is passing a `className` to `Button`. Because `Button` is a styled-component itself, both `classNames` get added and so all styles are present. But when you then do `ButtonRed.withComponent('a')` you're deleting any reference to the `Button`, so there's no way for its

[2017-06-16 04:21] #923 closed

[2017-06-16 16:39] zhenyulin opened #925 "className hash causing problem with jest enzyme snapshot test"
I'm using the latest version of `styled-components`, and the className hash mechanism certainly works beautifully.

However, it is causing some problem for my CI pipeline. I'm using jest, enzyme, enzyme-to-json to do snapshot test to make sure any change made to react components, will not impact the behaviour of the components. New className hashes generated during the test from time to time is br

[2017-06-16 16:59] L3ARNING2B opened #926 "reach static (propTypes or other) when importing styled Component"
## Version
2.0.1

## Reproduction

https://paste.gnome.org/ppb0vzz3y

## Steps to reproduce
Using react allow access to static `componentId` when imported
When adding styled-component it don't allow access to static `componentId` when imported

## Expected Behavior
console.log(Header.componentId) return the string 'header'

## Actual Behavior
console.log(Header.componentId) return 'undefined'

Tha

[2017-06-16 17:15] ericnkatz commented on #659
Would be nice if we could use `react-frame-component` with this :D

[2017-06-16 17:37] k15a commented on #925
There is already an issue at https://github.com/styled-components/jest-styled-components/issues/29

[2017-06-16 18:44] L3ARNING2B opened #927 "innerRef example on documentation with styled()"
I am trying the following code on the documentation

https://www.styled-components.com/docs/advanced#refs

[code]

I would like to see a working demo of the `innerRef` using my demo. I wasn't able to produce it due to JS errors :

     VM802:29 Uncaught TypeError: Cannot read property 'focus' of null

This seems to happen when I edit too much the javascript in the page.

Could it possible to see b

[2017-06-16 18:53] k15a commented on #927
Could you quickly post a reproduction on codesandbox or webpackbin so I can edit it to show you the issues?

[2017-06-16 21:03] L3ARNING2B commented on #927
Of course, here is link to webpack (example)[https://www.webpackbin.com/bins/-KmmdtVFpEYh-J3bQV0e]

I must comment `Form2` in render cause it make an error.

Thanks for help :+1:

[2017-06-16 21:39] k15a commented on #927
Working example: https://codesandbox.io/s/j25wD232z

The innerRef prop doesn't get passed down to the component. styled-components applies the innerRef function to the underlying component as ref so you get the class component `Toto` as ref. So you need to use another prop like `_ref` which gets passed down to the class component which you can then pass down to the input field.

But there is an ea

[2017-06-16 22:37] #925 closed

[2017-06-17 04:16] mqklin commented on #919
@philipchmalts sure, but it should after `forceUpdate` as well I guess

[2017-06-17 09:37] chuson1996 opened #928 "Typescript typing errors"
I have this error while running tslint in a react, typescript project. But the weird thing about it is that if I use my global tslint command then it's okay but if I use a internal tslint I installed in my project then there're these errors.

(styled-components v2)
[code]

[2017-06-17 09:54] L3ARNING2B commented on #927
Thanks you so much for this great example. It's exactly what I needed.

[2017-06-17 10:38] #927 closed

[2017-06-17 13:39] marvinhagemeister commented on #928
Curious: which typescript version are you using?

[2017-06-17 14:17] chuson1996 commented on #928
@marvinhagemeister tslint 5.4.3 typescript 2.2.1

[2017-06-17 15:07] L3ARNING2B opened #929 "Is "target" within the styled component constructor documented"
## Version
2.1.0

## Is `target` documented

I am trying to look after a `static propTypes templateId` of elements that could come from React or could be wrapped in Styled. I needed to find a way to get the value if the component is nested into styled composed components.

I noticed the key `target` within the constructor of the styled components :

![image](https://user-images.githubusercontent.c

[2017-06-17 15:16] mxstbr commented on #929
This is an internal API that we might change, rename, remove or break in any patch version, thusly I would strongly recommend not using it.

What are you trying to do? Maybe we can help you achieve it without relying on internal APIs!

[2017-06-17 15:16] #929 closed

[2017-06-17 15:17] mxstbr commented on #928
/cc @styled-components/typers

[2017-06-17 15:20] mxstbr commented on #926
That is expected behaviour, sadly I don't think there's anything we can do to fix that.

`styled(Header)` wraps the old component in a second one, and passes in the generated class name, and the wrapper component doesn't have any statics.

What are you trying to do, can we maybe help you achieve it some other way?

[2017-06-17 15:20] #926 closed

[2017-06-17 16:08] patrick91 commented on #928
@chuson1996 can you try with TS 2.3? I'll check if there's any issue in the meanwhile

[2017-06-17 21:39] etienne-dldc commented on #919
Hi ✋
This does not not look like a bug to me...

`styled-components` does implement `shouldComponentUpdate` or some similar strategy to avoid recomputing styles every time which would lead to very bad performances.

In your example the problem is that your component is not pure, which mean you can't predict the output of the style because it does not rely only on iputs (props).

Also not that `for

[2017-06-18 04:12] geelen commented on #919
Ah, yes of course. `forceUpdate` [will rerender the children](https://facebook.github.io/react/docs/react-component.html#forceupdate) but not _force_ them to rerender. So, your `App` will rerender but for `Wrapper`, `shouldComponentUpdate` kicks in and we don't re-render. There's no way around that, really.

As @philipchmalts points out, passing as a prop will do what you need.

[2017-06-18 04:12] #919 closed

[2017-06-18 17:41] L3ARNING2B opened #930 "How add styled-components as an external for the rollup build ?"
Thanks again for your incredible work,

I'm trying to add styled-components in my `rollup.config.js` as the reproduction below, but it throw an error. I had the similar issue for `react-router-dom` and solved it by renaming `react-router-dom` into `react-router-dom/Link` in externals of `rollup.config.js`.

How to do with `styled-components` ?

## Version styled-components
2.0.1

## Version rollup

[2017-06-18 18:21] L3ARNING2B commented on #926
I find `target` and it solve my need !

We can use it as:
`console.log(Header.target.componentId)` return the string 'header'

And if it's a 'double' styled-components' we just have to add another `target` as:
`console.log(Header.target.target.componentId)` return the string 'header'

[2017-06-19 06:26] chuson1996 commented on #928
@patrick91 upgrading typescript to 2.3 fix the bug. Thanks.

[2017-06-19 06:26] #928 closed

[2017-06-19 13:21] IIIristraM opened #931 "createBroadcast implementation causes performance issues"
this lines
[code]
produce a lot of new objects which leads to a frequent garbage collections, which take sometimes up to 250 ms.

this can be probably avoided by changing `listeners` from array to a simple hash object like {  [id]: listner }, and the lines above to

[code]

[2017-06-19 21:48] sonaye opened #932 "Template literals, React's css-in-js and Composition"
Consider the following piece.

[code]

### Ideas and questions from the snippet above

- **Using regular javascript instead of template literals** is this currently possible? why? it's not as confusing, more intuitive, and one could argue that it's cleaner. I don't suggest breaking the current API, just wondering if this is possible (maybe someone already built it) or if the maintainers are open t

[2017-06-19 22:31] philpl commented on #932
- One of our core principals is writing actual CSS, so we won't support objects
- Tagged template literals are *regular* JavaScript, albeit a new ES.next feature :wink:
- Composition for us means CSS composition, which is solved through our mixins
- Component extension is solved using `.extend` or direct wrapping in the styled factory, we're not adding more APIs that make everything less elegant a

[2017-06-19 22:31] #932 closed

[2017-06-19 22:47] sonaye commented on #932
That's a bit harsh, don't you think? why not support both, or at least keep that idea open for discussion.

I should've used "old school" javascript instead of regular, you are right. Glamorous's implementation is exactly what I am looking for, thanks for the suggestion.

`.extend` is different, the parent must be the same element in order for it to work, you cannot extend styles between different

[2017-06-19 23:14] geelen commented on #932
This is actually something that's come up multiple times on the issue tracker. It's a core design choice of styled-components to use CSS as its primary API.

Objects are fully supported as interpolations though: `` styled.div`${ { alignItems: 'center', ... } }` ``

[2017-06-19 23:32] three60five commented on #624
Is there anything like `jest-styled-components` for enzyme? I want the `toHaveStyleRule` API specifically.

[2017-06-19 23:46] three60five commented on #118
Is there anything like `jest-styled-components` for enzyme? I want the `toHaveStyleRule` API specifically.

[2017-06-19 23:53] luftywiranda13 commented on #624
@three60five you can do it now with `jest-styled-components`.
try to implement https://github.com/styled-components/styled-components/issues/624#issuecomment-298035669

[2017-06-20 00:01] philpl commented on #932
Yes, No, maybe! 😆  We have a lot of discussions around feature and API proposals, and at a certain point in v2 we drew a more rigorous line of which discussions we open up. This is not to censor anything, or because we don't believe that the proposals are good, of course. But it simply comes down to two reasons:

- As we add more features and APIs, if we're not careful, we give ourselves less room

[2017-06-20 05:33] MicheleBertoli commented on #118
Hello @three60five, the `toHaveStyleRule` matcher of `jest-styled-components`works with v2 and both enzyme's [shallow](https://github.com/styled-components/jest-styled-components/blob/master/test/index.spec.js#L63) and [mount](https://github.com/styled-components/jest-styled-components/blob/master/test/index.spec.js#L69) rendering.
Feel free to [open an issue](https://github.com/styled-components/

[2017-06-20 07:42] jgoux commented on #860
It's a big blocker for me as I'm using material-ui extensively along with styled-components. (which I both enjoy a lot btw!)

[2017-06-20 08:16] ohjames commented on #624
Again you keep linking to that comment when the better solution is up the page.

[2017-06-20 09:14] mxstbr commented on #931
Great catch, PR welcome!

[2017-06-20 09:55] dagda1 commented on #624
@ohjames why is this a better solution?

[2017-06-20 10:52] ohjames commented on #624
It supports access to root node specific methods on non-shallow renders in addition to the shallow rendering case. Also faster.

[2017-06-20 11:05] #888 closed

[2017-06-20 11:17] santaclauze commented on #836
Same issue here. I use `styled-components` as well but my error comes from a styled-react-jsonschema-form -_-

[2017-06-20 11:42] philpl commented on #931
We should probably just switch to iamstarkov/theming soon.

But it depends on `brcast` which uses the same filtering logic unfortunately: https://github.com/vesparny/brcast/blob/master/index.js#L16

[2017-06-20 11:52] langovoi commented on #893
Hey @geelen, do you have any news?

[2017-06-20 14:30] pkrawc opened #933 "Target React Components in Styled Cascade"
I would love to extend the composability of styled components by being able to refer to them later by their Component names in the interpolated string. I'm unsure exactly how to approach doing this, hence no PR right now, but I find it something I want to use almost every time I'm pulling pieces together to make a UI.

## Example
[code]

Now that I've actually written it out I think the variable i

[2017-06-20 14:31] jbovenschen commented on #892
@philpl Out of curiosity, does this mean that if your using `react-primitives` or `react-native-web` the Animated won't work or does the `styled-components/primitives` package support parsing inline styles.

[2017-06-20 14:34] jbovenschen commented on #844
@kentcdodds

Didn't try it myself but could this be done with [rtl-css-js](https://github.com/kentcdodds/rtl-css-js) which is an package used by `glamorous`.

[2017-06-20 14:35] k15a commented on #933
Good look for you that this is already possible with styled-components version 2 ;)

[2017-06-20 14:37] kentcdodds commented on #844
I don't think you could use rtl-css-js because it uses CSS objects. It can't do anything with strings. To be clear, glamorous doesn't use/depends on it, but you can use it for a plugin with glamor. 👍

[2017-06-20 15:21] pkrawc commented on #933
@k15a Wait really?! Is the the syntax I used the correct one? This just made my day.

[2017-06-20 15:47] drejohnson opened #934 "v2.1.0 throws error when used with next.js"
[code]

[2017-06-20 16:19] philpl commented on #934
Can you post some code for reproduction purposes and your version of next.js? It seems to be related to their code somehow, not ours, since the error includes some styled-jsx stuff

[2017-06-20 16:21] philpl commented on #892
@jbovenschen no, animations with animated do work since all the logic for it is in their own components. Check the animations section in our docs

[2017-06-20 16:22] philpl commented on #933
@pkrawc you'll have to remove that trailing colon, but yea it works

[2017-06-20 18:19] cdimitroulas commented on #866
any update on this?

[2017-06-20 19:37] L3ARNING2B commented on #930
Finally i resolve my need with this in my rollup.config.js

[code]
It's depend on how we import the package, in my case I import it in my files as:

`import styled from 'styled-components';`

[2017-06-20 20:12] philpl commented on #930
Hiya, sorry for not replying earlier.

For future reference, you can probably find a lot of common patterns across rollup configs in other projects. Even ours for example: https://github.com/styled-components/styled-components/blob/master/rollup.config.js#L79

The guide is a bit imprecise on these things, but normally it should warn you about these things and prompt you to add a global. I'm not su

[2017-06-20 20:12] #930 closed

[2017-06-21 05:50] probablyup commented on #844
@kentcdodds stylis supports middlewares, so this should be feasible if an escape hatch is opened for that feature: https://github.com/thysultan/stylis.js/blob/master/README.md (see the Plugins section)

[2017-06-21 07:17] mqklin commented on #919
@geelen I want to update styles on `window.onresize` event to have responsive layout, and I make `forceUpdate` on every resize.
So I have to duplicate code? For example:

[code]

[2017-06-21 09:39] k15a commented on #919
I think it's best to use setState instead of forceUpdate and throttle the resize calls to 60 times a second. And there it's good practice to just pass props to the styled-components. Why aren't you using viewport units `vw, vh` in combination with calc?

[2017-06-21 10:06] xianshannan opened #935 "render problem"
[code]
When change state ,compoents used with styled will be removed by React and rendered again,it will not use the old  rendered html.
This will be a performance problem.
The code below,will just be renderd again by old rendered html.
[code]

[2017-06-21 10:08] xianshannan commented on #935
I decided to use styled, but there was such a problem.

[2017-06-21 10:13] mqklin commented on #919
@k15a Yes, I use throttle. I don't use viewport units, because it's much harder to reason about in my case. My code:

[code]

[code]

[code]

As you can see, I have to use inline `style` here, because passing props (or setState) would be even more weird.

[2017-06-21 10:20] philpl commented on #935
Styled Components are not supposed to be created dynamically. If you reason about your render method, a new component is created an every update ;)

Check out the docs on our website for more concrete examples to get started

[2017-06-21 10:20] #935 closed

[2017-06-21 10:26] philpl commented on #844
There is always the possibility of passing objects as an interpolation so this theoretically already works, if you're willing to jump through that hoop.

We very likely won't support customising the runtime parsing. Such features would disable us in making optimisations and a whole range of changes. Also it goes against one of our core ideas. SC will likely never be customisable in the runtime.

L

[2017-06-21 10:42] philpl commented on #919
@mqklin I'd definitely say that this is an anti pattern unfortunately :/

That's a symptom/sign of it already being tedious.

You can use `getSize` inside your `forceUpdateOnResize` decorator, rename it, and maybe even use `getSize` from a prop to make that decorator agnostic to what it's doing.

Then pass the result down as a prop. Also, maybe you can consider currying the function, and passing i

[2017-06-21 11:28] mqklin commented on #919
Yes, this is an anti pattern from the theoretical point.

But it's almost ideal for this case, because I just need to have different sizes depending on window width. I don't need to scale this somehow. And this solution is very easy to add/edit/remove components/styles.

Thank you for your suggestion, but this logic is unnecessary for me. I'm just building a landing page :) And I wanted to make th

[2017-06-21 11:39] geelen commented on #844
Yeah RTL support is something I'd really like to add but not by allowing customisable pipelines. Like nesting, it's a feature I think we could commit to, but we keep the ability to dramatically change the underlying code. It's on my radar but I don't have a plan in the short term, sorry.

[2017-06-21 11:53] mqklin commented on #919
Don't get me wrong. I respect patterns, but as an ordinary developer (compared to libraries/frameworks developers) I don't have to be very "smart", because my customer wants to get this site as soon as possible. And he doesn't care about patterns, so I choose the fastest way to build this landing.

[2017-06-21 13:35] philpl commented on #844
@geelen well, adding it to our pipeline will in v3 be universal, so we just have to make sure that it can be used runtime-only as well

[2017-06-21 13:39] jbovenschen commented on #844
The thing is that it is only needed within the web variant.
In the `styled-components/native` and `styled-components/primitives` it could be solved by using the `I18nManager` module.

[2017-06-21 13:39] philpl commented on #919
@mqklin I fully understand :) it's just a suggestion after all. Adding the properties to inline styles is totally not as bad as it first looks, since until v3 (or a potential earlier release) it'll be faster than our style injection.

However, there are some libraries for HOCs which just inject the window dimensions. It'd probably be faster than writing this from scratch and cleaner. So you wouldn

[2017-06-21 15:15] oleksiibilous commented on #719
Hi everybody

Let me share my view too. Definitely checking support in runtime is not the option. I agree here with @thysultan

But browserslist support can improve both performance and DX. There is no need to discard this feature. Runtime is the wrong place to do that

I've checked implementation of `stylis` [autoprefixer](https://github.com/thysultan/stylis.js/blob/master/stylis.js#L899) and `(b

[2017-06-21 15:24] kof commented on #719
If runtime prefixing works 100% identical to server-side prefixing, but allows you to not load "caniuse" database to the client once you want to render things dynamically, why is it a bad idea?

[2017-06-21 15:58] oleksiibilous commented on #719
Hi @kof

Any runtime solution costs extra size and performance for users. Even if it looks like minimal complication, it shouldn't be added if it can be avoided. I believe any `css in js` solution should be treated as `babel` (or any other transpiler) for `css` and as any other transpiler, it should be configurable

Check out this [babel-env-plugin](https://github.com/babel/babel-preset-env) as an

[2017-06-21 16:07] kof commented on #719
Thats what I thought before I started experimenting. It turns out it is smaller than a static prefixer, highly performant for 2 reasons:

1. Test results can be cached
2. You only add one version of a property or value, not all possible for all supported browsers. Which is a huge perf. bottle neck when doing frequent updates.

[2017-06-21 17:02] oleksiibilous commented on #719
I love your idea of adding only browser spesific prefixes and caching. It will reduce props size comparing to the current solution and caching will minimize extra complexity as much as possible. Definitely +1 from me

But there is one thing. As I said any `css in js` solution is a transpiler and it should be configurable. Dynamic autoprefixer together with pre configured static autoprefixing could

[2017-06-21 17:18] thysultan commented on #719
In respect to stylis, i see this as more of a DX problem than a performance one since the stylis prefixer is already [very fast](https://github.com/thysultan/stylis.js#prefixers), which might mean that adding additional config to tailor for specific/exact vendor prefixes might regress its perf(though largely marginal) than improve it when it comes to runtime perf.

[2017-06-21 17:47] marcelotmagalhaes opened #936 "Version 2.1.0 problem with "em""
Hello everyone, I've just installed styled-components 2.1.0 and am toying to learn how to use it. I've got an issue when trying to set padding to a TextInput using em:

import styled from 'styled-components/native';

const LoginInput = styled.TextInput`
  padding: 1em;
  height: 40px;
`;

The simulator returns an error:

Failed to parse declaration "padding: 1em".

I've browsed the docs but couldn

[2017-06-21 17:50] kof commented on #719
@thysultan stylis code is hard to read, how do you detect which prefix to add, whats the logic?

[2017-06-21 17:54] oleksiibilous commented on #719
Hi @thysultan

I do not favor adding any extra logic to runtime. Moreover, I wonder why would you add into runtime things which can be covered on the build stage

It doesn't mean that it couldn't be even faster and more lightweight, right?

But basically, I've just wanted to ask if there are any plans relating to the creation of transpiler, which will remove from runtime things that shouldn't be t

[2017-06-21 17:56] oleksiibilous commented on #719
@kof as I understood it simply adds prefixes based on property key. Checkout [this](https://github.com/thysultan/stylis.js/blob/master/stylis.js#L899)

[2017-06-21 18:03] thysultan commented on #719
@kof It compares a hash of the first three character codes of a property name instead of the property name string.

0. [https://github.com/thysultan/stylis.js/blob/master/stylis.js#L26-L54](https://github.com/thysultan/stylis.js/blob/master/stylis.js#L26-L54)

1. [https://github.com/thysultan/stylis.js/blob/master/stylis.js#L397-L410](https://github.com/thysultan/stylis.js/blob/master/stylis.js#L3

[2017-06-21 18:08] kof commented on #719
Compares what with what? Can you give a simple example that illustrates  the logic? How do you decide if property needs a prefix?

[2017-06-21 18:18] thysultan commented on #719
For example to prefix [`flex: something`](https://github.com/thysultan/stylis.js/blob/master/stylis.js#L922)

We have the first three character codes `f: 102, l: 108, e: 101` we multiple each of these codes by the index we expected them to be in +1, so now we have `hash = (102*2+108*3+101*4)`. This is where the number `932 ` comes from, since we know before hand what hash the characters `fle` shou

[2017-06-21 18:33] philpl commented on #936
React Native only supports % and px units ;)

cc @jacobp100

[2017-06-21 18:33] #936 closed

[2017-06-21 18:41] philpl commented on #719
@kof thanks for linking to that prefixer. Maybe we can come up with a combination with the planned standard.

For everyone, generally discussing this right now doesn't make a lot of sense since we're working on a universal preprocessing pipeline that'll work both, during a build step, or in the runtime.

One thing that's important is that SSR works correctly. But anyway, once we have this stuff in

[2017-06-21 18:57] oleksiibilous commented on #719
@philpl great to hear! Universal pipeline sounds promising. In such case, I will proceed with the `styled-components` in production. It gives me a huge boost in DX now and should improve performance a lot in the nearest future. Thanks for your work and get luck😉

[2017-06-21 21:29] PengyuanZhao opened #937 "How to avoid duplication when having dynamic additional classes"
Hi, I expected the following code generates a single class, e.g. `.asdf` for the `a` tag with additional classes `.asdf.title1`, `.asdf.title2`.  But it returns duplicate classes for each different `props.title`. Any way to get around this?

[code]

[2017-06-22 00:10] geelen commented on #937
Not yet, sorry. It's something that will probably come in v3 which is being actively worked on, but it doesn't make as much difference as you might think. In the browser, duplicate styles don't really matter, and for server-side-rendering, gzip will largely minimise the impact of the duplication.

But yes, in future it'll be a bit smarter about extracting things.

[2017-06-22 00:10] #937 closed

[2017-06-22 01:35] clayne11 opened #938 "SSR causes flash when DOM loads"
I'm having an issue when using SSR. If I disable JavaScript, my styles load perfectly. When the DOM actually loads, however, there's a flash of unstyled content before it properly renders the page once again.

### JavaScript disabled
![screen shot 2017-06-21 at 9 34 36 pm](https://user-images.githubusercontent.com/2831444/27413457-79b18500-56c9-11e7-9b69-1be64dc5d044.png)

### Flash of unstyled co

[2017-06-22 03:01] geelen commented on #938
No please no I fixed this it can't be happening again pls I have a family

[2017-06-22 03:03] geelen commented on #938
Seriously though, can you post a gist of your HTML as it comes down from the server (view source will do it) and once the rendering is finished (`document.documentElement.outerHTML` should do it). Or, even better, run them both through an autoformatter and then post a DIFF here?

And just to double check, you're on v2 yes?

[2017-06-22 03:15] geelen commented on #719
Just raised this to continue the discussion re: universal pipeline: https://github.com/cssinjs/standard/issues/24

[2017-06-22 07:19] 0x80 opened #939 "v2.1 Missing media queries with SSR"
In 2.1.0 (compared to 2.0.0), some of my media queries have broken in production. Something simple like below doesn't trigger and I get no error. It looks like it's just missing from the CSS.

[code]

I'm using Gatsby, so production meaning SSR. This is the [code integrating styled-components](https://github.com/gatsbyjs/gatsby/blob/1.0/packages/gatsby-plugin-styled-components/src/gatsby-ssr.js)

[2017-06-22 07:25] k15a commented on #939
Is this just happening with server-side rendering or also when you use styled-components on the client? If this is also happening on the client could you share a small reproduction at codesandbox or webpackbin?

[2017-06-22 07:57] 0x80 commented on #939
This happens only with SSR. Things work during development with client side rendering.

[2017-06-22 10:33] philpl commented on #939
cc @geelen

[2017-06-22 12:45] clayne11 commented on #938
I figured it out. I created the diff, then realized that I was injecting the styles on the server side into the body, not into the head. I moved the styles into the head and the problem disappeared.

Thanks!

[2017-06-22 12:45] #938 closed

[2017-06-22 12:59] geelen commented on #939
Hmm, that's super super weird. We bumped a stylis version between those right @philpl?

@0x80 could you post the generated code somewhere I could take a look at?

[2017-06-22 13:04] philpl commented on #939
@geelen Yea, we did actually. @0x80 Have you verified that this only happens in combination with SSR? Can you just paste component code into a webpackbin, or codesandbox, so we can see if it's related to SSR at all?

[2017-06-22 13:16] 0x80 commented on #939
I've switched about 3 times now between 2.0 and 2.1. It's only the built SSR output that has the problem. I'm about to leave for a festival for a few days. I'll try to isolate something when I get back next week.

[2017-06-22 14:52] corbanbrook opened #940 "Best practice for styles with dynamic properties"
When styled components use dynamic properties it creates a complete copy of all the rules for each possible value at run time which has potential to bloat SSR payload and in general add more content to memory.

[code]

In this example many rules is duplicated whenever props.bg is changed.

In general I have been using the styled hoc to wrap a base styled component of static rules with my dynamic r

[2017-06-22 14:59] Cinamonas commented on #939
If I can be of any help, this works fine:

[code]
[code]

While this doesn't:

[code]
[code]

Notice that `@media` is prefixed with styled component's class name, which is why this case fails.

[2017-06-22 15:04] k15a commented on #940
This will probably come with version 3 of styled-components. We try to extract every static style property and only inject dynamic ones at run times.

[2017-06-22 15:42] marcelotmagalhaes opened #941 "Styling Image - React Native"
Hello everyone, I had a screen using an Image tag to display a background image. With default react native styling it works, but when I tried to convert to a styled component, if returned an error.

The js:
[code]

The error in the simulator:
[code]

I have other components using TextInput ou TouchableHighlight, and the styling is working perfectly.

[2017-06-22 15:57] corbanbrook commented on #940
For the time being do you think it is wise to defensively add dynamic rules in the way I described above, or simply wait and see when v3 is released? Our team is starting a giant styled components refactor and want to have some best practices in place for dealing with this.

[2017-06-22 16:01] 0x80 commented on #939
I am trying to mimic SSR in a webpackbin, but I'm not sure how to get it working. If I call `new ServerStyleSheet()` I get an error `Uncaught Error: BrowserTag cannot be cloned!`

Here's the code: https://www.webpackbin.com/bins/-KnFSs12stbx0kw07H5V

[2017-06-22 16:09] k15a commented on #940
I think it's not worth to split dynamic rules and static ones unless you have really really many styled-components and updating them often. I don't think duplicated styles are worth the added complexity. When you SSR gzip can handle the duplicated styles really well and browsers normally don't have any problem with many styles.

[2017-06-22 16:09] corbanbrook commented on #940
Noticed this issue: https://github.com/styled-components/styled-components/issues/134

[2017-06-22 16:14] k15a commented on #941
Your components have to begin with an upper case letter. This way React knows that you want to render a component and not a normal element.

[2017-06-22 16:19] k15a commented on #940
For highly dynamic styles you can also use the .attrs method:

[code]

[2017-06-22 16:21] marcelotmagalhaes commented on #941
Jesus... Thanks a lot @k15a, that is embarassing.

Here is the working class, because some of the styling was also unsupported:

import React, { Component } from 'react';
import { Image, Text } from 'react-native';
import styled from 'styled-components/native';

export default class LoginScreen extends Component {
  render() {
    return (
      <BgImage source={require('../images/login_bg.jpg')}>

[2017-06-22 16:41] k15a commented on #941
Yes this is not supported:
[code]

FYI you can use code fences to hightlight code in GitHub issues:

[code]

[2017-06-22 17:33] #941 closed

[2017-06-22 18:21] mschipperheyn commented on #939
There is a repo I set up for another issue I have w styled components (https://github.com/styled-components/styled-components/issues/762). It works with SSR. Maybe it's useful to you. https://github.com/mschipperheyn/react-universally

There are a couple of branches on this repo related to styled-components

[2017-06-22 19:04] webchaz opened #942 "Hover pseudo class doesn't work?"
Below is the full code.  You'll notice that for `li` I have an `&:hover` definition.  However, when hovering over li, it just does nothing.   If I force hover state in dev tools, it does work.  Any ideas why it wouldn't be picking this up?

[code]

[2017-06-22 19:10] 0x80 commented on #939
@mschipperheyn Thanks for the tip. In the meantime I was setting up this quick experiment:

https://github.com/0x80/styled-ssr

I tried to match the approach that Gatsby uses for SSR but I can't reproduce the issue yet 😞

[2017-06-22 19:25] philpl commented on #942
You've added `pointer-events: none;`, which prevents the hovering from registering. Some more notes to this issue while I'm at it:

Please make sure to submit *minimal* code samples. I had to try a lot of things until I noticed this, since I don't have time to read the entire thing.

This is not the best practice for styled components. Try creating one styled component for each element.

E.g.:

[c

[2017-06-22 19:25] #942 closed

[2017-06-22 19:31] webchaz commented on #942
@philpl - Doh, thank you! And you thank you for the recommendation.  Actually, I had that setup before, but I need to get the open state within several of the components (Menu, MenuList, Item) - would you recommend still doing that and just continuing to pass in the prop to each? Or is there a way to inherit the props within the styles?

[2017-06-22 19:36] k15a commented on #942
I would say that it's best to pass each component the props that it needs.

[2017-06-22 19:43] nschlehe opened #943 "Creating class from JS for passing to third party components"
Is there any possibility to create classes from within JS to pass to third party components like e.g. CSSTransitionGroup or react-virtualized?
I'm looking for something like the following:
[code]

[2017-06-22 19:46] philpl commented on #939
I was able to reproduce this:

[code]

The relevant part being:

[code]

**But** I was only able to reproduce it using `preprocess` turned on in the babel plugin. So at least @Cinamonas reproduction is only a configuration mistake. Do note that `preprocess` is experimental and just a test leading up to v3, if you've purposefully turned it on :wink:

I'm also sure that this triggers @0x80 bug, due

[2017-06-22 19:47] k15a commented on #943
This should work:

[code]

[2017-06-22 19:50] philpl commented on #942
It is the best practice still. You could also alternatively do this, if you just need to inject one or two exceptions for a prop that changes your rules:

[code]

Or whatever....

However, this is not a good idea, if these are totally independent from the container component. So keep in mind to not do this very often, since `Dropdown`, in your example, has nothing to do with `MenuItem` et al.

[2017-06-22 19:51] nschlehe commented on #943
Thanks @k15a,
that was fast! Now SC feel even more awesome :)

[2017-06-22 19:51] #943 closed

[2017-06-22 19:51] philpl commented on #943
To add to this, use a "magic string" constant like `const onEnterClass = '.is-entering'`, since `Math.random` is problematic in combination with SSR.

[2017-06-22 20:00] k15a commented on #943
Yes, that's totally right. `const onEnterClass = btoa(Math.random())` wouldn't even work because it's not a class.

[2017-06-22 20:01] webchaz commented on #942
Ok, thanks a lot for the feedback!

[2017-06-22 20:58] jebeck commented on #794
Also exists in styled-components v2, and same fix also works in my use case, which is using react-redux's `connect()` as well, i.e., `withTheme(connect(...)(MyComponent))`.

[2017-06-22 21:30] 0x80 commented on #939
@philpl Awesome! Ah yes, the babel plugin...I forgot I was using that. I'm not sure what you mean by preprocessing. My config for production is `{"ssr": true,"displayName": true}`.

[2017-06-22 23:48] philpl commented on #939
@0x80 that's certainly really peculiar. Can you show me some output of your transpilation that is exhibiting this bug please? Seems that there's still sth weird afoot

[2017-06-23 06:28] 0x80 commented on #939
@philpl I tried to replicate it by adding the same babel plugins to my [test](https://github.com/0x80/styled-ssr) but I can't reproduce it there. There must be some important difference in the way Gatsby handles SSR compared to my simplified approach.

What I __can__ tell you is that the issue disappears when I remove the styled-components babel plugin.  Here's the difference in css output

[code]

[2017-06-23 06:54] geelen commented on #939
Wow that is super strange! Removing the `transform` line doesn't help does it?

[2017-06-23 07:08] 0x80 commented on #939
@geelen Actually, above that line there is a block comment. I didn't include it in the example because I assumed it was irrelevant.

Turns out if I remove the comment the code works 😮

This was the full source:

[code]

[2017-06-23 07:14] probablyup commented on #939
Yeah known bug with the babel plugin since it uses an old version of
stylis.
On Fri, Jun 23, 2017 at 3:08 AM Thijs Koerselman <notifications@github.com>
wrote:

[2017-06-23 07:39] geelen commented on #939
Ooh sounds like a result! I'll leave this to @philpl hopefully we can cut a new release of the parser and we'll be golden.

[2017-06-23 09:06] meglio commented on #359
Is it still the case nowadays, or have been any considerable improvements made?

[2017-06-23 09:12] k15a commented on #359
You can use the .attrs method when you need to update the styles with high fps.

[code]

This will basically add inline styles to your component.

[2017-06-23 09:19] meglio commented on #359
I suppose this advice has been put somewhere in documentation?
Is there a list of all caveats and issues detected when using styled components which are currently unsolved and?

[2017-06-23 09:41] k15a commented on #359
There is a section about the [attrs constructor in the documentation](https://www.styled-components.com/docs/basics#attaching-additional-props).
I don't know of a list other than the issues.

[2017-06-23 10:44] philpl commented on #939
If it's fixed with removing that comment I'll just put out a patch version in a minute.

Some issues in this thread however are caused by preprocessing. So if there are still issues after the release, please disable the preprocess option and if there's still a bug open a new issue with your babel output and try turning the minify option off for a temporary fix.

[2017-06-23 10:57] philpl commented on #939
I've published a new version of the babel plugin, so the original bug should be resolved.

If anyone here finds another issue only when the babel plugin is enabled, please open an issue on the babel-plugin-styled-components repo.

[2017-06-23 10:57] #939 closed

[2017-06-23 11:30] michaseel opened #945 "react-styleguidist compatibility"
@gweax already mentioned it in #637: It´s pretty hard to document your styled-components with react-styleguidist.

**Example:**

[code]

does not export a real react component, that react-styleguidist can display.

instead i always need to do this **workaround**:

[code]

What is the Problem here? Or is it an issue with react-styleguidist?

[2017-06-24 01:58] bernatfortet opened #946 "Does styled-component allow css hot reloading?"
I've been looking in the documentation but I can't find if it's possible yet or not.

It's definitely not working on my end.

In my project normal css does the hot reloading.

Thanks

[2017-06-24 10:10] andyngo commented on #934
Having the same issue. I'm on `2.1.0 of styled-components` and `3.0.0-beta14 of next`.

Below is an example of the code that causes the error:
`
const List = styled.div`
  border-bottom: 1px solid red;

  &:last-of-type {
    border-bottom: none;
  }
`
`

I have a custom `_document.js`, `.babelrc` as well as `package.json` configs as provided in the example here: https://github.com/zeit/next.js/tr

[2017-06-24 10:25] andyngo commented on #934
Downgraded and tested with `2.0.1 of styled-components` and nesting still works.

[2017-06-24 12:04] philpl commented on #946
There is no explicit mechanism for css hot reloading. When hot reloading React components, styled-components will just reinject the CSS code.

Have you set up hot reloading correctly for js and React?

[2017-06-24 12:05] philpl commented on #934
This is a bug with styled-jsx – or at least an inter-compatibility problem. So we should raise an issue with next.js and styled-jsx.

cc @giuseppeg; any idea what this could be?

[2017-06-24 13:17] geelen commented on #945
Hmm that's strange. Does react-styleguidist work with, say, things that are wrapped in a Redux `connect` call? Because SC works really similarly—it's definitely exporting real React components, so there's no reason it shouldn't work...

[2017-06-24 14:03] ChingxWando commented on #386
I believe the documentation was shortly updated afterwards and was live on the main site:
https://www.styled-components.com/docs/advanced#server-side-rendering

p.s. Hiii phillll & been wanting for ssr for so long & it's so exciting & thanks for creating styled component

[2017-06-24 14:13] giuseppeg commented on #934
uhm probably Stylis is shared and a singleton and therefore carries over the plugins we register https://github.com/zeit/styled-jsx/blob/master/src/lib/style-transform.js#L66-L71 ? Are you folks using styled-jsx too? Have you tried to remove `styled-jsx` from the Next.js babel preset? See https://github.com/zeit/next.js/blob/v3-beta/examples/with-styled-jsx-postcss/babel-preset.js Obviously in you

[2017-06-24 17:50] philpl commented on #934
@giuseppeg That does sounds like the problem. Maybe we should detect whether stylis has loaded some plugins? Sounds reasonable if it's possible.

So for everyone in this thread: Please either turn off **experimental preprocessing**, or turn off the **styled-jsx** plugin.

[2017-06-24 17:54] philpl commented on #945
We'll probably need more material to figure this out. Unfortunately, I believe we won't have time to set this up ourselves :(

Can you give us some details on what should happen, and some potential output?

This might be a problem with us not directly extending React.Component maybe?

[2017-06-24 18:49] giuseppeg commented on #934
As a workaround you may want to remove all the plugins before using stylis `stylis.use(null)` (I will probably add that to styled-jsx too).

Probably though this should be fixed in Stylis maybe by making it a class or factory rather than a singleton cc @thysultan

[2017-06-24 20:33] philpl commented on #934
@giuseppeg This should fix it for the babel plugin: https://github.com/styled-components/babel-plugin-styled-components/pull/62

However, for the runtime, I'm reluctant to include a reset for each time that we use stylis. It seems that a factory would fix this issue in a cleaner manner.

[2017-06-24 20:56] thysultan commented on #934
Sure i can add this to stylis in 3.2.0, which would allow you to use it either via

[code]

or

[code]

[2017-06-24 23:23] bernatfortet commented on #946
I'm using the default [creact-react-app](https://github.com/facebookincubator/create-react-app) configuration. It comes with css hot reloading by default.

But it doesn't apply to styled-components. Probably because Styled-components are inside of .js files?

[2017-06-24 23:36] k15a commented on #946
Create-react-app doesn't hot reload JS and React components. This means that styled-components aren't hot reloaded as well and thus our styles aren't hot reloaded as well because we don't generate .css files.

[2017-06-24 23:36] #946 closed

[2017-06-24 23:36] philpl commented on #934
@thysultan I'm not sure whether that's a good API :/ Sorry, but `x` vs `x.stylis` and similarly even `x.default` vs `x.stylis` is for me as random as for example `stylis.use(null)`. Maybe we can expose sth more explicit maybe?

You know what they say: Write once, maintain forever :wink: So it'd be neat to have some more explicit API

[2017-06-24 23:51] thysultan commented on #934
@philpl

[code]

Would extract a new stylis instance like you would a class `var stylis = new require('stylis')`, without adding any overhead checks to the compiler / require major sem-version bump.

What API addition would you propose?

[2017-06-25 00:51] bernatfortet commented on #946
@k15a that makes sense! after diving deeper into create-react-app's configuration I understand.

I'm adding hmr now but having some trouble.

Thanks anyway!

[2017-06-25 01:04] bernatfortet opened #947 "Adding Attr to non styled components"
## Version
2.0.1

When I do the following:
[code]
MyComponent is a react component

I get:

`__webpack_require__.i(...)(...).attr is not a function`

[2017-06-25 01:10] k15a commented on #947
The method name is attrs.

[2017-06-25 01:10] #947 closed

[2017-06-25 02:04] philpl commented on #934
@thysultan maybe you could go with a mutable API, since it's already a mutable singleton? So `.clone` or something similar, and migrate to a class pattern or factory pattern in the future (next major release?)

[2017-06-25 02:05] bernatfortet opened #948 "Cleaner CSS classes while Developing"
Currently, when develing and inspecting my css I see the following:
![image](https://user-images.githubusercontent.com/390010/27513134-d16ae1d6-590f-11e7-9ca3-ce39a89b8a53.png)

I'd like for the compatibility properties to only be applied when in production.
Or at least a way to not see them, it makes the code confusing and hard to debug.

Other than that, styled-components has rocked my front-end

[2017-06-25 02:05] philpl commented on #947
I'll leave a link to the API docs here, if anyone finds this through the search :wink: https://www.styled-components.com/docs/api

[2017-06-25 02:20] philpl commented on #948
Duplicate of https://github.com/styled-components/styled-components/issues/719

[2017-06-25 02:20] #948 closed

[2017-06-25 02:22] thysultan commented on #934
@philpl That's essentially how `var {stylis} = require('stylis')` would work. You'd rather it be a method call like `var stylis = stylis.clone()`?

[code]

[2017-06-25 02:38] philpl commented on #934
@thysultan yea, essentially, like I mentioned, I don't have any problem with the proposed API – or any other one per se – the problem is clarity. So, `stylis.stylis` doesn't really convey that it's a factory for a new instance in this case.

[2017-06-25 03:13] thysultan commented on #934
Implementing it as `new stylis(opts)` doesn't cause any overhead when in strict mode so there that option as well.

[code]

[2017-06-25 16:59] yn5 opened #949 "Styled-components' #extend causes 'invalid checksum' warning in Next.js"
When using styled-components' extend API anywhere in a clean fork of the styled-components example the following error is thrown:

[code]

I've created a small repo which shows the problem here:
https://github.com/yn5/next-styled-components-extend

I have crossposted the issue on the Next.js repo (https://github.com/zeit/next.js/issues/2361) since I'm not sure where the source of the problem lies.

[2017-06-25 17:56] shaman-apprentice commented on #382
First of all thanks for SC!

I have a very similar issue, where the rendering order is missleading. I want to change the appearance of some element, which is genereated by an external library and I know its class name in advance. Having these elements nested has surprising effects -  a simplified example is the following:

[code]

When clickling on the div, both change to red. The "SC-class" with

[2017-06-25 18:51] philpl commented on #949
This is a problem with us not supporting the new methods in our babel plugin. We'll add this functionality with v3. Duplicate of https://github.com/styled-components/babel-plugin-styled-components/issues/52

[2017-06-25 18:51] #949 closed

[2017-06-25 19:01] yn5 commented on #949
Thanks for the update @philpl !

[2017-06-25 19:04] mxstbr commented on #382
If you n eed more specificity use the `&&&` hack:

[code]

This will add the components' className at the start three times, thus bumping the specificity a lot.

[2017-06-25 19:49] shaman-apprentice commented on #382
Awesome. In the case that someone is interested in a trick like this: `${ props => '&'.repeat(props.importance) }` is exactly what I meant with

(Also this feels somehow hacky to me, it does the trick). Thanks alot!

[2017-06-26 05:18] cohesively opened #950 "'writing-mode' property not prefixed"
## Version
2.1.0

## Steps to reproduce
Create a component using the following...
[code]

## Expected Behavior
According to [Autoprefixer](https://autoprefixer.github.io/), the following CSS should be emitted:
[code]

## Actual Behavior
It appears that only the input property is emitted...
[code]

[2017-06-26 07:11] k15a commented on #950
@thysultan

[2017-06-26 07:54] mxstbr commented on #794
/cc @relekang @ryyppy

[2017-06-26 08:00] mxstbr commented on #950
Moved to our parser: https://github.com/thysultan/stylis.js/issues/40

[2017-06-26 08:00] #950 closed

[2017-06-26 08:46] vesparny commented on #931
I suspect what a bout using splice?

[code]

[2017-06-26 08:53] vesparny commented on #931
I'll be happy to apply the patch to `brcast`.
Just wondering what's the best way to gain performance.

[2017-06-26 09:01] mxstbr commented on #931
Wrote a very simple microbench (likely doing things wrong, please double check my code): https://esbench.com/bench/5950cbe599634800a034871c

On my machine the `delete listeners[key]` version is ~3x faster that `.splice` and ~20x faster than `.filter`!

[2017-06-26 13:18] sanfilippopablo opened #951 "Using SC to style components that accept multiple classNames for different elements"
The standard way of styling components in React is passing a className to the component. SC takes advantage of that and injects automatically a className to the styled component. However, there are some third party components that accept multiple classNames for styling different parts of the component, like innerClassName, arrowClassName, or something like that. Another variation of this is react-

[2017-06-26 13:23] sanfilippopablo commented on #951
Right off the top of my head, I'd like to do something like this:
[code]

Or something like that, you get the idea.

[2017-06-26 13:52] sapegin commented on #945
We actually have a @mxstbr approved way of using Styled Components with Styleguidist in the docs:

https://react-styleguidist.js.org/docs/cookbook#how-to-use-react-styleguidist-with-styled-components

[2017-06-26 13:59] philpl commented on #945
@sapegin why's this workaround necessary? :smile: any way we can make it work without it?

[2017-06-26 13:59] k15a commented on #951
Take a look at https://github.com/styled-components/styled-components/issues/943

[2017-06-26 13:59] #951 closed

[2017-06-26 14:00] sapegin commented on #945
The only way I see it to make react-docgen understand this kind of exports: https://react-styleguidist.js.org/docs/components.html#limitations

[2017-06-26 14:03] philpl commented on #945
@sapegin Aha, ok. So dynamically generated components will not be able to be targeted right now. Looks like that's an issue that can be opened over at styleguidist or react-docgen then :wink:

[2017-06-26 14:03] #945 closed

[2017-06-26 14:19] mxstbr commented on #945
See here, apparently somebody just needs to build an extension to `react-docgen`? https://github.com/reactjs/react-docgen/issues/187

[2017-06-26 14:20] philpl commented on #945
looks like it's kind of up to us and styleguidist 😆

[2017-06-26 14:21] sapegin commented on #945
I’m sure @mxstbr could help with marketing of this idea ;-)

[2017-06-26 15:02] sanfilippopablo commented on #951
Ahh, so sorry. I'm made a quick search but didn't find anything. Thanks!

[2017-06-26 16:00] asistapl opened #952 ":root { .some-class & { ... } } does not work as expected"
## Version
2.1.0

## Reproduction

https://www.webpackbin.com/bins/-Kn_3D4-c-UzcHsTAZyh

## Steps to reproduce
[code]

## Expected Behavior

Should produce `.some-class:root` selector

## Actual Behavior

instead of `.some-class :root` which does not work as expected. (Old parser was smart enough to remove that space).

[2017-06-26 18:47] philpl commented on #952
cc @thysultan

I think btw we've turned support for these css festures off. But I'm not sure if this affects in how stylis parses them

[2017-06-26 18:55] thysultan commented on #952
@philpl What do you mean?

[2017-06-26 18:59] relekang commented on #794
I have been playing around with the code in the reproduction error, but haven't gotten a solid fix yet. I have to read up on wrapping things in `Class<...>` to know if that is something we should do.

[2017-06-26 19:39] whmountains commented on #934
Please at least do something, because until then styled-components is basically unusable with next js.  🙏

[2017-06-26 20:12] thysultan commented on #952
@asistapl I think stylis handles this correctly – [REPL](https://stylis.js.org) `.some-class:root` what version of stylis is npm installing for you?

[2017-06-26 20:16] thysultan commented on #952
Managed to reproduce, it's when the namespace value is an empty string – `""`, Which is how i think `injectGlobal` uses stylis to process global css.

Should be fixed in the next patch release.

[2017-06-26 20:53] JDansercoer commented on #645
Yeah, I'm getting

`Failed prop type: Invalid prop `style` of type `array` supplied to `Styled(Button)`, expected `object`.`

[2017-06-26 20:58] philpl commented on #952
sorry, was afk for a bit ;) yea, we're passing an empty namespace there, since it's global css :)

https://github.com/styled-components/styled-components/blob/master/src/utils/stringifyRules.js#L27

[2017-06-26 21:01] philpl commented on #645
We're just passing the `style` prop. This error says that one item in a `style={[]}` array in the JSX contains a key `0`, which indicates that an array is passed in. So it sounds like it's somehow assembling `style={[ [] ]}` or sth similar.

What is that `Button` component you two are referring to? Can you post a link? And maybe also a reproduction if you have time? Without I have to assume that i

[2017-06-26 21:20] maksimdegtyarev opened #953 "React native: ScrollView scrolls to top on rerender"
## Version
2.1.0

## Reproduction

[code]

## Steps to reproduce
Wrap ScrollView component into styled.ScrollView and add any styles. Then just call setState and initiate rerender process. After rerender ScrollView scrolls to top.

## Expected Behavior
ScrollView save its scroll position.
## Actual Behavior
![styled](https://user-images.githubusercontent.com/2942880/27560536-2a9bbe7e-5acd-11e7-962

[2017-06-26 21:23] philpl commented on #953
[code]

You're creating styled components dynamically here. This is not only slow, it's an anti pattern and leads to the behaviour you describe since the list and all its children **fully unmount and remount** on every render.

Remember that every styled component is a an **actual component**, that shouldn't be created dynamically. :wink:

For more pattern, check out our docs here: styled-componen

[2017-06-26 21:23] #953 closed

[2017-06-27 07:51] giuseppeg commented on #934
@whmountains you can do what I suggested above https://github.com/styled-components/styled-components/issues/934#issuecomment-310840909

[2017-06-27 10:26] THPubs opened #954 "How to write common styles for two different elements?"
I have two components like this:
[code]
As you can see, both the elements have the same styling. But they are two different elements. An `input` field and a `textarea`. How can I add a common style to this? The biggest Issue I have is both use props.

[2017-06-27 10:31] philpl commented on #954
You can use mixins to  share code using the `css` helper, which is just another tagged template literal function:

[code]

https://www.styled-components.com/docs/api#css

**However** since you're only changing the tag here, it's advisable to use the `withComponent` method:

[code]

https://www.styled-components.com/docs/api#withcomponent

Here is some prose on the extension pattern: https://www.st

[2017-06-27 10:31] #954 closed

[2017-06-27 10:50] THPubs commented on #954
Thanks @philpl I tried withComponent but got this error: `ContactInput.withComponent is not a function`. Any idea why?

[2017-06-27 10:51] philpl commented on #954
@THPubs Make sure you're on v2 :wink:

[2017-06-27 11:07] THPubs commented on #954
@philpl  Ahaa! Worked like a charm! Thanks a lot :smile:

[2017-06-27 12:21] Charlynux commented on #645
Button component comes from NativeBase project.

Here is the source code :
https://github.com/GeekyAnts/NativeBase/blob/master/src/basic/Button.js

If needed, I can push a small repo with reproduction.

[2017-06-27 13:14] philpl commented on #645
@Charlynux I'd bet that there's a problem with https://github.com/GeekyAnts/NativeBase/blob/master/src/Utils/computeProps.js

Can you open an issue over at NativeBase and see what they can say about this? I'm not even aware of what this `computeProps` method is trying to do. Merging props shouldn't require a single object, but an array should do it.

[2017-06-27 16:05] nickbreaton commented on #945
This may be something to bring up with react-styleguidist, but maybe we can make a resolver that basically "trusts" that we export a component.

Basically anything with prop types could be valid:

[code]

Of course this would error when you try to render it, but it would be very useful for anything using prop types including styled-components:

[code]

This could potentially help with `connect` is

[2017-06-27 19:42] sapegin commented on #945
I think simplified (trusting) loader should work in this case.

Someone in react-docgen issues was also suggesting to use comments to mark components, like this:

[code]

[2017-06-27 19:44] nickbreaton commented on #945
Yeah I think that might be the ideal API. I will definitely look into it soon.

[2017-06-28 16:37] vesparny commented on #931
I have published a new version of `brcast` that addresses this issue.
Feel free to steal the code from there while you wait to switch to `theming`

[2017-06-28 22:27] jstejada commented on #583
Hi @philpl, just wanted to make sure I understand these benchmarks; v2 does indeed currently have a performance regression then?

[2017-06-28 22:32] philpl commented on #583
@jstejada a slight one, bit after we discussed the weights of different fsctors, we realised it came down to the added logic when constructing our chained API.

The problem with the benchmarks are that they don't take the biggest factor into account: The stylesheet injection.

But actually, @geelen is working on a fix for batching the injection, and with v3 we should be able to bring it on par wit

[2017-06-28 22:34] jstejada commented on #583
great, thanks for the clarification @philpl !

[2017-06-29 13:13] pencilcheck commented on #277
Just wondering if there is a replacement for this feature?

[2017-06-29 14:19] codepunkt opened #957 "[Bug] Server side rendered global print styles"
## Version
2.1.0

## Steps to reproduce
server side render global print styles, e.g.
[code]

## Expected Behavior
style tag in server side rendered head with
[code]

## Actual Behavior
style tag in server side rendered head with
[code]

[2017-06-29 17:17] zhenyulin opened #958 "[feature request] support styling Route element of 'react-router'"
It has been a bit tricky to apply global style with styled-components, and I don't want to use css-loaders just for several lines of global css code, and ideally position I found to inject the global style is at the Router object of react-router, which works well with redux `connect` function at the moment, but doesn't seem to respond to `styled`. Would it be possible to make it work here?

[2017-06-29 17:39] epilande commented on #958
You can apply global styles using `injectGlobal`.

https://www.styled-components.com/docs/api#injectglobal

[2017-06-29 18:05] mxstbr commented on #958
The `react-router` `Route` component only renders the component you pass it and doesn't take any styling properties, no class names and no `style` prop, so even if you injected global styles with `injectGlobal` they wouldn't be applied. (see [the render method of the Route component](https://github.com/ReactTraining/react-router/blob/master/packages/react-router/modules/Route.js)

If you could tel

[2017-06-29 18:05] #958 closed

[2017-06-29 19:06] mxstbr commented on #957
Moved to `stylis`: https://github.com/thysultan/stylis.js/issues/44

[2017-06-29 19:06] #957 closed

[2017-06-29 19:24] #952 closed

[2017-06-29 19:25] mxstbr commented on #940
Yep, you won't run into any issues there we make very sure that the ordering is correct!

[2017-06-29 19:25] #940 closed

[2017-06-30 02:38] alexf101 commented on #630
@beshanoe 's solution working great for me, thank you! I renamed it to 'withCustomProps' so I can write things like:

[code]

[2017-06-30 05:37] #877 closed

[2017-06-30 10:56] zhenyulin commented on #958
@mxstbr thanks for demystifying this. I'm trying to find a proper place to define global styles, such as custom font, etc, without using anything other than styled-components. The idea behind my question is to bind the global style to a top level component/container, where the Router component appears to be a very good position. I may also try the even higher level App component, since Router does

[2017-06-30 10:59] k15a commented on #958
You should probably use injectGlobal just once and put it into your index.js file.

[2017-06-30 11:06] zhenyulin commented on #958
@k15a thanks for the suggestion!

I'm using ThemeProvider as well, would it work somehow to inject them to the theme?

[2017-06-30 11:10] zhenyulin commented on #958
[code]

Had a quick try of `injectGlobal`, which doesn't seem to work for me here, anything I took wrong?

[2017-06-30 11:10] k15a commented on #958
You can't use the theme in injectGlobal. Then it's bet to create a Root component and inject the global styles there:

[code]

[2017-06-30 11:13] zhenyulin commented on #958
@k15a , my current solution is creating a Base component util, and wrap it on every container component passed to Route in Router

[2017-06-30 11:15] k15a commented on #958
If you move your Base component to the position I mentioned you wouldn't have to wrap every component and can't forget it.

[2017-06-30 11:18] zhenyulin commented on #958
Hi @k15a ,

Here's the render() of the <Router /> I posted earlier
[code]

follow your suggestion, should I move the <Base> to
[code]
 This looks quite like `export default styled(Router)  ` to me

[2017-06-30 11:20] zhenyulin commented on #958
@k15a tested it, works well. Thanks.

[2017-06-30 11:23] zhenyulin commented on #958
@k15a the style works well, but it breaks the Router function actually for some reason

[2017-06-30 11:24] zhenyulin commented on #958
[code]

This works well, think it might be useful to share.

[2017-06-30 11:26] k15a commented on #958
Yeah I could imagine that `<Router />` must be a direct child of `<ConnectedRouter />`

[2017-06-30 11:27] zhenyulin commented on #958
@k15a it looks like, in theory this might be something can be integrated into the <ThemeProvier>?

maybe like a props `<ThemeProvider globalStyle={} >`

[2017-06-30 11:37] k15a commented on #958
In theory, we could add this of course but I don't think we should because we already have the tools to inject globals styles and it's pretty easy so we shouldn't add any more complexity.

[2017-06-30 12:58] thysultan commented on #934
@philpl @giuseppeg The `x = new stylis` pattern landed with 3.2.0

[2017-06-30 13:47] philpl commented on #934
@thysultan I'll push some patches for the babel plugin and SC later then :smile: Awesome work :+1:

[2017-06-30 15:31] epilande commented on #958
@zhenyulin in https://github.com/styled-components/styled-components/issues/958#issuecomment-312240894, I think `injectGlobal` isn't working because you need to add a selector.

Something like this should work.
[code]

Also you should be able to use your theme in `injectGlobal`. Assuming your theme is a javascript object, you can import it through out your app and use it just like any object.

Thi

[2017-06-30 15:43] k15a commented on #958
@epilande Yeah of course totally missed that! Nevertheless, you can't use theme in ThemeProvider

[2017-06-30 15:56] epilande commented on #958
Yeah that's the caveat; could lead to theme miss match if you change the `theme` in `ThemeProvider`

[2017-06-30 16:13] ms88privat commented on #563
@javivelasco can you please share it :)?

[2017-06-30 19:10] Igorbek commented on #893
I'm also experiencing this issue when trying to test with jest.
- styled-components@2.10
- jest@20
  - jest environment set to `jsdom` (with `node` it works just fine)

Exception 'BrowserTag cannot be cloned!' thrown on `new ServerStyleSheet()`

[2017-06-30 19:12] Igorbek commented on #893
Repro code:
[code]

[2017-06-30 19:38] mxstbr commented on #563
Going to close this issue since it's mainly about discussing approaches rather than anything tbd in the library itself, feel free to keep talking though!

[2017-06-30 19:38] #563 closed

[2017-06-30 19:38] mxstbr commented on #630
Going to close this as there isn't much we can do right now about this, thanks for discussing!

[2017-06-30 19:38] #630 closed

[2017-06-30 19:40] mxstbr commented on #645
Reference issue: https://github.com/GeekyAnts/NativeBase/issues/575

Since this seems to be an issue with NativeBase and not styled-components I'll close this issue for now. Thanks for helping us make the library more compatible!

[2017-06-30 19:40] #645 closed

[2017-06-30 19:40] mxstbr commented on #836
I think this is due to circular imports, we had some of those in our vendor stuff that Rich got rid of when we moved to Rollup?

[2017-07-01 05:48] mxstbr commented on #917
/cc @jacobp100

[2017-07-01 06:33] mxstbr commented on #900
@Igorbek how is that plugin looking? Do we want to move it to the `styled-components` org? It seems like something a lot of people will want!

[2017-07-01 06:34] mxstbr commented on #653
Closing since there was no response, but please feel free to reopen with a reproduction!

[2017-07-01 06:34] #653 closed

[2017-07-01 06:35] mxstbr commented on #654
No response, so I'll close this for now. If this is still reproducible please submit a reproduction repo and we'll take a look at the issue!

[2017-07-01 06:35] #654 closed

[2017-07-01 06:36] mxstbr commented on #673
This should be fixed I assume, so I'm going to close this issue for now. If you're still having this problem please open a new issue, thank you!

[2017-07-01 06:36] #673 closed

[2017-07-01 06:38] mxstbr commented on #699
@cpsubrian We have a community on Spectrum that's perfect for these kinds of questions! https://spectrum.chat/styled-components

I'm going to close this issue since there hasn't been any updates in a while, but feel free to reopen if you're still unsure how to do this!

[2017-07-01 06:38] #699 closed

[2017-07-01 06:38] mxstbr commented on #229
@yanivefraim no strong opinion on either, if you want to go ahead and submit a PR that integrates Selenium I'd love you forever!

[2017-07-01 06:39] mxstbr commented on #669
This doesn't exist in v2 anymore, so you can't do this anyway. I'm going to close this since it's an outdated issue!

[2017-07-01 06:39] #669 closed

[2017-07-01 06:41] mxstbr commented on #730
I strongly feel like a top-level React component is the way to go here. Introducing another API just to solve one persons use case where a top-level component doesn't work seems weird to me, on top of not being able to imagine how that wouldn't work.

I'm going to close this for now since the question has been answered and I don't think we should add this to the library, if you feel strongly about

[2017-07-01 06:44] mxstbr commented on #728
We've decided against introducing a method that let's you manually get a CSS class name from a CSS string to avoid people overusing it and thusly defeating the whole point of the library. (it's strictness)

I'm going to close this issue because this is now possible with v2 and the `.attrs` selector:

[code]

[2017-07-01 06:44] #728 closed

[2017-07-01 06:47] mxstbr commented on #66
Now that @jlongster [made prettier to help him write JSX for `styled-components`](https://twitter.com/jlongster/status/824733787397455872) and nobody else has asked for this use case I'll close this issue!

[2017-07-01 06:47] #66 closed

[2017-07-01 06:49] mxstbr commented on #109
Since nobody else has brought this up or started to work on it I'll close this issue for now. If you want to work on a standard theming convention please feel free to open a new issue to discuss what that could look like!

[2017-07-01 06:49] #109 closed

[2017-07-01 06:50] mxstbr commented on #94
We test native now! :tada: https://github.com/styled-components/styled-components/blob/master/src/native/test/native.test.js

[2017-07-01 06:50] #94 closed

[2017-07-01 06:51] jacobp100 commented on #917
Iirc we used to filter it out [here](https://github.com/styled-components/styled-components/blob/master/src/models/InlineStyle.js). I'm on my phone ATM so can't check git blame

[2017-07-01 06:55] mxstbr commented on #134
I'll finally close this discussion since a lot of things have changed since the initial kickoff by @JamieDixon. (thanks!)

1. We've added a warning when you change styles too often that logs to the console and suggests using inline styles for highly dynamic styles to avoid this kind of confusion.
2. We now have the `.attrs` selector, making dynamic styles that come in via props possible with inlin

[2017-07-01 06:55] #134 closed

[2017-07-01 07:00] mxstbr commented on #147
Since nobody has asked for this feature in almost half a year it's unlikely we're going to introduce it to the library. We would also break a large amount of existing users with this change, which is not something I'd be particularly comfortable with.

I'll close this issue for now, if you still strongly feel this should be part of styled-components one way or another feel free to comment again or

[2017-07-01 07:00] #147 closed

[2017-07-01 07:02] mxstbr commented on #149
This is now finally possible in version two with the `.attrs` constructor!

[code]

[2017-07-01 07:02] #149 closed

[2017-07-01 07:03] mxstbr commented on #213
Since this seems to be a TypeScript problem and not related to the OP would you mind opening a new issue if you're still running into this? I'll close this issue meanwhile as it's pretty old and very out of date.

[2017-07-01 07:03] #213 closed

[2017-07-01 07:04] mxstbr commented on #203
As nobody has asked for this custom extension in more than half a year I doubt we'll include it in the library. On top of that many workarounds already exist that make media query functionality possible on ReactNative.

Thank you for suggesting improvements to the library!

[2017-07-01 07:04] #203 closed

[2017-07-01 07:05] mxstbr commented on #266
This has been fixed for a long time IIRC, if you're still running into this issue feel free to open a new one with a reproduction with the latest version of styled-components!

[2017-07-01 07:05] #266 closed

[2017-07-01 07:05] mxstbr commented on #257
Seeing as @fleischie has done a great job with the plugin I'll close this issue. Thank you!

[2017-07-01 07:05] #257 closed

[2017-07-01 07:07] mxstbr commented on #270
Since v2 and the babel plugin are now out I'll close this issue. If you have any further ideas on how to improve the debugging experience feel free to open a new one!

[2017-07-01 07:07] #270 closed

[2017-07-01 07:07] mxstbr commented on #271
Since this is fixed and nobody else has reported this issue in a long time I'll close this!

[2017-07-01 07:07] #271 closed

[2017-07-01 07:08] mxstbr commented on #337
Since this isn't supported by design from the spec, nobody has reported this as an issue in a while and we've updated `css-to-react-native` to stick with the spec I'll close this for now.

If you're still running into this problem feel free to submit a new issue!

[2017-07-01 07:08] #337 closed

[2017-07-01 10:43] mxstbr commented on #356
Since there hasn't been another report of this being unwanted behaviour on top of us becoming much faster in terms of performance I don't see any reason this issue should still be open.

If you think this is something we should fix on the library side feel free to comment again or open another issue!

[2017-07-01 10:43] #356 closed

[2017-07-01 10:44] mxstbr commented on #362
We've announced an experimental release of `styled-components/primitives` which makes truly universal components possible.

Read the announcement blog post to learn more, I'll close this issue for now since it's resolved!  https://medium.com/styled-components/announcing-primitives-support-for-truly-universal-component-systems-5772c7d14bc7

[2017-07-01 10:44] #362 closed

[2017-07-01 10:44] mxstbr commented on #423
This is fixed in v2.

[2017-07-01 10:44] #423 closed

[2017-07-01 10:45] mxstbr commented on #438
@k15a I see you're assigned here, have we fixed this yet?

[2017-07-01 10:46] mxstbr commented on #448
This should be fixed in v2. Feel free to open a new issue if you're still encountering problems!

[2017-07-01 10:46] #448 closed

[2017-07-01 10:48] mxstbr commented on #511
We've done everything we could to update most of them, if you still don't have syntax highlighting please open issues in the repos of the packages themselves!

[2017-07-01 10:48] #511 closed

[2017-07-01 10:58] giuseppeg commented on #147
yea I also changed my mind in the meantime.. that idea was based on one of the early versions of shadow dom which now instead doesn't block inheritance.

[2017-07-01 11:28] mxstbr commented on #512
This is fixed with v2 and @geelen's new stylesheet rehydration stuff!

[2017-07-01 11:28] #512 closed

[2017-07-01 11:32] mxstbr commented on #578
I think we actually use those for component selectors, so we can just get rid of them I'm afraid :confused:

Feel free to reopen if that's wrong @philpl, but I'm pretty certain we can't just not render them.

[2017-07-01 11:32] #578 closed

[2017-07-01 11:42] k15a commented on #438
Ohh yeah. This is because we point the "module" field in our package.json to "dist/styled-components.es.js". This bundle has all dependencies included except React and Stylis. We can fix this if we exclude all dependencies from the es bundle because this is only used by Rollup and WebPack which can bundle the dependencies anyway.. We only need to include the dependencies in our UMD bundle.

@philp

[2017-07-01 14:49] mxstbr commented on #438
Let's try it. Can you submit a PR maybe?

[2017-07-01 16:06] Igorbek commented on #900
The plugin is looking pretty well. It does it suppose to do, and I'm pretty happy with that.
Comparing to Babel plugin, it has only one feature - supplying components' names.

In terms of readiness, the only issue right now is that awesome-typescript-loader (one of two the most popular typescript loaders for webpack) [doesn't work](https://github.com/s-panferov/awesome-typescript-loader/issues/447

[2017-07-01 16:42] mxstbr commented on #900
@philpl how is our webpack stuff going to replace the typescript plugin that adds autocomplete? That doesn't make any sense to me?

[2017-07-01 18:33] philpl commented on #900
@mxstbr From the mentioned issue:

So autocomplete is a super idea :) But the plugin shouldn't drop into what we'll do with our babel/webpack plugins in the future.

[2017-07-01 18:38] JamieDixon commented on #134
👍 thanks for all you've done @mxstrb. I might have a shot at the colour picker this weekend!

[2017-07-01 19:42] mxstbr commented on #134
That'd be awesome, let me know when it's done!

[2017-07-02 09:33] mxstbr commented on #803
This is fixed now that we've upgraded!

[2017-07-02 09:33] #803 closed

[2017-07-03 06:56] codepunkt opened #963 "Not installable via GitHub with new NPM"
Hello everyone!

The frequency of styled-components releases to npm is not excessively high. Every small bugfix might potentially be helpful for someone and warrant a patch version release.

Another alternative for those needing a recent commit to master in their working version is the installation via GitHub, e.g. `npm install styled-components/styled-components`. At the moment, this doesn't work

[2017-07-03 07:59] mxstbr commented on #963
Wouldn't that mean ever,body who runs `npm install styled-components` would build the package after installing it totally unnecessarioy seeing how the built files are already there?

[2017-07-03 08:12] codepunkt commented on #963
That might happen when installing from npm - which virtually everybody will.
Needs to be investigated!

One solution i could think of is checking for build output and only building when it doesn't exist. Needs a cross-operating system node binary to check for existance of files/folders though - something like `rimraf`. Do you know any? Might write one otherwise :)

[2017-07-03 08:44] #438 closed

[2017-07-03 08:49] philpl commented on #963
This would need too many changes that aren't reasonable imho:

- moving dev dependencies to dependencies
- dev build weirdness (mentioned above)
- permanent post install hook

I don't think this is sth that a lot of web libraries opt into for these reasons. Have you tried "mom pack" for these purposes?

cc @geelen

[2017-07-03 13:12] codepunkt commented on #963
Up until npm @v4, prepublish is a permanent post install hook for everyone running `npm install` without args -
 e.g. cloning a project that uses styled-components on LTS node and running `npm i`.

As long as the post install hook only checks for existance of one or more files/dirs in the overwhelming majority of cases, it might be acceptable?

Not sure about the "moving dev dependencies to depend

[2017-07-03 13:17] devboell commented on #728
Could I just ask why @mxstbr uses `${optionClassName}` notation and  @geelen uses `&.${ optionClassName }` ?

[2017-07-03 14:24] philpl commented on #963
@codepunkt Correct me if I'm wrong, but I think when installing a dependency, even when it's from a repository, yarn/npm won't install any devDependencies. So that means you won't be able to run the build tasks correctly?

We can easily test this by running `npm pack` and then `npm install x.tar.gz` in a separate folder, to see whether the `postinstall` hook succeeds.

Also again, why don't you us

[2017-07-03 15:44] codepunkt commented on #963
Afaik, devDependencies are installed by default. There is a cli switch to not install them, which i've never seen someone use.

Never used `npm pack`. Will look into it tomorrow 😁

[2017-07-03 16:01] philpl commented on #963
@codepunkt This is only for the current `package.json`. When the package is a dependency of the current project (inside `./package.json`), then the nested dev dependencies (e.g. devDependencies in `node_modules/styled-components/package.json`) won't be installed. This is independent of this flag, since the flag is only for the top level project, not nested dependencies :wink:

Yes, `npm pack` is l

[2017-07-03 16:23] philpl commented on #963
I think because of the reasons I've given previously, namely:

- dev build weirdness (mentioned above)
- permanent post install hook

And more:

- moving dev dependencies to dependencies installs lots of "garbage" that people won't need (making installing SC slow)
- making the dev experience worse
- not adhering to web package best practices (GitHub installability is nice for node.js packages, but

[2017-07-03 16:42] mxstbr commented on #963
Yeah, agreed. Let's start a separate discussion about semantic release!

[2017-07-03 16:42] #963 closed

[2017-07-03 16:43] mxstbr commented on #728
That's my bad, fixed it!

[2017-07-03 17:39] codepunkt commented on #963
Fine with me, thanks for the discussion! 👍

There's one more possibility: Building and adding `lib` and `dist` on post-commit hook so they're available from GitHub. I've both seen and used that - it has it's own set of tradeoffs, though.

[2017-07-03 17:53] k15a commented on #963
Pushing the bundled code to GitHub isn't really a great option because of the extra noise in commits / PRs.

@philpl We could also use the "Squash and Merge" feature from GitHub so we only had to adhere the standard while merging PRs and contributors could write normal commit messages. The downside is that you can't lint the message then.

[2017-07-03 18:25] philpl commented on #963
@k15a that's a good idea 🤔 maybe we can use danger and enforce the PR title to contain the correct tag?

[2017-07-03 19:45] devboell commented on #728
thank you, but isn't the ampersand required?

[2017-07-03 20:08] khankuan commented on #728
@devboell ampersand is only required when you're chaining the classname in the parent component. In this case, `optionClassName` is a classname attached to the option component, which is a child of the parent. Hence, ampersand is not required.

[2017-07-04 08:41] alexcroox opened #965 "Controlling order of injectGlobal"
## Version
2.1.0

## Reproduction
Adding an `injectGlobal` in entry container
[code]

## Expected Behavior
Add reset styles to top of head

## Actual Behavior
It adds styles to bottom of head, below component specific styling

[2017-07-04 13:23] alvinsight commented on #216
Hey guys,
Great job on v2! Since it is out now, any chance this issue could be talked about again ?
Thanks!
Alvin

[2017-07-04 15:43] GoldenRust opened #967 ".withComponent(Link) 'Unknown prop'"
When changing a styled components element using `withComponent` with `Link` from `react-router-dom` causes errors in react.

## Version
2.1.1
## Reproduction
https://www.webpackbin.com/bins/-KoDDes4XCRS2-VxAroy
(Look in console - not the log in webpackbin)
## Steps to reproduce
Create Styled component, change element to `Link` using `withComponent`
## Expected Behavior
Props not to be passed to ht

[2017-07-04 15:46] k15a commented on #967
That's because we are only filtering props for HTML elements and not for React components.

[2017-07-04 15:52] GoldenRust commented on #967
Thanks for clearing that up for me.

I thought this might be an issue with `react-router`'s Link component...

Is there any workaround for this? I'd like to be able to have props on styled components using `Link`.

Since this isn't really an issue, I'll close this.

[2017-07-04 15:52] #967 closed

[2017-07-04 18:10] alex88 opened #968 "Custom namespacing and overriding"
Question: We're trying to use styled components to style react components that'll be rendered on third party webpages.

I've looked at the docs and asked on gitter but haven't found an answer. Is there a way to apply a custom class prefix? Just to ensure it's something 'reserved' to our components and won't impact any other page?

Also would be possible to go create a global function/helper that g

[2017-07-04 18:14] k15a commented on #968
Why would you want to add a custom prefix if any class is a hash anyway? No one writes random classes in real CSS so you shouldn't worry about that.

It's not possible to go through all rules and add !important as far as I know.

[2017-07-04 18:23] alex88 commented on #968
@k15a well, just to be sure, if the host page uses styled components it's rare but not impossible right?

[2017-07-04 18:28] probablyup commented on #968
It's like worrying about guids. Random enough that you shouldn't pay it
mind.
On Tue, Jul 4, 2017 at 2:23 PM Alessandro Tagliapietra <
notifications@github.com> wrote:

[2017-07-04 18:30] alex88 commented on #968
Well guids are much longer, anyway thanks for the explanation :)

[2017-07-04 18:30] #968 closed

[2017-07-04 20:06] mxstbr commented on #968
The class is based on a hash of the contents of the class, so even if the classes overlap they'll apply the same styling anyway and it wouldn't matter!

[2017-07-04 22:32] philpl commented on #968
- The changing class is based on the `componentId` and the generated CSS: https://github.com/styled-components/styled-components/blob/master/src/models/ComponentStyle.js#L32
- The `componentId` is based on the `displayName` plus an increment: https://github.com/styled-components/styled-components/blob/master/src/models/StyledComponent.js#L178
- murmurhashes are unlikely to collide

So you should b

[2017-07-04 22:34] philpl commented on #967
Unfortunately to get rid of it, you'll have to filter the props yourself by wrapping Link. This will be solved eventually, if/once React introduces prop namespaces. You can also just ignore the warning, since it's safe to render unknown props.

[2017-07-04 23:55] Igorbek commented on #900
Ok, sorry everyone who was confused by my messages. I totally misread the original proposal regarding the TypeScript plugin. I don't know how that come that I understood something different. Maybe because that time I had started to work on the plugin.

The original proposal by @mohsen1 was about adding css auto-completion for editors for improving _development_ experience. However my plugin was in

[2017-07-05 03:31] mxstbr commented on #900
Haha No worries @IgorBek, still thank you very much for making that plugin!

[2017-07-05 09:02] zero-t4 opened #969 "refer to other component width"
How can i refer to other component width, like this

[code]

## Version
1.0.5

## Reproduction

https://www.webpackbin.com/bins/-KeeZCr0xKfutOfOujxN

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2017-07-05 09:05] k15a commented on #969
That's not possible because we would have to update the Icon styles everytime you change the Link width.

[2017-07-05 09:36] zero-t4 commented on #969
Thanks

[2017-07-05 09:36] #969 closed

[2017-07-05 11:54] serle opened #970 "Q: How to style font icon div"
I previously rendered front icons in react like `<div className="icon-class" style={icon styling}/>` Is there a way to create a styled component from the styling, but have the ability to pass the className of the icon through as a property? i.e concatenate the additional className onto a one generated by styled component

[2017-07-05 12:05] k15a commented on #970
Styled components adds the passed classname by default.

[code]

[2017-07-05 12:05] #970 closed

[2017-07-05 13:43] alex88 commented on #968
Thank you @philpl for all the details! :)

[2017-07-05 15:24] maurolionel commented on #835
For me it makes no sense having to add px as unit everywhere, especially when migrating from StyleSheet to styled-components/native.
I love not caring about units on ReactNative.
If you're migrating from web to native you have to import styled-components from /native now, it's predictable things could change.
I think it makes more sense to make some little changes on developer's code, for the sake

[2017-07-05 21:11] corbanbrook opened #972 "Best practices for exporting styled components"
When creating styled components is it best practice to export the component as a styled component or non-styled?

In general we have many components that contain complicated logic that wrap style components inside. Take for example a toggle component

![screen shot 2017-07-05 at 4 26 05 pm](https://user-images.githubusercontent.com/62406/27883511-af0bb3ee-619e-11e7-9287-82ad92d02bde.png)

[code]

[2017-07-05 22:10] philpl commented on #972
So there's a couple of questions here I guess :smile:

First of all, it's best practice to avoid the contextual selectors as often as possible. Referring from the child to a parent component is most of the times a lot safer, but of course there are some cases where it makes sense. https://www.styled-components.com/docs/faqs#support-for-nesting

Generally speaking `.extend` is only intended for **S

[2017-07-05 22:10] #972 closed

[2017-07-06 00:07] chhuang commented on #730
There've been many times that I needed to style something that is outside of the component depending on its props. An example would be a modal where the body tag needs to be 'locked' when the modal is visible.

My workaround for this:
[code]

And then in my `theme.js` which has the `injectGlobal`, do `body.is-locked { overflow: hidden; }`

What I'd like to do is:
[code]

[2017-07-06 01:15] thysultan commented on #730
@chhuang Making use of the inverted `&` pattern you could do.

[code]

Which can essentially be used as an inline global styling escape hatch :)

[2017-07-06 02:17] chhuang commented on #730
What is this black magic?! Where can I learn more?

Thanks!

[2017-07-06 05:49] rohmanhm opened #973 "Typescript: Exported variable 'VariableName' has or is using name 'StyledComponentClass' from external module "pathproject/node_modules/styled-components/typings/styled-components" but cannot be named."
## Version
2.1.1
Typescript version 2.3.3

## Reproduction
I created styled-components variable
[code]
Until here It's still OK. But, it will throw error if I export `Wrapper`.
[code]

## Steps to reproduce

## Expected Behavior
It's not throw type error

## Actual Behavior
Throw error

const Wrapper: StyledComponentClass<React.HTMLProps<HTMLElement>, any, React.HTMLProps<HTMLElement>>

[2017-07-06 05:52] rohmanhm commented on #973
If I set `tsconfig.json` declaration config to false it won't throw the error. But I need declaration file, so I must to enable it.

[2017-07-06 05:54] rohmanhm commented on #973
cc @styled-components/typers

[2017-07-06 17:28] webchaz opened #974 "Conditional styles based on conditions?"
I see in the examples you can check for conditions such as:

[code]

However, how would you do check the value of a prop? I.e.:
[code]

[2017-07-06 17:48] k15a commented on #974
You can either use the boolean and (`&&`) or a ternary operator (` ? : `).

[code]

[2017-07-06 18:00] #974 closed

[2017-07-07 01:19] misantronic commented on #800
@bhough @philpl I understand that wrapping the component in the `ThemeProvider` will work because of the missing context. But isn't there a more comfortable way of testing this? You see, I don't want to wrap every single component in a `ThemeProvider`. Maybe there is a way setting a default context for all tests in jest/enzyme?

[2017-07-07 01:32] rbalicki2 commented on #373
@kopax could you give more detail as to what you did? I'm having trouble excluding libraries myself using peerDependencies and externals

[2017-07-07 05:59] Igorbek opened #975 "ServerStyleSheet constructor fails in jsdom jest environment"
## Version
styled-components: 2.1.1
jest: 20.0.4

## Reproduction

### package.json
[code]

### jsdom.test.js

[code]

## Steps to reproduce

[code]

## Expected Behavior

Test passes.

## Actual Behavior

Test fails with an exception:

[code]

## Additional info

Similar issue #893 with other use-case.
I'm using this in jest snapshot testing when I'm capturing components output along with css pro

[2017-07-07 09:58] deathmood opened #976 "More meaningful/semantic class names during development"
Currently all generated class names look like this:

![image](https://user-images.githubusercontent.com/2758540/27953132-5e0bf8ca-6313-11e7-8bee-eb2b225a663d.png)

And it really causes problems while debugging. I do not understand where I am. Well of course I can switch between react devtools and inspector -- but it does not make it more convenient.

Is it possible to use class names similar to st

[2017-07-07 10:40] philpl commented on #976
Yes, you can use the babel plugin to attach the displayName to the component's class https://github.com/styled-components/babel-plugin-styled-components

[2017-07-07 10:40] #976 closed

[2017-07-07 10:41] philpl commented on #975
Duplicate of https://github.com/styled-components/styled-components/issues/893

[2017-07-07 10:41] #975 closed

[2017-07-07 13:40] alanzanattadev opened #977 "Component loses its style"
## Version
2.1.0

## Reproduction
I really don't know, it's on a big projects that has migrated to Styled component v2, I can't share the source code unfortunately :/.

## Steps to reproduce
Run the same code that used to work on SCv1 on SCv2.

## Expected Behavior
The same style is kept between both versions.

## Actual Behavior
Some div lose their style (only "display: block" is left in the chro

[2017-07-07 14:22] mkralla11 commented on #884
This just bit me. I think we need a Reserved Words doc (I apologize if it already exists). I use my own theming technique with styled components and this clash was messing with my defaulting strategy because I didn't know it was reserved. Thanks for the awesome library, btw!

[2017-07-07 15:16] philpl commented on #884
@mkralla11 Would you be interested in making a change to our docs, that stresses that this prop is reserved? https://www.styled-components.com/docs/advanced#theming

[2017-07-07 15:17] philpl commented on #977
We do unfortunately need some kind of reproduction :wink:

Can you submit some details on whether you're using the babel plugin, and try to isolate the bug in a webpackbin/codesandbox? You can find templates in the issue template :smile:

[2017-07-07 15:20] alanzanattadev commented on #977
Yes I know I'm not helping so much :/

Let me try later to get a repro :) Can you let the issue opened during this time ?

[2017-07-07 15:44] k15a commented on #977
Could you also check if the CSS is syntactically correct? Maybe you forgot a comma or something in this direction. :)

[2017-07-07 16:45] philpl commented on #977
@alanzanattadev yes, we'll leave the issue open of course :) But for now I'll tag it as a question

[2017-07-08 02:59] rohmanhm commented on #973
Now it's work. I don't know why.
Thanks

[2017-07-08 02:59] #973 closed

[2017-07-08 06:27] gabeweaver commented on #233
@mxstbr I just burned several hours on this same issue. I sort of understand not wanting to promote webpack, but a lot of people use styled-components with Webpack and intentionally not adding examples to some sort of FAQ results in a poor user experience.

The same argument could be said for not promoting TypeScript...or Flow...yet there is explicit documentation and examples on using styled-comp

[2017-07-08 15:50] philpl commented on #233
@gabeweaver We don't want to make the impression that we either support webpack specifically or are tied to it.

The example is not confusing anymore: https://www.styled-components.com/docs/api#supported-css

We're also warning about existing CSS: https://www.styled-components.com/docs/advanced#existing-css

We support all of CSS and naturally I don't understand why this would give any impression

[2017-07-08 15:52] philpl commented on #973
cc @styled-components/typers

[2017-07-08 17:44] Igorbek commented on #973
Was the issue reproduced?

[2017-07-09 03:28] rohmanhm commented on #973
@Igorbek It always throw fails when I exported Component created by `styled-components`. But now it works. I don't know exactly why.

[2017-07-09 05:27] ImanMh commented on #176
I hop an official plugin is released for styled components. I really need them.

[2017-07-09 11:21] leoselig commented on #852
@k15a You referenced an already closed issue
Is this feature implemented? Then I seem to be missing something because it's not available to me

[2017-07-09 11:24] chhuang commented on #730
Just found out that doing:

[code]

It only works when the props changes for the first time. It does not remove the rule on subsequent updates.

[2017-07-09 11:26] leoselig commented on #852
Turns out that opposed to how the tag names are imported, `keyframes` is a named export **only**
So,
[code]

I believe this should be documented somewhere. Any idea where?

[2017-07-09 13:04] georgesboris opened #978 "extend.attrs triggers unknown prop warnings"
Whenever I use extend and pass in attrs as well as additional styles I get warning about unknown props.

Example:

[code]

[2017-07-09 14:09] shashkovdanil opened #979 "Eslint React Native"
I have eslint error 'View' is defined but never used.
How to fix?
![screen shot 2017-07-09 at 19 09 12](https://user-images.githubusercontent.com/19692986/27994575-24493986-64da-11e7-9893-5cb86dccb059.png)

[2017-07-09 17:08] lixiaoyan commented on #176
@cdharris seems `language=PostCSS` would be a bit better than `language=SCSS`: it supports injection like `margin: ${props => props.margin}`
(but not `${"margin: 0;"}`)

[2017-07-09 17:14] philpl commented on #852
This is obvious in ES modules, since the styled factory is the default export. And everything else is not.

We haven't though added some sections in getting started that would clarify this.

The issue is closed as a won't fix. It's not a feature we can or will implement with our current vision for SC and the key frames helper

Thanks for raising it though :)

[2017-07-09 17:31] k15a commented on #979
Remove the import :) styled components imports the components already so there is no need for you to import them as well.

[2017-07-09 17:32] shashkovdanil commented on #979
Thank you!

[2017-07-09 17:45] #979 closed

[2017-07-09 20:52] Igorbek commented on #973
Ok, good to hear that it works now. There could be many reasons why it was not working, like conflicting typescript versions, incomplete modules set up and so on, I think if it is not reproducible anymore, we are good.

[2017-07-10 01:06] mxstbr commented on #978
That function is called `.attrs` and not `.props` for a reason: Those are directly attached to the DOM node, unfiltered. If you want to set defaults we recommend using `defaultProps`:

[code]

[2017-07-10 01:06] #978 closed

[2017-07-10 01:15] rohmanhm commented on #973
Maybe this is the reason. After downgrade typescript version it works.

[2017-07-10 12:55] georgesboris commented on #978
@mxstbr

https://www.styled-components.com/docs/basics#attaching-additional-props

In the docs you're using using the word "props".
"It allows you to attach additional props (or "attributes") to a component."

In the example 'margin' and 'padding' are used.
Are you passing them straight up to the component or are you only using them for styles?
My question was completely valid and I think you have

[2017-07-10 20:58] sylvain-hamel opened #980 "Implement a shouldComponentUpdate with a referential equality check"
I'm trying to investigate a performance issue (Version : 2.1.1). I have a test case (manual, not automated) that takes 6 seconds when styled-components are enabled but takes 3 seconds if they are disabled.

The profiler reveals that `generateAndInjectStyles` is called very often and takes up most of the time.

If I change my `shouldComponentUpdate` to control the styled component instead of my own

[2017-07-10 21:10] philpl commented on #980
we can't make any assumptions in terms of reference equality. So this would actually worsen performance.

We have an ongoing thread where we've discussed performance problems. And there are two major ones (in this order):

- CSS injection
- CSS parsing (an order of magnitude less of a perf hog)

@geelen is fixing no 1, and no 2 will be fixed in v2 with the addition of preprocessing.

Thank you for

[2017-07-10 21:12] philpl commented on #978
@georgesboris can you open an issue on the website's repo? It's indeed confusing and we need to clarify this :)

[2017-07-10 22:16] mxstbr commented on #980
Why not? Worst case scenario we're as slow as before (+ one refential eq check which is... fast) because it's a different obj each time, best case scenario we're faster?

That makes sense to me, so I'll reopen this for now until you've replied since I think that'd be a welcome change but I might be missing smth. Should be as simple as `shouldComponentUpdate(nextProps) { return nextProps !== this.p

[2017-07-10 23:05] sylvain-hamel commented on #980
Comparing the props is not enough. Props changes are only relevant to the styled-component if the modified props are used in the style itself.

I see two cases:

1 - When no arguments are used in the tagged template (`const RedBox = styled.div`color:red`).

Maybe styles could only be generated once (`componentDidMount`) during the component lifecycle. Optimizing this may be harder then it looks, b

[2017-07-10 23:34] mxstbr commented on #980
That's not true at all, consider functions, `css` templates etc.

[2017-07-10 23:34] philpl commented on #980
@mxstbr Then we're kind of back to the old `PureComponent` discussion. There the argument is clearly: We don't want to enforce purity, and it might not be faster since it's all leaf components and it'll need loads of checks.

Stuff like this changes the behaviour of our components in a way that affects child components :/ It might not be obvious to the users.

Also, this won't really change much.

[2017-07-11 00:50] mxstbr commented on #980
Not really?

The only way child components would change if a parents props didn't is through something global, e.g. theming or redux, both of which would still fire?

[2017-07-11 00:59] philpl commented on #980
@mxstbr Let me illustrate what I mean: https://codesandbox.io/s/lJNKRPnV

To highlight the points:

[code]

And this will also prevent child components from updating, which for a Styled Component is the target component:

[code]

So the only optimisation that is safe is: Check whether the props change and prevent unnecessary updates to the DOM element, except that React already does that for us 😉

[2017-07-11 00:59] webchaz opened #981 "handle onMouseOver and onMouseLeave"
Is there anyway to handle events and pass it directly into the styled component without dealing with state? I was thinking being able to do something like:

`<MyComponent onMouseOver={() => true} onMouseLeave={() => false}></MyComponent>`

[2017-07-11 01:08] mxstbr commented on #980
Sure, what about the `styled.x` shorthands?

[2017-07-11 01:11] philpl commented on #980
With those React really take care of it for us. We're at the lowest level, so it won't change DOM attributes that we don't change. The only change we can prevent is the generated classname. But since it's just a value that's also no issue.

Really, the only thing we can optimise is preventing regeneration of css when it's obviously not necessary

[2017-07-11 01:22] philpl commented on #981
We don't want to make state part of the equation obviously since you could very easily create a HOC wrapper for it or just embed the logic into one of your components yourself, but there are some other solutions obviously.

You could also just use the `:hover` pseudo selector where you just want to change styling based on mouse hovers. But apart from that hovers will be application UI state, which

[2017-07-11 01:41] #981 closed

[2017-07-11 05:05] juanmndz commented on #945
I am wondering about the performance difference of using styled components under the recommended method in the docs vs the normal/simple way of creating it. I believe there is a minuscule difference but would like a technical answer.

[2017-07-11 08:52] PetrykowskiM opened #983 "How to write Integration Tests?"
Hello,

I was wondering how you suggest to write integration tests? As I assume that I can not use the generated classes for that, using the whole hierarchy each time seems to be very cumbersome.

Thanks!

[2017-07-11 08:58] doque opened #984 "Support for keyframes in primitive components"
I've been playing around rebuilding the `create-react-app` sample app using `styled-components/primitives`, which works flawlessly so far, with the exception being the `keyframes`.

Looking through issues, I found #397 which suggests this code:

[code]
[Full sample here](https://www.webpackbin.com/bins/-KokoGiKEm4rUOjgsxQh).

This works beautifully for web, as expected.
However, I'm not able to ap

[2017-07-11 09:12] wojciech-bilicki commented on #184
Combining the @GGAlanSmithee and @karolisgrinkevicius solved the issue for me.

[2017-07-11 10:15] philpl commented on #983
Check out jest-styled-components for snapshot and unit tests.

For integration tests you should never, not even without SC, rely on classnames, but on custom attributes e.g. a data-tag-id or just an id in some cases

[2017-07-11 15:10] mxstbr commented on #984
I'd rather people just use animated as react-primitives suggests.

[2017-07-11 18:41] pawelgrzybek opened #985 "Unexpectedly invokes componentWillUnmount() method"
## Version
2.1.1

## Reproduction

Love the way it works guys, amazing work! Came across one issue. Styled-components unexpectedly invoke a `componentWillUnmount()` lifecycle hook on a parent component. Let's have a look at two examples:

**1. React + ReactDOM**

Two components. The child one triggers a state change on parent one. It doesn't invoke `componentWillUnmount()` — as expected.

https://

[2017-07-11 21:11] philpl commented on #985
The styled factory and all its shortcuts return a component when created dynamically. So you're creating a new component on every call of render ;)

The docs have some examples on how to use it correctly. Just create a component and keep it around and use it in place of other elements

[2017-07-11 21:11] #985 closed

[2017-07-11 21:12] jimmynames commented on #363
so does simply using styled-components auto-prefix the styles or is this something I need to install?

[2017-07-11 21:22] philpl commented on #363
@jimmynames It's taken care for you automatically: https://www.styled-components.com/docs/basics#getting-started

Please don't comment on old PRs and instead read the docs, or ask questions in new issues, on spectrum, or on Gitter ;) Otherwise we won't have any idea of how many people have asked a certain question, and won't notice whether the docs will need clarification :wink:

[2017-07-12 06:16] guysegal commented on #709
These props are relevant only to iOS right?

`shadow-color, shadow-offset, shadow-opacity, shadow-radius`

Will they work on Android?

[2017-07-12 07:00] pawelgrzybek commented on #985
Makes sense! Thank you. This is an example because this is what good people do in community —
 yeah?

https://codepen.io/pawelgrzybek/pen/JJwrqr?editors=1010

[2017-07-12 08:10] Aftabnack opened #986 "Duplications in the generated stylesheet."
**Possibly a bug**

* Version: 2.1.1
* Reproduction: [Webpack bin](https://www.webpackbin.com/bins/-KopkoqT3ioF_5RZZkT3)

## Expected behaviour

* If you inspect the output area in webpack bin, you can see that the stylesheet generated by the styled component has one common component id (className) style definition, and two variant style definitions
* But there is nothing in the common style defin

[2017-07-12 09:20] philpl commented on #986
We regeneratw the css class to preserve nested specificity correctly. The component I'd class is for ordering in our stylesheet and debugging.

It's expected behaviour ;)

[2017-07-12 09:20] #986 closed

[2017-07-12 09:21] philpl commented on #985
Yes, this should work fine

[2017-07-12 09:22] philpl commented on #709
@guysegal they won't since shadows are not supported on RN Android. But you can use elevation

[2017-07-12 12:12] DeividasK opened #987 "Dynamic page loading failed Error: Trying to replace an element that wasn't mounted!"
## Version
`styled-components`: 2.1.1
`babel-plugin-styled-components`: 1.1.7

- SSR is configured with code-splitting using [react-boilerplate](https://www.reactboilerplate.com/).
- Some components are imported from an npm package which exports components styled with `styled-components`.

## Error stack trace
[code]

## Reproduction
I cannot reliably reproduce the error on webpackbin. Things I ca

[2017-07-12 12:18] philpl commented on #987
Since this seems to be an SSR related issue, can you post some code on how you integrated our SSR API with the boilerplate? Cheers

cc @geelen

[2017-07-12 12:49] philpl commented on #987
hm, I suspect that the two render phases are responsible for this trouble. Can you try this:

[code]

The problem seems to be that in the 1st phase you're rendering loads of Styled Components without them being captured with the server stylesheet. We can't reuse the same one for two rendering cycles, but we can try to use two separate ones, I believe

[2017-07-12 13:03] DeividasK commented on #987
Tried this:

[code]

and this

[code]

Both result in the same error.

[2017-07-12 13:19] philpl commented on #987
Is there anything special about these components in the way they're used together with the state?

[2017-07-12 13:22] philpl commented on #987
After reading through the code, I noticed that the error occurs when a style tag is not mounted in the head anymore. Which sounds weird. I'm not familiar with the rehydration yet, so @geelen might have to jump in.

Are you sure that the style tags are injected into the head statically and stay there?

https://github.com/styled-components/styled-components/blob/master/src/models/BrowserStyleSheet.j

[2017-07-12 13:40] DeividasK commented on #987
Would it be possible to fail silently? Because when this error is thrown, the execution of the code stops and the page "breaks", which is undesired.

[2017-07-12 13:41] philpl commented on #987
@DeividasK I'm not sure about that either, because it's a critical error in the rehydration. Again, Glen will probably be able to shine a light on this

[2017-07-12 14:39] Aftabnack commented on #986
Can you give me some example for `nested specificity`. I don't understand that.

Also isn't it more optimal to have the static styles in common class definition?
It's **WAY** less size.

[2017-07-12 15:34] philpl commented on #986
It's easily said, but almost impossible due to our DX. We make it easy to mix dynamic mixins and rules inside a component that are dynamic and static. So extracting static styles is almost impossible for us, since dynamic styles don't always take precedence over dynamic ones.

https://gist.github.com/philpl/7b8a021f19ead2ec534091976a1ff6dc#file-2-specificity-md

We talked about it a lot, but these

[2017-07-12 15:59] chrisgreg opened #988 "Is it possible to strip out the actual styling and just return the markup of a styled-component?"
If you've got a module but multiple consumers, some consumers want to style it externally with CSS but some want to use the already existing styled-components version is it possible to strip out the actual styling and just return the markup and class names of a component?

Or would it make sense to create a raw component with classnames then use nested-selectors to style it with Styled Components?

[2017-07-12 16:11] #988 closed

[2017-07-12 16:22] philpl commented on #988
Not sure why you closed this issue :wink:

You shouldn't use two methods to style the same structural component frankly.

[code]

Is still preferable to:

[code]

So what is it exactly that you're trying to achieve? Optimally you shouldn't settle for something like css-modules in addition to styled-components for the same components.

We do have a section in our docs for this case, but it's really

[2017-07-12 16:26] chrisgreg commented on #988
Haha sorry, realised there was no hook to do this so I though i'd close it.

So the idea is we'd have a component that'd be themed with styled-components by default but if someone wanted to style it with CSS but still use the markup they could.

[2017-07-12 16:53] philpl commented on #988
@chrisgreg This is fundamentally in conflict with the enforced best practices of SC. So, if you create a structural component that has some styled-components inside, and attach some extra `className`s isn't that enough, or do you want to eject from styled-components in certain projects? That's not really a good idea, imho, since then you're going to end up having two sets of sources for CSS in two

[2017-07-12 16:56] chrisgreg commented on #988
Yeah so the reason is that some consumers may not be opting into styled components but the actual react markup and functionality will always be there.

I know it's not ideal, just sort of based on requirements

[2017-07-12 17:29] Aftabnack commented on #986
Cool. I'll try to go over all the principles that you have mentioned in that. And try a shot at seeing if it's possible to extract till some extent.

Cuz this is the only deal breaker for me, not using this right now.

PS: That Input component in the webpack bin example is my first shot at using `styled-components`.

[2017-07-12 18:25] philpl commented on #986
By all means please do and let us know if you have an idea! But don't get me wrong since I don't want to get your hopes up: Glen and I don't think it's possible without compromises which we're not willing to make.

It might be possible that we can provide a way to switch to emotion's behaviour in v3 when the css pipeline is more separate, but that's just an idea of mine right now

Do note that css

[2017-07-12 18:26] philpl commented on #986
Also, feel free to message me on Twitter or Spectrum if you'd like to discuss it in detail :)

[2017-07-13 00:29] oyeanuj commented on #762
@mschipperheyn Any luck getting these two libraries to play well together?

@philpl Any updates/thoughts?

[2017-07-13 00:31] lucaorio opened #989 "Node of type rule not supported as an inline style"
When using primitives, if I try to add a pseudo-class I get `Node of type rule not supported as an inline style`. I found a very similar ticket (#770), but I was unable to solve this problem.

[code]

[2017-07-13 01:49] philpl commented on #989
React Native is not a real css environment. One of the things it doesn't support is nesting and actually selectors in general. The same applies to React Primitives since it's based on the same base components.

[2017-07-13 01:49] #989 closed

[2017-07-13 02:11] monopieces opened #990 "Jest run failed with snapshots className conflicts"
I have a component with dynamic attributes value, when I run jest, the snapshots always show a className error.
It seems that style-components always generate a new class name.

[code]

Jest snapshots
[code]

Does anyone know why this is not stable ?

[2017-07-13 03:04] monopieces commented on #990
My problem, fixed it.

[2017-07-13 03:04] #990 closed

[2017-07-13 12:25] DeividasK commented on #987
@geelen Hey Glen, just wanted to bump this up. Any ideas / experiments that I could do to try and fix this would be really helpful.

[2017-07-13 16:05] Tokimon opened #991 "Make the styling Framwork agnostic"
I was wondering if it could be possible to decouple styled-components from React?

I am a big fan of React and I use it heavily in my daily work, but if I am building a smaller website, I might want to use a lighter framework like Mithril, to avoid too much of an overhead. But (at least as I understand it), you have to use React (or Preact) to use the awesomeness that is styled-components, which I

[2017-07-13 16:18] mxstbr commented on #991
There's lots of other CSS in JS frameworks that give you class names, I'd recommend using those.

`styled-components` feels so great specifically because it hides that from you and forces you to bind styles to components and is very strict about that! That sadly also means it's very hard to design a framework-agnostic version of it as it inherently has to create a "component", but what that compon

[2017-07-13 16:18] #991 closed

[2017-07-13 16:26] philpl commented on #991
I really wanna add, if you like React, and you want a more lightweight js bundle size at the end of the day: Try preact & preact-compat :tada: :smile:

[2017-07-13 16:32] Tokimon commented on #991
Ok thank you for the quick reply.
It makes sense. I just like the syntax of styled-components a lot better as it uses the string literal and can be linted, has code completion and all that jazz.
I will check out `flea` and other frameworks if I am working with another framework.

@philpl : Yeah I know and is probably what I will do 😄

[2017-07-13 16:36] philpl commented on #991
@Tokimon It seems that `flea` was deleted? Anyhow. My personal suggestion is preact for lean sites. The problem with stuff like `mithril` and `flea` (and not specifically them, but a lot of frameworks that are published weekly, almost) is that most of the times the compromises are bad, they're a step below (P)React's good paradigms and lifecycle, or are pure js snobbery tbh. So unless you really n

[2017-07-13 17:09] jckhang commented on #977
Hey guys, we are experiencing the same problem. One of our styled components' styles are not being injected into the DOM. A classname hash is being generated, but the styles are simply not there. It seems like the issue is related to [dynamic imports](https://facebook.github.io/react/blog/2017/05/18/whats-new-in-create-react-app.html#code-splitting-with-dynamic-import). We have two components bein

[2017-07-13 17:19] Jmeyering commented on #945
@nickbreaton

I'm on the same page that the currently recommended "solution" doesn't work for many use cases and strips `styled-components` of a lot of it's functionality.

So I don't know what you have accomplished toward this yet, but I'm pretty motivated to create a solution to this problem. I've created an Annotation Resolver for react-docgen.

https://github.com/jmeyering/react-docgen-annotat

[2017-07-13 17:23] nickbreaton commented on #945
@Jmeyering

I haven't gotten around to doing any work on this at all. I'm excited to hear the progress you have made. If you need any help, I can probably be of assistance.

[2017-07-13 17:23] philpl commented on #977
@jckhang since the original description of this issue is really vague, we don't know whether it's the same issue

Can you open a new issue with a minimal reproduction and full description please? The issue template will tell you more

Also, I suspect it's either related to SSR or a duplicated SC lib in your case. At least it sounds like it

[2017-07-13 17:36] jckhang opened #992 "Styles Not Injected When Dynamically Importing"
Hey guys, we are experiencing a problem with styled components. One of our styled components' styles are not being injected into the DOM. A classname hash is being generated, but the styles are simply not there.

## Version
2.1.1

## Reproduction

 It seems like the issue is related to [dynamic imports](https://facebook.github.io/react/blog/2017/05/18/whats-new-in-create-react-app.html#code-splitt

[2017-07-13 18:11] mxstbr commented on #992
I remember having this problem when I investigated code splitting in our app. (didn't work out for other reasons) I thought that was an issue with our setup but maybe it's not.

Any chance you could put together a reproduction? Also /cc @geelen since he's the one most likely to know what's going on here.

[2017-07-13 18:13] mxstbr commented on #991
`fela` not `flea` :wink:

[2017-07-13 18:45] jckhang commented on #992
We created this issue after reading @philpl in #977:

After thinking about it, this makes sense. Code splitting with dynamic imports downloads a separate build file from the server for the component that's being imported, so this separate build file likely has its own instance of styled-components. We will put together a simple reproduction and post it here when we can.

[2017-07-13 20:04] Jmeyering commented on #945
Submitted

https://github.com/reactjs/react-docgen/pull/195

Which will enable react-docgen to work with styled components and the annotation resolver.

[2017-07-13 20:34] mxstbr commented on #992
I would've thought that `styled-components` would be in the shared vendor bundle that's downloaded for all pages/routes?

[2017-07-13 21:42] designspin commented on #762
Hi I was directed here from [https://github.com/ctrlplusb/react-universally/issues/297](url)

Here is a gist of a project I just started that seems to have styled-components working for me:
[https://gist.github.com/designspin/c11095334ae1f105d1f93123232d37fd](url)

[2017-07-13 22:01] philpl commented on #991
@mxstbr That makes sense, but I was confused since that's not a framework (?) Anyhow! haha

[2017-07-13 22:06] philpl commented on #992
@jckhang deeply sorry for the trouble again, but we need a reproduction / isolation of the bug :/ otherwise it's just speculation and a stab in the dark for us, since we won't be able to start debugging. In the meantime:

Can you check that div's classnames. And search them in the `style` tag that we inject, and post the results here?

Also, if it's an issue with dynamic bundles, can you try to ex

[2017-07-13 22:28] mxstbr commented on #992
Yeah we use `create-react-app` too so it might have something to do with that?  Looping in @gaearon for good measure, maybe he has a quick idea what the issue could be.

[2017-07-14 03:42] episodeyang opened #994 "Server-side rendering is missing styles."
## Importance

One of the most searched doc page is `server-side-rendering`. Making sure that server-side rendering works is very important.

## Version
2.1.0

## Steps to reproduce

1. download official repo, run `npm install`.
2. run `npm run dev`. Open up localhost:3000.
3. Now everything works fine. Go to `./examples/index.html`, delete the last script tag containing the example code (this ren

[2017-07-14 03:46] #994 closed

[2017-07-14 05:07] jpellizzari commented on #349
Hello! I recently ran into this issue and would like to help solve it. Does anyone have any thoughts on how this might be implemented?

My initial thoughts were to run `createElement` on the target component with a `className` prop passed in, and see what props are present:

[code]
This seems like a heavy approach from a performance perspective. It could be conditionally executed on if `isTag(targ

[2017-07-14 06:12] probablyup commented on #349
I like this for dev only.
On Fri, Jul 14, 2017 at 1:07 AM Jordan Pellizzari <notifications@github.com>
wrote:

[2017-07-14 10:40] ktj opened #996 "Primitives Touchable doesn't work in web"
## Version
2.1.1

## Reproduction

[code]
## Steps to reproduce
- `yarn start`
  - Now it works
- Replace `{/* <Touchable /> */ }` with `<Touchable />` in src/App.js

## Expected Behavior
No errors
## Actual Behavior
`TypeError: Cannot read property 'props' of undefined`

[2017-07-14 10:42] ktj commented on #996
It works in native

[2017-07-14 11:24] davidspiess commented on #659
Same here :)

[2017-07-14 11:27] ktj commented on #996
My bad.
It works when touchable has content inside.
`<Touchable />` doesn't work, but
`<Touchable><Text>press</Text></Touchable>` does work

[2017-07-14 11:27] #996 closed

[2017-07-14 15:06] Kinzeng commented on #992
Hey guys I'm working on a simple reproduction and the same behavior doesn't seem to be showing up. However another source of possible duplication is that we are using [lerna](https://github.com/lerna/lerna), and we have multiple packages with their own installed `styled-components` packages. Maybe we should declare `styled-components` as a peer dependency and grab it from the root project?

[2017-07-14 16:16] xsokev commented on #785
I was able to perform this using the following:
[code]

[2017-07-14 17:00] mxstbr commented on #785
Yep this is why we added `.attrs`! Please use v2 and the `.attrs` helper to add styles to other props.

[2017-07-14 17:00] #785 closed

[2017-07-14 17:01] mxstbr commented on #992
Hmm, we don't use lerna, just have a big cra app and it happens. 🤔

[2017-07-14 21:43] alloy commented on #630
This is what I use at the moment:

[code]

[2017-07-15 14:44] gustavofp opened #998 "Module not found: Can't resolve 'is-function'"
Hello there, yesterday I installed styled-components in an application made with create-react-app and faced this problem.

I didn't changed anything on code, I just installed the dependencie and it showed ne this error when importing.

The only way I found to use the lib was downgrade to 2.0.0 version (the error occurs on 2.1.1)

![image](https://user-images.githubusercontent.com/22947103/28240160

[2017-07-15 15:11] k15a commented on #998
Could you remove node_modules and any lock file like yarn.lock or package-lock.json and install your dependencies again to check if it's not a problem with npm/yarn?

[2017-07-15 17:09] gustavofp commented on #998
Well, I reinstaled the dependencies and still got the error.

There is no lock file also.

[2017-07-15 18:11] mxstbr commented on #998
Does `yarn add is-function` solve the issue by chance?

[2017-07-16 10:50] rustam-gaifiev opened #1000 "Different class name on client and server (SSR)"
After server side rendering I got following error:

it is not very convenient because  it can be cover real problem.

I have very simple code:

[code]

[2017-07-16 11:13] lpillonel commented on #892
I had an issue with styled-components and an animated component created with `Animated.createAnimatedComponent(styled.View'...')` For some reason it was working in debug, but not with the release profile. Switching back to an Animated.View component worked.

[Stackoverflow](https://stackoverflow.com/questions/45121540/animation-not-working-on-release-mode/45127430#45127430) question.

Someone know

[2017-07-16 13:31] philpl commented on #892
@lpillonel I haven't looked into that methods exact implementation, but what does work is wrapping an animated component in a styled one which is also recommended in our docs: https://www.styled-components.com/docs/basics#animations

Please note that it's always better to ask for help on our spectrum or Gitter, and check out the docs first. Also I must politely ask you to create a new issue when y

[2017-07-16 13:33] philpl commented on #1000
It's quite a common issue when the code on the client ends up being loaded in a different order than the one on the server.

Our babel plugin has an ssr option to generate unique and matching component ids during transpilation time.

https://github.com/styled-components/babel-plugin-styled-components

[2017-07-16 13:33] #1000 closed

[2017-07-16 15:31] mschipperheyn commented on #762
@designspin are you using async components? Because I have a very similar setup that is still not working which is inline with docs. I think async components are the reason it's not working.

[2017-07-16 16:05] oyeanuj commented on #762
@mschipperheyn is it any form of async components or a specific library? Are you seeing it with, say, react-loadable?

[2017-07-16 20:26] lpillonel commented on #892
My bad, sorry.

But your answer fixed my problem : )

[2017-07-16 22:34] steve-a-jones commented on #360
@geelen Correct me if my thinking is incorrect, but the example above shouldn't work unless props are passed explicitly to SC `A` ..

`return <A {...this.props} className={this.props.className}>Press me!</A>;`

Also, since `Button` in that example is not a SC, `this.props.className`  would be undefined (unless passed explicitly) by a parent component.

I'm new to SC and trying to wrap my head arou

[2017-07-17 07:42] rohmanhm commented on #824
Yep, there's still no fixed

[2017-07-17 08:04] designspin commented on #762
If I get time this week, i'll try adding the changes detailed in my Gist to a fresh install of react-universally and see what the outcome is then. I am using the async components, although I only have one route at present outputting to main chunk, i'll let you know what happens when I add a few more later on. Thanks.

[2017-07-17 17:00] Igorbek commented on #824
@gargantuan this should work:

[code]

Note, that `ref` from `HTMLProps` and `ref` from `StyledComponent` are not _covariantly_ compatible.
`styled-components` use `innerRef` to reach out the `ref` of its inner component.

[2017-07-17 18:40] mschipperheyn commented on #762
I set up a react universally lib for testing. The info is above. But perhaps good to start fresh. I have it specifically with `react-async-component` https://github.com/ctrlplusb/react-async-component. I am working on a test that involves the import promise async loading

[2017-07-18 05:50] iamsolankiamit commented on #352
I'll take this one. Just to clarify, we want to allow incorrect usage or show error when incorrectly used?

[2017-07-18 06:07] steve-a-jones commented on #360
Okay - I get it now :) Took some experimenting, but it makes sense.

A few insights that helped...

1. Took me a while to realize (although after that fact it seemed obvious given how SC works) that regular react components will not just magically just pick up `props.theme` downstream from ThemeProvider - those components can only ever receive theme styling if they are passed a className explicitl

[2017-07-18 12:38] wmertens opened #1005 "Get rid of whitelist, instead use prefix"
Related to #731

How about using  a prefix for "styled-components-private-props"? e.g. just prefix everything that's not a real React/DOM prop with `_`.  Then you'd have

[code]

The whitelist would be gone, and it's very clear what is the "API" for the styling.

[2017-07-18 12:42] philpl commented on #1005
Duplicate of https://github.com/styled-components/styled-components/issues/439

Please just add it there :)

Sorry for not having more updates in that discussion there, but it is looking like React might actually introduce prop namespacing, which would solve this more elegantly

[2017-07-18 12:42] #1005 closed

[2017-07-18 13:01] wmertens commented on #439
How about using  a prefix for "styled-components-private-props"? So just prefix everything that's not a real React/DOM prop with `_` or `SC` or `$` or whatever (configurable by setting `styled.prefix`).  Then you'd have

[code]

The whitelist would be gone, and it's very clear what is the styled component's private "style API".

It would also be easy to decide when to pass to another component: If

[2017-07-18 13:07] lttb commented on #439
@wmertens hello! It was discussed a little bit here: https://github.com/styled-components/styled-components/pull/731#issuecomment-296397718 (and comment above)

And personally I agree with Dan in this case

[2017-07-18 13:11] IljaDaderko commented on #755
@philpl I've been experiencing similar issues in safari changing styles based on props that change based on state. When prop changes safari flickers for a split second showing initial styling and than changes correctly to one based on prop. This is unnoticeable if there is no transition though.

Below is mobile nav component I am working on (in safari when you click on hamburger menu you will see

[2017-07-18 13:35] Kinzeng commented on #992
Maybe with a large enough app the styles interfere with each other somehow? Hmm..

[2017-07-18 13:38] wmertens commented on #439
@lttb Sorry, I should have mentioned that I read that discussion.

It's just that writing components like `<Button look={{primary: true}} />` is onerous and almost warrants a change in JSX to make that nicer.

On the other hand, using prefixes, you're creating a private namespace that is easy to use and easy to filter. If used the way I propose, it would immediately remove a few KB from the bundle

[2017-07-18 13:39] kof commented on #439
@wmertens that is true, the only problem is  - its ugly.

[2017-07-18 14:08] philpl commented on #992
@Kinzeng then we'd see problems across the board. This must obviously be a clear cut problem with a list of causes. I think the most likely explanation is: Duplicated styled-components modules

[2017-07-18 14:10] philpl commented on #755
@IljaDaderko Even though the problem manifests similarly, it's unlikely that it's the same. I've also not seen another report for this yet in quite some time.

Can you create a new issue please? It's generally not a good idea to add on to closed issues that are possibly unrelated ;)

[2017-07-18 14:28] Kinzeng commented on #992
It seems the common factor between @mxstbr and I is that we're both using `create-react-app`. They don't let us change any of the webpack settings and I think that's the likely source for duplicated modules.

[2017-07-18 14:33] IljaDaderko opened #1006 "Prop based styling flickering in safari"
I've been experiencing issues with latest v2 in safari changing styles based on props that change based on state. When prop changes safari flickers for a split second showing initial styling and than changes correctly to one based on prop. This is unnoticeable if there is no transition though.

Below is mobile nav component I am working on (in safari when you click on hamburger menu you will see f

[2017-07-18 16:32] mxstbr commented on #439
See this suggestion @geelen made for JSX v2 for namespacing properties: https://github.com/facebook/jsx/issues/81

[2017-07-18 16:33] mxstbr commented on #352
Introducing an error now would be a breaking change, so let's just log a warning?

[2017-07-18 17:41] DeividasK commented on #987
He guys, any updates on this?

[2017-07-18 17:44] philpl commented on #987
@DeividasK I can probably take a quick look and try out some things to solve this. Do you have a reproduction repo somewhere?

[2017-07-18 17:49] DeividasK commented on #987
Hey Phil, not really. The main problem is that it is hard to precisely reproduce. The only way I am able to reproduce it now is in the main project repo. It disappears if I remove server side rendering. Removing code splitting does not help.

[2017-07-19 08:52] DeividasK commented on #987
@philpl turns out that the issue was with duplicated styled-components modules. One of the dependencies for our npm package was `styled-components`. Once I removed that from `dependencies` to `devDependencies` (also added to `peerDependencies` for the warnings) AND in webpack config specified it with externals
[code]
the issues have disappeared.

Simply removing it from dependencies did not help a

[2017-07-19 08:52] #987 closed

[2017-07-19 08:53] DeividasK commented on #992
I think the issue may be caused for the same reasons as here #987.

[2017-07-19 11:12] callumlocke opened #1009 "Docs: "Getting started" doesn't show you how to get started"
The [getting started](https://www.styled-components.com/docs/basics#getting-started) section is really just a light overview of the syntax. It doesn't actually show you how to import the module or other crucial stuff for getting started.

[2017-07-19 11:25] pie6k commented on #709
[code]

[2017-07-19 11:26] #835 closed

[2017-07-19 13:46] Kinzeng commented on #992
Hey @DeividasK, thanks for the heads up! To be clear, you have multiple npm packages that you maintain, correct? And more than one of these packages had `styled-components` as a dependency?

[2017-07-19 14:05] DeividasK commented on #992
Yes. We have `marketing` repository which depends on `nested-react-components`
and `styled-components` packages. `nested-react-components` itself used to depend on `styled-components`. This caused us an issue described in #987. Now I moved that dependency to `devDependencies` and `peerDependencies` and added `styled-components` to `externals` in webpack config in `nested-react-components` package.

[2017-07-19 18:02] justinpincar commented on #275
I run into this all the time when trying to layer styles. I end up having to just duplicate the base styles in the wrapper class, which really sucks. Is there a better way to approach this?

[2017-07-19 19:40] Kinzeng commented on #992
@DeividasK thanks for info! We have essentially the same setup as you did, and after analyzing the bundles using `source-map-explorer`, we found that we do have duplicate packages.

@mxstbr and @philpl `source-map-explorer` also let us know that `styled-components` is not being duplicated as a result of dynamic imports. We will try @DeividasK's fix and let you know how it goes. I agree with @Deivi

[2017-07-19 21:44] kitten opened #1011 "Add warning on StyleSheet rehydration when styled-components is duplicated"
When styled-components is duplicated in the client runtime, the rehydration will either throw a rather cryptic error on rehydration, or stop injecting new, dynamic styles.

Instead of failing this catastrophically we should add a warning that notifies the user of this mistake.

cc @geelen @mxstbr

Reproduction: https://glitch.com/edit/#!/sc-duplicate-module-reproduction

This issue replaces #992 a

[2017-07-19 21:44] mxstbr commented on #1009
PRs welcome! (also let's move this to the [website repo](https://github.com/styled-components/styled-components/website)?)

[2017-07-19 21:44] #1009 closed

[2017-07-19 21:46] philpl commented on #992
I've created a new issue that tracks a solution for this problem and am going to go ahead and close this in favour of it, to track the resolution rather than a symptom of the actual bug.

I'm not sure whether one of us will have time to look into this, but if anyone is interested in contributing a fix, shoot a comment over at the other issue. Thanks! :)

[2017-07-19 21:46] #992 closed

[2017-07-19 21:49] philpl commented on #275
@justinpincar there are a couple of helpers that abstract this away quite nicely. I recommend you to go through those. You can also write the entire declaration into an interpolation instead to avoid it being overridden with an empty value.

Btw please go to Spectrum, Gitter, or open a new issue, instead of commenting on a really old one, as it's easier for us to track the "demand" of a specific f

[2017-07-19 21:50] philpl commented on #1009
I've opened an issue regarding this already: https://github.com/styled-components/styled-components-website/issues/60

So maybe you're open to contribute to it there? :)

[2017-07-19 22:28] justinpincar commented on #275
I'll check out the helpers, thanks for pointing me in that direction.

BTW - I didn't see a Gitter or Spectrum link anywhere, so had no idea you do support through there.

[2017-07-20 00:18] mxstbr commented on #1011
Sounds great!

[2017-07-20 07:20] cusxio commented on #743
@cjthedizzy, @philpl

Since this pattern is fairly common in `styled-components`, is there any work around to get the "ref" of the component?

[2017-07-20 07:23] cjthedizzy commented on #743
@cusxio refs for the component work fine using innerRef. React doesnt provide refs for functional components currently. If you're having a code specific issue I'd reccomend popping over to the gutter channel and posting a snippet. Lots of folks will to help there, including me

[2017-07-20 07:24] cjthedizzy commented on #743
**Gitter

[2017-07-20 07:30] cusxio commented on #743
[code]

I have the exact same code pattern as you. I need to somehow preserve this pattern and somehow get the "ref", is this possible? If not, what changes did you made to make your code snippet "work" ?

[2017-07-20 10:18] shivrajkumar opened #1012 "Nested Styled components with React Native"
Is there a way to style child component depending on parent component's prop in react-native.
Say i have Styled Button and a Styled Text. Now if the Button has a prop `primary`, i want to set some background color to Button and also change the color of Text. Its possible in react. But is it possible in react-native. If not any work around?

[2017-07-20 10:35] philpl commented on #1012
No, there's no way to directly do it, since there's no concept of selectors in React Native.

I'd abstract it into a structural component that passes the same props to multiple components and restructure the container to use it instead :wink:

[2017-07-20 10:35] #1012 closed

[2017-07-20 10:47] SidKwok opened #1013 "style-components looks wired in React devtools."
## Version
2.1.0

## Reproduction

It's not really a bug but it does confuse me a little.

￼
![2017-07-20 18 45 02](https://user-images.githubusercontent.com/13268747/28413811-8621b3c8-6d7b-11e7-8828-89f726a4646d.png)

## Expected Behavior

I expected it to be actual component name like 'Wrapper' or 'Button'.

How can I achieve that? or it just can't?

[2017-07-20 10:51] giuseppeg commented on #934
Fixed in `styled-jsx@1.0.9` we are using an instance of `stylis` now. This should fix the OP issue when Next upgrades to the latest v of styled-jsx.

[2017-07-20 10:51] philpl commented on #743
I'd consider writing a functional components inside the styled factory mostly an anti-pattern and thus uncommon actually.

`ref`s just *don't work* with functional components as they inherently don't have an **instance** to pass up. You'll need to pass on the `innerRef` prop and set `componentId` to some string on the functional component somehow, probably best with a small utility function.

This

[2017-07-20 10:55] philpl commented on #275
@justinpincar We added a link to Spectrum to the readme recently :wink: Check it out: https://spectrum.chat/styled-components

[2017-07-20 10:57] philpl commented on #1013
You can use the babel-plugin's displayName option to add more meaningful names.

[2017-07-20 10:57] #1013 closed

[2017-07-20 11:10] #934 closed

[2017-07-20 11:11] philpl commented on #934
@giuseppeg Yea, this has already been fixed in SC since 17 days haha. Sorry for forgetting to close this issue https://github.com/styled-components/styled-components/releases/tag/v2.1.1

[2017-07-20 11:31] morajabi commented on #1011
I want to take this but need more information I think.

[2017-07-20 11:44] morajabi commented on #1011
OK I read the two issue threads and now I think we must throw a warning with a message to warn them about having a duplicate styled-components modules. But how can I detect that then?

[2017-07-20 11:55] philpl commented on #1011
@morajabi We need to clarify this error here: https://github.com/styled-components/styled-components/blob/master/src/models/BrowserStyleSheet.js#L105

This should happen after SSR rehydration with two styled-component modules.
And for duplication detection it would be enough to just set a global flag on `window` maybe?

@geelen Maybe has an idea where best to put this.

[2017-07-20 11:57] morajabi commented on #1011
@philpl Thanks for the information. I need to reproduce the error case, Do you have an idea on how to reproduce it? (as in #987 I think)

[2017-07-20 12:08] philpl commented on #1011
@morajabi I can create a bundle for you I think

[2017-07-20 12:52] philpl commented on #1011
@morajabi oh, actually that one should be quite simple.

1. the server needs to implement ssr
1. the client needs to load styled-components 2x in two different chunks
1. one of them is going to be unable to rehydrate

[2017-07-20 12:59] iddan opened #1014 "React Native: start and end properties are not supported"
## Version
2.1.1

## Reproduction
[code]

## Expected Behavior
https://facebook.github.io/yoga/docs/rtl/

## Actual Behavior
<img width="376" alt="screen shot 2017-07-20 at 15 58 45" src="https://user-images.githubusercontent.com/12671072/28418433-5af41c20-6d64-11e7-84ae-501372002581.png">

[2017-07-20 13:35] philpl commented on #1014
Should it actually work? There's no mention of it in the docs https://facebook.github.io/react-native/releases/0.30/docs/layout-props.html

And it's not a standard css property either.

What are you trying to do? Did you mean to use border-top-width and bottom?

[2017-07-20 14:48] iddan commented on #1014
https://facebook.github.io/react-native/releases/next/docs/layout-props.html links to https://facebook.github.io/yoga/docs/rtl/

[2017-07-20 14:49] iddan commented on #1014
I try to use border-left-width but in the RTL supporting syntax of border-start-width

[2017-07-20 14:54] MrLoh opened #1015 "Style Object Creation in React Native"
First of all, I love styled components, so thank you guys a lot!!!

I have a question about react-native styles. Can I somehow generate a style sheet like object for react native with styled components. Many React Native components take several style objects, e.g. ScrollView (which takes an additional contentContainerStyle) or react navigation components (which take several styles in their factory

[2017-07-20 14:56] philpl commented on #1014
cc @jacobp100

[2017-07-20 14:57] philpl commented on #1015
The only way to do this right now is to use the `attrs` method:

[code]

[2017-07-20 15:01] morajabi commented on #1011
I will try it  @philpl Thanks

[2017-07-20 15:18] jacobp100 commented on #1014
This is on the RN side - it's saying it doesn't support `borderStartWidth`. It's worth trying these things with `StyleSheet.create` before if you're unsure what to expect!

[2017-07-20 15:18] #1014 closed

[2017-07-20 18:58] james-prado opened #1017 "Classname hash wont generate when styling component passed as a prop (React)"
I'm using react and styled-components to make a simple dialog component and I keep running into this weird issue where a component passed as a prop then styled by styled-components will render, but won't be styled (because the classname hash isn't generated).

## Version
2.1.1

## Reproduction
[Repo](https://github.com/james-prado/demo-issue/tree/styled-component-issue)

## Steps to reproduce
- Pa

[2017-07-20 19:13] k15a commented on #1017
You need to pass the classname of styled-components down to the dom element.

[code]

[2017-07-20 19:13] #1017 closed

[2017-07-20 19:30] webchaz opened #1018 "Extract styles?"
I'm having a hard time finding any information on how to extract the inline styles to a separate file.  Is this possible? Using extract-text-plugin in webpack or similar.

Thanks

[2017-07-20 20:56] philpl commented on #1018
This is a tougher question to answer, but let me break it down :smile:

We don't support static CSS extraction. You can try out emotion which does.

You might not need static CSS extraction actually, because of several reasons:

- There's SSR which sends only critical CSS, instead of all static CSS, for the entire page. You don't even need to do SSR, but can use snapshotting (react-snapshot) or ge

[2017-07-20 20:56] #1018 closed

[2017-07-20 20:57] philpl commented on #826
This won't actually be possible, even with the changes we're making in v3 (except if it'll be available as an option) because of the same reasons that we likely won't support static CSS extraction: https://github.com/styled-components/styled-components/issues/1018

[2017-07-20 20:57] #826 closed

[2017-07-20 22:33] philpl commented on #1011
@morajabi If you'd like to pick this up, I've created a small reproduction that showcases the error. It should help you to set something up yourself to test it: https://glitch.com/edit/#!/sc-duplicate-module-reproduction

[2017-07-20 23:16] webchaz commented on #1018
Thanks @philpl for the explanation and suggestions.    It seems to be appending class names to `styled-components` instead of replacing old ones.  Any reason for this?  Basically for a simple button component that changes based on props, this seems to just grow infinitely.

<img width="1079" alt="screenshot 2017-07-20 19 13 45" src="https://user-images.githubusercontent.com/1342709/28442676-9227b9

[2017-07-20 23:30] philpl commented on #1018
For every different CSS string per styled component there'll be a new class hash. As it's really unrealistic to reach a high amount of styles in non-artificial conditions, no one has complained about reaching a performance limit yet. Albeit there being one at the tens of thousands, where css injection slows down to a stunningly low speed.

But we have a fix for our comparably slow injection speed

[2017-07-20 23:33] webchaz commented on #1018
@philpl Ha, Thank you - Yes I hijacked the same question.    That sounds great though, loving styled components so far.  Thanks again for detailed responses.

[2017-07-21 01:22] #1015 closed

[2017-07-21 12:24] sibelius opened #1019 "padding does not work on react native"
[code]

[2017-07-21 12:26] philpl commented on #1019
Shorthands are a feature that is added by `css-to-react-native`. Unfortunately to avoid ambiguity for their expressions, since we also allow percentage units, you'll have to append `px` as a unit.

E.g:

[code]

[2017-07-21 12:26] #1019 closed

[2017-07-21 12:32] sibelius commented on #1019
tks

[2017-07-21 16:14] nhducit commented on #917
still got this issue on latest version

[2017-07-21 18:45] cdharris commented on #860
I'm having the exact same issue trying to use styled-components with material-ui v1 alpha.

The styled-components <styles> are being emitted higher up in the html document and are thus being overridden.

Being able to specify an insert location seems like it would be a big help here.

[2017-07-21 19:48] ryanheathers opened #1020 "Components with multiple media queries only outputting the first media query in v2.1.1"
## Version
2.1.1

Also using babel-plugin-styled-components:  version 1.1.17

## Expected Behavior
Using the following CSS block should obviously result in 3 media queries being outputted for this `styled-component`.
[code]

## Actual Behavior
Only the first media query is outputted to the stylesheet and the others do not appear at all.

I thought this might be an issue with a breakpoint helper I

[2017-07-21 20:27] cdharris commented on #860
For anyone else struggling to use styled-components with the new v1 of material-ui. After hunting around for a while, I found that the comment used to direct their new insertion point is
` ` rather than ` `
Hope this saves someone some time

[2017-07-21 20:31] oliviertassinari commented on #860
@cdharris Material-UI will no longer rely on jss-theme-reactor in the next beta. `` will be the way to go.

[2017-07-21 20:39] kof commented on #860
@oliviertassinari I would actually rather use something mui specific to distinguish mui insertion point and jss insertion point etc.

[2017-07-21 20:41] oliviertassinari commented on #860
@kof Let's talk about it in https://github.com/callemall/material-ui/pull/7461. Sure, we can do that.

[2017-07-21 20:44] k15a commented on #1020
This is a problem the semi colon after the closing braces.

Quick fix would be:
[code]

@thysultan Could you check if you can fix this in stylis?

[2017-07-22 00:18] david-mk commented on #630
@alloy's solution worked great for me

I made a function wrapper for it that doesn't really do anything other than let typescript know of the types, but I think it makes the code a little more terse

[code]

[2017-07-22 00:31] evan-scott-zocdoc opened #1021 "API method for identifying Styled Components and wrapped/extended Styled Components"
I came across a use case today where there's a component that expects children of a certain type to be provided. It then pulls them out individually and recomposes them in a specific way.

With styled components, this becomes somewhat difficult because there isn't an easy way to say "is this component instance X related to styled component constructor Y?"

In normal React land, you'd do something

[2017-07-22 00:50] philpl commented on #1021
You can actually identify Styled Components how we identify them internally. Using their `styledComponentId` static property.

https://github.com/styled-components/styled-components/blob/master/src/models/StyledComponent.js#L204

You can also just check whether `AbstractStyledComponent` is in the prototype chain, although we don't need this class ourselves anymore, and might delete it at some poin

[2017-07-22 00:54] mxstbr commented on #1021
I agree, I don't think it's worth adding as an explicit API. `styled-components` just surpassed 1,000,000 downloads and has been out for what, like 8 months?, and we haven't had anybody ask for this API before.

Since you managed to work around it anyway I don't see any need to add an explicitly supported API. I won't say we'll break `element.type.target` but I also won't say we won't-we'll see wh

[2017-07-22 00:54] #1021 closed

[2017-07-22 00:56] probablyup commented on #1021
I understand. I'll add unit tests to verify my assumptions about your
internal API then.

Thanks.
On Fri, Jul 21, 2017 at 8:54 PM Max Stoiber <notifications@github.com>
wrote:

[2017-07-22 01:48] philpl commented on #1021
To add a closing comment, or rather a thought; If you or anyone else feels that it's important to discuss this in detail again and would like to make an argument as to why an addition to our API is absolutely essential, we're always open to listen and discuss it.

We have reason to believe that our API is as close to what people want it to be as we can get it, but we might always be wrong about so

[2017-07-22 02:35] mxstbr commented on #1021
Oh yeah sorry, I didn't mean for that to sound as condescending and absolute as it did. If you have a use case please let us know and we'll reconsider if more and more people ask for this!

[2017-07-22 07:22] iamsolankiamit commented on #439
Have we come to a consensus on this or can any one point me to a temporary solution to this problem?

[2017-07-22 07:50] wmertens commented on #439
With the prefix proposal, one could also do `look={{…}}` by setting the
prefix to "look" and saying something like prefixOnly. Two programming
styles for one small feature…

On Sat, Jul 22, 2017, 9:22 AM Amit Solanki <notifications@github.com> wrote:

[2017-07-22 09:36] diondiondion commented on #1020
But it's invalid CSS, the "quick fix" you proposed is the _proper_ fix.

I guess stylis was just a bit too fault-tolerant before v2. ;)

[2017-07-22 10:00] atfzl commented on #630
Extending @david-mk's method to get theme types as shown in https://www.styled-components.com/docs/api#typescript

[code]

[code]

[2017-07-22 10:08] k15a commented on #1020
Yeah, that is invalid CSS. Currently, Stylis is pretty tolerant so I suggested @thysultan to be tolerant here as well :) But the proper fix is indeed to remove the semicolons.

[2017-07-22 11:49] thysultan commented on #1020
Stylis tries to [monkey-patch](https://github.com/thysultan/stylis.js/blob/master/tests/spec.js#L50-L78) invalid CSS where it can, i've added this case in 3.2.7, so it should be more fault-tolerant now.

[2017-07-22 11:58] #1020 closed

[2017-07-23 03:16] hmontes commented on #972
[code]

Can explain that selector pattern with an example, please? I have the same issue.

Thanks

[2017-07-23 08:39] MrLoh commented on #1015
@philpl how does that address the issue? It just co locates both styles right, but doesn't help at all to write the contentContainerStyle with styled components, which is what I'm looking for.

@mxstbr why did you close this?

Shouldn't styled components implement a comprehensive styling solution for React native. Otherwise it seems to just add a bunch of overhead, needing to learn two ways of sty

[2017-07-23 13:50] philpl commented on #1015
@MrLoh you're completely right in that it breaks with our normal approach to styling which allows you to write normal CSS.

The problem is that there's almost no sensible pattern in this case that works for everyone without hugely complicating things.

We were looking into using the css helper for this case, but it made things a lot more complicated. We might look into it again however

[2017-07-23 17:41] #887 closed

[2017-07-23 19:57] Igorbek commented on #630
Another option which allows to bypass explicit element type specification, but looking a bit awkward:

[code]

so later:

[code]

[2017-07-23 20:02] AlexLeung opened #1025 "TypeScript support for primitives"
I'm currently getting the following error when trying to use the new experimental `styled-components/primitives` submodule in my typescript project:
[code]
I'm not sure if this is an error that needs to be addressed by the `react-primitives` team, or if it would make sense for the `styled-components` team to push their own fix.

[2017-07-23 20:57] philpl commented on #1025
As you already opened an issue for this, it should be unnecessary to pursue this here any further: https://github.com/lelandrichardson/react-primitives/issues/82

cc @styled-components/typers

[2017-07-23 20:57] #1025 closed

[2017-07-24 07:47] dustwise opened #1026 "How to target pseudo elements when using style={} prop?"
Hello!

I am able to pass in my style object and it is working properly. That said, when I attempt to target a pseudo element it does not work. I cannot find examples or documentation to explain how to do this. I am currently using:

`{
color: 'black',
'&::after': {
  fontSize: '40px'
  }
}`

The color is applied but pseudo element is ignored. What am I doing wrong? Thanks!

[2017-07-24 08:07] esbenp commented on #998
We had the same issue this morning, can confirm good 'ol `rm -rf node_modules && rm package-lock.json && npm cache clear --force && npm install` worked for us. Have no idea what caused the issue in the first place.

[2017-07-24 09:35] pencilcheck commented on #277
I know this has a lot of big dependencies but I hope this will serve as a useful reference/solution for this issue...

[code]

[2017-07-24 10:00] philpl commented on #1026
styled-components is not built for you to use inline styles. We don't modify or transform them, we just pass them through

All standards, intros, concepts, and best practices can be found on our website: www.styled-components.com

[2017-07-24 10:00] #1026 closed

[2017-07-24 11:21] dustwise commented on #1026
I am attempting to utilize the code implemented here:

https://github.com/styled-components/styled-components/pull/280/files

In these tests it explicitly shows passing in media queries and "&:hover" via the style prop object.

Additionally, in the CHANGELOG it states:

"v1.2.0

Added support for media queries, pseudo selectors and nesting in styles-as-objects."

I am passing in an object as shown

[2017-07-24 12:25] philpl commented on #1026
So there's a slight difference here in what it is and how you're using it, I believe. You can clarify this with a code sample :)

Passing something into the style prop doesn't do anything special by default other than passing this on to the styled component's target.

However using a css object as an interpolation will correctly stringify it. You'll have to be careful when using the style prop wit

[2017-07-24 12:47] bhovhannes commented on #893
For me `StyleSheet.instance.toHTML();` doesn't work.

Is there any other workaround for "BrowserTag cannot be cloned!" error when used client-side?

[2017-07-24 14:51] Igorbek commented on #893
For my case, which is rendering on server for testing in jsdom environment, I found the following workaround:
[code]

[2017-07-24 16:40] dustwise commented on #1026
Alright, I appreciate it!

Where can I find the codesandbox?

Thanks for looking into this/helping alleviate my confusion!

[2017-07-24 17:00] philpl commented on #1026
https://codesandbox.io/s/0gvo36BML

[2017-07-24 21:52] wachunei opened #1027 "Add alias for react-native ImageBackground component"
Nested components inside `Image` will be deprecated and developers should use `ImageBackground` instead, which is currently not supported as an alias.

As a workaround I'm using styled function (without alias)
[code]

[2017-07-24 21:54] k15a commented on #1027
Would you mind opening a PR?

[2017-07-24 21:56] wachunei commented on #1027
Sure! Working on it…

[2017-07-24 22:10] wachunei commented on #1027
@k15a done —» #1028 😺

[2017-07-25 02:21] alansouzati opened #1029 "onClick not invoked if `onMouseDown` is present and updates state"
Let me start by saying that this is a very weird bug. I tried investigating your source code and I could not find anything that would possible lead to this.

It also happens if `ouMouseUp`, `onMouseOver` are provided.

## Version
2.1.1

This bug happens with or without the babel plugin.

## Reproduction

https://codesandbox.io/s/mZz51wGPG

## Steps to reproduce

Just add a onMouseDown and onClick

[2017-07-25 04:39] probablyup commented on #1029
Is setState returning false somehow and aborting the cascade?
On Mon, Jul 24, 2017 at 10:21 PM Alan Souza <notifications@github.com>
wrote:

[2017-07-25 05:02] alansouzati commented on #1029
Not from the caller's perspective. You can check the code sandbox I'm not aborting the cascade.

[2017-07-25 08:28] philpl commented on #1029
To clarify, this is unlikely to be a bug with SC :wink: But let's keep investigating

[2017-07-25 08:45] #1027 closed

[2017-07-25 15:21] dgennetten opened #1030 "www.styled-components.com does not render in IE and is very flaky in Edge. Is this true for apps that use styled-components?"
## Version
2.1.0

## Reproduction

https://www.webpackbin.com/bins/-KeeZCr0xKfutOfOujxN
https://codesandbox.io/s/rkmNRByE4

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2017-07-25 16:59] alansouzati commented on #1029
Yeah I agree that is unlikely to be a bug in SC. But how do we explain the fact that the last example in the code sandbox works just by switching from SC to a regular react div?

[2017-07-25 18:04] emilbruckner commented on #111
Sorry for asking, but how do I get this to work? styled-components doesn't solve it automatically …

[2017-07-25 18:10] mxstbr commented on #111
It does solve it automatically, eveyrthing is automatically previxed @emilbruckner. If something isn't that's a bug, please open a new issue!

[2017-07-25 18:19] ryanheathers commented on #1020
Wow, can't believe I missed those extra semicolons. Removing those fixed things. Thanks all!

[2017-07-25 18:41] philpl commented on #1029
@alansouzati You were creating the styled component dynamically on every render. Thus it unmounts and the event is aborted / not captured. https://codesandbox.io/s/v2MzwvyKM

Please consult our docs for guides, intros, and usage of styled-components :wink: https://www.styled-components.com/docs

[2017-07-25 18:41] #1029 closed

[2017-07-25 18:53] philpl commented on #1020
@ryanheathers I'm working on preprocessing in v3 which involves a complete CSS parser. It should be more strict than stylis and catch and throw without outputting CSS, when it encounters invalid CSS.

[2017-07-25 19:04] xiaolin commented on #987
I had a similar issue using `redux-connect` and `styled-components` on the server.

I was doing something very similar to @DeividasK

[code]

But on the client after the JS loads I would get an error `Trying to replace an element that wasn't mounted!`, causing some css to be missing.

I was able to fix it by changing

`const css = sheet.getStyleElement();`
to
`const css = sheet.getStyleTags();`

a

[2017-07-25 19:15] philpl opened #1031 "Add .extend and .withComponent deterministic ID generation"
For server-side rendering it is often crucial to generate deterministic and stable IDs during transpilation time, so that the import-order of modules—and thus the order in which StyledComponents are instantiated—doesn't influence the `componentId`. A failure to do so leads to a checksum mismatch between the SSR result and React on the client side.

To generate these IDs we have the `ssr` option in

[2017-07-25 19:26] alansouzati commented on #1029
nicely done. thanks for the quick follow up.

[2017-07-25 19:45] pencilcheck commented on #730
Take a look at this example, I think if we can have ways to add multiple namespaces for the css content that each component uses, then we have a true global scoped stylesheet solution that is backward compatible with all traditional css libraries. https://github.com/zeit/next.js/pull/2638

[2017-07-25 20:20] alansouzati commented on #1029
FYI. In my case I was doing stuff like this:

[code]

Based on your finds and the documentation, I replaced it to be something like this (which makes totally sense):

[code]

I'm sharing here just in case hits a similar problem 👍

[2017-07-25 22:39] ryanheathers commented on #1020
@philpl that sounds great. After figuring out what was wrong with my media queries, I looked back through my codebase and found a bunch of other cases where I'd closed interpolated helper functions with semicolons e.g.
[code]
In hindsight it's obvious those won't work as expected, but it can tricky to spot and currently styled-components swallows the error and you're left scratching your head why

[2017-07-25 23:08] ryanheathers opened #1032 "Two instances of styled-components conflict when loaded on the same page"
## Background
I develop a React app that gets installed as a 3rd-party plugin. That means multiple instances of my app may be running on a single page at any time. Along the way I've run into issues with how styled-component's shares the generated hashed css class amongst components on the page. If the same component is used twice, even if they are part of different React apps, they share the same

[2017-07-25 23:16] philpl commented on #1032
We currently don't support duplicated instances of styled-components. Is there any reason why you need this and can't share it across the bundle/app?

[2017-07-25 23:18] philpl commented on #633
Updates are now in a new issue: https://github.com/styled-components/styled-components/issues/1032

[2017-07-25 23:18] #633 closed

[2017-07-25 23:26] ryanheathers commented on #1032
It's very important to our use case to have each app's dependencies fully contained inside itself. This prevents a host of dependency conflict issues.

I'm a tad confused why you say styled-component's doesn't support multiple instances of itself on a page. Clearly it did, at one point, because both the 1.x version that I used to use and v2.0.0-13 work great with having multiple instances of style

[2017-07-25 23:41] ryanheathers commented on #1032
@philpl after reading [the issue](https://github.com/styled-components/styled-components/issues/1011) you linked, it sounds like that is referring to having two instances of styled-components in the same bundle. That is not the case for my apps. Each app has one and only instance of styled-components per bundle.

My issue (presumably) has more to do with whether styled-components affects the globa

[2017-07-25 23:55] philpl commented on #1032
@ryanheathers It comes down to the same issue: Running multiple instances of styled-components in a single app/page (whether it's bundled doesn't matter).

SC has no way of knowing whether there are multiple instances right now, and we make the assumption that it's undesirable anyway, since then you'd deploy multiple times the size of what you actually need to send to the user's browser.

What pre

[2017-07-26 00:25] ryanheathers commented on #1032
@philpl I appreciate the dialogue.

We deliberately don't want to rely on our environment to supply our dependencies. That opens us up to a host of potential bugs if the environment doesn't supply us what we expect or doesn't supply it in time. Race conditions, version mismatches, etc etc. It's actually how we used to load in certain dependencies and it was a nightmare.

And even if we figure out

[2017-07-26 00:37] philpl commented on #1032
Optimally yes, that should be possible, but I'm assuming you're talking about *one app* :wink: and I don't really see how it's best practice to have duplicated modules (especially some on the bigger side), in a single app.

It is possible for dependencies to use the same lib, as long as they're part of the build process. It's really all about the build process that should make this possible.

It's

[2017-07-26 00:40] philpl commented on #1032
@ryanheathers If you want to try sth out in your environment really quickly, can you try this out?

https://github.com/styled-components/styled-components/blob/master/src/models/BrowserStyleSheet.js#L125

`const nodes = document.querySelectorAll(`[${SC_ATTR}]`)`

Here we're searching for all style tags that might be rendered on the server side, but we're not filtering for non-local ones. It might

[2017-07-26 04:11] andy1028 opened #1033 "Uncaught TypeError: ns.charCodeAt is not a function"
environment：
  "next": "latest",
"styled-components": "^2.1.1",

below is my demo code

[code]

[code]

browser throw TypeError

![image](https://user-images.githubusercontent.com/13925688/28604101-08ab06cc-71fb-11e7-9bde-49f1a80003a1.png)

but the `Title` component is work still