[2018-03-13 19:23] dangodev commented on #1607
@kitten Yup! That was our issue! Just tried that release and that fixed our missing styles. Thanks again!

[2018-03-13 19:28] #1602 closed

[2018-03-13 19:42] DeividasK commented on #1602
@kitten sorry for taking a bit to respond, but I wanted to double check this - it seems that the styles rules are still being accumulated (based on the increasing index.html size). I will double check the actual output of styled-components tomorrow and will let you know.

[2018-03-13 19:43] kitten commented on #1602
@DeividasK that might just be our component comment markers. If so, I’m aware of that regression but it’s intended as long as we’re waiting for some ppl who’re relying on that (not for SSR)

[2018-03-13 19:53] alexandr-solovyov opened #1608 "Add support for postcss-responsive-properties"
Hey, there! I have a suggestion for the way how to improve writing of responsive `styled-components`. It seems, that you, guys using some lightweight version of PostCSS? So, I suggest to try figure out, could we add support for this postcss-plugin: https://github.com/alexandr-solovyov/postcss-responsive-properties ? So, we can write responsive values for our rules, thanks!
Even though it's a prett

[2018-03-13 20:12] kitten commented on #1608
@alexandr-solovyov We unfortunately switched away from PostCSS and are now relying on stylis. We might in the future switch again to an ISTF/Sweetsour based pipeline, but that's far away.

So the thing with these plugins though is that we'd like to keep our supported CSS as closely to vanilla CSS as possible; so this probably won't be something we'll support, and only if our pipeline ever becomes

[2018-03-13 20:14] #1608 closed

[2018-03-13 20:19] kitten commented on #1603
So summing this up, we might want to add another bundle option that switches off insertRule while keeping the prod env optimisations;

cc @probablyup @mxstbr: Thoughts? I think adding this wouldn't really hurt

[2018-03-13 20:35] kitten commented on #1598
Resolved by #1599 and released in https://github.com/styled-components/styled-components/releases/tag/v3.2.2

[2018-03-13 20:35] #1598 closed

[2018-03-13 20:36] kitten commented on #1596
As discussed on DMs, I'm not sure whether it's a good idea to remove this then, and I didn't think of this case.

cc @probablyup

[2018-03-13 20:36] #1596 closed

[2018-03-13 20:36] kitten commented on #1607
fyi v3.2.2 is now released with this fix :wink: https://github.com/styled-components/styled-components/releases/tag/v3.2.2

[2018-03-13 20:37] kitten commented on #1602
@DeividasK v3.2.2 is now released with the fix in place :) https://github.com/styled-components/styled-components/releases/tag/v3.2.2

[2018-03-13 21:49] alexpate commented on #1547
You can use Sass like syntax, as well as targeting components.

For example:
[code]

The hashed classname for `AnotherComponent` would be placed before the classname of `ComponentStyles`:

[code]

It's kind of an anti-pattern though and has the potential to become quite messy.

[2018-03-14 02:10] bringking commented on #1602
@kitten We are seeing this leak in our prod servers at Weedmaps. We just hotfixed to update to 3.2.2 and I think we are still seeing similar behavior. Here is a snippet from a heap dump -

<img width="1318" alt="screen shot 2018-03-13 at 7 03 13 pm" src="https://user-images.githubusercontent.com/864845/37379579-670bb0f8-26f1-11e8-82fc-1704904f3242.png">
<img width="1324" alt="screen shot 2018-03-1

[2018-03-14 02:14] bringking commented on #1602
@kitten we aren't seeing the accumulated styles being flushed into the DOM, but it seem they are still being retained

[2018-03-14 02:38] boxman0617 commented on #1602
@kitten I see `clones, deferred, tagMap` grow

[2018-03-14 04:29] bringking commented on #1602
@kitten I have not dug into styled-components source too much, but debugging your tests, I see you assert that the generated style tags do not bleed over, however I am seeing the `tagMap` instance on the Stylesheets contains two values for each Sheet, when it should contain 1. If I comment out `SheetB`, then `SheetA` only contains 1 tag in the `tagMap` - Debugging done on the test here - https://g

[2018-03-14 08:34] edqd opened #1610 "3.2.2 broken in prod"
## Environment
## System:
 - OS: macOS High Sierra 10.13.3
 - CPU: x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
 - Free Memory: 84.10 MB
 - Total Memory: 16.00 GB
 - Shell: /bin/zsh - undefined
## Binaries:
 - Node: 9.6.1
 - Yarn: 1.3.2
 - npm: 5.6.0
 - Watchman: Not Found
## npmPackages:
### babel-plugin-styled-components:
 - wanted: ^1.5.0
 - installed: 1.5.0
### styled-components:
 - wanted: 3.

[2018-03-14 09:02] kitten commented on #1602
@bringking yep, that’s all still expected behaviour and as it worked before. At any point in time we need to preserve the order of components that were created.

If you’re seeing a growing tagMap that just means that you’re encountering new components over time. We can probably optimise this in the future, but for now please open a new issue if this really bothers you, as this was how it already w

[2018-03-14 09:17] ericyip opened #1611 "Nested styled component not rendering sub's className"
Hello everyone!

I was trying to use icomoon icon with styled-components . If I wrap it with another styled, the sub's classname disappear

[code]

[code]

Is it on purpose or a bug?

Thanks

[2018-03-14 09:22] kitten commented on #1611
You will have to pass on the className prop to the child. https://www.styled-components.com/docs/basics#styling-any-components

[2018-03-14 09:22] #1611 closed

[2018-03-14 09:24] DeividasK commented on #1602
@kitten I can confirm that 3.2.2 works the same way as 3.1.6. As you've mentioned, some markers are being accumulated, but that is the same behaviour as in 3.1.6.

[2018-03-14 09:57] kitten commented on #1610
Can you provide some more information please? A production would be optimal, but I know that’s unrealistic for SSR.

Can you post the entire error message please and the nature of your SSR setup? Are you using streamed SSR, are both versions on 3.2? Have you upgrade from 3.1.6 (3.2 is a large refactor so there might be some incompatibilities between server/client that slipped through)

Also, the e

[2018-03-14 11:13] ConneXNL commented on #1273
@kitten , I got a usecase where a component may use a tooltip within a portal (a third party library). I would love to pass `className` and `portalClassName` to my component.

I am trying to use the attrs to set this portalClassName but I have no way to get a class instead of inline css.

const MyStyledComponent = styled(MyComponent).attrs({
    portalClassName: css`
        ...someStyles
    `
})

[2018-03-14 11:17] mxstbr commented on #1273
[code]

[2018-03-14 12:23] edqd commented on #1610
The error i attached to original post is the only error i receive.
Im not using streamed SSR, and this error only happed on 3.2.2 in prod configuration.
3.1.6 are both on dev and prod alright, 3.2.2 is ok on dev but fails on prod build.
SSR gist: https://gist.github.com/edqd/d900ff0f336d9e8c38a133b9c4e73c4e
the ssr tags are extracted using getStyleElement and placed in response. Weird thing is tha

[2018-03-14 13:08] edqd commented on #1610
i just tried to switch out webpack configs so only changed variable is NODE_ENV
error now shows as:
`
styled-components.browser.es.js:361 Uncaught (in promise) Error
    at sheetForTag (styled-components.browser.es.js:361)
    at SpeedyBrowserTag.inject (styled-components.browser.es.js:520)
    at StyleSheet.inject (styled-components.browser.es.js:807)
    at ComponentStyle.generateAndInjectStyles

[2018-03-14 13:21] edqd commented on #1610
I just tried to run prod build and built app with NODE_ENV set to development and everything is running smoothly, when i do the same with NODE_ENV set to production, the client crashes

[2018-03-14 14:15] kitten commented on #1610
Yep, that's because you're essentially switching off speedy mode, i.e. `insertRule`, where this error stems from.

My problem is essentially that I do not know what error it is you're running into, i.e. ` Uncaught (in promise) Error at sheetForTag` being imprecise.

It doesn't sound like a bug though. There are a couple of possibilities:

- You have multiple instances of styled-components on the c

[2018-03-14 14:19] kitten commented on #1610
Also, I suspect the error comes from here: https://github.com/styled-components/styled-components/blob/master/src/utils/insertRuleHelpers.js#L20

Sorry, for not having a good error message there yet. (we have an issue for that somewhere)

This strongly hints at the style element not being mounted somehow. This is actually a very common indicator of duplicated styled-components instances, which doe

[2018-03-14 14:20] mxstbr commented on #1610
See the docs for the steps on resolving a duplicate module: https://www.styled-components.com/docs/faqs#i-am-a-library-author-should-i-bundle-styledcomponents-with-my-library

[2018-03-14 14:25] kitten commented on #1610
^ this is probably the relevant section :+1: https://www.styled-components.com/docs/faqs#duplicated-module-in-node_modules

[2018-03-14 14:39] dangodev commented on #1607
@kitten Awesome! Thanks for all the work you do. The development community doesn’t deserve the Styled Components team! We’re not worthy!

![we’re not worthy](https://media.giphy.com/media/MUeQeEQaDCjE4/giphy.gif)

[2018-03-14 15:13] bringking commented on #1602
@kitten @DeividasK, thanks for the info we will keep digging. We are still seeing rapid memory growth with 3.2.2, but I want to get a solid repro case for you and I will open another issue if it is something in styled-components. Thank you guys!

[2018-03-14 16:30] kitten commented on #1602
@bringking @DeividasK I've got an easy modification here, which I was aware would help with this but left out during the refactor to keep everything the same.

https://github.com/styled-components/styled-components/pull/1612

It's published under the `ssrmem` tag. Can you two take a look at that PR, test the prerelease and report whether it improves the situation please? 👍🙌

I'll lock this issue f

[2018-03-14 16:34] kitten commented on #1547
Yes, I have no idea what `:host-context` is or where it came from 😅 but the above reply seems to be what you're searching for.

Here's the corresponding doc page: https://www.styled-components.com/docs/advanced#referring-to-other-components

[2018-03-14 16:34] #1547 closed

[2018-03-14 18:25] byrondevonwall opened #1613 "3.2x Breaking Jest/Enzyme tests of components that mount elements using unstable_RenderSubtreeIntoContainer"
Jest/enzyme tests that were passing until 3.2x release are now failing once 3.2x is installed.  Reverting to 3.1.6 solves the issue.

## Non-passing Environment
### System:
 - OS: macOS High Sierra 10.13.3
 - CPU: x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
 - Free Memory: 1.41 GB
 - Total Memory: 16.00 GB
 - Shell: /bin/zsh - undefined
### Binaries:
 - Node: 7.10.0
 - Yarn: 0.23.3
 - npm: 4.2.0

[2018-03-14 18:41] byrondevonwall commented on #1613
Looking at the output more closely, the "Several Instance" warning mentioned in this issue: https://github.com/styled-components/styled-components/issues/1592 is also being thrown for these tests (the warning terminal output got overwritten initially).  So this issue may be related to Jsdom/jest setting multiple instances of `styled-components`.

[2018-03-14 18:42] kitten commented on #1613
I really need some reproduction here; it's unlikely that it's possible to debug this without one.

That being said: Make sure that you don't have multiple instances, try to run in a non-jsdom environment if possible, make sure that you don't do anything bad to the `head` element accidentally

https://github.com/styled-components/styled-components/blob/master/src/models/StyleTags.js#L100-L106

[2018-03-14 18:48] byrondevonwall commented on #1613
Thanks for the quick response, I will work on a repro repo and hopefully have one fairly soon.

[2018-03-14 18:56] kitten commented on #1613
Actually, I have a hypothesis. It might be that a jsdom environment in enzyme and jest resets the head element, without styled-components being reset.

In 3.2 we're now attempting to keep all elements together. So we're appending to the last style tag's parent and are inserting the new style tag after the last.

So knowing that, maybe a reset will do it. Can you try the following for me please?

[

[2018-03-14 21:50] byrondevonwall commented on #1613
I tried it as a beforeAll in the affected files, an afterAll in the files that run before the affected files, and as an async global beforeAll.  Unfortunately none of these approaches fixed the issue.

I think that your hypothesis is correct (or not incorrect) though, because each of the files that fail when run as part of a larger suite pass when run individually.

I will look into modifying your

[2018-03-15 07:08] denkristoffer commented on #1546
How would you style a styled component created with `withComponent`? Currently I sometimes do
[code]

Will the following work instead?
[code]

[2018-03-15 07:09] mxstbr commented on #1546
@denkristoffer yes.

[2018-03-15 08:28] mikhailrojo commented on #1487
So is it ```const {StyleSheet} = require('styled-components').__DO_NOT_USE_OR_YOU_WILL_BE_HAUNTED_BY_SPOOKY_GHOSTS;``` now the official and unique way for css extraction code on the server?

[2018-03-15 08:54] kitten commented on #1487
@mikhailrojo no, on the server it’s our SSR APIs. Also, the name here implies it’s not “official” or recommended in that sense

[2018-03-15 16:56] mujuni88 commented on #439
I created a simple helper method. Let me know what you guys think:
[code]

[2018-03-15 17:26] diondiondion commented on #1604
Why not just call it `Wrapper`, without being extra specific? If you use babel-plugin-styled-components, your class name will then be `ProductDetail_Wrapper`.

That's one of the nice things about styled-components: you don't really have to worry about naming all that much.

As to your next example:

You could give your component another name during the import:
`import { Image as StyledImage, Image

[2018-03-15 17:29] diondiondion commented on #1604
By the way, I think this is quite an interesting discussion, but it's not really an "issue" with styled-components. Would be a good fit for a topic in styled-component's Spectrum channel: https://spectrum.chat/styled-components

[2018-03-15 19:52] dennishansen commented on #362
Can we re-open this issue for support of react-native-web? Works for me by installing react-native-web and then wrapping react-native components with `styled(Text)`, however, it looks like all of my props are going straight to the DOM node, causing warnings like

Anyway, great progress so far!

[2018-03-15 19:54] realalexhomer opened #1615 "On Styled-Components 3, ServerStyleSheet.collectStyles creates a bunch of duplicate classes that crash browser"
## System:
 - OS: macOS Sierra 10.12.6
 - CPU: x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
 - Free Memory: 510.73 MB
 - Total Memory: 16.00 GB
 - Shell: /bin/bash - 3.2.57
## Binaries:
 - Node: 9.5.0
 - Yarn: 1.5.1
 - npm: 5.6.0
 - Watchman: Not Found
## npmPackages:
### babel-plugin-styled-components:
 - wanted: ^1.5.1
 - installed: 1.5.1
### styled-components:
 - wanted: ^3.2.1
 - installed: 3

[2018-03-15 20:27] kitten commented on #1615
I modified one of our tests and can not reproduce this behaviour unfortunately

[code]

I'm also running a Next.js setup on a fresh project (created yesterday) and am also not seeing this behaviour there.

Can you please provide some code snippets of how you're using styled-components and maybe some of those accumulating SSR CSS tags/rules you're referring to?

I think it might be a usage issue? L

[2018-03-15 20:29] kitten commented on #1613
@byrondevonwall you could try `StyleSheet.reset(true)` to force it into a server-side rendered result. That'll maybe break some of your tests depending on what you're doing, but this could show us whether this actually seems to be the issue

[2018-03-15 20:30] kitten commented on #1610
@edqd hiya, do you have some update of what's going on? As we haven't heard similar reports of this, I'm inclined to close this for now. But I'd love to help you fix this 🙌

[2018-03-15 20:37] realalexhomer commented on #1615
Ok thanks, I'll get a better reproduction going and post it here

[2018-03-15 20:50] darkowic commented on #1507
I can confirm that the problem is fixed in the new version - 3.2.0. Sorry for not providing the reproduction example on time... And thank you for this great library!

[2018-03-15 20:50] #1507 closed

[2018-03-15 21:42] lazopm opened #1616 "Dynamic component tag without creating new styled components"
We have components that needs to have their html tag set dynamically based on props/children type.
We are concerned about potential memory leaks from creating styled components in the render method.

For example we have a heading component that needs to set its `h<level>` based on a prop.
Another example is a component that takes on the type of its only child.

The first solution I  thought about

[2018-03-15 22:29] kitten commented on #1616
I have some rather untested code on CodeSandbox that I wrote because of ppl asking for it :) https://codesandbox.io/s/n5nRmZBv4

I don’t think it’s a good idea to create a whole lot of tags before hand as those can really be a lot after a while. So try to avoid that.

Also, consider making more separate components if possible. Small and specialised styledcomponents definitely beat larger ones in m

[2018-03-16 02:09] duro commented on #1442
Has any movement been made on this? I'm starting a new project, and considering downgrading to SC 2.x to resolve this, but would ideally not want to do that.

[2018-03-16 07:55] FredyC commented on #1442
Yea, I am sticking to 2.x for now as well. I am not feeling that strong in TypeScript just yet to solo produce quality typings for this.

[2018-03-16 09:04] daviddelusenet commented on #1604
@diondiondion thanks for your response!

At the moment I'm not using `babel-plugin-styled-components` but I'm definitely gonna add it to my project today.

I went with `ProductDetailWrapper` to add some context to the render function. Almost every component I build so far starts with a wrapper component. If I would just all call them `Wrapper` it would be hard to distinguish which component you're

[2018-03-16 11:13] #1604 closed

[2018-03-16 11:13] mxstbr commented on #1442
You can still use `styled-components/native` in 3.x as a temporary fix for TypeScript.

[2018-03-16 11:13] #1616 closed

[2018-03-16 16:33] Igorbek commented on #1442
@mxstbr is it possible to not deprecate `styled-components/native` until it's sorted out?

[2018-03-16 16:49] kitten commented on #1442
@Igorbek it's currently not outputting any warning or anything, and we're not planning to remove it for now :)

[2018-03-16 18:58] nahankid commented on #388
Hi, do props work in pseudo elements?

[2018-03-16 22:03] rgcalsaverini commented on #443
Having the exact same issue

[2018-03-16 22:27] k15a commented on #388
Yes

[2018-03-17 20:24] sanex3339 commented on #1610
3.1.0 breaked all my styles in prod, now with 3.2.0 in prod they works but breaked in dev

[2018-03-17 20:34] kitten commented on #1610
@sanex3339 I mean, there's not really anything to go after here. Sorry, if you're already at the point of being frustrated, but especially if you went from sth wrong with 3.1 to sth wrong with 3.2, where a huge refactor took place in-between. It's likely to be a usage error.

Please try to find out if you are using duplicated styled-components modules, and open a new issue if you can't resolve the

[2018-03-18 01:16] kitten opened #1617 "RFC: Temporarily fork and develop a separate native version"
## Summary

Let's start a separate "styled-native-next" fork that'd be used to:

- Rewrite large parts of our codebase (especially the ones providing legacy hacks and support)
- Provide the opportunity to split out a "core" package which can be used for the web library eventually from this rewrite
- Improve React Native support and performance
- Provide a breeding ground for our ISTF/Sweetsour eff

[2018-03-18 01:22] kitten opened #1618 "Remove deprecated ThemeProvider channel"
We have had this deprecated theme channel for a while now, and it should be removed.

It's quite a simple task since nothing should be depending on it anymore, but it does involve some "housekeeping" task of checking whether there's any leftovers, renaming the new `CHANNEL`, and checking libraries that might depend on it still.

https://github.com/styled-components/styled-components/blob/master/sr

[2018-03-18 01:24] kitten opened #1619 "Deprecate experimental preprocess mode"
We had this `preprocess` mode for a while which has been replaced by our ISTF/Sweetsour effort. The old approach was deeply flawed and is borderline unusable.

I still see people from time to time who are switching it on, believing that it would work as intended.

This task involves the deprecation (and future removal potentially) of this mode, so that we can delete its bundles.

The tasks under t

[2018-03-18 03:25] corysimmons commented on #1036
@ezsper @gabiseabra Thank you! This is beautiful and makes animations a joy to work with.

[2018-03-18 03:27] acjay opened #1620 "Proposal: styled can take function returning css tagged string"
In a styled component that takes a lot of input from its props and needs to do intermediate calculations, it can be really cumbersome. Here's some real code we have (apologies for the lack of context, but wanted to illustrate the situation):

[code]

This was refactored from:

[code]

What I'd like is more like:

[code]

So basically, I want the straightforward syntax of the first example (no nest

[2018-03-18 03:55] granmoe commented on #1036
I'm throwing my hat in the ring. I've used a slightly different, more minimal approach: https://github.com/granmoe/styled-animate

[2018-03-18 04:05] corysimmons commented on #1036
Gonna try to get one of these working with https://github.com/cheapsteak/react-transition-group-plus (Sarah Drasner mentioned this pairs well with GSAP which is exciting), and react-router for cancelable/reversable page transitions 🤤. Will post boilerplate if I get it.

[2018-03-18 06:18] migueloller commented on #659
Here's a solution that worked for us:

[code]

[2018-03-18 06:51] wmertens commented on #1620
I would also like this, as well as maybe being able to pass a style object
directly.

I know that @mxstbr is not a fan of extending the API, but maybe this will
sway him :)

On Sun, Mar 18, 2018, 4:27 AM Alan Johnson, <notifications@github.com>
wrote:

[2018-03-18 11:25] kitten commented on #1620
Both APIs you’re proposing are not impossible right now and seem like they make things simpler. But with good helper functions and segregated interpolations you gain a lot more. By removing duplication that becomes excessively long you will probably come up with some good helpers and props for your components.

Now, I think the presented use case there with four different border properties is kind

[2018-03-18 13:48] SyedAman opened #1621 "When using jest to test a React Native component that's using styled-components, I get a ReferenceError: document is not defined."
When using `jest` to test a React Native component that's using `styled-components`, I get a `ReferenceError: document is not defined`.

This most likely has to do with the fact that React Native runs on a Node environment and not a browser.
Perhaps this may be a `jest` issue., but I have noticed this only happens when I used `styled-components`.

## Environment
Windows 10
Node  v7.3.0
Yarn v1.2.1

[2018-03-18 13:57] kitten commented on #1621
This is a well known issue that occurs because Jest is not resolving the native tests in the same way. There's a workaround that was mentioned here: https://github.com/styled-components/styled-components/issues/1495

So I'll flag this as a duplicate of #1495

Btw, you have more options than this:

[code]

So generally you'd use the shorthand:

[code]

Or you can use the explicit import of `/native

[2018-03-18 13:57] #1621 closed

[2018-03-18 13:58] probablyup commented on #1621
Can also use moduleNameMapper in jest to remap styled-components to
styled-components/native
On Sun, Mar 18, 2018 at 9:57 AM Phil Plückthun <notifications@github.com>
wrote:

[2018-03-18 14:00] kitten commented on #1495
@mxstbr at some point I renamed the native file here https://github.com/styled-components/styled-components/blob/master/package.json#L9

I renamed it from `dist/styled-components.native.cjs.js` to `dist/styled-components.cjs.native.js` but it was renamed back by someone at some point? Assuming that Jest resolves `./dist/styled-components.browser.cjs.js` by default, if we rename this correctly woul

[2018-03-18 14:13] SyedAman commented on #1621
thanks guys :)

did you mean this is a duplicate of #1451?

[2018-03-19 09:16] mxstbr commented on #1618
We should probably just do this in one sweep while moving to the new context API, ref #1459

[2018-03-19 13:31] boazhoch opened #1622 "Using styled-components and puppeteer"
So I am using puppeteer for E2E test and I would like to test for a div with a certain class name.

`document.querySelctor('classname')`

but I don't know what is the generated class name by styled-components, How can I test it then?

[2018-03-19 13:38] probablyup commented on #1622
Don’t. Use something else like a data selector or HTML id to query since
they will be stable.

The pattern we use at my work is data-test=“component-name”
On Mon, Mar 19, 2018 at 9:31 AM Boaz <notifications@github.com> wrote:

[2018-03-19 13:45] mxstbr commented on #1622
I swear we had a note about this in the docs before, but I can't seem to find it anymore :confused:

We use `data-e2e-id` in our codebase!

[2018-03-19 13:45] #1622 closed

[2018-03-19 19:28] Samatar26 commented on #1619
@kitten Can I work on this one?

[2018-03-19 21:47] mxstbr commented on #1619
Yes please!

[2018-03-19 22:12] kitten commented on #1619
@Samatar26 Absolutely! And please let me know if you need any help 🙌

[2018-03-20 06:47] rockmandash opened #1623 "Adding GatsbyJS Path Prefix breaks styled-components in production."
Adding Path Prefix breaks styled-components in production.
The style is broken, no console error.
However, without path prefix, everything is fine.
e.g.
test.com -> fine
test.com/test -> style breaks when using styled-components

Here is the gatsby-plugin-styled-components code
gatsby-ssr.js
[code]

[2018-03-20 06:55] probablyup commented on #1623
Given that it only breaks when navigating off of root, it sounds like gatsby might be doing some sort of style extraction and is possibly not referencing it correctly in the generated index file.

Would need to see a reproduction repository to know for sure though. This sort of question is generally better suited for Stack Overflow etc, I doubt it is a styled components bug.

[2018-03-20 08:04] edqd commented on #1610
Yep sry guys for not replying, i had to focus on other matter, im looking into the issue right now, about to try to find out whether we have any duplications of sc lib or whether there are any monkey business with moving around of styled-components

[2018-03-20 08:18] FourwingsY commented on #1593
In my case, i am not using `@import` but met same issue.
while I've set my `@font-face` rules with `injectGlobal`, some non-global styles used from components are combined into same `<style data-styled-components>` tags.

So when i changed first time on some props like `<OtherStyledComponent show={true}>`
some conditional styles are loaded into `<style>` tag, and re-calculate whole styles in that

[2018-03-20 09:32] rockmandash commented on #1623
@probablyup Thank you for your reply, this definitely not styled-components bug.
I just wondering if someone knows how to manage it.

[2018-03-20 09:44] kitten commented on #1623
@rockmandash have you opened an issue over at Gatsby? It’d be great to link there since this is not really an issue for styled-components ;)

[2018-03-20 10:03] rockmandash commented on #1623
@kitten Yes, I have asked here
https://github.com/gatsbyjs/gatsby/issues/4623

Just looking for more opportunity.
I am so sorry that I just found out with or without path prefix, the production style will break anyway.

[2018-03-20 10:37] edqd commented on #1610
Alright so status report:
- we had a duplicated styled-components lib in one of our dependencies => we moved set it as peerDependency but the problem still persisted so
- i tried to remove any usage of innerRefs we have which solved the issue
Now i'm trying to figure out which concrete usage was breaking the app, since we still need to use refs

[2018-03-20 10:50] kitten commented on #1610
@edqd

Now i'm trying to figure out which concrete usage was breaking the app, since we still need to use refs

This sounds kind of unrelated; Let's see what's going on

If the problem persisted then I'd guess it didn't quite work. This can happen if your environment still installs `devDependencies`. The node resolution algorithm won't know that something is a `peerDependency`, so make sure that y

[2018-03-20 11:02] edqd commented on #1610
sorry maybe i made myself unclear. setting styled-components as peerDependency removed duplicated SC lib in our bundle and if check whats being installed, sure enough it's not there:
[code]
and when i check bundle-analyzer its there once too.
but i noticed that there are three of these errors upon pageload and there are three instances of innerRef usage on the first view so i started to suspect so

[2018-03-20 11:31] rockmandash commented on #1623
I think the problem is GatsbyJS doesn't support Fragment, so it missed several ids, so the stylesheet looks weird.

[2018-03-20 11:31] #1623 closed

[2018-03-20 11:34] kitten commented on #1610
@edqd ah, okay, sorry for the misunderstanding 😵

Can you by any chance post one of these components and their usage? Maybe it’s something obvious. If it’s not we can always try a CodeSandbox

[2018-03-20 11:57] edqd commented on #1610
Alright i stand corrected, upon erasing whole node_modules and reinstalling whole repo from scratch, everything started working as expected. With no other change the act of moving the styled-components to peerDependencies on our lib module was the correct thing to do as it fixed the problem you foresaw in the beginning. 😄 i have no idea how could it happen that the styled-components was not visibl

[2018-03-20 11:57] #1610 closed

[2018-03-20 14:04] kitten commented on #1615
@realalexhomer any news? :)

[2018-03-20 14:05] realalexhomer commented on #1615
Hey thanks, I was super busy this weekend but I will get it going today
hopefully!

On Tue, Mar 20, 2018 at 10:04 AM, Phil Plückthun <notifications@github.com>
wrote:

[2018-03-20 14:31] pekala commented on #1603
I also asked Hotjar support about this issue, and they are away of it.

[code]

If this kind of tools can figure out support for `insertRule` then maybe making that separate bundle is not needed. But I'm not sure if it's technically possible to extract these styles.

[2018-03-20 14:42] tabrindle commented on #1603
@kitten I think we talked about doing something similar back in https://github.com/styled-components/styled-components/issues/1497 - basically a way to switch off speedy in production for debugging or places where it's not supported.

[2018-03-20 15:22] kitten commented on #1603
@tabrindle yes, the difference here is that the idea would be to add a separate bundle; It'd achieve the same thing but would be less controversial, as in it doesn't have any implications for our API

[2018-03-20 18:25] bringking opened #1624 "SSR Memory Leak SC - 3.2.3"
## Environment

## System:
 - OS: Linux 3.13
 - CPU: x64 Intel(R) Xeon(R) CPU E5-2666 v3 @ 2.90GHz
 - Free Memory: 723.59 MB
 - Total Memory: 7.30 GB
 - Shell: ¯\_(ツ)_/¯
## Binaries:
 - Node: 8.4.0
 - Yarn: 0.27.5
 - npm: 5.3.0
 - Watchman: Not Found
## npmPackages:
### babel-plugin-styled-components:
 - wanted: ~1.5.0
 - installed: 1.5.0
### styled-components:
 - wanted: 3.2.3
 - installed: 3.2.3

[2018-03-20 18:50] zomars commented on #1309
Why this is not a thing yet?

[2018-03-20 19:57] kitten commented on #1624
It’s completely normal for the tagMap to grow as we’re saving the order of creation for every single component with a corresponding tag to ensure complete consistency in specificity.

We might be able to garbage collect some of that but I haven’t quite thought about that too much, since it’s a tricky problem to solve.

3.2.3 already improves this behaviour and garbage collects server Stylesheets.

[2018-03-20 20:50] bringking commented on #1624
@kitten Thanks for the info. I am thinking it is something on our end that is creating a non-deterministic server render. For example, running this

`Array.from(document.querySelector('[data-styled-components]').sheet.rules).map(r => r.selectorText).filter(selectorText => selectorText).join('\n')`

on the https://weedmaps.com/deals page results in some different hashes on every page reload. Which

[2018-03-20 20:53] bringking commented on #1624
@kitten also, regarding the extra code, that is a MobX function, I will remove it for clarity

[2018-03-20 20:57] pnkapadia6 commented on #1618
Hey @kitten @mxstbr! Should I give it a try and remove ThemeProvider channel or the changes will be made alongwith the new context API itself?

[2018-03-20 21:15] kitten commented on #1624
@bringking regarding that code snippet, what is it being used for, since I thought we're talking about an SSR leak. Maybe I misunderstood parts of your issue description? 😅

Btw, `Element#sheet` won't work on all browsers; Not related but since I'm already seeing this, I might as well point it out :smile: https://github.com/styled-components/styled-components/blob/master/src/utils/insertRuleHelper

[2018-03-20 21:28] bringking commented on #1624
@kitten sorry yeah we def. are talking about SSR, but assuming we are using the babel plugin, I was using that to find were we might have non-deterministic tags being created on every render.

[2018-03-20 23:59] bringking commented on #1624
@kitten I have tracked this down and we are creating dynamic components at runtime. This is causing the server render to not be deterministic across page refreshes. I would imagine this is causing the tagMap to grow indefinitely as well. Closing this, as we can fix on our side. Thanks for your work and patience

[2018-03-20 23:59] #1624 closed

[2018-03-21 02:41] chengjianhua commented on #1619
@kitten Hi ~ I'm very curious about the progress of the ISTF since I read the article you wrote. Could you mind to open a issue to introduce the great works you have done ?

It's amazing 😍 and I'm waiting for the appearance of the implementation, but I can't know any state changes about it, so sad 🙈. I'll appreciate that if you can introduce more progress about the ISTF, thx ~

[2018-03-21 03:45] secreter opened #1625 "TypeError: Path must be a string. Received undefined"
I have something wrong.I write a demo likes this.
[code]

[code]
and then I get the error massage
[code]

[2018-03-21 07:01] morajabi commented on #1309
@sebasgarcep

Actually, @kitten meant we can add media queries support for RN by mixing Dimensions window API with `styled-media-query` to make it work there as well :)

[2018-03-21 09:28] kitten commented on #1625
This is indeed a little weird, however I’ll need to ask for a reproduction please :)

The general reasoning here is, time that we spent on reproductions is essentially wasted and could be spent on something else, be it for styled-components or not. Since whether you can reproduce this bug is a big part of if it’s a usage error or not, that already saves us from some false positives

Cheers :)

[2018-03-21 10:06] kitten commented on #1619
@chengjianhua hiya :) the latest progress can be seen on the Sweetsour repo. https://github.com/kitten/sweetsour

I’m mindful of posting any kind of timeline as I don’t have time to work on it continuously. That being said the parser itself is pretty much done and the next idea on how to proceed might be #1617

[2018-03-21 11:27] rodocite commented on #1619
@kitten Was surfing the issues and saw this. I know @Samatar26 is working on it, but was just wondering if this block is what you're talking about:

https://github.com/styled-components/styled-components/blob/75502fbf1f1fb413eeafd3f9f4cadfe06f646df6/sandbox/server/webpack.config.js#L33

[2018-03-21 11:31] kitten commented on #1619
@rodocite no, specifically what we're referring to is:

- https://github.com/styled-components/styled-components/tree/master/no-parser
- https://github.com/styled-components/styled-components/tree/master/src/no-parser
- https://github.com/styled-components/styled-components/blob/master/rollup.config.js#L149-L162
- https://github.com/styled-components/babel-plugin-styled-components/tree/master/src/

[2018-03-21 12:59] CyrusZei opened #1626 "target specific browser and give them specific rules ?"
Hi guys,

I cant find a way to target for example Firefox and give it a specific rules.

My problem is this : I am using react and styled components for all the styling. I am using chrome as my browser and when I look at Firefox there are some stuffs that are not correct. So I need to add som rules, but I only want to add those rules if it is Firefox.

Any suggestions on how to approach this ?

[2018-03-21 13:09] mxstbr commented on #1626
This has nothing to do with styled-components, it's a CSS question! Maybe try something like https://stackoverflow.com/questions/952861/targeting-only-firefox-with-css?

[2018-03-21 13:09] #1626 closed

[2018-03-21 16:37] ryall commented on #1349
Same issue in TypeScript. I cannot use `color` as any type other than string - even if the type is defined in my custom props.

[2018-03-21 18:25] adamellsworth commented on #1590
Does this kind of thing even belong in the output of an npm command during install/postinstall?

As npm is a __package manager__ I'm of the opinion any messages not related to the package's version or its peer dependencies should not appear __installation__ or __updating__ of those packages.

If people wanted to install this package they'd go to npm, github, or your website. Readme's and Webpages

[2018-03-21 21:42] acjay commented on #1620
@kitten Thanks for the feedback!

I don't think I fully understand what you're proposing as an alternative, although I think there's a pretty good chance that there are other solutions that I just haven't thought of. Just to be clear, when you say "good helper functions", do you mean my first example? I can certainly live with this approach, but my overall point was just that it breaks encapsulati

[2018-03-22 09:57] tzs34 commented on #154
I'm trying to do something similar. I'd say you need to setState via your event and use the pass props in approach to fire our animation.  See the docs for passed in props

[2018-03-22 11:26] jcampbell05 opened #1627 "pseudo elements having no effect on primitives API"
## Environment

## System:
 - OS: macOS Sierra 10.12.6
 - CPU: x64 Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz
 - Free Memory: 479.27 MB
 - Total Memory: 16.00 GB
 - Shell: /bin/zsh - 5.2
## Binaries:
 - Node: 8.9.4
 - Yarn: 1.3.2
 - npm: 5.6.0
 - Watchman: 4.9.0
## npmPackages:
### styled-components:
 - wanted: ^3.2.3
 - installed: 3.2.3

## Reproduction

Create a project with react-primitives and

[2018-03-22 11:33] mxstbr commented on #1627
That's a react-native-web thing, they don't allow pseudo selectors.

[2018-03-22 11:33] #1627 closed

[2018-03-22 11:33] mxstbr commented on #1627
I don't have a source for that decision, /cc @necolas who'll surely be able to point you to it!

[2018-03-22 11:53] jcampbell05 commented on #1627
Ah thanks for the info :) Is there any recommendation on how we can implement this ? Just use javascript events ?

[2018-03-22 11:56] mxstbr commented on #1627
Yep, using JavaScript events!

[2018-03-22 11:57] jcampbell05 commented on #1627
Gotcha, thanks for your help :) Realise this is out of the scope for primtives, so thank you :)

[2018-03-22 12:53] alejandrodnm commented on #1349
@sohkai have you tried doing something like this?

[code]

[2018-03-22 13:54] necolas commented on #1627
React Native doesn't support CSS selectors (this lib should probably print a warning when they are passed to react native). You can use this though https://gist.github.com/necolas/1c494e44e23eb7f8c5864a2fac66299a

[2018-03-22 14:55] richardwestenra commented on #439
I'm not sure where we're at with this, but here's an alternative suggestion for the namespace solution: Prefix attributes that you want to prevent being passed to the HTML element, much like the existing `data-` HTML prefix. Example:
[code]

I'm against PropTypes-based solutions as I don't think we should force people to use PropTypes, and we should be keeping this all in one place where possible.

[2018-03-22 15:43] wmertens commented on #439
Indeed, automatically stripping `sc-` and not forwarding those props to the child is a perfect solution IMHO 👍

[2018-03-22 18:14] sohkai commented on #1349
@alejandrodnm We switched to not using Flow, but I have not tried that. It does seem like a good workaround for now though.

[2018-03-22 18:39] zomars commented on #989
I'm guessing this is not supported also:

[code]

Am I right?

[2018-03-22 21:09] ckknight opened #1628 "opencollective dependency requires strange versions"
Now that `opencollective` is a dependency (not a devDependency), it is requiring `babel-polyfill@6.23.0` whereas if it were to require `babel-polyfill@^6.23.0`, that would appropriately evaluate to `babel-polyfill@6.26.0`. There are 5 other libraries with similar exact dependencies.

In order to not install all these unnecessary duplicates, I'm now required to put overrides in the `resolutions` of

[2018-03-22 21:58] Ky6uk opened #1629 "Selector "& + &" not working on deep levels"
I tried to use `& + &` selector and it works well on the first level

[code]

but if I tried to use it on the one more level deeply it just do nothing

[code]

There is an example https://codesandbox.io/s/ppv4no73p7

[2018-03-23 00:50] rodocite opened #1630 "Contextual selectors processed to BEM"
Since contextual selectors are allowed, would it be a feasible feature to transform the contextual selectors into standard BEM?

So something like this:
[code]

Would render something like this:
[code]

This is a contrived example using the adjacent-sibling selector, but I was thinking it would improve performance when using more common contextual selectors such as child, nested, parent-child, etc

[2018-03-23 06:43] RomanGotsiy commented on #1506
This is typescript issue: https://github.com/Microsoft/TypeScript/issues/9944

[2018-03-23 11:00] kitten commented on #1630
No, I don’t see it as being a possible feature.

The element you’re targeting is outside of our reach since it’s not part of what the component renders.

In the styles-component paradigm you’d create another StyledComponent representing that p tag, at which point you could use a reverse selector instead.

https://www.styled-components.com/docs/advanced#referring-to-other-components

I don’t think

[2018-03-23 18:49] darthtrevino commented on #1417
So So I have a slightly different problem, but related to the style caching. I'm using styled-components within an iframe on a PowerBI visual. These are instantiated pretty frequently as you switch around report pages. I'm using the StyleSheetManager to target my iframe and inject styles into the head. This works the first time, but when this frame re-renders the styles are gone from the iframe do

[2018-03-23 19:02] kitten commented on #1417
@darthrevino can you open a new issue please? I don’t see this being related and this is a stale issue 😉

[2018-03-23 19:03] kitten commented on #1417
Addressed by https://github.com/styled-components/styled-components/pull/1599

[2018-03-23 19:03] #1417 closed

[2018-03-23 19:06] berkaey opened #1633 "Uncaught Error in prod (StyleSheetManager)"
Hey there,

I'm getting an _Uncaught Error_ in production (cra build) error happens inside sheetForTag.

PS: I'm developing a react test tool called react-scenes and I used StyleSheetManager to collect styles. with target like

[code]

BTW, everything is just works on dev. env. without any issues or errors.

[code]

## Environment

## System:
 - OS: macOS High Sierra 10.13.3
 - CPU: x64 Intel(R) C

[2018-03-23 19:11] kitten commented on #1633
Can you follow the steps detailed in the comments in the following issue please? It’s likely the same cause https://github.com/styled-components/styled-components/issues/1610#comment-372965065

By the way, the target prop on the StyleSheetManager is currently unlikely work in combination with SSR, if that’s part of your environment.

If the above instructions in the issue don’t solve your issue we

[2018-03-23 19:12] darthtrevino commented on #1417
Aye aye

[2018-03-23 19:16] darthtrevino opened #1634 "Style Cache not invalidated when StyleSheetManager target is removed"
## Environment
## System:
 - OS: macOS High Sierra 10.13.3
 - CPU: x64 Intel(R) Core(TM) i7-2860QM CPU @ 2.50GHz
 - Free Memory: 494.87 MB
 - Total Memory: 8.00 GB
 - Shell: /usr/local/bin/fish - 2.7.1
## Binaries:
 - Node: 8.9.4
 - Yarn: 1.5.1
 - npm: 5.7.1
 - Watchman: 4.7.0
## npmPackages:
### styled-components:
 - wanted: ^3.2.3
 - installed: 3.2.3
## Reproduction

I'm using styled-components

[2018-03-23 19:21] kitten commented on #1634
So I don’t have a lot of confidence in the StyleSheetManageer target prop. It simply is not a good solution as of now, won’t work with SSR, and is just a way to make some hacky solutions work.

I’m not familiar with the tool you’re working so I’d need more info on how you’re instantiating the iframe and what you’re doing with its content.

In theory when the StyleSheetManager mounts with this prop

[2018-03-23 19:29] darthtrevino commented on #1634
Sure, I'm working on a test for it, I *should* be able to demonstrate it in a test

[2018-03-23 19:33] berkaey commented on #1633
I already tried and read that issue, and no there is no SSR setup I actually just want to build a static react app with CRA and its build. You can easily reproduce by

1. `npm install react-scenes-cli -g`
2. go to your desktop
3. `mkdir demo && cd demo`
4. `setReactScenes`
5. `cd .scenes && yarn`
6. `yarn build`
7. `serve -s build`

[2018-03-23 19:35] berkaey commented on #1633
you can also check here [https://github.com/doubco/react-scenes/blob/master/src/Frame.js](https://github.com/doubco/react-scenes/blob/master/src/Frame.js)

[2018-03-23 20:05] berkaey commented on #1633
Looks like somehow directly related to NODE_ENV, I ejected cra and manually changed process.env.NODE_ENV  to development in webpack config, it just worked again.

[2018-03-23 20:07] kitten commented on #1634
https://github.com/styled-components/styled-components/pull/1635#issuecomment-375783246

Left a comment here 😅 tl;dr this might be enough to get a hack done, but just to clarify, it's not something that I see as an expectation/feature of the main library. it might not even be 100% possible and clean since `StyleSheetManager` is so brittle

[2018-03-23 20:09] kitten commented on #1633
@berkaey Sorry, I won't have enough time to look at this today. It's definitely related to https://github.com/styled-components/styled-components/issues/1634 interestingly.

So, summary is, in production we're performing `insertRule` style injection, so your expectations are breaking. I'm not sure whether your code and repo will correctly represent **what you're trying to do**, so just to be on th

[2018-03-23 20:16] berkaey commented on #1633
Normally, react-scenes probably works only under development environments, (I also just faced the issue while trying to create a demo page.) so not a huge issue for me but basically, I want to collect styles before/after rendering so I can inject to iframe (react-scenes works like storybook without separate compiling process). if you have any more questions, just ask ;)

[2018-03-23 20:28] kitten commented on #1633
[code]

Would this work? This assumes that you care about a "server-side render"-like output in the browser, is that correct?

[2018-03-23 21:16] berkaey commented on #1633
Yes exactly
[code]
^^^ for SSR but I guess your workarond does the same/similar thing
, I will definitely try tomorrow and report here, thanks.

[2018-03-24 07:52] berkaey commented on #1633
with your suggestion, I guess I will get all generated styles right? because I only need
[code]
FrameComponent and its children styles(css) so I can only inject that to iframe. so while testing your component iframe will be separated from app itself (app itself uses styled components too.)

[2018-03-24 12:01] adeelshahid commented on #844
@jonathanlie @sergop321 use where styled-components where necessary otherwise you can enable css-modules in post-css and then use the postcss-rtl or similar plugin on top to get the desired outcome.

[2018-03-24 18:33] kachkaev commented on #1239
I'm here from google. Had the same issue just now despite that all settings in `.babelrc` were correct. Interestingly, the warning only concerned one file, where a styled-component was on its own:

[code]

A fix was easy, but not very straightforward – I discovered it just by an accident 😅

[code]

[2018-03-25 02:39] nickytonline commented on #216
@kitten, with the latest SC and Preact, do both play nice together still, i.e. "Styled-components does work with preact-compat perfectly", https://github.com/styled-components/styled-components/issues/216#issuecomment-294281740 ? It's not officially supported but it should be all good, right?

Just trying to validate this before I propose it on a Preact project.

P.S.: Keep up the great work! 🔥

[2018-03-25 13:40] kitten commented on #216
@nickytonline it should still work perfectly :) I’m using preach-compare in some projects in combination with styled-components and I know several other people who do the same so no worries 👍

[2018-03-25 13:47] nickytonline commented on #216
Cool beans. Thanks @kitten

[2018-03-25 17:03] raulfdm commented on #1239
@kachkaev Unfortunately this solution won't fix this problem! :/ I've refactor all my components to be like it but I still get it.

[2018-03-25 18:16] kitten commented on #1239
I've seen a couple of similar reports to this and most of the times it's due to the old Babel config `env` problem unfortunately.

See: https://www.styled-components.com/docs/tooling#babel-plugin

### Quote

https://github.com/styled-components/babel-plugin-styled-components/issues/78

### Regarding this issue

Since everyone here is experiencing different causes to the same problem, I'm afraid th

[2018-03-25 18:38] CarloPalinckx opened #1638 "Typescript: Discriminated union as props breaks without casting."
## Environment

## System:
 - OS: macOS High Sierra 10.13.1
 - CPU: x64 Intel(R) Core(TM) i7-6567U CPU @ 3.30GHz
 - Free Memory: 2.58 GB
 - Total Memory: 16.00 GB
 - Shell: /bin/bash - 3.2.57
## Binaries:
 - Node: 8.7.0
 - Yarn: 1.2.1
 - npm: 5.6.0
 - Watchman: Not Found
## npmPackages:
### styled-components:
 - wanted: ^3.2.3
 - installed: 3.2.3

## Reproduction
repo -> https://github.com/CarloPa

[2018-03-26 09:34] Havret opened #1640 "Wrong typings: 'ReadableStream from NodeJS namespace which is not present'"
## Environment
## System:
 - OS: Windows 10
 - CPU: x64 Intel(R) Core(TM) i5-4340M CPU @ 2.90GHz
 - Free Memory: 3.31 GB
 - Total Memory: 15.69 GB
 - Shell: ¯\_(ツ)_/¯
## Binaries:
 - Node: 8.9.4
 - Yarn: 1.3.2
 - npm: 5.6.0
 - Watchman: Not Found
## npmPackages:
### styled-components:
 - wanted: ^3.2.3
 - installed: 3.2.3

The system cannot find the path specified.

## Reproduction

in [at-loader]

[2018-03-26 12:35] ekfuhrmann opened #1641 "Function within a function adding commas"
Perhaps related to #1392

## Environment
## System:
 - OS: macOS High Sierra 10.13.1
 - CPU: x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
 - Free Memory: 669.71 MB
 - Total Memory: 16.00 GB
 - Shell: /bin/zsh - 5.3
## Binaries:
 - Node: 9.8.0
 - Yarn: 1.5.1
 - npm: 5.7.1
 - Watchman: Not Found
## npmPackages:
### babel-plugin-styled-components:
 - wanted: ^1.5.1
 - installed: 1.5.1
### styled-com

[2018-03-26 12:43] ekfuhrmann commented on #1641
Perhaps related to #1392

[2018-03-26 14:51] kitten commented on #1641
This is because you’re console logging the “css” output.

That function will interleaved interpolations and strings. Thus it’s output will simply be an array. As you’re console logging it, the output will be strinfified this giving you this result.

The example looks fine though; I’d avoid leaving out the semicolon in your example just to make sure.

But it should work when used in an actual compo

[2018-03-26 14:51] #1641 closed

[2018-03-26 14:52] kitten commented on #1641
Oh, also, you’d probably want to use the css helper for your font function return value so you get full access to function interpolations for theming

[2018-03-26 15:39] ekfuhrmann commented on #1641
Using the css helper for the font function return did resolve the issue, thanks for the assist in getting it working!

[2018-03-26 15:40] StevenTCramer opened #1642 "Cannot find namespace 'NodeJS'."
## Environment

Environment:
  OS: Windows 10
  Node: 9.8.0
  Yarn: 1.5.1
  npm: 5.8.0
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Version  3.0.0.0 AI-171.4443003

## Reproduction
https://github.com/StevenTCramer/Issue1

## Steps to reproduce

Build a default react-native application, with Typescript and add styled-components, reference it in the app and attempt to compile causes the foll

[2018-03-27 10:30] simonpkerr commented on #887
@johannesnagl can you point me at that working solution? I can't get this working.
I've added __webpack_nonce__ to my entry point index.js like this...
[code]
this means the nonce generated on the server and injected into the template can be picked up by the react app entry point. The nonce is getting picked up from the style tag, but webpack isn't picking up the __webpack_nonce__ value.

[2018-03-27 10:41] johannesnagl commented on #887
This is our implementation!

[code]
In our layout file, which is served via PHP, we have the following, simplified code (above the script tag with the webpack-bundle of course):

[code]

[2018-03-27 11:16] simonpkerr commented on #887
that looks pretty similar to what I've got. Does the webpack_nonce value need to be set before any imports? I'm getting an error.
The nonce shown in the image below is the one in the entry point file that references \_\_webpack_nonce\_\_. So its getting picked up in the entry file.

<img width="450" alt="screen shot 2018-03-27 at 12 14 03" src="https://user-images.githubusercontent.com/995892/3796

[2018-03-27 14:01] mxstbr commented on #887
I think it has to be before any imports. Since imports are hoisted, you'll have to create a separate file (`import-nonce.js`) and import that before anything else that imports styled-components.

[2018-03-27 15:59] jaggli commented on #1603
**Disclaimer: this is a hack, you've been warned**

After some intense trial and error, I ended up by just synchronising the grabbed styles into the beginning of the `<head>` tag, so the following 'real' ones still can override everything. Synchronization is done twice per second by using getAnimationFrame(), so this might result in a style-update delay in Hotjar recordings of max 500ms, which we

[2018-03-27 20:25] hilary-L opened #1643 "Primitives text component not interpreting unitless line-height correctly"
## Environment
Environment:
  OS:  macOS Sierra 10.12.6
  Node:  9.9.0
  Yarn:  1.5.1
  npm:  5.6.0
  Watchman:  4.7.0
  Xcode:  Xcode 9.2 Build version 9C40b
  Android Studio:  3.0 AI-171.4408382

Using styled from styled-components/primitives, create a styled Text component and give it a line-height property with a unitless value. Put this styled component inside of a styled View component. Resu

[2018-03-27 22:01] kitten commented on #1643
React Natives lineHeight Style property is explicitly in px and not relative to the current font size. This is not something we can change since we don’t have access to the style cascade and parents in general.

That’s why it also applies to React Primitives

[2018-03-27 22:01] #1643 closed

[2018-03-27 22:34] hilary-L commented on #1643
If that's the case, couldn't styled-components (or perhaps react-primitives?) do some parsing to convert a unitless line-height value into one that is relative based on the set font size?

At the very least this seems like it should be documented somewhere. It's strange to be able to write standard CSS when using styled-components/primitives for *everything* but line-height.

[2018-03-28 05:30] simonpkerr commented on #887
thanks @mxstbr, that did it 👍

[2018-03-28 05:36] johannesnagl commented on #887
@simonkerr would you like to share the full setup with everyone, so that the next dev coming here has a better time then you had? #developerlove

[2018-03-28 06:39] #1638 closed

[2018-03-28 06:40] CarloPalinckx commented on #1638
This is solved by not using the declaration. Usage with type shadowing work perfectly 👌

[2018-03-28 08:03] MbF-Sathya commented on #158
thanks

[2018-03-28 08:10] kitten commented on #1643
No sorry, we really can’t (see above). We’re not guaranteed to know about the current font size. Also on React Native everything is expressed in numbers usually, and numbers mean pixel values.

You’re also not able to write standard CSS for everything, in fact most of it is React Native styling. We just have some shorthands and we need you to specify “px” as a unit in shorthand’s. That should alre

[2018-03-28 08:58] jiangbo2015 commented on #1446
[code]

[2018-03-28 09:02] simonpkerr commented on #887
@johannesnagl where would you suggest the best place to do that? I'm writing a blog post at the moment about all this stuff and was thinking of updating the webpack docs for nonces.

[2018-03-28 09:09] johannesnagl commented on #887
@simonpkerr Fixing the nonce docs is definitely needed - so +1 for this!

Regarding my comment: I would just paste a small code example here. Nevertheless, if you write a blog post, feel free to add the link here too!

[2018-03-28 11:50] simonpkerr commented on #887
So...in your server-side code you set up the nonce and expose it to your client-side code **before any other scripts are defined**
[code]

In your entry point file, import your 'create-nonce.js' file **before any files that reference styled components.**

[code]

Then in 'create-nonce.js' grab the global NONCE_ID variable...
[code]

Webpack will now add the nonce attribute to any injected script o

[2018-03-28 12:10] #1630 closed

[2018-03-28 12:28] andraaspar opened #1644 "Dependency conflicts with React"
## Environment

## System:
 - OS: Windows 10
 - CPU: x64 Intel(R) Core(TM) i7-5600U CPU @ 2.60GHz
 - Free Memory: 2.06 GB
 - Total Memory: 7.89 GB
 - Shell: ¯\_(ツ)_/¯
## Binaries:
 - Node: 8.9.3
 - Yarn: 1.5.1
 - npm: 5.8.0
 - Watchman: Not Found
## npmPackages:
### styled-components:
 - wanted: ^3.2.3
 - installed: 3.2.3

## Reproduction

## Steps to reproduce

1. Take an empty project with the f

[2018-03-28 19:20] SephReed opened #1645 "Install script contains adware"
calling `npm install` has a postinstall adware script which outputs the following text:

[code]

the adware script which injects the ad above should probably be removed.

It's understandable that you guys need money, but even if yours was the most important package in the folder this still would be unacceptable.

Can you imagine what it would be like if everyone did what you are doing here?  An en

[2018-03-28 19:30] mxstbr commented on #1645
Oh, I'm personally totally following the golden rule: I'd love to see everybody in open source make money! I'd love to see more ads in my terminal of developers trying to make a living doing what they love :100: (not an official opinion of the project)

[2018-03-28 20:43] jamiebuilds opened #1647 "[RFC] Testing selectors API"
- Browser integration testing requires some sort of attribute to identify elements in the DOM
- In the past many used `class="..."` but CSS-in-JS kills that
- Today many are manually adding some sort of `[data-test-id]` attribute
- But that's like... work... and... stuff
- Instead what if styled-components abstracted that away

For example, a component:

[code]

Then in your tests:

[code]

You ca

[2018-03-28 20:57] oviava commented on #1647
Might be besides the point but enzyme is pretty widely used as a helper for testing react apps and it has 'find' in it's api

[2018-03-28 21:10] jamiebuilds commented on #1647
Just published: https://github.com/jamiebuilds/tested-components

[2018-03-28 22:29] kitten commented on #1647
@jamiebuilds:

_publishes tested-components_ 😆

I think we might want to merge it into `jest-styled-components` maybe? Then again it's actually quite compatible to multiple testing environments.

Anyway, We might also want to introduce a babel transform for our `withConfig` hook to add some test-id attributes? It seems like a common usecase

cc @MicheleBertoli

[2018-03-28 22:32] kitten commented on #1645
Duplicate of https://github.com/styled-components/styled-components/issues/1590

Btw you can also call it the open-collective hook and not adware, as it has a name :wink:

Anyway, we discussed this before and would be totally happy to shorten this to a brief message with a link to our opencollective or removing it altogether.

cc @probablyup

[2018-03-28 22:42] AlexanderRichey commented on #400
I am using version 3.2.3 and am experiencing the same behavior described above. Every time a new style is injected - when I click on a dropdown and a new class is generated, for example - all of the fonts are reloaded and the page flickers. I am using `injectGlobal` to declare my fonts.

When I inspect the dom, I can see the two styled-components style tags, but it seems that the one that holds th

[2018-03-28 23:03] kitten commented on #400
@AlexanderRichey this is an older and stale issue, so please don't revive it :wink: we have a newer one here for this exact same behaviour: https://github.com/styled-components/styled-components/issues/1593

But there's some reasons why it's not a big deal:

- In production with `insertRule` this won't happen
- As long as you're using `@import` you should be fine

Feel free to check out the issue

[2018-03-29 03:29] probablyup commented on #1647
This is cool. Since this code is so simple, we could even just add an ES5 file at the root like:

[code]

[2018-03-29 06:17] fukaminmin opened #1648 "Styled-components styled don't update in case the components are nested."
Styled-components don't update in case the components are nested.

I created the sample easily.
If you click the box, that background color change.

Sample 1 is composed of nested component. *not changing
Sample 2 is composed of the not nested component. *change well

【Sample 1】
* nested component
[code]
![not_updating](https://user-images.githubusercontent.com/5743680/38073008-13b88668-3364-11e8-

[2018-03-29 07:24] mxstbr commented on #1645
In favor of making it shorter like nodemon!

[2018-03-29 07:59] kitten commented on #1648
“handleToggleActive” is never called in your first sample code.

Please head to Spectrum or Stack overflow with usage questions since that’s the place to go when you’d like to find out how to effectively use the lib. The issue tracker is for issues and bugs ;)

[2018-03-29 07:59] #1648 closed

[2018-03-29 08:13] fukaminmin commented on #1648
@kitten Sorry😂 It's my stupid mistakes.

[2018-03-29 08:32] kitten commented on #1648
@fulaminmin no worries :)

[2018-03-29 10:26] andraaspar commented on #1644
I am against including more than one version of dependencies in the client-side code, that's why I install client side dependencies in flat mode. Not even sure what will happen when I have 2 sets of core-js. Which one wins? This threatens the stability of the code base. This prevents the use of this library in my current setup.

Is there a suggested correct answer to the conflicts above?

Is there

[2018-03-29 17:19] jamiebuilds commented on #1647
I can just transfer `tested-components`

[2018-03-29 17:38] probablyup commented on #1647
I'll defer to your judgement @mxstbr, but my general PoV on this sort of thing is it's better to keep test utils tightly coupled to what they're testing so it's not possible for them to fall out of sync. I also prefer to make developer usage as easy as possible, and adding additional libraries to keep track of drifts from that vision.

[2018-03-30 03:06] RevolutionParts-Justin commented on #501
This solution worked perfectly for me. Great solution @k15a. More flexible than !important, but it gets the job done.

const Styledbutton = styled(Button)`
  &&& {
      font-size: 1rem;
   }
`;

[2018-03-30 09:14] #1032 closed

[2018-03-30 10:10] mxstbr commented on #501
There's a Babel plugin that does this automatically for you now! https://github.com/QuickBase/babel-plugin-styled-components-css-namespace

[2018-03-30 10:11] mxstbr commented on #1647
Yeah that's a good point @probablyup. I think the monorepo should help us keep stuff in sync, but I guess until then we could add `/test`. @jamiebuilds wanna submit a PR that adds `styled-components/test`?

[2018-03-30 10:12] mxstbr commented on #1644
I'm not sure why this is happening at all, honestly, sorry.

[2018-03-30 12:45] kitten commented on #1644
I’m not quite sure where these conflicts stem from but a lot of things can go awry with flat installs.

I don’t recognise them as things that will be bundled actually. We have a flat bundle that pulls in just a couple of packages, so regular installs will be fine. But I’ll take a look

[2018-03-30 12:53] dkfiresky commented on #1644
I think it's the expected behavior:

(https://yarnpkg.com/en/docs/cli/install#toc-yarn-install-flat)

Does it matter if `styled-components` and `react` or any other package have the same dependencies?

[2018-03-30 13:10] kitten commented on #1644
Just had a look, it seems that the `opencollective` package is responsible for all of these conflicts. Since we were planning to replace it, I can just open a PR to remove it

[2018-03-30 13:32] kizu commented on #1250
This is something I'd like to have as well. I think it should be totally possible to call `attrs` on any existent styled-component, which shouldn't change the original component, but should return a new one with redefined attrs (merged with those if they were defined before?) in a way `withComponent` or `extend` work.

This would allow to create variations of a component with different sets of att

[2018-03-30 13:48] kitten commented on #1250
@kizu that's a great idea :+1: but we'll need to think about this `constructWithOptions` stuff in general I think. Right now the code is quite gnarly.

You can already achieve this by doing `Link.extend.attrs()` which is quite explicit. Introducing `Link.attrs` might lead to some confusion 🤔

[2018-03-30 14:29] #1628 closed

[2018-03-30 14:29] #1644 closed

[2018-03-30 14:29] #1645 closed

[2018-03-30 14:32] kitten commented on #1619
The deprecation warning is in place, so we'd only need someone to jump onto updating the babel plugin now :+1:

[2018-03-30 15:57] ApacheEx opened #1651 "v3.2.4: Error: Cannot find module 'path/to/project/node_modules/styled-components/scripts/postinstall.js'"
after upgrading styled-components from 3.2.3 to 3.2.4 I got this message:
![image](https://user-images.githubusercontent.com/1918108/38144054-e5a555a6-344b-11e8-9d04-aef2ae404640.png)

Node version: v8.11.0
Npm version: 5.8.0

[2018-03-30 15:59] probablyup commented on #1651
package.json “files” array phil, probably
On Fri, Mar 30, 2018 at 11:57 AM Oleg Kuzava <notifications@github.com>
wrote:

[2018-03-30 15:59] mxstbr commented on #1651
@kitten mind undoing that release and trying anew? :wink:

[2018-03-30 16:17] glenselle commented on #1651
Looks like Phil went home for the weekend 😆

[2018-03-30 16:25] kitten commented on #1651
Fixed with 3.2.5. Sorry about that 😅

[2018-03-30 16:25] #1651 closed

[2018-03-30 16:28] kitten commented on #1640
cc @styled-components/typers

related to #1642

[2018-03-30 16:30] kitten commented on #1633
@berkaey sorry for the late reply, you might want to take a look here as it's almost the same usecase (?) https://github.com/styled-components/styled-components/issues/1634

[2018-03-30 16:39] webbhead777 commented on #1651
Thanks, @kitten! Enjoy you're weekend 🎉

[2018-03-30 17:01] berkaey commented on #1633
Sorry, I just checked there related issues and comments but I couldn't understand how and which version can give me the SSR like style-tag export. Can you give me a little demo? Maybe on this code ```import React, { Component, Fragment } from "react";
import is from "is";
import FrameComponent from "react-frame-component";
import { StyleSheetManager } from "styled-components";

/*globals
setTimeou

[2018-03-30 17:02] berkaey commented on #1633
https://github.com/doubco/react-scenes/blob/master/src/Frame.js

[2018-03-30 20:53] Samatar26 commented on #1619
@kitten working on it :+1:

[2018-03-31 07:39] Undistraction commented on #1018
@kitten Above you say:

Is this still being considered? Is preprocessing on the roadmap?

[2018-03-31 11:07] pungggi commented on #1546
hi, just to add my 2 cents.. I totally agree, this is indeed confusing when starting with styled-components. so i like the idea, as a consumer, not to think about what kind of components I am extending, but here it comes...

The documentation stated for a while i think? that `.extend` is the reccomended way.. but now the 'recommended' way will be deprecated?
Why not just leave..**both**.. so that

[2018-03-31 15:53] planetrenner-martin commented on #630
The solutions mentioned here work fine for simple expressions like

[code]
But I am not able to use the `css` function:
[code]

This yields a ts error that a property `concat` is missing somewhere. Any ideas?

[2018-03-31 20:38] rhyek opened #1653 "Some CSS rules are not being injected when running the app inside TestCafé"
## Environment
## System:
 - OS: Windows 10
 - CPU: x64 Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz
 - Free Memory: 1.57 GB
 - Total Memory: 7.87 GB
 - Shell: ¯\_(ツ)_/¯
## Binaries:
 - Node: 8.9.0
 - Yarn: 1.5.1
 - npm: 5.6.0
 - Watchman: Not Found
## npmPackages:
### babel-plugin-styled-components:
 - wanted: ^1.5.1
 - installed: 1.5.1
### styled-components:
 - wanted: ^3.2.5
 - installed: 3.2.5

##

[2018-03-31 20:49] rhyek commented on #1653
Downgrading to 3.0.1 (no `insertRule`) fixes the issue completely.

[2018-03-31 20:52] kitten commented on #1653
Hiya, can you expand on which rules are not being added please? I don’t see any kind of nesting in your example above

A reproduction would be optimal but I understand that this is a little tricky in this case 😅

[2018-03-31 20:54] kitten commented on #1653
Actually this is fortunately a simple issue. The font-face rules need to appear at the top of the StyleSheet. We currently only have a fix in place for import at-rules as reordering is a little trickier in the case of font-face at-rules.

So just make sure that:

- injectGlobal is called before any components are created
- font-face appears at the top of injectGlobal

Sorry for the inconvenience!

[2018-03-31 21:05] rhyek commented on #1653
@kitten please give me a chance to respond before you close the issue. I removed the font-faces from my code and this issue is still present.

I'll give you two examples.

[code]
[code]
So the first example would create 1 rule and no other rules are "children" of it. It is correctly added. The second example would create 2 rules, neither is added.

An example from the screenshot in my original com

[2018-03-31 21:11] rhyek commented on #1653
@kitten I also removed the `injectGlobal` and the issue is still there for the other css rules.

[2018-03-31 22:42] NathanielHill commented on #411
How would one do this when using `withComponent()`? Seems to wipe out any filtering in place.

For example, if I have this component:

[code]
and then I want to modify it slightly, like so:

[code]

I will get console errors as `customProp` is now passed down to component `NoWorky`.

I'd rather not have to choose between unfiltered props and code duplication.

[2018-03-31 22:53] kitten commented on #1653
Alright, can you throw this onto CodeSandbox please? I’d suspect that the rules are malformed, either because of some quirk in stylis or some interpolation.

This sometimes only becomes apparent when insertRule is used, as we don’t yet have a reliable parser that can output some helpful warnings or errors.

Sorry, for closing this prematurely, but my assumptions were that this is either a problem

[2018-04-01 00:30] rodocite commented on #1629
Instead of `& + &`, you could use `& + section` which works with your example. My guess is with your example, you're selecting the adjacent "self" instead of the DOM node of that type/selector.
[code]

[2018-04-01 00:54] rhyek commented on #1653
Here you go: https://codesandbox.io/s/pyo8ynjkr7

I tested those two components in my project and `<Added>` is getting styled correctly while `<NotAdded>` is completely white (transparent).

Is this helpful to you?

[2018-04-01 00:55] rhyek commented on #1653
Also, just to be clear (and perhaps redundant), the styles *are* being applied when not using TestCafé.

[2018-04-01 01:07] rhyek commented on #1653
Btw, I tried loading that sandbox through TestCafé, but it won't work, sadly:
![image](https://user-images.githubusercontent.com/702922/38168874-ca53e7ec-3516-11e8-9b58-c95c58e5e021.png)

[2018-04-01 01:35] #1629 closed

[2018-04-01 06:23] kopax opened #1654 "Error when trying to build with rollup styled-components and react"
I have the following error which just appeared when I try to build with the latest version of `react`
 and `styled-component`.

This is how I try to build with rollup :

[code]

[code]

### version

- react@16.3.0
- styled-components@3.2.2

Did anything change recently ?

[2018-04-01 08:41] vitalybe commented on #630
@planetrenner-martin I suggest you to use `className` instead. I had much better experience using it instead of the embedded `css` or `props`, for example, in your case I'd do:

[code]

Then in your render function you can do:

    <Button className={this.props.isAlert ? "alert" : ""} />

Or preferably using the [classnames](https://github.com/JedWatson/classnames) library:

    <Button className=

[2018-04-01 10:16] wmertens commented on #439
Upon reflection, using a `sc-` prefix means creating a new object on every wrapped level with the stripped props. (so `sc-big` becomes the prop `big`)

It would be more efficient to designate a prefix for props that will not be passed to the DOM, which brings us back to one of the earliest proposals (`scBig` stays `scBig` but is not passed to DOM)

[2018-04-01 10:19] wmertens commented on #630
This is why I'm hesitant to use TypeScript: It starts out nice, but then you have to go back to ancient programming styles just to appease TypeScript, fixing non-problems.

Embedding css is awesome, especially if you define the css in a theme so that it can provide its own interpolation, which means you can use a common component and extend it with project-specific attributes.

[2018-04-01 10:27] diondiondion commented on #439
I still hate the idea of a prefix-based solution. I just want to be able to define a props blacklist when I create the styled component, like I'd have to do with any component that passes on the `...rest` of its props to a child component.

[2018-04-01 10:35] wmertens commented on #439
The thing is, with a prefix it works even if you embed css that
provides its own props, and it is immediately clear that a prop is not
meant to be passed to the DOM, and you never need to define anything.

Blacklists have none of these features.

[2018-04-01 11:47] #1654 closed

[2018-04-01 11:57] mxstbr commented on #1654
Did you manage to resolve this?

[2018-04-01 12:06] diondiondion commented on #439
Well, in principle, I do agree that it would be nicer to have a mechanism for "automatic" prop filtering.

But if the only way is one that permanently affects the API of every styled component so that I will have to be aware of whether any component I'm importing was created using s-c or not, it's just not worth it IMO.

It would just lead me to create lots of intermediate components whose only jo

[2018-04-01 13:28] wmertens commented on #439
I understand your concern, but wouldn't you always know what props any
component you are using accepts?

So <Icon scBig /> is different from <Message value={message}/>

If you want <Message big/> I'd argue that you are mixing display and
app-level concerns, but even then Message could render <Icon
scBig={big}/>

Plus, you still have the current "API" of adding an intermediate
filter component avai

[2018-04-01 16:03] kopax commented on #1654
Hi @mxstbr, it appear it was my script wrongly configuring react in globals and externals. I thought it was correctly configured but it was not. Sorry for pointing out in wrong direction

[2018-04-02 08:45] Ky6uk commented on #1629
@rodocite that problem is more about "Why the second `&` is not interpreted as the first `&`?" than "My code don't work". Using `& + &` is the most convenient way for logic presented above.

I still confused about it because the only one `&` from two of them is pointer to a current element.

[2018-04-02 09:27] rodocite commented on #1629
I did a quick investigation on jsfiddle and jsbin; the styled-component behavior mirrors both SCSS and LESS `&` behavior. I also skimmed the documentation for LESS and the examples are all non-nested. If you can show me an example where this actually works, then I'll take a look. However, this looks like intended behavior for SCSS, LESS, and styled-components.

Nested Examples (not working)
https:

[2018-04-02 09:52] Ky6uk commented on #1629
@rodocite hmm. So if styled components takes behaviour from SASS/LESS then it looks logical now. Because in those tools `&` will compiled as a reference with a full path of selectors tree. I will think about it in the SASS-conception now. Thanks.

[2018-04-02 11:07] diondiondion commented on #439
I guess, in theory? It's fairly easy to memorise which props a component accepts, but remembering which props require a prefix and which ones don't, isn't. For reusable UI components, I'd always want to normalise away those prefixes. They're an implementation detail that I wouldn't want to be part of a component's API, unless that component is actually only used in a single place. Then, of course,

[2018-04-02 14:01] SSTPIERRE2 commented on #709
I just tried wrapping a scrollview with text in a view styled with shadow props, but as @Nemesis30G said the shadow actually applied to the text inside the scrollview, not around the borders of the view.. What gives?

[2018-04-02 14:27] Hypnosphi opened #1655 "Remove usages of unsafe lifecycle methods"
React team recently published a blogpost: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

TL;DR: `cWM`, `cWRP`, and `cWU` methods are considered unsafe for future async rendering and will be deprecated soon. The recommended way for open source maintainers to deal with it is to use [`react-lifecycles-compat`](https://github.com/reactjs/react-lifecycles-compat) package and migrat

[2018-04-02 16:20] jacobp100 commented on #709
Set a background colour on the scrollview

[2018-04-02 22:08] kitten commented on #1193
@marvinkome this should work. Can you open an issue or post a snippet on Spectrum. It’s probably not going to be much work to get it working 👍

Other than that, this is a stale issue. It’s always going to be quicker to just post a full issue, or even better to ask for help on spectrum. we’re actually recommending a reverse selector pattern btw, but I’d love to just hunt at that in a separate threa

[2018-04-02 23:40] marvinkome commented on #1193
Ok I'll open a new issue.

[2018-04-03 00:25] schang124 commented on #1555
I am experiencing the same issue.
It seems like the inline style with server side rendering causes the warning.
Does anyone solve this issue?

[2018-04-03 02:45] secreter commented on #1624
I find this statement
[code]
cost more and more time,form 1ms to 50ms,even more .
mark

[2018-04-03 08:49] Noitidart commented on #1617
Thank you team!!!

If possible, it would be awesome if as much as possible used `StyleSheet.create`. That is a huge perf boost and one of the major reasons why we had to pull out styled-components in our RN project (i fought hard to keep it! :( i lost out). I know `StyleSheet.create` can't be used with Animated API, so this is aside from that please.

[2018-04-03 09:02] kitten commented on #1617
@Noitidart We’re already utilising it and are not planning to give it up 👍 It doesn’t actually provide a huge perf boost as per my research (yet) but it’s definitely important. animated support is also on my list of must-haves

[2018-04-03 10:17] kitten commented on #1624
@secreter Yes, it will cost more over time as the number of known components grows, which is something I've thought about. We might be able to GC them all at some point, if they're not global, but that might mess the order up over time, as they wouldn't be registered in the same order again, so that's likely not going to change any time soon.

A dramatic increase in time indicates however, that so

[2018-04-03 10:18] ryall commented on #630
@wmertens The thing is, at least in my opinion, the problems TypeScript solves (type safety, compile-time code checking, interface definitions, highly improved intellisense) outweigh the problems it creates. And there's almost always the option to `any` cast if a specific area is being problematic.

The more libs that adopt TS, the less of a problem it's going to be. Early adopters are always goin

[2018-04-03 10:18] kitten commented on #1555
@schang124 I'm not sure whether that's likely the same issue :wink: This issue is stale so please open a new one.

If it's inline styles you're having rehydration issues with, then there's likely a usage problem in your code, that doesn't affect/is caused by styled-components. Feel free to open an issue or ask around on Spectrum for help :+1:

[2018-04-03 10:20] ryall commented on #630
@planetrenner-martin I believe your issue comes from the fact that you're using `&&`, which isn't supported in styled components due to it not handling falsy values like React does. Instead use the ternary operator. The `css` operator should work fine embedded. I use it all the time.

[2018-04-03 10:43] kitten commented on #630
@ryall actually, we do handle boolean values and are filtering them appropriately, but I think the typings are a little flawed (PRs welcome) https://github.com/styled-components/styled-components/blob/master/typings/styled-components.d.ts#L21

Regarding this entire thread, @imranolas has recently jumped onto a TypeScript project that requires styled-components to be set up correctly and has found

[2018-04-03 11:33] onemenzel commented on #1315
I experience the same issue after an upgrade to TypeScript 2.8.1. On TypeScript 2.7.2 however, the error does not appear. From the error message I get, I'd conclude that @patwritescode is right. Here a quick example:
[code]
throws
[code]
and
[code]

I can work around this by doing `onClick={props.onButtonClick as MouseEventHandler<any>}`. However, I find this to be kind of unsatisfying...

[2018-04-03 12:57] secreter commented on #1624
@kitten
Is there any good solution? Today we did a stress test. As time went on, this statement took more and more time, and CPU consumption also increased until CUP was exhausted. The current project is not on the line and the situation is very bad. We need help. Thank you very much

[2018-04-03 13:14] secreter commented on #1624
@kitten
OK, I'll create a new issue tomorrow after I go to the company to check the environment. This is the case, we store the react component in the database, and each request is taken out of the component for rendering. Today's test only took the same simple component

[2018-04-03 13:23] Noitidart commented on #1617
Oh wow no way! That's awesome thanks @kitten!

[2018-04-04 02:16] funnyjokes commented on #1098
Your site has a lot of useful information for myself. I visit regularly. Hope to have more quality items.
[funny jokes](http://tellfunnyjokes.com)

[2018-04-04 08:00] camjackson commented on #1655
Adding the full lifecycle names here for searchability: `componentWillMount`, `componentWillReceiveProps`, `componentWillUpdate`.

[2018-04-04 09:48] mxstbr commented on #1655
Would love a PR for this change!

I think (correct me if I'm wrong) we should be able to get by without `react-lifecycles-compat` by moving the subscriptions and unsubscription logic to componentDidMount and componentWillUnmount, and then computing the theme in `render()` instead of caching it in state, right?

[2018-04-04 11:55] Hypnosphi commented on #1655
the goal of `react-lifecycles-compat` is to keep compatibility with older React versions when using `static getDerivedStateFromProps` and `getSnapshotBeforeUpdate`

[2018-04-04 13:39] secreter commented on #1624
I found the reason that we have a function that dynamically creates templates from the database by taking the react component string.
I try to cache the same string created template, CUP will not grow over time. Does this match your expectations? You can reproduce it based on this

[2018-04-04 15:56] jongear opened #1657 "styled-theming derived attribute not setting in defaultProps of React.Component"
Essentially the issue I am facing is that if I attempt to use colors derived from `styled-theming` in the Footer component which is not created with `styled` the prop is never set.  Please note that `textColor` works absolutely flawlessly in the `FooterLink` component however when I attempt to set it as a `defaultProp` for the `Footer` component I receive nothing.  For sanity checking, I created a

[2018-04-04 16:04] jongear commented on #1657
Right after posting this I figured it out.  The `defaultProps` required copying in the theme object

[code]

This does raise concerns about whether or not the `Footer` component will receive theme changes made from the root

[2018-04-04 16:33] jongear commented on #1657
In light of this discovery, this appears to be more of an issue of me not knowing how to wrap regular components in `styled` so that they are automatically passed `props.theme`.

A feel like the solution to this should be something as simple as
[code]

Obviously, that syntax will not work but is there something in the same vein that I am missing?

[2018-04-04 17:30] jongear commented on #1657
Last point of interest.  Outside of manually of manually adding the props to `Footer` is there a way to tell standard components to inherit the theme of their parent?  This would solve the issue I am having with using `styled-theming` properties

[code]

[2018-04-05 00:25] Caryyon commented on #1459
Where is this at?

[2018-04-05 01:15] probablyup commented on #1459
Not a priority at the moment
On Wed, Apr 4, 2018 at 8:25 PM Cary Yon Wolff <notifications@github.com>
wrote:

[2018-04-05 07:22] berkaey opened #1659 "StyleSheetManager don't includes keyframes"
## Environment

## System:
 - OS: macOS High Sierra 10.13.3
 - CPU: x64 Intel(R) Core(TM) i7-4750HQ CPU @ 2.00GHz
 - Free Memory: 90.32 MB
 - Total Memory: 8.00 GB
 - Shell: /bin/bash - 3.2.57
## Binaries:
 - Node: 9.4.0
 - Yarn: 1.3.2
 - npm: 5.6.0
 - Watchman: 4.9.0
## npmPackages:
### babel-plugin-styled-components:
 - wanted: ^1.5.1
 - installed: 1.5.1
### styled-components:
 - wanted: ^3.2.1

[2018-04-05 08:16] pbogdan03 commented on #1487
@kitten, using the secrets in development is working fine since the style `data-styled-components` has all the styles, but production breaks with an error around not being able to use `cssText of undefined`. I think this is due to the empty style tag. Any thoughts on this?

[2018-04-05 09:58] kitten commented on #1487
@pbogdan03 oh, nice catch! Can you open an issue please? I wasn’t aware that style tags can have undefined cssText properties. It’d be interesting to track down when exactly this edge case occurs

[2018-04-05 10:00] kitten commented on #1659
This is expected behaviour. For now the keyframes and injectGlobal helpers don’t have access to the React context.

This is already being worked on. The issue tracking this is located here: https://github.com/styled-components/styled-components/issues/1333

[2018-04-05 10:00] #1659 closed

[2018-04-05 11:56] pbogdan03 opened #1660 "Using __DO_NOT_USE_OR_YOU_WILL_BE_HAUNTED_BY_SPOOKY_GHOSTS.StyleSheet in production breaks the build"
## Environment

## Binaries:
 - Node: 8.9.3
 - Yarn: 1.5.1
 - npm: 5.8.0
 - Watchman: 4.9.0
## npmPackages:
### styled-components:
 - wanted: 3.2.5
 - installed: 3.2.5

## Steps to reproduce
Using gatsby.js with the `gatsby-plugin-styled-components` plugin, which uses `babel-plugin-styled-components` with the `ssr: true` flag to build the styles.

In development, i.e. running `gatsby develop`, the

[2018-04-05 11:59] pbogdan03 commented on #1660
Temporary workaround is reverting back to 2.4 and getting the extracted style sheet from `styled-components/lib/models/StyleSheet`.

[2018-04-05 12:00] denkristoffer commented on #591
I'm seeing this behaviour again with SC 3.2.5 (https://codesandbox.io/s/056wj1zmw), possibly because of https://github.com/styled-components/styled-components/pull/1414 ? Or am I doing something wrong here?

[2018-04-05 12:11] kitten commented on #591
@denkristoffer That happens because your `InputWithRef` component (which shouldn't be necessary in the first place :wink:) tries to use the `ref` prop, which is a special prop and thus not accessible to you. tl;dr you can't pass `ref` and expect to receive it in the component. That's why we call it `innerRef`. Renaming it fixes
the problem: https://codesandbox.io/s/72m8xxy121

Btw it's not prefera

[2018-04-05 12:27] kitten commented on #1660
Ok, I think it might be a bug in the implementation of the speedy tags' `css` function. I'll take a look. It's hard to keep track of whether these things are working since these APIs are actually unused in styled-components, so there's nothing that checks whether they're actually working

[2018-04-05 13:41] probablyup commented on #1487
I thought we added an empty text node to style sheets to remedy this?
On Thu, Apr 5, 2018 at 5:58 AM Phil Plückthun <notifications@github.com>
wrote:

[2018-04-05 13:43] probablyup commented on #1660
Shouldn’t Gatsby use ServerStylesheet since it is a static rendering flow?

On Thu, Apr 5, 2018 at 7:59 AM Bogdan <notifications@github.com> wrote:

[2018-04-05 13:49] kitten commented on #1660
@probablyup It does, hence my confusion. An example of what you're doing would be helpful to ensure that what you're planning to do works, @pbogdan03. This way we'd also be aware of your use case 👍

[2018-04-05 13:49] kitten commented on #1487
@probablyup it's just a bug in the css output function for speedy tags, I think. See https://github.com/styled-components/styled-components/issues/1660 (which you've already seen I guess 😆)

[2018-04-05 15:16] eeeman1 opened #1661 "TypeError:"
TypeError: undefined is not a function (evaluating '_styledComponents2.default.div(_templateObject)')
package.json -
"dependencies": {
    "expo": "^25.0.0",
    "prop-types": "^15.6.1",
    "react": "16.2.0",
    "react-native": "0.52.0",
    "react-navigation": "^1.5.9",
    "styled-components": "^3.2.5"
  }

file -

[code]
node -v
v8.4.0
npm -v
4.6.1

[2018-04-05 18:42] kitten commented on #1661
On React Native we’re switching over to a different module which aliases and wraps all react Native components: https://www.styled-components.com/docs/basics#react-native

So instead of doc you would use View

[2018-04-05 18:42] #1661 closed

[2018-04-05 18:56] gaearon commented on #1575
FWIW, migration strategies are here
https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

Let us know if some use case is missing.

[2018-04-05 19:00] pbogdan03 commented on #1660
Ok, I finally managed to reproduce the issue in a new environment, since I cannot share the original repo. Check this out: https://github.com/pbogdan03/gatsby-styled-components-test. `npm i` and `gatsby develop` should work fine and display the generated styles, but `gatsby build && gatsby serve` should spit out an error.

I'm not sure what's causing it exactly. In either case, when trying to repr

[2018-04-05 19:06] kitten commented on #1660
https://github.com/pbogdan03/gatsby-styled-components-test/blob/master/src/layouts/Wrapper.js

What’s the intent of this? The Boolean value is explicitly telling the StyleSheet that this is a non-server environment. Also it’s probably not safe to reset the StyleSheet at a semi-random place of your code, since you’ll lose the registered components and hence their order and specificity

[2018-04-05 19:11] pbogdan03 commented on #1660
Resetting the stylesheet is something I've seen in a discussion here, anyway, removing it doesn't fix the issue I'm afraid. And the check is for the first pass of `gatsby build` which renders the static files and needs to be told which parts of the code need to be run only in a browser environment.

[2018-04-05 19:11] tashaffin commented on #1642
If, like myself, you simply need a quick solution until this is resolved, I uninstalled the latest and re-installed a specific version:

npm uninstall styled-components
npm install styled-components@3.1.6

Best Wishes

[2018-04-05 19:55] pbogdan03 commented on #1660
Ok, thanks for the explanation, I think I understand what you mean now.

I can't use the SSR API as I need to get the state of the rendered page at that moment, including viewport size etc. and save the information on the client side in real time. Gatsby isn't the issue here (I think). It works as intended, rendering the static files to be served to the client. I'm just using Gatsby for the bloggi

[2018-04-05 21:11] btpoe commented on #1585
@ryall if you implement a `.toString()` on your class / object / function, it should do what you're asking for.

[2018-04-06 00:15] bliitzkrieg commented on #1634
@darthtrevino Is there a workaround to invalidate the cache?

[2018-04-06 06:16] eeeman1 opened #1665 "box-shadow"
not working box-shadow on react native, just a gray square without a shadow -

[code]

"styled-components": "^3.2.5"

node -v
v8.4.0
npm -v
4.6.1

p.s. background: linear-gradient(#e66465, #9198e5); - Error: Failed to parse declaration "background: linear-gradient(#e66465, #9198e5)"

[2018-04-06 14:17] SlootSantos opened #1666 "onInvalid is missing in validAttr regex"
Hey guys,

when using _styled.input_ and then passing an _onInvalid_ handler to the component this handler is never actually called.
Tried the same with _onBlur, onKeyDown_ and these work.

## Environment

## System:
 - OS: macOS High Sierra 10.13.4
 - CPU: x64 Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz
 - Free Memory: 263.92 MB
 - Total Memory: 16.00 GB
 - Shell: /bin/bash - 3.2.57
## Binaries:
 -

[2018-04-06 15:00] andraaspar opened #1667 "Set displayName manually"
I would like to set the displayName manually.

# What will it allow you to do that you can't do today?

- Understand markup.
- Debug CSS issues.
- Avoid using Babel / a nonexistent (?) Webpack plugin / React dev tools.

## What will that allow you to do that you can't do today?

- Faster builds.
- Less configuration.
- Makes SC less dependent on build / dev tools → Confidence.

[2018-04-06 15:01] kitten commented on #1666
We don't do anything to your props and will almost always just pass them through (`className` & `innerRef` are exceptions) so this is 100% not a bug with styled-components. You could try to create a reproduction and submit it here, but it's more likely that you'll receive help on Stackoverflow or Spectrum, since this is not specific to styled-components.

I suspect that this is not an event on inp

[2018-04-06 15:03] #1634 closed

[2018-04-06 15:08] andraaspar commented on #1667
Basically something like:
[code]

[2018-04-06 15:19] SlootSantos commented on #1666
@kitten are you sure? just had a look at
https://github.com/styled-components/styled-components/blob/master/src/utils/validAttr.js
and the regex is missing onInvalid.. but it has onBlur and onKeyDown

[2018-04-06 15:26] kitten commented on #1666
<img width="653" alt="screen shot 2018-04-06 at 16 26 03" src="https://user-images.githubusercontent.com/2041385/38429755-3f5cde46-39b7-11e8-809e-c72a56aba342.png">

[2018-04-06 15:27] kitten commented on #1666
<img width="776" alt="screen shot 2018-04-06 at 16 26 45" src="https://user-images.githubusercontent.com/2041385/38429786-53766d0c-39b7-11e8-9595-3aa67b7c9745.png">

(Edit: wrong image ugh, was missing the second command)

Seems that you're right. Sorry, I made the assumption that the comment above matches the actual content there. Mind fixing this up for us please? Otherwise I'll try to fix it as

[2018-04-06 15:29] SlootSantos commented on #1666
@kitten great! I'll open a PR!
Glad we found it so fast!!
Thank you :)

[2018-04-06 15:30] kitten commented on #1667
You can, and it's quite intuitive :wink:

[code]

and that's it :tada: our babel plugin is more specific since we'd like the displayName to include the component name. Without the babel plugin we fall back to this: https://github.com/styled-components/styled-components/blob/master/src/models/StyledComponent.js#L251-L253

[2018-04-06 15:30] #1667 closed

[2018-04-06 16:04] SlootSantos commented on #1666
https://github.com/styled-components/styled-components/pull/1668

[2018-04-06 16:52] andraaspar commented on #1667
No good. It does not show up in class names. :(

[2018-04-06 17:08] andraaspar commented on #1667
I am looking to replace a call to `.withConfig({ displayName: ... })` since that is a private API.

[2018-04-07 15:41] kopax opened #1669 "Question module made with styled peerDependencies or dependencies ?"
I just want to make sure, but if we make a module that depends on styled-components.
Should it be a peerDependencies or a dependencies ?
peerDependencies should be used if the dependencies needs to be singleton (like redux)
Does styled-components needs to be present only one time and If yes, for what feature ?

[2018-04-07 16:04] kitten commented on #1669
https://www.styled-components.com/docs/faqs#i-am-a-library-author-should-i-bundle-styledcomponents-with-my-library

keeping it a peerDependency is recommended while making sure that styled-components is only bundled once. This is due to our StyleSheet logic and the rather destructive rehydration logic.

[2018-04-07 16:04] #1669 closed

[2018-04-08 08:13] Hypnosphi commented on #1655
The goal of 16.3 release is to allow contributors to remove the unsafe methods before they are formally deprecated (with warning messages) in 16.x:

https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#gradual-migration-path

[2018-04-08 12:09] ibreathebsb opened #1670 "high order components with conditional rendering not working"
## Environment

## System:
 - OS: macOS High Sierra 10.13.1
 - CPU: x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
 - Free Memory: 122.99 MB
 - Total Memory: 8.00 GB
 - Shell: /bin/zsh - 5.3
## Binaries:
 - Node: 6.11.1
 - Yarn: 1.5.1
 - npm: 5.6.0
 - Watchman: Not Found
## npmPackages:
### styled-components:
 - wanted: ^3.2.5
 - installed: 3.2.5

## Expected Behavior
I'm making a music player, and

[2018-04-08 13:05] mxstbr commented on #1670
You need to wrap all your CSS fragments with the css`` helper, that's why we have it!

[2018-04-08 13:05] #1670 closed

[2018-04-08 15:47] #1666 closed

[2018-04-08 18:00] kopax commented on #1669
Thanks for the reply. What is the rehydration? If possible, I would like to get further details (technically speaking).

[2018-04-09 09:08] andraaspar opened #1671 "Manually set class prefix in TypeScript without Babel"
### Bad:

[code]

### Good:

[code]

### Solved in TypeScript:

[code]

This is fully supported by syntax highlighting in VS Code, by auto-completion via `typescript-styled-plugin`, and it requires the developer to specify the component name, on the same line as the constant name. The developer can also use `.withComponent('button')` if they need something other than a `div`.

### Made possible by

[2018-04-09 09:13] andraaspar commented on #1671
This is my second and final attempt to get across the point that having important functionality in a private API / via a compiler only is a bad idea. The former attempt is here: #1667.

React itself did not make `createElement` private. And we all profit. Please consider.

[2018-04-09 14:23] EwertonFontes opened #1672 "Error when Build Project - Error on Stylis"
I am getting an error when I try to build on development mode, the return messsage is about stylis! I don't know how to solve this if someone may help me! Thanks

==ERROR==
Module not found: Error: Can't resolve 'stylis' in '/path/node_modules/styled-components/dist'

styled-component version: 3.2.5,
react version:  16.1.0

[2018-04-09 14:47] kitten commented on #1672
Can you give us more infos about your environment please? How and where did you install it, what is your toolchain and build pipeline, etc? Since this is not a bug but a usage issue, we'll need more information to help you :wink:

The issue template has a command you can run to gather some information about your environment automatically: https://raw.githubusercontent.com/styled-components/styled-

[2018-04-09 15:07] EwertonFontes commented on #1672
To build the project I'm using CI/CD on Codeship, when I build on local machine it's ok!
But when I build on Codeship I'm getting that error message.

==SOME Information about the enviroment ==
## System:
- OS: Linux 4.4
- CPU: x64 Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz
- Free Memory: 152.44 GB
- Total Memory: 240.09 GB
- Shell: /bin/bash - 4.3.11
## Binaries:
- Node: 8.1.3
- Yarn: 1.5.1
- npm:

[2018-04-09 15:29] EwertonFontes commented on #1672
Yeah styled-component is a dependency on my app and the stylis is a dependency on style-components

##yarn list styled-components
devpleno@0.1.0 /Users/tuliofaria/Desktop/projetos/devpleno-admin
└── styled-components@3.2.5

## yarn list stylis
devpleno@0.1.0 /Users/tuliofaria/Desktop/projetos/devpleno-admin
└─┬ styled-components@3.2.5
  └── stylis@3.5.0

Any suggest about this?

[2018-04-09 16:13] ersel commented on #1186
I think documentation is a bit lacking with regards to this.

It only shows a parent-child reference. It would be beneficial to add a sibling example and highlight the fact that you need a wrapper around them.

https://www.styled-components.com/docs/advanced#referring-to-other-components

[2018-04-09 16:17] kitten commented on #1186
@ersel that's because we'd like to highlight the child to parent relationship (reverse selector pattern). I'd be happy to accept a PR expanding this section with a further parent to child example as long as it highlights that this might introduce coupling that we'd like to avoid in styled-components as a paradigm.

Regarding this issue, it was not a reference to the patterns in general but a simpl

[2018-04-09 16:18] kitten commented on #1672
@EwertonFontes these however are dependencies installed on your local device where everything works fine, right? Can you somehow get some details on what Codeship has installed and set up. I myself am not familiar with Codeship, so I'm not sure if I can guide you through the process perfectly

[2018-04-09 17:13] kristerkari commented on #1665
You code example works for me in React Native.

This might be why `<Div />` is not rendering correctly for you. React Native does not support CSS gradients. Try removing that line and see if `<Div />` after that.

[2018-04-09 17:29] kristerkari commented on #1617
This is a very interesting thing for a better React Native styling support!

I'm currently using [css-to-react-native](https://github.com/styled-components/css-to-react-native) to parse CSS in my own project [React Native CSS modules](https://github.com/kristerkari/react-native-css-modules).

I would be really interested in being kept in the loop, or even helping out with the CSS parser stuff. I f

[2018-04-09 17:58] EwertonFontes commented on #1672
Ok.
This is the result on Codeship when list.

## npm list styled-components
devpleno@0.1.0 /home/rof/src/bitbucket.org/wedevideas/devpleno-admin
styled-components@3.2.5

## npm list stylis
devpleno@0.1.0 /home/rof/src/bitbucket.org/wedevideas/devpleno-admin
styled-components@3.2.5
stylis@3.5.0

It was working on my last successfully build two months ago, but I needed to change one thing and since

[2018-04-09 20:18] diegohaz opened #1673 "React.forwardRef: Cannot create styled-component for component: [object Object]"
## System:
 - OS: macOS High Sierra 10.13.3
 - CPU: x64 Intel(R) Core(TM) i5-4288U CPU @ 2.60GHz
 - Free Memory: 2.49 GB
 - Total Memory: 8.00 GB
 - Shell: /bin/zsh - 5.3
## Binaries:
 - Node: 9.7.1
 - Yarn: 1.5.1
 - npm: 5.6.0
 - Watchman: 4.9.0
## npmPackages:
### babel-plugin-styled-components:
 - wanted: ^1.2.0
 - installed: 1.5.1
### styled-components:
 - wanted: ^3.1.6
 - installed: 3.2.5

#

[2018-04-09 20:19] diegohaz commented on #1673
Found this issue while implementing `React.forwardedRef` in this project: https://github.com/diegohaz/reas

The solution is probably accepting objects here: https://github.com/styled-components/styled-components/blob/f4762995db1455dd28b84918895492da3079eacc/src/constructors/constructWithOptions.js#L10

Or using the new package `react-is`: https://www.npmjs.com/package/react-is

Related issue on Re

[2018-04-09 20:27] #1673 closed

[2018-04-10 09:30] Ky6uk opened #1674 "Atom + TypeScript support"
I found there is lack of highlighting / autocompletion support for the Atom IDE when project using TypeScript language only.

[2018-04-10 09:44] kitten commented on #1674
Is this something you can file in a repo that is dedicated to the TS syntax for Atom? Maybe they can reintegrate parts of language-Babel?

[2018-04-10 10:04] Ky6uk commented on #1674
@kitten I am not sure how it works internally in Atom. I found it not so convenient to use `styled-components` when I tried to use this library in TS project. I hope Atom is "enough-hackable" for that. :)

[2018-04-10 10:13] Ky6uk commented on #1674
I found some info in https://github.com/atom/language-typescript/issues/10. Looks like VSCode have support `styled-components` for `ts`/`tsx` files as well.

[2018-04-10 18:31] hankandre opened #1675 "Forwarding Ref"
With React now introducing the ability to use [ref forwarding](https://reactjs.org/docs/forwarding-refs.html) it seems like this would be a wonderful opportunity to update styled-components to use, in certain instances.

An example of this is a component I'm working on where I'm using the `styled()` HOF. When I try to access the ref of the child component I'm getting the style-component class refe

[2018-04-10 19:04] kitten commented on #1675
Luckily we were involved in the RFC itself and we didn’t have to do anything to support this apart from a little fix which has just been merged and will land soon :) https://github.com/styled-components/styled-components/pull/1658

We’re now interested though in replacing our existing solution, the innerRef prop entirely with either a new API are manual ref forwarding

[2018-04-10 19:04] #1675 closed

[2018-04-11 00:24] elliotaplant commented on #1642
For anyone landing here from trying Heroku, I found that a solution to this was to move my `"@types/*"` declarations from the `devDependencies` to the `dependencies` section of my `package.json`. Heroku runs your install/build with a `NODE_ENV=production` flag, so `devDependencies` don't get installed.

Also, @tashaffin's quick fix worked too.

[2018-04-11 01:26] #1163 closed

[2018-04-11 06:26] andraaspar commented on #1667
With the method recommended above (Comp.displayName = 'Comp'), the
displayName shows in the React dev tool, but it does not become part of the
class name (sc-cRaPHere instead of Comp-cRaPHere).

On Wed, Apr 11, 2018, 08:18 A Coleman <notifications@github.com> wrote:

[2018-04-11 07:08] AshCoolman commented on #102
@mxstbr bumping for https://reactjs.org/docs/forwarding-refs.html

[2018-04-11 07:10] AshCoolman commented on #1560
Is the `innerRef` workaround something that will continue to be supported given the release of [forwarded refs](https://reactjs.org/docs/forwarding-refs.html) in 16.3?

[2018-04-11 07:39] jacobp100 commented on #1560
Yea, this proposal probably needs to be rethought. Say styled-components forwards the ref, would the following just work?

[code]

[2018-04-11 08:50] MrOpperman commented on #1593
Issue still happening to me on 3.2.5, its rather annoying to dev with a flickering screen. When I touch inputs, tabs etc it blinks. Any component that changes state/style on focus really.

[2018-04-11 09:50] kitten commented on #1593
@MrOpperman the best solution right now is to just use at-import or a style/link tag separate from styled-components unfortunately

[2018-04-11 09:51] kitten commented on #102
@AshCoolman we have new issues for that and it’s unrelated to the solution that was introduced for this: the innerRef prop

[2018-04-11 12:55] Fumler opened #1676 "Different styles on server vs client when using 3rd party component lib with styled-components"
## Issue
Thank you for all your work with styled-components, it's a pleasure to use, but unfortunately we are experiencing an issue with it currently.

The problem is that we use a component library that's created with react 16.3 and styled-components 3.2.5 (+ babel sc plugin). (Very similar to https://github.com/diegohaz/reas - bug exists with both libraries, but reas is using styled-components 3

[2018-04-11 14:32] kitten commented on #1676
Judging from the class names that the plugin yields it would seem that the ssr option is not enabled on it. This will be necessary so that SSR works for all users of the library :)

Can you open an issue on their repo instead please? Let’s see if we can get this resolved

cc @diegohaz

[2018-04-11 14:34] kitten commented on #1676
@diegohaz Can you also make sure that styled-components is a peer dependency apart from enabling the plugin’s ssr option please? https://www.styled-components.com/docs/faqs#i-am-a-library-author-should-i-bundle-styledcomponents-with-my-library

[2018-04-11 14:39] Fumler commented on #1676
@kitten This same issue happens with our own library as well, which does use babel-plugin-styled-components with ssr option enabled (and styled-components as a peerDep). I only used reas as an example because it is an open source project and it happens with that as well.

[2018-04-11 14:46] diegohaz commented on #1676
I'm going to have a look at this. But shouldn't npm/yarn resolve ^3.1.6 and 3.2.5 to the same version? Maybe this is a regression introduced between 3.1.6 and 3.2.5?

[2018-04-11 14:59] kitten commented on #1676
@Fumler This looks suspicious:

[code]

It looks like you're using `minify` but only on one side. Either disable the option entirely or make sure that it matches if you have separate server and client babel configs :wink:

[2018-04-11 15:00] kitten commented on #1676
@diegohaz it does, but using `peerDependencies` is always safer

[2018-04-11 15:16] Fumler commented on #1676
@diegohaz

yarn.lock
[code]

@kitten Minification is what puzzled me as well, but `.pages__OuterWrapper-s1xwgnjr-0 + * .iiRESd {}` style comes from the nextjs app, not from the component library. And the minifaction does not happen unless I import the external component library.

As you can see here: https://sc-next-bug-jfmvebfqne.now.sh/ exactly the same app and code except we do not import the c

[2018-04-11 16:53] kitten commented on #1676
@Fumler can you post a reproduction, e.g. some source code or similar. I don't think it's possible for me to investigate this further otherwise. It seems that the rule is present but derived from `*.class` so that it's invalid and different:

<img width="667" alt="screen shot 2018-04-11 at 17 51 47" src="https://user-images.githubusercontent.com/2041385/38631228-0b628908-3db1-11e8-9acc-87410363a59

[2018-04-11 17:07] SindreSvendby commented on #1676
I should prop have posted the added info I did here instead of just mention it from fumler/sc-next-bug#1.

The relation between that now apps this is linked before is:

[master](https://github.com/Fumler/sc-next-bug): https://sc-next-bug-mizjydjbep.now.sh/
[working](https://github.com/Fumler/sc-next-bug/tree/working): https://sc-next-bug-jfmvebfqne.now.sh/

To see the different see the PR: https:/

[2018-04-11 17:12] kitten commented on #1676
@SindreSvendby @Fumler can you change your `.babelrc` please and try to set `"minify": false`? https://github.com/Fumler/sc-next-bug/blob/master/.babelrc#L6

[2018-04-11 17:55] Fumler commented on #1676
Tried setting `"minify": false` earlier, did not change anything.

[2018-04-11 18:48] kitten commented on #1676
@SindreSvendby @Fumler Alright, so this was extremely hard to debug (🤦‍♂️) but it seems that `cascade: false` was erroneously set on the stylis rule splitter that is used for SSR rehydration. I am not entirely sure why this hasn't come up before, but I suppose anyone who uses **no** space combinators in their CSS selectors won't see this bug...

Anyhow, #1677 will fix this

[2018-04-11 19:27] Fumler commented on #1676
Very awesome! Thank you @kitten for the quick solve 🎉 😄

[2018-04-11 23:14] kopax opened #1679 "How to use babel-plugin-styled-components with create-react-app?"
I am using `create-react-app` and so far we managed not to eject.

Considering we want to keep it that way, is it possible to optimize our css using `babel-plugin-styled-components`?

[2018-04-12 00:11] kitten commented on #1679
There'd be react-app-rewired:

- https://github.com/timarney/react-app-rewired
- https://github.com/withspectrum/react-app-rewire-styled-components

[2018-04-12 03:16] probablyup commented on #1679
Going to close this with @kitten's response. Didn't know about rewired, pretty cool 😀

[2018-04-12 03:16] #1679 closed

[2018-04-12 03:48] #1647 closed

[2018-04-12 08:25] #1640 closed

[2018-04-12 09:28] gsuxlzt commented on #659
Hi. Just wondering if this is still being looked upon. I am having a problem with using styled components with React Shadow DOM for a chrome extension. Thank you.

[2018-04-12 10:36] miksansegundo commented on #1615
Not sure which one did it but this bug is gone after I upgraded:
 - **babel-plugin-styled-components** from `1.4.0` to `1.5.1`
 - **styled-components** from `3.2.1` to `3.2.5`.

[2018-04-12 11:02] kopax commented on #1679
is the plugin from @mxstbr working already ? that look a good tool. Ill have a look

[2018-04-12 11:25] #1676 closed

[2018-04-12 23:48] miZyind opened #1683 "Improve helper type operators through TypeScript 2.8"
At that time before TypeScript 2.8, there wasn't a clean solution about how to "Omit" some keys from an existing interface.

But now we can use the new conditional type "Exclude" to improve type safety!

We can drop these helper type operators and rewrite some definition:
[code]

After:
[code]

And now we get the benefit (Go to current props' definition & props' type checking)!
![improve](https://

[2018-04-13 11:53] sorenhoyer commented on #1642
Same problem. Ty @tashaffin  for the temporary workaround. Hope this is fixed soon. :-)

[2018-04-13 15:28] mradziwon commented on #1266
I'm having this issue in version 3.2.5.
`opacity: ${({ disabled }) => (disabled ? 0.6 : 1)};`
props are changing but component isn't updating.

[2018-04-13 16:00] mradziwon opened #1685 "[react-native] Components never updates when using conditional styles"
## Environment
expo: 25.0.0,
react: 16.2.0
react-native: 0.52.x
styled-components: 3.2.3,
## Reproduction
1. create react-native styled component and pass some props:

[code]

## Expected Behavior
The component re-renders

## Actual Behavior
Prop inside component is changing but there is no UI update

[2018-04-13 18:23] sylvhama opened #1686 "All my styled components generate an empty css class"
## Environment
I could reproduced on styled-components v3.2.5 and 3.2.3 and react-scripts 1.1.0 and 1.1.1.

## Reproduction

https://codesandbox.io/s/n3v5mnqjj4

## Steps to reproduce
You can inspect the red title or the div container.

## Expected Behavior
It should only have one css class specifying the given css.

## Actual Behavior
It creates a second empty css class for each styled component.

[2018-04-13 19:14] ryall commented on #1585
@btpoe Thanks, will give it a go :)

[2018-04-13 19:52] ryall commented on #1585
Actually I had tried that. Realised the problem was with TS being too restrictive

[2018-04-13 20:17] mradziwon commented on #1685
After some research I discovered that the problem is with `TouchableOpacity` not with `styled-components`. The solution is to set innerRef on Button and call [setOpacityTo](https://facebook.github.io/react-native/docs/touchableopacity.html#setopacityto). Sorry for opening new issue.

[2018-04-14 04:11] lucasconstantino commented on #618
Couldn't we just check if the underlying component is a styled component itself, and in that scenario pass down innerRef instead of ref?

[2018-04-14 06:25] sonaye commented on #1036
I looked into a couple of implementations here and ended up abstracting what I was looking for to so something much simpler (doesn't require `styled-components` and powered by `react-transition-group`).

[code]

[Demo](https://4ron7o8157.codesandbox.io/) & [package](https://github.com/sonaye/react-animated-transitions), thanks for inspiring this work.

[2018-04-14 06:33] sonaye commented on #1036
I tried to make it play nice with `styled-components` for a minute, I found it to be tricky since the generated class names are not fixed. Also not sure if the css is attached to each component or if it's optimized.

Let's say that we have:

[code]

@geelen Will `styled-components` generate a single css class that is attached to both components? since the css is identical here.

[2018-04-14 11:22] Hunsu opened #1687 "Styled-component breaks a library on production mode"
## Environment

  OS: Linux 4.13
  Node: 8.1.4
  Yarn: 1.0.1
  npm: 4.6.1
  Watchman: 4.9.0
  Xcode: N/A
  Android Studio: Not Found

## Reproduction
https://snack.expo.io/SJbcMwynG
## Steps to reproduce
Use the library react-native-image-progress with styled component on react-native. Run the example on production mode `exp start --no-dev --minify`
I run the example on my Android phone.

## Expec

[2018-04-14 15:59] corysimmons commented on #1036
@sonaye That's actually really awesome. Will definitely start using that (I'm back on SCSS now).

[2018-04-15 11:35] drcmda opened #1688 "interop / move dom related collections into separate repo?"
Regarding this file: https://github.com/styled-components/styled-components/blob/master/src/utils/domElements.js

And perhaps others. This stuff creeps up plenty depending on which libs are bundled in. For instance it's almost the same in react-spring: https://github.com/drcmda/react-spring/blob/master/src/animated/targets/react-dom.js and here's some of it in animated: https://github.com/animated

[2018-04-15 20:52] Voronar commented on #1589
@farzadmf
[This method](https://github.com/styled-components/styled-components/issues/565#issuecomment-287535650) works well and for `styled` function.

[2018-04-16 00:36] sonaye commented on #1036
@corysimmons I actually didn't know that you can do that, nice. This addresses something I was looking for in this library a while ago (composition of styled-components https://github.com/styled-components/styled-components/issues/932). I've been stubborn about writing css in string templates, but I finally gave it a shot and I kind of like it now, I am gradually moving to use `styled-components`

[2018-04-16 04:34] probablyup commented on #1688
So we're actually working on a few strategies to drop those various lists in the next major version.

1. dom element list will be droppable once https://github.com/styled-components/babel-plugin-styled-components/issues/125 is in
2. the attribute whitelist will be droppable once this is in: https://github.com/styled-components/styled-components/pull/1682

`normalize-css-color` looks cool, but I do

[2018-04-16 04:41] probablyup commented on #1686
@sylvhama no need to worry about this, it's expected.

styled-components actually generates a minimum of two classes per element: a stable class to represent the element itself (used for [component selectors](https://www.styled-components.com/docs/advanced#referring-to-other-components) mostly), and one or more classes used to represent particular rulesets. Dynamic styles will cause more than one

[2018-04-16 04:41] #1686 closed

[2018-04-16 05:56] tomasdev commented on #794
Also having this issue :(

BTW, the important piece is at https://github.com/hongymagic/bug-withTheme-styled-components/blob/master/src/Bar.js

[2018-04-16 14:12] farzadmf commented on #1589
@Voronar Thank you for your answer, but it doesn't seem to be working for me; what I have:

[code]

So, in my custom styled component, everything seems to be fine, but when I try to use this component like this:

[code]

It complains that property `status` does not exist on the type mentioned as `IntrinsicAttributes & IntrinsicClassAttributes<...>`

Am I missing something here?

[2018-04-16 15:53] kopax opened #1689 "Module to write styled and output html and css without using react"
We have some case where we do not have react and only HTML and CSS, sometimes just a div and a class.

It would be convenient to maintain and test our components using styled.

How can I produce when I write this in `src/MyDiv.js`

[code]

and generate two files `build/MyDiv.css`

[code]

and generate two files `build/MyDiv.html`

[code]

I would like to do that with an entire rollup project, is t

[2018-04-16 16:47] ckeeney commented on #1546
If `extend` is deprecated and removed, will there by an analogous `.attrs()` for `styled`?

[2018-04-16 17:00] denkristoffer commented on #1546
@ckeeney `attrs()` works with `styled()` as it is:

[code]

[2018-04-16 17:09] ckeeney commented on #1546
That's great news.  Thanks, I must have missed that in the docs and thought
it only worked on extend

On Mon, Apr 16, 2018, 10:05 AM Kristoffer <notifications@github.com> wrote:

[2018-04-16 17:24] beshanoe commented on #630
It's almost there! https://github.com/Microsoft/TypeScript/pull/23430

[2018-04-16 18:48] kopax opened #1690 "Error: Could not parse CSS stylesheet"
I am writing a library that depend on :

- styled-components: 3.2.5
- react: 16.3.2
- react-dom: 16.3.2
- babel-plugin-styled-components: 1.5.1
- redux: 3.7.2
- react-redux 5.0.7

I have created a `ConnectedThemeProvider`, when I run the following test :

[code]

I have the following error in my console :

[code]

I am not really sure why this is happening as I have never seen this before.

[2018-04-16 18:53] kopax commented on #1690
I have just disabled my injectGlobal and it became quit.

[2018-04-16 18:53] #1690 closed

[2018-04-16 23:26] gsuxlzt commented on #659
Yes! That's what I used. I had a hard time implementing it with the shadow DOM though because all sample codes used iFrame. Thank you for pointing it out!

[2018-04-17 02:30] beautyfree commented on #352
Is it still open?

[2018-04-17 05:02] harshmaur commented on #1603
Is there any update on this? Or shall I downgrade styled-components to make it work?

[2018-04-17 05:03] probablyup commented on #1603
@harshmaur not at the moment - I'd go ahead and downgrade until we have a more evolved strategy.

[2018-04-17 05:27] probablyup commented on #1565
Dup of #1490

[2018-04-17 05:27] #1565 closed

[2018-04-17 05:28] probablyup commented on #1450
Seems to be fixed in the last few releases

[2018-04-17 05:28] #1450 closed

[2018-04-17 05:29] #1295 closed

[2018-04-17 05:30] #1185 closed

[2018-04-17 05:32] probablyup commented on #1294
Is this still a thing?

[2018-04-17 05:32] probablyup commented on #843
https://github.com/flowtype/flow-typed/tree/master/definitions/npm/styled-components_v2.x.x

[2018-04-17 05:32] #843 closed

[2018-04-17 05:34] probablyup commented on #843
@maxmalov see https://github.com/styled-components/styled-components/issues/1490, help wanted 😃

[2018-04-17 05:34] kiddkai opened #1692 "Expose forceServer option from ServerStyleSheet"
## Environment

[code]

## Steps to reproduce

We are currently running our React runtime under a client-like environment. And we just upgrade to styled-component@3. And we figured out that when SC found out that if `document` exists. It will force itself into `client` mode, and when I try to use:

https://www.styled-components.com/docs/advanced#server-side-rendering

It will throw a error during

[2018-04-17 05:34] probablyup commented on #1490
Looks like this is in https://github.com/flowtype/flow-typed/tree/master/definitions/npm/styled-components_v3.x.x/flow_v0.57.x-

[2018-04-17 05:34] #1490 closed

[2018-04-17 05:39] probablyup commented on #244
I think the function variant of the theme prop should be sufficient to implement whatever type of merging you want!

[code]

[2018-04-17 05:39] #244 closed

[2018-04-17 05:42] probablyup commented on #1692
@kiddkai what's your definition of a client-like environment? We go so far as to look for the existence of [HTMLElement classes](https://github.com/styled-components/styled-components/blob/master/src/constants.js#L11) before deciding to render in browser mode. I think that's pretty reasonable.

[2018-04-17 05:48] probablyup commented on #1229
Given that we aren't moving forward with preprocessing or static extraction in the foreseeable future, going to close this.

[2018-04-17 05:48] #1229 closed

[2018-04-17 06:10] probablyup opened #1694 "4.0 Roadmap"
**planned**

- [x] ~~drop React 15 support and switch to React 16-compliant lifecycle methods, etc without polyfills~~
  - [x] ~~use React 16.3+ context API in ThemeProvider (https://github.com/styled-components/styled-components/pull/1894)~~
  - [x] ~~use `React.forwardRef` API to remove the need for `innerRef` (https://github.com/styled-components/styled-components/pull/1923)~~
- [x] ~~drop HTML

[2018-04-17 06:11] probablyup commented on #1694
cc @mxstbr @kitten for commentary and suggestions

[2018-04-17 07:15] mxstbr commented on #1694
Global style component?

[2018-04-17 07:15] beautyfree commented on #588
Any new thoughts?

[2018-04-17 07:15] probablyup commented on #1694
Ah yes! Want to add it to the checklist?
On Tue, Apr 17, 2018 at 3:15 AM Max Stoiber <notifications@github.com>
wrote:

[2018-04-17 07:43] beautyfree commented on #794
With the latest version of packages, the problem is not reproduced. It seems possible to be closed

[2018-04-17 09:37] declanelcocks commented on #1236
Did anyone find a cause for this? I'm also getting this issue in development. Any luck from @KevinMartin @robinvdvleuten ?

[2018-04-17 10:12] kitten commented on #1692
@kiddkai can you also provide us with the version you’re using please?

[2018-04-17 10:36] beshanoe commented on #630
Though, until it lands, I would use the solution I came up with recently:
[code]
Usage:
[code]

I like it, because the IDE support(highlighting and formatting) is preserved

[2018-04-17 11:16] kitten commented on #1689
@kopax I'm not quite sure I follow. This is quite ambiguous.

You **don't** have React in the environment you're describing, **yet** you do have this output? Sorry, not quite sure this makes sense. If anything, I'd recommend you to go down the route of SSR-ing or snapshotting. There are great JAMstack tools out there that could help you like Gatsby or Next.js' exporting. Not quite sure though that

[2018-04-17 12:08] kopax commented on #1689
@kitten , we want to maintain our css and html with styled-components.

The same way you would prepare a work space with stylus and jade with gulp, to output some bundled source.

We need to make the workspace for such environment, as the output would be multiple html file as templates and css files.

We have been looking into [StyledComponent.js#L100](https://github.com/styled-components/styled-c

[2018-04-17 12:32] kiddkai commented on #1692
Hey @probablyup , because the current frontend limitation we are having at the moment, we create a separate [vm](https://nodejs.org/api/vm.html) which includes some browser api like  document, window to make sure our js is not broken during server-side rendering.  But the `insertRule` there doesn't really works with the environment we've setup. So I use the `StyleSheet` internal API at the moment.

[2018-04-17 12:43] kiddkai commented on #1692
Hey @kitten , the current version in our `package.json` is `3.2.5`. Yeah, and we are only calling the `reset` right after we loads the server bundle. I can see why it's quite dangerous, but it seems like it's almost impossible for us now to having both a `client-like` environment with server-side rendering :(

[2018-04-17 15:05] kitten commented on #1689
@kopax Well, you cannot break out of React and expect to output html and css using React / styled-components, I suppose. I'd recommend taking a look at:

- https://github.com/zeit/next.js#static-html-export
- https://www.gatsbyjs.org/
- https://github.com/geelen/react-snapshot
- etc

Generally the way to success would be a statically exported React SSR app. Then you could capture styled-components

[2018-04-17 15:05] #1689 closed

[2018-04-17 16:42] kopax commented on #1689
@kitten, I think it is bad to write all our code in multiple languages, that increase mistake.

We generally have react, but for many cases, we do not have it, for example the loaders, 404.html in the proxy, etc...

in this case, we would in the past use a workspace with stylus and jade preprocessing. We would like now to use a workspace with styled so we just turn fulll styled.

The ssr rendering

[2018-04-17 20:57] andrewtpoe commented on #1222
I wanted modifiers in my styled components too, so I built [`styled-components-modifiers`](https://www.npmjs.com/package/styled-components-modifiers).

We use it in multiple production products at work. Has been great and really cleaned up our components.

[2018-04-18 10:08] diondiondion commented on #439
Is the reserved "sc" prop mentioned in the 4.0 roadmap issue (#1694) going to be your "official" solution to this?

If so, and if there won't be another API for specifying at component-creation-time which props not to pass through, that's really disappointing, to the extent that it'll likely make me look at migrating to another styling library instead of updating.

[2018-04-18 15:31] adamchenwei commented on #439
` expose the knowledge
that we are using styled-components.` what does that mean just curious?

[2018-04-18 17:12] selbekk commented on #439
@adamchenwei snitches get stitches 😜

[2018-04-18 17:31] garycourt opened #1695 "Typing for `innerRef` does not support React 16 `RefObject`"
Typescript throws an error when trying to use React 16's new RefObject with `innerRef`. Example:

[code]

The offending line appears to be: https://github.com/styled-components/styled-components/blob/6cff64644d22e447504e917ffed4bffdf8c93b5e/typings/styled-components.d.ts#L15

It should probably be: `innerRef?: Ref<any>;`

[2018-04-18 23:33] mike3run commented on #1627
@mxstbr im thinking for simple stuff like `:focus` on react native it'd be nice if on the background the library added the necessary events to just trigger those style changes

Something along this

https://stackoverflow.com/questions/34087459/focus-style-for-textinput-in-react-native#34091564

but auto 😄

[2018-04-19 01:04] tysonmatanich commented on #1109
Just wasted several hours because of this. I understand a fix is coming, however adding it to the documentation until then is the right thing to do.

[2018-04-19 01:38] probablyup commented on #1109
@tysonmatanich what are you seeing? The behavior has changed a lot since this issue. Please open a new one if you have a specific bug to report.

[2018-04-19 06:26] probablyup commented on #1694
Did a tiny bit of hacking to see what the final size looks like after the first two checklist items:

before

<img width="578" alt="screen shot 2018-04-19 at 2 25 04 am" src="https://user-images.githubusercontent.com/570070/38974679-06fbd108-4379-11e8-900d-a8db98a7e167.png">

after

<img width="586" alt="screen shot 2018-04-19 at 2 25 07 am" src="https://user-images.githubusercontent.com/570070/38

[2018-04-19 06:28] probablyup commented on #1694
@kitten I wasn't sure if I should add sweetsour to the checklist just yet? I'd love to target a mid-summer release for 4.0, depending on how much time we have.

[2018-04-19 07:16] mxstbr commented on #1694
@probablyup 😍😍😍😍😍😍

[2018-04-19 18:53] tysonmatanich commented on #1109
@probablyup Not a bug, just think it would be good to call out in the [documentation](https://www.styled-components.com/docs/api#injectglobal). The issue I encountered seems exactly the same as @geelen reported. The workaround of needing the global styles import before the App is imported works great. I'm using SSR if that impacts anything. Tried on both v3.2.5 and v3.2.6.

I thought `injectGlobal

[2018-04-19 23:55] nickbreaton opened #1697 "[TypeScript] Implement generics for tagged template literals"
Hello styled-components team,

Today support for  passing generic types to tagged template literals was [merged](https://github.com/Microsoft/TypeScript/pull/23430) into TypeScript master and is pending release in TypeScript 2.9. This opens the door to what is, in my opinion, a more stream lined way of typing components:

[code]

This is opposed to the currently suggested way documented [here](htt

[2018-04-20 05:24] charliewilco commented on #1459
i can try and take this up!

[2018-04-20 08:37] JigsWeb opened #1699 "[BUG] Static props not taken with styled HOC"
## Environment

### System:
 - OS: Windows 10
 - CPU: x64 Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz
 - Memory: 1.30 GB / 7.89 GB
### Binaries:
 - Yarn: 1.5.1 - ~\AppData\Roaming\npm\yarn.CMD
 - npm: 5.8.0 - D:\Anthony\Workspace\mpx-front-groceries\node_modules\.bin\npm.CMD

## Reproduction

https://codesandbox.io/s/wn6pkm53v7

## Steps to reproduce

Add a static prop to your component, and export i

[2018-04-20 22:09] probablyup commented on #1459
@charliewilco PRs welcome! Please coordinate with the other PR introducing React 16 lifecycles stuff.

I’d like to use create-react-context for this so tearing it out later is super easy.

[2018-04-21 01:52] good-idea opened #1701 "Broken behavior when using Yarn & Webpack Dev Server"
I'm having really odd problems when I've installed via Yarn. I've made a sample repo to reproduce the problem - I've essentially stripped out everything I possibly can from an actual project to try to figure out what the cause is.

This *may* be an issue with webpack, but there are no real errors being reported and it's only Styled Components that seems to be affected. I also believe that it has s

[2018-04-21 04:40] probablyup commented on #1701
It looks like you have some invalid styles. Dev mode is more tolerant of such things, but it won’t work in production.

[2018-04-21 04:45] good-idea commented on #1701
@probablyup I'll review the styles in use to see if this is the problem, but it *is* working in production, not in dev mode. If invalid styles in dev mode are the problem, then the issue is that this should be reported in the console.

[2018-04-21 10:33] beshanoe commented on #1697
I've checked whether it's supported out of the box with typescript@next, and it turned out that it is, but with some issues. Here's the interface responsible for handling tagged templates in `styled-components.d.ts`:
[code]

if you just have a code like this:
[code]
It won't work because looks like first declaration in the interface witch is without `<U>` hits first and compiler doesn't pass gener

[2018-04-22 03:43] danielrob opened #1702 "[Feature] Tightly couple top level element with the styled component"
With [React.Fragment](https://reactjs.org/docs/fragments.html) it might be possible to do something like:
[code]
Note the `styled(People).div` which would render e.g.
[code]

## Presently there are two patterns:
The recommended pattern
[code]
And the other pattern:
[code]

### Shortfalls:
The recommended approach:
 -  requires you to name the styling of the outer node of your component (e.g. `Peop

[2018-04-22 10:35] viiiprock commented on #1428
yeah I got the same issue, did you resolve this @glensomerville ?

[2018-04-22 10:46] jacob-ebey commented on #1428
@viiiprock See https://github.com/jacob-ebey/styled-components-ts

[2018-04-22 12:40] kitten commented on #1702
`styled(Component)` is not actually the recommended pattern at all. If you have your own components that you're styling, you might want to instead style elements, and not containers. Containers, be it stateful or -less can simply provide props for switching styles. Often it's also not necessary to even provide a lot of props, or avoid just creating more elements with styles.

But even then, I don'

[2018-04-22 13:00] #1702 closed

[2018-04-22 13:03] danielrob commented on #1702
@kitten thanks for this! In fact I think I've just finished up the source code for this secondary lib! It's late for me now, but I'll post it here / on github / on npm tomorrow :)

I had previously read the long threads on the 'as any element' argument, and I actually strongly supported your decision to disallow that. Ironically though when I've come at it from this different angle, I like the pos

[2018-04-22 14:53] danielrob commented on #1702
@kitten and voila:
https://github.com/danielrob/styled-as-components/
https://www.npmjs.com/package/styled-as-components

Please feel free to tell me I've done something very evil. This is my first public npm package :).

[2018-04-22 15:06] danielrob commented on #1604
Hello @daviddelusenet I'd be interested in your take on my approach of avoiding having to name the wrappers elements altogether!

https://www.npmjs.com/package/styled-as-components

[2018-04-22 18:01] Mathieu-R opened #1703 "Styled attrs is not updated though props change"
## Environment
`npx envinfo --system --binaries --npmPackages styled-components,babel-plugin-styled-components --markdown --clipboard`

## System:
 - OS: Linux 4.16
 - CPU: x64 Intel(R) Core(TM) M-5Y10c CPU @ 0.80GHz
 - Free Memory: 965.40 MB
 - Total Memory: 3.76 GB
 - Shell: /usr/bin/zsh - 5.5.1
## Binaries:
 - Node: 9.11.1
 - Yarn: Not Found
 - npm: 5.8.0
 - Watchman: Not Found
## npmPackages:

[2018-04-22 19:29] kitten commented on #1703
Can you please provide a reproduction? Should be a simple usage issue. You already have the CodeSandbox template in your issue description ;)

[2018-04-22 19:48] Mathieu-R commented on #1703
Done :grinning:

[2018-04-22 21:04] kitten commented on #1703
@Mathieu-R That's a React thing; you've got a typo in your style property :wink: This is what you have

[code]

But since that's still two coordinates it should use `translate` as in:

[code]

[2018-04-22 21:04] #1703 closed

[2018-04-23 07:25] ms88privat commented on #1546
We should be careful here. `extend` has not the same behaviour as `styled`. In our case we grep the component displayName in our visual tests. There it makes a difference what we use. If we use extend, it will not get a new displayName, but with styled it does. E.g.:

![image](https://user-images.githubusercontent.com/6705521/39112218-1cfd01c2-46d8-11e8-8a52-f1b0c11816c5.png)

Will result in:

![i

[2018-04-23 09:48] pie6k commented on #1603
![image](https://user-images.githubusercontent.com/7311462/39119272-bbb616a6-46eb-11e8-96ab-e5b1a71ca1a1.png)

Yup. Upgrading `styled-components` has broken all our analytics services for session recordings.

We've contacted support service of our analytics service and response was: `Your site is using Javascript API called insertRule. Our tracking tools is not able to capture these styles as they

[2018-04-23 09:59] harshmaur commented on #1603
@pie6k Just downgrade your styled-components as of now.

[2018-04-23 10:27] Amiryy commented on #630
@vitalybe  @kitten
After reading through everyone's ideas (some of them blown my head with complexity)...
I came up with a way to keep using props in a **clean & typed** manner without the undesired use of `any`/`attrs` or trying to 'bypass' TypeScript.
and It's as simple as that 😄 :
[code]

[2018-04-23 10:51] gemma-ferreras opened #1705 "Not rendering routes when wrapping them with styled-components in production/electron"
## Environment
## System:
 - OS: macOS High Sierra 10.13
 - CPU: x64 Intel(R) Core(TM) i3-4170 CPU @ 3.70GHz
 - Memory: 2.98 GB / 16.00 GB
 - Shell: 3.2.57 - /bin/bash
## Binaries:
 - Node: 8.9.4 - /usr/local/bin/node
 - Yarn: 1.3.2 - /usr/local/bin/yarn
 - npm: 5.6.0 - /usr/local/bin/npm
 - Watchman: 4.7.0 - /usr/local/bin/watchman
## npmPackages:
 - babel-plugin-styled-components: ^1.5.1 => 1.5.

[2018-04-23 14:30] beshanoe commented on #630
@Amiryy this is brilliant 😄
I don't know why nobody came up with it before, I remember trying something like this myself some time ago, but apparently, it didn't work well somehow

[2018-04-23 16:16] elektronik2k5 commented on #630
@Amiryy, @beshanoe, I do the same. It is simple and works well, but is repetitive and verbose.
I believe the point of this thread is to have the props **inferred** from the style - not by declaring an interface each and every time.

[2018-04-23 16:29] beshanoe commented on #630
@elektronik2k5 the cool thing is that it's just enough to mention props type once and in every other place inside your styled-component's CSS you will have typed props:
[code]

[2018-04-23 17:14] elektronik2k5 commented on #630
@beshanoe you get the same only without the hacky part just by declaring the interface for **any** of the interpolations:
[code]

What I would really like is for this
[code]
to infer `typeof Box` to `BgColor & Disabled`.

[2018-04-23 20:36] charliewilco opened #1706 "testID prop"
working on refactor of react-native-web for styled-components. one thing that's help with RNW is those components have a `testID` that transpiles to the data-attr on the rendered HTML `[data-test-id]`.

i added a  #1698 to add this similar API

[code]

[2018-04-24 17:14] TrevorBurnham opened #1707 "Feature request: Option to prepend <style> tags"
I'm migrating an existing app to styled-components. A problem I'm running into is that `<style>` tags generated by styled-components override existing styles, even when they have minimal specificity, because they occur later in the `<head>` than the app's base stylesheet. (See the detailed example below.) To resolve this, I'd like an option to make styled-components render its `<style>` tags at th

[2018-04-24 17:32] TrevorBurnham opened #1708 "Feature request: Global selector prefix (CSS namespace)"
I have a use case where I'm injecting styled-components code into a third-party page. The page has various style rules that are both broad and high-specificity, such as

[code]

that are rather difficult to override; something like

[code]

lacks sufficient specificity. I could, of course, throw `&`s at the problem on a case-by-case basis:

[code]

However, doing this case-by-case is very tedious,

[2018-04-24 17:48] Dema opened #1709 "Crash in production mode using withTheme without ThemeProvider"
## Environment

`npx envinfo --system --binaries --npmPackages styled-components,babel-plugin-styled-components --markdown --clipboard`
Environment:
  OS:  Linux 4.16
  Node:  8.11.1
  Yarn:  1.3.2
  npm:  5.6.0
  Watchman:  Not Found
  Xcode:  N/A
  Android Studio:  Not Found

## Reproduction

## Steps to reproduce

1) Use withTheme HOC without wrapping application in ThemeProvider on production

[2018-04-24 17:50] joaoreynolds commented on #1604
Even though this is closed, I think this is a logical place for this discussion (and I couldn't find a thread on spectrum about this). All I could find there (and via google) are discussions about styled components and BEM - but BEM is not really needed, as you've mentioned, classes aren't global with styled-components.

When I first started my project, I created a wrapper for everything, as sugge

[2018-04-24 19:28] damassi commented on #1692
I just ran into this issue when testing a library I'm writing in Jest. Is there any way we can expose `__DO_NOT_USE_OR_YOU_WILL_BE_HAUNTED_BY_SPOOKY_GHOSTS` as an API option? It seems rather extreme for what the ultimate aim is.

[2018-04-24 21:06] ben-rogerson commented on #1604
After finished a few smaller projects with Styled Components I'm keen to hear some more opinions on this too.

**Some of my thoughts:**
- A naming prefix for the styled components could be a good solution. Eg: styledImage, styledWrapper
- They have to be immediately recognisable as a styled-component, and not be confused with a component-component :)
- It would be great to cut down on the number o

[2018-04-24 21:17] joaoreynolds commented on #1604
Just today I ended up converting a styled component into a "component component". The nice thing was that I didn't have to rename all my instances, which I'd have to do if I named it `StyledWrapper` for example. I don't know if this is really an argument for or against your method, because I could have just as easily wrapped the original styled component in my own new component (just as I would ha

[2018-04-25 03:26] dwb1994 opened #1710 "got TypeError when I use react-sketchapp with "react-native API of styled-components""
## Environment

`npx envinfo --system --binaries --npmPackages styled-components,babel-plugin-styled-components --markdown --clipboard`
## System:
 - OS: macOS Sierra 10.12.6
 - CPU: x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
 - Memory: 3.03 GB / 16.00 GB
 - Shell: 5.2 - /bin/zsh
## Binaries:
 - Node: 8.9.4 - /usr/local/bin/node
 - npm: 5.6.0 - /usr/local/bin/npm

## Reproduction

when I try to

[2018-04-25 03:38] dwb1994 commented on #1710
[code]

it worked if I use `h1` `div`... in react-sketchapp, but I expect to use `View` `Text` `Image`..tags in react-sketchapp

[2018-04-25 04:01] dwb1994 commented on #1710
sorry, I got correct usage by the example of react-sketchapp.

I lose sight of this example [](https://github.com/airbnb/react-sketchapp/tree/master/examples/styled-components) of react-sketchapp, it already showed the usage.

[2018-04-25 04:01] #1710 closed

[2018-04-25 07:15] tobiastornros commented on #1615
This problem can be solved by upgrading `styled-components` to latest version (fixed in 3.2.2).

We can close this issue.

[2018-04-25 15:01] janhoogeveen commented on #1655
When using the `<StrictMode>` component,  my console is being blasted by warnings like these:

`componentWillMount: Please update the following components to use componentDidMount instead: Anchor__Link, Footer__AuthLinks, Footer__Links, Footer__Logo, Footer__LogoContainer, Footer__StyledFooter, Footer__StyledLink`

Of course I understand that these are just warnings and I'm happy to see the migrat

[2018-04-25 15:36] BernardoMariano opened #1712 "Caching Streamed styles only"
I have one page in my current stack, with the same CSS always, but the contents of this page may be different based on a query param `/?id=0123456789`

This way, if I cache the whole buffered HTML per URL `req.originalUrl`, I would need to cache **every possible resulted page** with query param, re-collecting all my styles for every case of `/?id=`.

There could be a way to get the generated css f

[2018-04-25 16:25] mxstbr commented on #1712
Maybe this helps? https://zeit.co/blog/streaming-server-rendering-at-spectrum

[2018-04-25 18:04] BernardoMariano commented on #1712
I found two issues with this caching approach: it caches the whole final generated HTML document, not just the CSS and when there's a cache hit, you `res.send(html)` synchronously from the cache, not making use of the advantages of the async stream rendering.

I'm right now implementing what I think is the best solution for this, will open a PR soon

[2018-04-25 18:12] mxstbr commented on #1712
True, that should be updated—PR very welcome! https://github.com/withspectrum/spectrum

[2018-04-26 00:43] rkhayat commented on #1701
I am experiencing similar issues..randomly during refreshes styles will disappear.

[2018-04-26 19:59] vadistic commented on #630
@elektronik2k5 I also really like this pattern, but it get broken when used together with dynamic composition... I'm looking for any ideas **why**?

[code]

On the quest for the Perfect TypeScript Styled Component™, the best I could came up is something like this.
[code]
Any suggestions? I'm quite new at this 😄

[2018-04-27 12:04] Undistraction opened #1713 "Make Interpolation Of Child Components Agnostic"
First a caveat - I appreciate that targeting specific children should be avoided *if possible* using flexbox or generic descendent selectors. I also appreciate that there is a good argument for keeping context in the child components themselves rather than have a parent know about child styles. However, when it comes to layout I think there are many cases where there is a strong argument for the p

[2018-04-27 12:45] diondiondion commented on #1707
It's not really documented and I haven't tried it myself yet, but it seems like you should be able to control where your styles will be injected using the StyleSheetManager's `target` prop that was introduced in [3.2.0](https://github.com/styled-components/styled-components/releases/tag/v3.2.0); might be worth giving it a try.

[2018-04-27 12:58] mxstbr commented on #1713
The way interpolating a styled-component works is that we basically do `Child1.className`, which doesn't exist for vanilla React components—so no, this isn't possible unfortunately :confused:

[2018-04-27 12:58] #1713 closed

[2018-04-27 13:07] Undistraction commented on #1713
@mxstbr Could SC determine if the component is a styled-component and if so, behave as it does presently, but if not, execute the component and access its props.className (and use that as the interpolated value)?

[2018-04-27 13:30] mxstbr commented on #1713
That might change depending on which props are in, so not really. We don't know which props the component expects and how they affect the rendered class name.

[2018-04-27 13:44] Undistraction commented on #1713
OK. I can see the problem. Thanks for explaining.

[2018-04-27 14:16] reinseth commented on #1604
The old pluggable look and feel concepts from Swing springs to mind. Components delegate the job of creating the actual user interface to UI classes. For example, a JButton uses an implementation of ButtonUI.

[2018-04-27 15:32] kitten commented on #1707
You could use SSR for that. Actually, you don't even need SSR, I guess. As long as you put this tag at the right place in your HTML, the rehydration logic should be taking care of the position of all future style tags for you:

[code]

[2018-04-27 15:39] TrevorBurnham commented on #1707
🤔 Interesting! I’ll try that.

[2018-04-27 17:34] TrevorBurnham commented on #1707
It actually seems to work well for me (I'm on styled-components@3.2.3), but it'd be nice to have some kind of API guarantee that this functionality won't break in the future. I'm not using SSR.

[2018-04-27 19:20] dcflow opened #1714 "Hot Reload Issue with Electron"
Hi guys,

I'm having an issue trying to get hot-reloading to work with `styled-components`.
I have tried many `configs` and all the component changes hot-reload fine except for
the styled components which either do a full reload or they don't update at all.
Simple repo with my project setup: https://github.com/dcflow/styled-test

Thank You!

[2018-04-28 09:59] joetidee commented on #135
What about if you are extending a component? In the example below, I want `completed` to be accessed by `StyledItemTextarea` but not `Textarea`.
[code]

[2018-04-29 01:40] Igorbek opened #1715 "Different components defined with the same display name end up having same per-component class name"
## Environment

`styled-components@3.2.6`

## Reproduction

[code]

outputs

[code]

Code: https://codesandbox.io/s/92o6vrym2w

## Expected Behavior

I expect that even if `displayName` is the same, two components should have different class names like `Name-ibxdXY` and `Name-RefOD`.

## Actual Behavior

Both components have the same per-component class name `Name-liQCRp`.

## Note

The bug was in

[2018-04-30 11:03] GitHub1396 opened #1716 "Persian Font Using 'styled-components'"
Dear all,
I must thank you very much for providing such a fantastic tool. However, I have an issue with Persian font face while aadding it under injectGlobal like this:
injectGlobal`

@font-face {
    font-family: 'sans';
    src: url('./assets/fonts/iran-sans.ttf');
  }
   `
when I import globalStyle from relevant path and reload the page, nothing has changed and style will be set as a default no

[2018-04-30 15:35] evan-scott-zocdoc commented on #1716
@GitHub1396 are you using it?

[code]

[2018-05-01 00:32] deehuey commented on #1709
Uhm... just curious why you'd use `withTheme` without the provider? That's like trying to use connect without redux...

[2018-05-01 06:26] Dema commented on #1709
I don't, but `reflex` library, that I use, does. Actually, we were using themes, but decided to get rid of them.

[2018-05-01 14:48] Andrew1431 opened #1717 "Filesystem / Create-React-App issue causing majority of styled-components to break."
# I'm not sure this belongs here, but...

## Environment

`npx envinfo --system --binaries --npmPackages styled-components,babel-plugin-styled-components --markdown --clipboard`

## System:
 - OS: macOS High Sierra 10.13.3
 - CPU: x64 Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz
 - Memory: 732.56 MB / 16.00 GB
 - Shell: 5.3 - /bin/zsh
## Binaries:
 - Node: 8.11.1 - /usr/local/bin/node
 - npm: 5.6.0 -

[2018-05-01 14:53] kitten commented on #1717
Do you have a any subdependency (be it your own or external) that also depends on styled-components and is incorrectly set up so that two copies of styled-components are being bundled?

[2018-05-01 14:56] Andrew1431 commented on #1717
Good question, definitely not my own, I will investigate my existing dependencies, but the brutal part here is that no matter how far back I roll my commits, all my components have broken. Also have rolled back:

All package.json versions,
All node / npm versions ( as low as v4 )
Git history right back to january which was still broken.

I attached a video in the original ticket.

[2018-05-01 14:58] Andrew1431 commented on #1717
@kitten no sir, just checked all my packages dependencies. Nothing else is using styled-components.

[2018-05-01 15:37] tabrindle commented on #1717
Just to double check - you mind running this, and pasting the output? This will recursively crawl the whole node_modules tree looking for SC.

`npx envinfo --npmPackages styled-components --duplicates --fullTree --clipboard`

[2018-05-01 16:14] Andrew1431 commented on #1717
[code]

[2018-05-01 16:17] Andrew1431 commented on #1717
[code]

[2018-05-01 16:18] Andrew1431 commented on #1717
In my original question, it says ^2.2.3 => 2.2.3

[2018-05-01 16:27] Andrew1431 commented on #1717
Yeah not at the same time, sorry, I've been going crazy here with trying idfferent stuff, but in each environment the issues are happening, regardless of version. I might download yarn and try with that but i'm not feeling confident about it.

[2018-05-01 16:43] Andrew1431 commented on #1717
If I mount my <Card> component in our `PrimaryView.js` area, the Card renders properly, and if in the same session I click to the backend admin area (seen in the video), the card is not rendering correctly. It's like it has to do with the view hierarchy. Is there _*anything*_ regarding context that could be breaking styled components? Is there a list of keys that i should stay away from? Obviously

[2018-05-01 17:31] Andrew1431 commented on #1717
Well, I don't have an explanation for it, but it's a code-splitting issue. One which I can not explain. The gains are not worth th esacrifice obviously, and as such I am removing code-splitting from our application.

[2018-05-01 17:33] #1717 closed

[2018-05-02 04:14] titellergetlinks opened #1719 "Can external project use the same component?"
I have 2 project (core project and external project) and my styled-components stay in core project
How can i use the same styled-components in core project from external project.

[2018-05-02 07:24] hiteshagja opened #1721 "How to use ThemeProvider without wrapping entire App?"
@geelen

I am really don't know who is best person to address this question, I found greelen name first in the list so addressing you.

I am creating component library for client which I am using as npm link to use it in create react app. But the question is component library project has no App container so I **can not wrap** it as

`<ThemeProvider>
<App />
</ThemeProvider>`

So what is the altern

[2018-05-02 08:06] benknight commented on #1490
I just installed the flow-typed lib defs for styled-components but my editor is still complaining that the default export isn't covered:

![image](https://user-images.githubusercontent.com/786691/39512214-48775570-4e1a-11e8-9550-a5c949b0f48b.png)

[2018-05-02 13:35] Andrew1431 commented on #1721
What component library tool are you using to develop? (storybook, styleguidist) They usually offer a way to have wrapper components. Let me know, and I can help you out.

[2018-05-02 13:38] Andrew1431 commented on #1717
My god gentleman, I found it.

[code]

Check out that &:hover. That code has been in there for as long as I can remember. I can't understand why it only just started causing issues. I was able to restore code-splitting into my application after removing the apostraphe from the `background-color` property. Maybe this is my reproducible bug?

@tabrindle @kitten

[2018-05-02 14:41] AntonioRedondo commented on #1428
The  [TypeScript fix](https://github.com/Microsoft/TypeScript/pull/23430) for this issue has been merged into Master and it can be used with the `next` npm version. Any example guys from the `style-components` team to fix the `IntrinsicAttributes...` error?

[2018-05-02 15:58] marharyta commented on #1226
I am experiencing the same exact issue with "styled-components": "^3.2.6",
the component style does not apply with the following syntax
[code]

[2018-05-02 16:49] dennishansen commented on #439
Warning: Opinions.

Here's my ideal API for creating styled components.

[code]

with usage as

[code]

Notice: On component definition, It supports consuming *any* prop, defining new props (replacing the `styled().attrs()` function, and the extention of existing styles. In this API, the passing of props to the child component is intentional instead of automatic.

I personally dislike string liter

[2018-05-03 07:07] mxstbr commented on #1708
Here you go: https://libraries.io/npm/@quickbaseoss%2Fbabel-plugin-styled-components-css-namespace

[2018-05-03 07:07] #1708 closed

[2018-05-03 09:51] TrevorBurnham commented on #1708
No prospect of an official solution, then?

[2018-05-03 09:55] mxstbr commented on #1708
We probably won't support this given the Babel plugin linked above works perfectly fine :blush: Consider it the official solution!

[2018-05-03 10:54] hiteshagja commented on #1721
Do I really need need storybook or styleguidist? Without container shouldn't I use theme provider?

For now I have ex. colors.js where all colors are defined and I am importing that colors in every component. Is there any advantage using theme provider instead of this approach? And if yes then let me know how can I leverage theme provider without introducing any other third party library?

[2018-05-03 12:20] PsiXdev opened #1722 "Problems with hydration when ssr multiple bundles"
Hello. I use ssr and my server renders two bundles (on `/first` and `/second` routes, for example). On `/first` route everything is fine. But I have next warning in client console on `/second` route:

That problem appears because of same components having different numbers in `identifiers` hash on client and server:

https://github.com/styled-components/styled-components/blob/f20d26465375aa3a2312d

[2018-05-03 19:47] mbrowne commented on #1315
There might be multiple issues here, but specifically regarding stateless functional components, the problem is this line:

    withComponent(element: ComponentClass<P>): StyledComponentClass<P, T, P>;

It should be changed to:

    withComponent(element: ComponentType<P>): StyledComponentClass<P, T, P>;

That way it will work for both class components and function components. It shouldn't break a

[2018-05-03 21:57] Igorbek commented on #1315
@mbrowne that change should be ok. a PR is very welcome.

[2018-05-03 22:47] granmoe commented on #1036
@yss14 Thanks! 😄

I would very much welcome PRs for it if you find that there's anything missing or if anything can be improved--I'm working on a deep learning project in most of my off time currently.

[2018-05-04 00:06] brunobertolini opened #1723 "How to avoid unnecessary re-renders?"
Should not these re-renderers be avoided?

https://codesandbox.io/s/oo31k89q65

See the console

[2018-05-04 14:02] kitten commented on #1723
No, we rerender every time React is updating the component as you'd expect. We can't tell for sure whether something has changed in the props, as we don't put any restrictions or requirements on them, like purity.

It'd also be more expensive to check first, as usually we just process the CSS again and then check if the generated class-hash is already in the stylesheet. So there's nothing to worry

[2018-05-04 14:02] #1723 closed

[2018-05-04 14:48] chengjianhua commented on #349
Can we implement this by getter?

Whatever the third party component read the `className` explicitly or implicitly, we can check this by setting a flag to be true if the user accesses the getter.

[code]

When the third party component using rest props to consume the props, we should treat this as the deliberate behavior to access the `className` property because the third party component would sp

[2018-05-04 15:12] sylvain-hamel opened #1725 "Feature : attrs should accept a callback (not just an object)"
**Exemple:**

[code]
**What will it allow you to do that you can't do today?**
Use `attrs` to introduce a variable number of props, not a list of _known_ props.

**How will it make current work-arounds straightforward?**
Avoid unnecessary wrappers that just pass on some props to the rendered component.

[2018-05-05 13:50] chengjianhua commented on #1411
@kitten I think it's necessary to cover this requirement.

For example:

`styled.js`

[code]

`app.js`

[code]

If a component is a sub-component of an another and that component needs to be styled, the step of getting the sub-component would be verbose.

[2018-05-05 15:27] chengjianhua commented on #352
@maksugr Could you make a PR for your completed commits?

[2018-05-05 16:00] maksugr commented on #352
@chengjianhua it is right [here](https://github.com/styled-components/styled-components/pull/1202)

[2018-05-05 23:45] probablyup commented on #352
Yup

[2018-05-05 23:45] #352 closed

[2018-05-06 23:07] Keraito commented on #1695
Could I try my hands on this to familiarize myself with the `styled-components` codebase?

[2018-05-06 23:07] probablyup commented on #1695
I believe there is already a PR for this?
On Sun, May 6, 2018 at 7:07 PM Chak Shun Yu <notifications@github.com>
wrote:

[2018-05-06 23:11] Keraito commented on #1695
Oh yeah I think #1711

[2018-05-07 04:53] codepunkt commented on #1695
That's correct. Feel free to improve these typing, if possible. Thanks for reporting!

[2018-05-07 04:53] #1695 closed

[2018-05-07 05:58] GitHub1396 commented on #1716
@evan-scott-zocdoc  this way works perfect. Thank you very much.

[2018-05-07 06:05] probablyup commented on #1716
Glad to hear it!

[2018-05-07 06:05] #1716 closed

[2018-05-07 09:49] andraaspar commented on #1671
@Igorbek I know. I tried it. It didn't do a thing. It didn't even throw an error, it just silently failed to work.

And I know I can set up Babel for this (say hello to crappy synthetic default imports). What a hassle. It could be such a simple thing to implement a public call for this. Maybe it's a documentation change only. Oh well. There must be an agenda behind this.

[2018-05-07 10:43] raghvendradeshpande opened #1726 "Styled components not working in IE11 - 10"
Styled components are not working in IE11 - 10 with ReactJS application.  React Version is 16.3.0

[2018-05-07 13:56] probablyup commented on #1726
Is there a console error?
On Mon, May 7, 2018 at 6:43 AM raghvendradeshpande <notifications@github.com>
wrote:

[2018-05-07 15:52] raghvendradeshpande commented on #1726
There is no console error. Styled components are not working on IE browser. It is working fine on Chrome and Firefox browser. Please let me know if you need more information. thank you

[2018-05-07 15:54] probablyup commented on #1726
Yeah this isn't enough information to go off of, sorry. Please follow the issue template and try providing the data requested in it.

We run styled-components with IE 11 and it works fine, so I suspect it's something to do with your environment.

[2018-05-07 16:00] probablyup commented on #1722
@PsiXdev are you using the babel plugin with the SSR option set to true?

[2018-05-07 16:02] PsiXdev commented on #1722
@probablyup oh sure

[2018-05-07 16:06] kitten commented on #1722
@PsiXdev make sure that there’s more information for the plugin:

- use a variable instead of export default’ing directly
- make filenames / paths descriptive
- make sure that folders + name are eventually discriptive

If this then still occurs we might have a problem :)

[2018-05-07 16:11] PsiXdev commented on #1722
I think I can create an example that shows the problem

[2018-05-07 18:14] snegostup opened #1727 "Random classnames, impossible to use with AMP <amp-live-list>"
`syled-components` is great when implementing [AMP HTML](https://github.com/ampproject/amphtml). However AMP's implementation of [amp-live-list](https://www.ampproject.org/docs/reference/components/amp-live-list) (lists that can be updated without page reload) makes it impossible to use `styled-components` with them.

The way it checks for new items is by repeatedly polling the page and when new i

[2018-05-07 18:50] snegostup commented on #1727
@probablyup I wasn't aware of it's existance. It solves it, thanks!

[2018-05-07 18:50] #1727 closed

[2018-05-07 19:39] micimize commented on #1309
@jacobp100  I think the reasons for rejecting #489 should be reconsidered. The reasons given, as far as I can tell:
__1.__ hesitance to take on more/incorrect dependencies
__2.__ the consideration of a more general solution in #504
__3.__ "nobody has asked for this feature"

__2__ got shot down and __3__ is clearly no longer the case, so that just leaves __1__. I don't see why leveraging external

[2018-05-07 20:43] vjpr opened #1728 "Next.js "Warning: Prop `className` did not match.""
Just noting the solution for me. My babel config was only applying to my server-side and not client-side.

I suggest verifying that your babel config is running on the server-side and client-side, and includes `babel-plugin-styled-components`.

The cause of my config not loading client-side was https://github.com/zeit/next.js/issues/4301#issue-320945743.

[2018-05-07 20:43] #1728 closed

[2018-05-07 23:36] jacob-ebey commented on #1428
I'd like to deprecate styled-components-ts, but I'm not willing to do that until there are examples for the community.

[2018-05-08 07:56] GazzaHazza commented on #1603
@harshmaur What version did you downgrade to?

[2018-05-08 08:06] harshmaur commented on #1603
`3.0.1`

[2018-05-08 08:08] GazzaHazza commented on #1603
@harshmaur Thanks

[2018-05-08 16:19] PsiXdev commented on #1722
It was not fast, but I figured out more deeply and was able to repeat the problem in clean project. You can see it on https://github.com/PsiXdev/sc-multi-bundles-bug
The problem occurs when using ```const Component = BaseComponent.extend` ... `;```
I think that everything else that I wrote in the first message is true.

[2018-05-08 16:43] kitten commented on #1722
@PsiXdev yea, `.extend` does not generate a deterministic styled component id, which is one of the reasons why it's flagged for deprecation. Have you tried `styled(BaseComponent)` instead already?

[2018-05-08 16:57] PsiXdev commented on #1722
@kitten that solved the problem. At least in my example. In application we use more than hundreds extends and I'm not ready to fix them right now. It's strange that there is nothing in the documentation that the `.extend` is out of date. Or I just did not notice.

[2018-05-08 17:06] BernabeFelix commented on #1226
@marharyta pass className to Button

[code]

[2018-05-08 18:58] Aaron-Pool commented on #588
just dropping a comment after @mxstbr made a note on https://github.com/styled-components/vue-styled-components/issues/39

I'd be glad to help with any chore leg work to get things moving here. I'm big fan of styled components and wish it could be extended to other frameworks more easily. Storybook has set a great precedent for other front-end libraries in to refactoring their core out to make it

[2018-05-08 19:52] kitten commented on #1722
@PsiXdev sorry about that! I haven’t updated the website to reflect this when it came up as an issue.

[2018-05-08 21:08] kitten commented on #1722
@PsiXdev yep, I’ll go head and close it :) let us know if there’s anything else

And if you’re interested in helping us update the website that’d be :100:

[2018-05-08 21:08] #1722 closed

[2018-05-09 03:30] shrynx commented on #1321
@mxstbr
I have opened a PR fixing this issue
https://github.com/flowtype/flow-typed/pull/2190

[2018-05-09 05:04] seankoji opened #1731 "Invalid class name being generated (first character is number) causing styles to fail"
Had a go trying to reproduce with a codepen snippet, but couldn't replicate it properly. I think its to do with the SSR option / deterministic component ID generation.

It appears styled components is assigning component classnames based on folder/file path structure. For example I have a component

[code]

that file contains a component

[code]

However the hover effect doesn't work. On closer in

[2018-05-09 05:05] probablyup commented on #1731
Ooh, good catch. Can you move this over to the babel plugin repo?

[2018-05-09 05:11] seankoji commented on #1731
created https://github.com/styled-components/babel-plugin-styled-components/issues/138

[2018-05-09 05:11] #1731 closed

[2018-05-09 05:11] probablyup commented on #1731
Excellent, thanks!

[2018-05-09 12:43] probablyup commented on #1726
Hmm technically IE10 & 11 did have an earlier spec of vendor prefixed grid
layout. I wonder if stylis doesn’t handle it or if the specs diverged too
much.
On Wed, May 9, 2018 at 2:20 AM raghvendradeshpande <notifications@github.com>
wrote:

[2018-05-09 18:53] #1592 closed

[2018-05-10 12:47] vavdav opened #1733 "Delayed render of styled component does not get styles"
## Environment
## System:
 - OS: macOS Sierra 10.12.6
 - CPU: x64 Intel(R) Core(TM) i5-4308U CPU @ 2.80GHz
 - Memory: 281.60 MB / 16.00 GB
 - Shell: 5.2 - /bin/zsh
## Binaries:
 - Node: 8.5.0 - ~/.nvm/versions/node/v8.5.0/bin/node
 - Yarn: 1.5.1 - ~/.nvm/versions/node/v8.5.0/bin/yarn
 - npm: 5.3.0 - ~/.nvm/versions/node/v8.5.0/bin/npm
 - Watchman: 4.6.0 - /usr/local/bin/watchman
## npmPackages:
 -

[2018-05-10 13:04] vavdav commented on #1733
Sorry my mistake, it is because I am passing styles inside iframe using
  `scSecrets.StyleSheet.instance.toHTML()`
Problem is that in the moment there are not styles for it. But how to handle it? Pass styles to iframe different way or to listen for styles changes. Is it possible?

[2018-05-10 15:13] lifeiscontent commented on #1358
can someone describe how to use styled-theming when a component is composed of multiple elements? can someone update my example so I can see how you would apply multiple themes to an element like this? https://codesandbox.io/s/84qpnz9x42

[2018-05-10 15:14] lifeiscontent commented on #1358
@mxstbr why did you delete my comment?

[2018-05-10 15:14] mxstbr commented on #1358
@lifeiscontent I deleted your comment because it's totally irrelevant to the issue at hand and notified a bunch of people. Please ask questions like that on https://spectrum.chat/styled-components

[2018-05-10 15:15] lifeiscontent commented on #1358
ok, sorry.

[2018-05-10 15:24] Undistraction opened #1734 "Improve Error Message: Cannot read property 'withConfig' of undefined"
At present, calling a tag on `styled` that isn't supported raises a:

For example:

[code]

This is pretty cryptic. I'm wondering if this message can be improved to point to the problem more clearly - that a tag has been used that isn't supported.

[2018-05-10 15:25] mxstbr commented on #1734
Can't really help you with a reproduction :wink: Something's wrong in your build setup most likely.

[2018-05-10 15:26] Undistraction commented on #1734
Sorry. Accidentally posted too early. Fleshing it out now.

[2018-05-10 15:29] mxstbr commented on #1734
Probably not, honestly. 😅 We'd have to attach every possible typo and make it throw a more helpful error, but obviously that's not quite feasible.

Sorry!

[2018-05-10 15:29] #1734 closed

[2018-05-10 15:42] Undistraction commented on #1734
I was thinking that given that the error was being dropped by a Promise you could instead catch it there and error with a more informative message.

[2018-05-10 16:30] mxstbr commented on #1734
Wasn't dropped by a Promise unfortunately!

[2018-05-10 20:51] tsiq-swyx commented on #1655
also posting for searchability. my warnings look like these

[code]

[2018-05-11 03:59] MitchWeiss opened #1735 "Small style variations to deeply nested components"
I've got a hero panel which contains a series of Step components. A Step has an image, title and subtitle.

[code]
[code]

`<Wrapper>`, `<Title>` and `<Subtitle>` all have default styling applied however each implementation also has some slight variation eg in font-size, color, padding, margin etc. **What is the best way to handle these styling variations?** I have come up with a few options but I

[2018-05-11 08:44] #1714 closed

[2018-05-11 08:48] vavdav commented on #1733
It does not work, or I do not know how to manage it. Because iframe target is not rendered yet. Or should I wrap every component?

[2018-05-11 13:09] marharyta commented on #1226
@BernabeFelix  Is that something that is mentioned in the docs? If yes, could you please point me to it? Thank you, it solved my issue.

[2018-05-11 13:30] kitten commented on #1735
This one is the least preferred one, I'd say. It's just not something that will keep your StyledComponents highly maintainable.

It might make sense to use props, but be careful about them. Maybe combine `1.` and `2.` and group them into **localised** themes. See styled-theming https://www.styled-components.com/docs/tooling#styled-theming

It might also make sense to just extend all of the three b

[2018-05-11 18:42] probablyup commented on #1694
@mxstbr I kinda see what you're saying but from the perspective of something using the library, I'd rather be told the correct way to do something from the onset so I didn't have to go back and refactor it all later, you know?

[2018-05-11 19:55] mxstbr commented on #1694
@probablyup but it's not a refactoring at all, it's fully automatic? Once you're ready to go full prod mode we recommend you drop in the Babel plugin—you just don't _have_ to use it from the onset.

[2018-05-11 22:42] breadadams commented on #1424
Just ran into `ImageBackground` not working, turns out it wasn't included over in `flow-typed`, should be fixed when https://github.com/flowtype/flow-typed/pull/2203 is merged

[2018-05-11 22:58] DieLaughing commented on #1593
What is the best solution to display a custom font? Because I've read a lot of "InjectGlobal" advice, but no matter what I do, it doesn't show custom fonts. Don't ask me if I've tried it; I've tried it. I just want to know the most basic method for displaying a custom font while using styled-components. Because as soon as I include it, nothing works and there isn't even a hint of a starting point

[2018-05-11 23:36] DieLaughing commented on #1701
Is this why @font-face doesn't EVER work inside injectGlobal when I use yarn? GREAAAAAAAAAAAAAT.

[2018-05-12 00:55] probablyup commented on #1593
injectGlobal is the way. I’m curious why it isn’t working for you...
perhaps an issue with the path to the font file? I use it at work and it
functions as expected. Would it help if I show some code?
On Fri, May 11, 2018 at 6:58 PM J. Adam Moore <notifications@github.com>
wrote:

[2018-05-12 01:27] DieLaughing commented on #1716
where do we put html { font-family: 'sans'; } because this crap happens to me too and this is a piss poor answer.

[2018-05-12 01:30] probablyup commented on #1716
Use injectGlobal like this:

[code]

[2018-05-12 01:31] probablyup commented on #1701
Here's how it's used:

[code]

[2018-05-12 01:32] probablyup commented on #1701
@good-idea I'll take a look at your example repo tomorrow or Sunday if you don't figure it out before then

[2018-05-12 01:33] probablyup commented on #1733
@mxstbr it'd need to be this

[code]

something like that

[2018-05-12 01:34] probablyup commented on #1733
@vavdav you'd definitely need to put a ref on the iframe and do it on componentDidMount if you're also rendering the iframe via React

[2018-05-12 01:37] probablyup commented on #1721
You don't technically need to use `ThemeProvider` to use styled-components.

[2018-05-12 02:32] DieLaughing commented on #1716
That did not work.

[2018-05-12 02:35] DieLaughing commented on #1716
To reproduce: download any free font that is super visibly different from any default font. Use create-react-app to make a webpage. Display the custom local font. Now explain to me how you got it to display, because I cannot, nor can I find anything explaining why I cannot.

[2018-05-12 03:36] DieLaughing commented on #1513
Could someone, anyone, maybe post an example I could 'git clone' showing how this works? Because me and the best minds in the world are a little bit stumped. Thanks.

[2018-05-12 05:54] hiteshagja commented on #1721
I think you don't understand what I meant. I said I want to apply theme to my styled component.

Ex. Here is the code my styledLabel component

import styled from 'styled-components';
import * as fonts from '../styles/fonts';
import * as colors from '../styles/colors';

[code]

color.js
[code]

Here if you can notice I have given color from color.js.

@Andrew1431 @probablyup is the same as wrappin

[2018-05-12 05:56] probablyup commented on #1701
@DieLaughing here's an example repo: https://github.com/probablyup/cra-styled-components-font-example

I think where there might be a stumbling block with my initial suggestion of `html { font-family: 'Thing' };` in terms of CRA is they do font styling on the `<body>` tag instead of `<html>`.

You can see the example setup here: https://github.com/probablyup/cra-styled-components-font-example/blob

[2018-05-12 06:09] probablyup commented on #1721
@hiteshagja I don't think I understand your use case, unfortunately. That being said, if you aren't able to reliably wrap your entire app with a `ThemeProvider`, you can alternatively wrap your individual components with it in the implementation.

[code]

For example.

[2018-05-12 06:25] hiteshagja commented on #1721
@probablyup can you please read entire thread first because your answers are irrelevant?

@Andrew1431
If no body can answer from styled components team then please close this issue, because I am not getting proper answer.

[2018-05-12 06:26] probablyup commented on #1721
I did read it and I said in my response I don’t understand your use case but am trying to help anyway.

[2018-05-12 06:26] #1721 closed

[2018-05-12 06:28] probablyup commented on #1721
In case you didn’t know, we are all volunteers working on this project.

Your attitude and sense of entitlement for a perfect solution to your mostly unelucidated use case is both rude and condescending.

[2018-05-12 10:43] ArtanisAce commented on #1513
Hey @DieLaughing , here's what I did:

[code]

and my /fonts folder lives on the /public folder. Hope will be useful :)

[2018-05-12 12:12] mvasin opened #1736 "Function results in attrs should not be overridden by component instance attributes"
This issue emerged from the [spectrum.chat discussion](https://spectrum.chat/styled-components?thread=bc6034a4-7c91-4f96-9c85-cb3065ec5b7c).

I believe the current `attrs` behaviour regarding props precedence is wrong.

Vanilla react component declarations have final say on how they interpret props coming from component instances.

I can merge a component instance attributes giving them a higher p

[2018-05-12 14:02] mvasin commented on #1719
Do you own both? If you do, export a styled component in one project, npm-depend on it in another project and import the exported component there.

If you don't own the external project and the styled component is not exported, ask the project owner to export. If that's not going to happen, resort to copying and pasting.

[2018-05-12 21:36] DieLaughing commented on #1513
Thank you so much!

[2018-05-12 21:38] DieLaughing commented on #1701
Thank you so much! This REALLY helps me a bunch. Totally worth broadcasting my shameful idiocy. Thanks again.

[2018-05-13 23:37] MitchWeiss commented on #1735
Thanks for the response @kitten. This definitely feels like a drawback of styled-components and that we have lost the 'c' in 'css'. If anyone else has another recommendation to solve this problem then I would love to hear it!

[2018-05-14 06:43] vavdav commented on #1733
Thanks a lot, it is working, I added it into iframe directly. I am using react portal and rendering via react. Another problem is, how to handle global styles?

[2018-05-14 09:05] vavdav commented on #1733
Now I have solved it not best way, but it is working. On componentDidMount I get all styles using scSecrets.StyleSheet.instance.toHTML(), and manually inject them into iframe. Then I am using StyleSheetManager

[2018-05-14 09:06] driesg commented on #1735
Just to add some more complexity: the base component that @MitchWeiss is talking about is used across different files:
- *Page 1* uses the default Step component
- *Page 2* needs the Step component but with a different font size `<Title>`
- *Page 3* needs the Step component but with a different font size, padding, background-color for `<Title>`
- ...

^ those CSS properties are all made up for ill

[2018-05-14 10:02] driesg commented on #1735
oh wait you can use a reverse selector! ignore the above

[2018-05-14 11:07] gevgeny commented on #582
Are there any disadvantages doing this
[code]
for multiple choices ?
SC generates exactly what i expect
[code]

[2018-05-14 18:49] breadadams opened #1737 "Using `withComponent` in react-native?"
I'm wondering, is `.withComponent` available for use with react-native?

## Environment
[code]

## Steps to reproduce

Within a react-native project, create a `styled` component, and try to _extend_ it with `.withComponent`:

[code]

## Expected Behavior
You should be able to use both `StyledImage` & `StyledImageBackground` as individual components, as you can using the same technique with `styled

[2018-05-14 18:57] mxstbr commented on #1737
ReactNative doesn't have string-based tags. `Component.withComponent('div')` works because `<div>` works without an import—on ReactNative you always have to import the component:

[code]

[2018-05-14 18:57] #1737 closed

[2018-05-14 19:08] breadadams commented on #1737
Thanks for the quick response @mxstbr, I tried that too but got another red screen - will give it another go and get back to you ✌️

[2018-05-14 19:29] breadadams commented on #1737
That works perfectly, no idea what popped up before 😅 - thanks again

[2018-05-15 00:17] MrBlenny commented on #1642
Installing `@types/node` fixed this for me.
Ideally there would be a separate set of types for browser based projects.

[2018-05-15 08:41] zenVentzi commented on #773
Neat indeed :)

[2018-05-15 08:42] zenVentzi commented on #773
Neat indeed :)

[2018-05-15 16:52] breadadams commented on #1350
I'm running into this similar to as @monopieces mentions, I'm trying to use `.extend` on a styled component defined with `ComponentType<Props>`. And trying to use `ReactComponentStyled` from the flow-typed libdef it throws:
[code]
on the `styled.div` (in this case).

[2018-05-15 19:32] g-harel commented on #630
After reading everyone's answers, this is the best I could come up with to provide type info within the styled component template string and from an outside user of the component.

[code]

[2018-05-16 03:06] kristian-puccio commented on #630
I've had a quick scan but haven't seen this approach. I think it's a quick way to extend the props.
I wanted to keep things like the theme still attached.

[code]

[2018-05-16 09:36] reanimatter commented on #523
Not sure how it is supposed to work with selectors like
[code]

the following setup

[code]

produces

[code]

which obviously doesn't work. What am i missing?

[2018-05-16 13:16] probablyup commented on #523
Try & + &
On Wed, May 16, 2018 at 5:37 AM Maxim Lichmanov <notifications@github.com>
wrote:

[2018-05-16 13:35] 6r1anchen commented on #1315
@mbrowne @Igorbek I was hit with this bug today.
I made a PR based on the work and discussion in #1283 and #1201 , I hope it is ok since they are not updated for a while.

[2018-05-16 13:55] allexysleeps opened #1740 "Duplicate SC usage in one app"
## Reproduction

I have ui-components lib and main app. Both using SC. When I import Component from library. It breaks all App's SC styles. I got warning about duplicate usage.
There are some problems:
1) fix described in [doc](https://www.styled-components.com/docs/faqs#why-am-i-getting-a-warning-about-several-instances-of-module-on-the-page) is depreciated.

2) I've reproduce it on webpack 4 way

[2018-05-16 13:55] mbrowne commented on #1315
Thanks @6r1anchen, I was planning to do a PR but haven't had time yet, so please proceed with your PR. But your PR doesn't fix the original issue reported in this thread...I added a comment on the PR with a suggested solution.

[2018-05-16 14:30] probablyup commented on #1740
Try adding this to your config:

[code]

[2018-05-17 05:06] kruyvanna opened #1741 "Layout children from parent (React Native)"
## Environment

Environment:
  OS: macOS High Sierra 10.13.4
  Node: 8.9.1
  Yarn: 1.6.0
  npm: 6.0.1
  Watchman: 4.9.0
  Xcode: Xcode 9.3.1 Build version 9E501
  Android Studio: 3.1 AI-173.4720617

## Reproduction

https://github.com/kruyvanna/styled-components-layout-child-from-parent-bug

## Steps to reproduce
[code]
## Expected Behavior
Child margin and background color applied

## Actual Beha

[2018-05-17 07:31] gribnoysup commented on #1740
Hi @allexysleeps! That is a good catch, we will need to update the docs section to use new `splitChunks` API and not deprecated one 👍

I noticed that you mentioned using your own component library. The solution you tried to use is not the only one and is more suitable for running two separate applications on one page. Based on your Webpack config I would assume that you are probably encountering a

[2018-05-17 12:27] eddiesholl commented on #1709
Yeah, I feel like the warning you see when this occurs in dev mode needs to be more scary. I was not expecting the chance of a hard failure with a prod build.

[2018-05-17 18:05] Ericky14 opened #1742 "Style tags missing in <head> on IE11"
When loading my application on IE11, I get a blank page with no console errors.

Since the <head> tag is missing the <style> tags that have ```data-styled-components``` I thought it could be due to a problem with this plugin.

Any help someone can give me would be very helpful because I'm not being able to find a solution.

PS: I am including ```babel-polyfill```.

[2018-05-17 18:44] Ericky14 commented on #1742
I apologize, but this is as close to the issue as I can get. It is pretty vague for me and the codebase I am testing is huge.

[2018-05-17 22:33] Ericky14 commented on #1742
This was apparently an error with one or more of the many dependencies in my project.
I fixed it by adding the BabelEnginePlugin to webpack.

[2018-05-17 22:33] #1742 closed

[2018-05-17 22:50] ralexand56 commented on #1697
That's amazing! Any chance we'll get an update for the styled-components typed definitions to fix that issue?

[2018-05-18 09:19] alloy commented on #630
@g-harel Nice! This wasn’t possible before, glad to see that something changed (presumably in the styled-components typings or maybe newer TS?) 👍

[2018-05-18 10:37] mecarter opened #1743 "Nesting Component Selectors inside of functions"
I have a question about component selector usage.

My styled components are defining some blocks based on a `prop` passed to the component, like so:
[code]

I tried to nest a reference to another component inside of this block, using the component selector pattern. However, it seems that the reference to the component is not run within this block:
[code]

Does it makes sense that the component sel

[2018-05-18 13:43] gausie opened #1744 "Overriding function props using .attrs() does not work"
## Environment
See the reproduction

## Reproduction
https://codesandbox.io/s/7458jqox6x

## Steps to reproduce
Type into the textbox and observe the output in the console

## Expected Behavior
onChange is overridden and console shows the text in the input box

## Actual Behavior
onChange is not overridden and console shows the raw events coming through

[2018-05-18 13:55] probablyup commented on #1743
Yes that should work. One thing about your code sample that jumped out at
me is I use the css`` helper for that kind of dynamic block vs a basic
template literal. Might be needed for special interpolations to work.
On Fri, May 18, 2018 at 6:37 AM Mark E. Carter <notifications@github.com>
wrote:

[2018-05-18 14:14] mecarter commented on #1743
Hey, that worked. Thanks for the help!

[2018-05-18 14:14] #1743 closed

[2018-05-18 14:15] gausie commented on #1744
On some further research, I believe this is the same issue as #1736. Feel free to close if you agree.

[2018-05-18 19:41] nico-bellante commented on #844
What is the current status of RTL support in `styled-components`?

[2018-05-18 19:59] adeelshahid commented on #844
@nico-bellante for ease of use just use _postcss-rtl_ and go around the headache of even thinking of setting styles correctly

[2018-05-18 20:08] nico-bellante commented on #844
Thanks @adeelshahid for the quick response. To clarify, you're suggesting using `styled-components` for everything except things that need RTL styles? And then using postcss-rtl and css modules for the RTL styles?

[2018-05-18 23:45] adeelshahid commented on #844
@nico-bellante I recommend using the simplest possible approach to solving the _RTL_ problem. **postcss-rtl** is the best possible approach. Think of

- maintenance
- reading the number of lines of code that almost doubles with _styled-components_
- UI bugs

attach 5 other common things of worry to the list and it wud be constant headache.

[2018-05-19 10:41] sarneeh commented on #1744
Have the same issue. But the error I get is `Unknown prop `myProp` on <button> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop`

[2018-05-19 16:59] halvves commented on #1459
@probablyup - i've begun taking a look at this. which is the other PR i should coordinate with?

[2018-05-19 17:25] leebenson commented on #1683
Perhaps related: In Typescript v2.9.0-dev.20180519:

[2018-05-19 18:52] atanasster opened #1745 "v 3.26 and nextjs 6.0"
Hi,

Since upgrading to 3.26 from 2.xxx I have huge slowdowns in the app UI with the CPU locked at 100+%. Reviewed the threads related to next.js, including duplicated class names but not sure if I have the same issue
some of the project dependencies:
[code]
repo: https://github.com/atanasster/crypto-grommet

[2018-05-20 01:57] halvves commented on #1459
@probablyup @mxstbr - I'm thinking I may make a chore PR of just upgrading `flow-bin` and fixing all the flow errors/warnings involved as a preparatory step for this new context PR (which I made some decent headway on). The version of `flow-bin` currently being used doesn't know about `createRef` among other things. What are your thoughts?

[2018-05-20 03:20] ThomasSkinner opened #1746 "Styling based on state instead of props?"
I want to style a component based on it's state (instead of props), which changes with clicking.

However, I don't see any way to do this without pulling state up into a wrapper and passing the down the state to props. Which seems needless. Is there a way to access state with styled-components?

I would like to do something like this:

const styledDiv = styled.div`
  background-color: ${(state) =>

[2018-05-20 07:10] sonaye opened #1747 "RFC: Support Sass-like variables"
How do you guys feel about this?

[code]

[2018-05-20 07:11] sonaye commented on #1746
Why not [lift the state up](https://reactjs.org/docs/lifting-state-up.html)?

[2018-05-20 07:27] sonaye commented on #1741
I don't think you can do this in RN, where the concept of a child selector `>` doesn't make any sense to the style system there. Similarly, I would't expect pseudo-classes to work either.

Try this:

[code]

[2018-05-20 07:37] sonaye commented on #1746
Sorry, just saw that you already mentioned that. It's just the first straightforward idea that popped into my head, plus it's generally a good practice.

[2018-05-20 12:44] goodwin64 commented on #1310
+1, I've faced with similar issue

[2018-05-20 19:44] sonaye commented on #1747
Say hello to my little friend!

[code]

[code]

[2018-05-20 19:55] sonaye commented on #1747
Will see if it's pluggable to `sc` without causing a test failure and draft a PR.

[2018-05-20 21:59] Keraito commented on #1746
Hey @ThomasSkinner, could you provide a more concrete example, like how you have defined the component + it's styled version, and how you use that styled component? From what I understand from SC, if you're trying to define your styled component based on the state of the component, the scope at which you define your styled component might not be optimal. Something similar to https://github.com/sty

[2018-05-20 22:00] kitten commented on #1747
We've basically rejected very similar proposals before on the simple basis that we're trying not to introduce any special syntax and I hope that this makes sufficient sense 👍

https://github.com/styled-components/styled-components/issues/590
https://github.com/styled-components/styled-components/issues/560

I think there were more issues like these.

Anyway, to propose an alternative, this would b

[2018-05-20 22:05] kitten commented on #1746
Yea, the state needs to be lifted up. Generally this is a conceptual issue/conflict between what styled-components is supposed to be used for (as in good at) and what you're trying to achieve.

If I'm understanding this correctly you'd like to maximise the value of these components, but essentially what you're asking for is a little state machine in each `StyledComponent`. That essentially would m

[2018-05-20 22:05] #1746 closed

[2018-05-20 22:09] kitten commented on #1741
@sonaye is right.

It's possible tbh, but would introduce some major overhead for little gain. The ecosystem is doing pretty well without selectors (although pseudo selectors are quite nice) and imho everyone's better off, since that means that styles are always 100% predictable and interpsectable. We even recommend the **reverse** child selector (childreferring to itself via a parent) since that'

[2018-05-20 22:09] #1741 closed

[2018-05-20 22:13] kitten commented on #1459
@probablyup `create-react-context` is pretty popular now so the impact would indeed be minimal.

@halvves this would need to be coordinated a little with #1664, I suspect.

[2018-05-20 23:47] TrevorBurnham commented on #1707
@probablyup So, looking over the code, I'm satisfied that what you're suggesting is a stable solution. 👌 I'd like to take you up on that offer to add it to the docs, though: https://github.com/styled-components/styled-components-website/pull/257

[2018-05-21 00:00] kitten commented on #1707
@TrevorBurnham I think we can simply try to stay aware of this. The tests should also cover this as it's just part of SSR rehydration, so as long as it's in the docs we might be good :+1:

Hope the recent stylesheet/styletags refactor helped you find it quickly :heart:

[2018-05-21 01:12] TrevorBurnham commented on #1707
Thanks, that's a satisfactory resolution for me. Closing this one out.

[2018-05-21 01:12] #1707 closed

[2018-05-21 01:46] TrevorBurnham commented on #1708
In that case, I've submitted a PR to mention it in the docs: https://github.com/styled-components/styled-components-website/pull/258

[2018-05-21 02:16] charliewilco commented on #1459
the one thing i kept wondering as i was looking into this was: what happens when `getChildContext()` goes away?

because you could make real heavy use of `withTheme()` and `<ThemeProvider />` but i couldn't figure out how to handle that without the HOC or wrapper of some kind.

[2018-05-21 02:27] halvves commented on #1459
@charliewilco - are you meaning like throughout the rest of the styled-components ecosystem/api? right now i've just been using the `<Consumer />` from the `createContext()` I did for theme inside all necessary components.

i think the trickiest issue right now is actually handling merging of themes with the new context api... the simplest way i could think of was something like this:

[code]

but

[2018-05-21 03:14] charliewilco commented on #1459
@halvves this might be an implementation issue but this is the issue i had run into trying to port to the new context. https://codesandbox.io/s/rrn0ym8z64

[2018-05-21 08:21] sonaye commented on #1747
Thanks for the reply. I completely understand why you would turn down such proposals that attempt to introduce new syntax. I actually think that you are doing a great job making things light and intuitive, but let make the case for this one -as if I wasn't the one behind it- at least.

I use `sc` because it's a tool that I found to make me more productive while working on user interfaces. When it

[2018-05-21 13:38] sonaye commented on #1747
I would appreciate it if you can mention why you think this particular syntax is confusing. Also, would you say that supporting sass-like variables is something that's maybe worth looking into in the future?

Can you provide me with some babel-plugin references for styled-components @mxstbr? maybe it's time for me to learn how to babel.

Link to repo of implementation with tests https://github.com