[2017-07-26 07:02] ryanheathers commented on #1032
No, I'm talking about separate React apps, each of which uses it's own copy of styled-components.

If it makes it easier, ignore that fact that my app might be loaded multiple times on a webpage. Instead consider a scenario where 3 completely different React apps are used on the same webpage: App A, App B, App C. Each of the apps, unbeknownst to each other, loads a version of styled-components. Wh

[2017-07-26 08:21] andy1028 commented on #1033
i try switch version to 2.1.0 of `styled-components`, there is no above issues.

but version of `2.1.1` work well out of next.js.

im not sure this issues is in next.js or styled-components

[2017-07-26 09:55] philpl commented on #1033
It seems like there's a mismatch between your styled-components and stylis version, I'd say. Have you tried removing your node_modules and installing again?

[2017-07-26 10:36] albertovilva opened #1034 "Component theme independence?"
First of all thanks for this amazing resource!

Im all about component extraction in my projects and I have come to a doubt regarding the use of styled components.

What would be the best way to go about making components theme agnostic? For example, let's say I make a bunch of components which are rigged to my theme heavily, but I want them to be used completely isolated from my enviroment as sta

[2017-07-26 11:12] andy1028 commented on #1033
i try removing node_modules many times

[2017-07-26 11:52] callumlocke opened #1035 "Ability to override a component's tagName per-instance"
styled-components already lets you use an existing component as the basis for a new component (``styled(Foo)`/* override styles... */`;``), but it is not possible to override the **tag name** of the original component, AFAICT. Sometimes I want to do this when I want to use a more semantic tag in one particular place.

### Example

I'm currently using styled-components to make some 'grid' primitive

[2017-07-26 11:59] callumlocke commented on #1035
Just realised you can do it like this:

[code]

[Extending styles docs](https://www.styled-components.com/docs/basics#extending-styles)

[2017-07-26 11:59] #1035 closed

[2017-07-26 12:08] ezsper opened #1036 "Proposition of builtin CSS transition handlers with react-transition-group"
Most of the time transitions are hard and messy to perform and maintain, Styled Components bring us a very easy API to handle styling. I was thinking of an idea to add transition helpers to the API levered by [react-transition-group](https://reactcommunity.org/react-transition-group/) and make it even better.

[code]

Access my [example repository](https://github.com/ezsper/styled-components-trans

[2017-07-26 13:59] DeividasK commented on #866
@philpl Any update on this? We are experience this as well. The note here about the accumulation of styles is what is affecting us - https://www.styled-components.com/docs/advanced#server-side-rendering. We can't do aggressive caching, because there's a lot of moving parts on our site, so any idea on when this would be fixed? Is anyone working on this or can I take a stab at this myself?

[2017-07-26 14:18] kakadiadarpan commented on #1031
@philpl I'm taking this up.

[2017-07-26 14:21] philpl commented on #866
@DeividasK If you're affected by the next.js style accumulation, then I'd recommend you to modify its code and vendor it. That's what I've now done on our website: https://github.com/styled-components/styled-components-website/commit/f9a93201c4dbb44545c7c87cc8f551d3c73b7958

[2017-07-26 14:24] crajeshwnp commented on #456
react-native-cli: 2.0.1
react-native: 0.42.3

But still not working :(

[2017-07-26 14:28] jacobp100 commented on #456
@crajeshwnp What error message are you getting? Could you screenshot it?

[2017-07-26 14:30] crajeshwnp commented on #456
@jacobp100 sorry its working now. before i had just given 100%, now i gave '100%' its working.

Thanks

[2017-07-26 14:51] DeividasK commented on #866
@philpl We are affected by the style accumulation, but we are not using next.js - we are using a modified version of react-boilerplate. Is there a way to flush styles after I request for styles? Or before styles are collect? Is there a reason why this wasn't implemented initially?

[2017-07-26 16:32] philpl commented on #866
@DeividasK If the styles accumulate for you this is not the right issue to post in. Please refer to the docs on how to implement SSR correctly. In this case the styles won't accumulate: https://www.styled-components.com/docs/advanced#server-side-rendering

Also use the babel-plugin's SSR option to keep component ids stable: https://www.styled-components.com/docs/advanced#serverside-rendering

[2017-07-26 22:38] dsaisho opened #1037 "Style an already styled component, accessing child styled components"
Is it possible to add styles to a child of a styled component, with that child already being a styled component? For Example, Thumbnail is a component with Icon and Image:

[code]

Now, I want to use this thumbnail in an image gallery but with different styles on the StyledThumbContainer and StyledIcon. I tried a few things and they all failed, for example:
[code]

What is the best way to handle t

[2017-07-26 23:07] epilande commented on #1037
Hey @dsaisho how about passing props to the `Thumbnail` component and changing the styles based on the props?

For example:
[code]

[2017-07-27 00:43] li-xinyang opened #1038 "Failed to Pass TypeScript Enum Type Prop into Styled Components"
## Version
2.1.0

## Reproduction

When I try to pass a enum value to a Styled Component like below,

    <Style.Indicator type={TransactionType.Income} />

I got the following error message,

    ERROR in [at-loader] ./src/components/base/transaction-indicator/TransactionIndicator.tsx:94:13
        TS2322: Type '{ type: TransactionType.Income; }' is not assignable to type 'IntrinsicAttributes & I

[2017-07-27 03:14] geelen commented on #1032
Hey sorry I'm back from holidays and just catching up on the issue tracker and I think I know what's going on.

Basically, Styled Components now includes rehydration, which means it will scan anything in the DOM to see if there are `<style>` tags generated by SC it should reuse. Of course, this means that if two copies of SC boot up, and the first renders styles before the second boots, and... I t

[2017-07-27 03:21] geelen commented on #1037
Yep @epilande's suggestion is a good one. In general you should try to make your components _describe what about themselves can change_. Here, you're saying there are two variants, small or not. In your example above you're relying on multiple classnames to do the same job.

That said, if you change your Thumbnail to be:

[code]

Then your `//try 1` code will work.

[2017-07-27 03:21] #1037 closed

[2017-07-27 03:24] dsaisho commented on #1037
Hey all, I appreciate the suggestions! I wanted to pass props initially however that was poor architecture for how we build our app. I am very noob at this and the answer which I just found out was simply adding className={className} to the child component :)

[2017-07-27 03:33] geelen commented on #866
I've been away on holiday so I'm just now looking back over the issue tracker, so I'm not fully across this but if there is a problem I'm keen to get it cleared up.

For starters, though, the correct usage includes _both_ calling `collectStyles` and `getStyleTags` (see the docs), so I don't understand @alerosa's code snippets. And it's designed in such a way as to not accumulate styles from render

[2017-07-27 03:39] geelen commented on #1036
Cool idea! My suggestion would be to have the API called `animated` and have it _generate_ styled components, rather than injecting it into the existing API:

[code]

That way you could publish it as a separate package and get people playing with it. If we need to make some internal changes to SC to better facilitate packages like this, I'm open to that.

[2017-07-27 05:36] sylvain-hamel opened #1039 "Add an option to include the component's displayName in the generated class names"
Hi this is feature request for an option to include the component's displayName in the generated class names, something like `MyComponent_u2jd38`.

Without this, it is very hard identify where styling issues comes from when using Dev Tools to investigate. After a few weeks using `styled-components` in my team, this issue has been raised by several people.  We transitioned from `css-modules` where

[2017-07-27 05:49] sylvain-hamel commented on #980
We found the root cause of our performance issue. Although `styled-components` made the issue a lot worse, we found out that it's not the cause of the issue.

The cause is that we had a redux-connected component at the top of the hierarchy that passed down state very deep through props and caused constant rendering of a lot of styled components.

Our issue was a variation of this issue:

Source: h

[2017-07-27 06:00] epilande commented on #1039
@sylvain-hamel styled-components has a [babel plugin](https://github.com/styled-components/babel-plugin-styled-components) that does this and makes debugging 👌

https://www.styled-components.com/docs/advanced#better-debugging

[2017-07-27 08:28] geelen commented on #1034
Personally, I'd achieve this with a theme helper of some sort. Something like:

[code]

...or whatever API you choose. If your target audience can support [proxies](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy), you can do some really crazy stuff: https://www.webpackbin.com/bins/-KkTyZXtM2tpHBc0xJNL

[2017-07-27 08:31] #1039 closed

[2017-07-27 09:09] DeividasK commented on #866
@philpl @geelen you are correct. This particular issue happened to me, because I was using babel-plugin-styled-components only for the main repo, but not for the package that is shared between different repos. Adding the plugin to the shared package fixed my issue. Thanks for the help!

[2017-07-27 09:14] geelen commented on #866
Glad to hear it!

[2017-07-27 09:14] #866 closed

[2017-07-27 09:24] geelen commented on #980
Ok cool. Yeah I remember thinking about this right at the beginning, and couldn't see there being a good implementation of `shouldComponentUpdate` that works for all SCs.

The best possible implementation would be something like the way MobX works—create a proxy object (doesn't have to be a real proxy btw, just an ES5 object with getters), that records which fields were accessed on `props` and `th

[2017-07-27 09:24] #980 closed

[2017-07-27 12:28] philpl commented on #1038
cc @styled-components/typers

[2017-07-27 12:37] patrick91 commented on #1038
Have you tried to make it a String enum?

[2017-07-27 18:52] ckknight commented on #917
https://github.com/styled-components/styled-components/pull/1041

[2017-07-27 21:24] selbekk opened #1042 "Minimizing the server side rendering CSS output"
I'm playing with `styled-components` for the first time, and have to say I'm very impressed. Great job guys!

I'm trying out your server side rendering features, and I'm noticing that the output from `ServerStyleSheet.prototype.getStyleTags`  is commented and not minified. Is there a particular reason why not? It's probably mostly OCD, but in my mission to shave the last bytes off my payloads, thi

[2017-07-27 21:57] ryanheathers commented on #1032
@geelen thanks for the thoughts.

I assume you're talking about [this plugin](https://github.com/styled-components/babel-plugin-styled-components. )? Unfortunately running that transform with styled-components v2.1.1 still results in the same conflicts. Note that I'm configuring the plugin with just the default `.babelrc` config of ```plugins: ["styled-components"]``` so if there is some other con

[2017-07-28 00:10] Igorbek commented on #1038
Do not use `type` as a prop name because React already uses it for in intrinsic attributes as defined in `HTMLAttributes` as `type?: string`. That effectively makes your `type` be of type `(string | undefined) & (TransactionType | undefined)`

[2017-07-28 00:15] philpl commented on #1042
Apart from the `ssr` option which is crucial for correct SSR with varying import order, our babel-plugin also includes a `minify` option :wink:

https://www.styled-components.com/docs/advanced#minification

[2017-07-28 00:15] #1042 closed

[2017-07-28 05:21] mxstbr commented on #1035
Also you can do a slightly more magic-ey approach to create a whitelist of supported tags for that component by attaching them as properties:

[code]

[2017-07-28 07:53] marcellkiss commented on #645
The referenced issue was closed, saying it's solved in 2.3.0. I'm using this version, and styled doesn't take any effect on a native-base button

[2017-07-28 09:19] neoziro commented on #1031
@kakadiadarpan still on it? I will try too.

[2017-07-28 11:11] philpl commented on #762
It seems someone has a clear path of solving this issue. Once you switch to the react element output for the SSR'd CSS code this problem goes away. I'm not sure why, but I'm sure it can't be related to our html string output or anything similar.

To be honest, apart from what @mschipperheyn posted at some point, I haven't seen a clear description of this bug either. So I'm going to go ahead and cl

[2017-07-28 11:11] #762 closed

[2017-07-28 17:41] unindented opened #1045 "@supports returning true for backdrop-filter when it shouldn't"
## Version
2.1.1

## Reproduction

Pure CSS no repro: https://codepen.io/unindented/pen/NvGoRX
Styled Components repro: https://codepen.io/unindented/pen/EvVryz

## Steps to reproduce
Open both links in latest stable Chrome (which doesn't support backdrop-filter). With pure CSS, background will be red indicating lack of support. With Styled Components, background will be green even though there's

[2017-07-28 19:19] thysultan commented on #1045
I don't think css supports flat css rules in at-supports and nesting at-supports, so the codepens don't testing the same behavior.

[code]

[2017-07-28 22:41] philpl commented on #1045
Yep, the other way around it should work. Inline declarations in at-rules (see our media query examples) should be allowed though if I'm not mistaken :D

[2017-07-28 22:41] #1045 closed

[2017-07-29 03:55] Swivelgames commented on #666
@k15a Can you be more specific?

[2017-07-29 05:57] k15a commented on #666
I think the [docs](https://www.styled-components.com/docs/advanced#refs) can help you :)

[2017-07-29 06:11] Igorbek commented on #1038
Can we close as it's been resolved?

[2017-07-29 06:58] #1038 closed

[2017-07-29 11:41] zero-t4 opened #1047 "Direct class referencing"
Hi, how can i dirrectly reference to the class, which is not child of my component.
like this
[code]

## Version
2.1.0

## Reproduction

https://www.webpackbin.com/bins/-KeeZCr0xKfutOfOujxN
https://codesandbox.io/s/rkmNRByE4

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2017-07-29 11:59] k15a commented on #1047
You can do this with injectGlobal:

[code]

It's good practice to do this only once per Project for example in you App.js or where your Root component lives.

[2017-07-29 12:04] zero-t4 commented on #1047
Wow, big thanks , it was really helpful

[2017-07-29 12:04] #1047 closed

[2017-07-29 12:13] xcoderzach commented on #931
@schwers Can you make a pull request from that fork?  It would be very useful for that to be in the official release 😄

[2017-07-29 12:22] vesparny commented on #931
Note I've released a new version of brcast fixing another issue.
It should also be a little bit more perdormant.

Do you want me to submit a PR that replaces SC implementation with brcast?

[2017-07-29 12:32] xcoderzach commented on #931
@vesparny that would be awesome!  I'd use it immediately (I have a page that takes 2 seconds to unmount in production 😬 )

[2017-07-29 12:49] vesparny commented on #931
Didn't you have plans for switching to theming?

[2017-07-29 13:00] xcoderzach commented on #931
Looks like it fell by the wayside.  A pull request for that would be welcome too, but may be more difficult.

[2017-07-29 13:05] mxstbr commented on #931
Yeah let's switch to theming, assuming all our existing tests pass, PR welcome!

[2017-07-30 18:45] #1031 closed

[2017-07-31 07:49] hanselsen opened #1050 "Component not updating css on property update"
I'm relatively new to React and styled-components and I'm bumping into this issue.
When my styled-component is re-rendered, it should refresh the CSS, but the property is changed and the CSS is not.

Here  is my component:

[code]

On refresh, I see 'true' in my log and the cursor is a crosshair. Super! But when I click my trigger, the log shows false, and the cursor is still the crosshair.

Can s

[2017-07-31 10:42] philpl commented on #1050
Can you supply some reproductions? It's probably a usage issue, so with a webpackbin/codesandbox we can check what's going on :smile:

There's some instructions and links in the issue template, if you're unsure what to submit :wink:

[2017-07-31 17:14] unindented commented on #1045
@thysultan @philpl sorry, I didn't follow. You're saying this should work? Cause it doesn't...

[code]

[2017-07-31 17:15] unindented commented on #1045
Neither does this:

[code]

[2017-07-31 17:24] thysultan commented on #1045
@unindented The Pure CSS version uses invalid CSS since Pure CSS does not support SASS-like nesting, with this patched fork [https://codepen.io/thysultan/full/PKNpZV](https://codepen.io/thysultan/full/PKNpZV) they are both green on my version of Chrome.

[2017-07-31 17:56] unindented commented on #1045
@thysultan Right, but it **shouldn't** be green, cause Chrome doesn't support `backdrop-filter`, only Safari does. That was my original complaint.

[2017-07-31 18:02] thysultan commented on #1045
@unindented I think it's because Chrome and Firefox support `--webkit-backdrop-filter`, if you remove the `or (--webkit-backdrop-filter:   blur(10px))` part, it reverts to red.

[2017-07-31 18:07] mxstbr commented on #1034
Why not just use `defaultProps`?

[code]

This could then maybe even be extracted into it's own utility:

[code]

[2017-07-31 18:07] #1034 closed

[2017-07-31 18:08] mxstbr commented on #1050
Can you try wiggling your cursor after clicking? I think the browser just might not re-render the cursor on-click.

[2017-07-31 18:15] mxstbr commented on #1045
Or just add `--webkit-backdrop-filter` to your rules!

[code]

[2017-08-01 01:13] unindented commented on #1045
@mxstbr aah, I thought styled-components was doing `autoprefixer` magic for me, so that I didn't have to add prefixes manually.

[2017-08-01 01:47] wtgtybhertgeghgtwtg commented on #1036
Why?  You already use injection in `styled-components-transition-group`, why not stick to that?
[code]
It gets messy if you're injecting multiple things
[code]
but it's not particularly cleaner than a plugin system would be.
[code]

[2017-08-01 05:23] mxstbr commented on #1045
Hmm yeah actually, it should. That looks like a bug @thysultan?

[2017-08-01 08:26] rsouthgate opened #1052 "Injectglobal in theme function only updates once"
This seems very similar to the discussion in #277 but not identical.

In my scenario I'm using the ThemeWrapper and the corresponding theme functions to injectGlobal fontFamily style declarations for the theme. From what I read this seems a legitimate use of injectGlobal...

I'm using Storybook to render the components and dynamically switching themes (using a storybook 'knob' to select the theme)

[2017-08-01 10:51] andy1028 opened #1053 "(client) ss="user-button sc-bdVaJa hJPaNh" data-r (server) ss="user-button sc-bwzfXH eerwGk" data-r"
describe：
server side render throw below error when use `extend`:

![image](https://user-images.githubusercontent.com/13925688/28821920-e6697302-76e9-11e7-86b9-8ebb71504ccf.png)

styleComponentCode:

[code]

[code]

[code]
run env:

"styled-components": "^2.1.0"
"next": "latest",
  "react": "15.6.1",
   "react-dom": "15.6.1",

[2017-08-01 11:00] andy1028 commented on #1053
i try a sample demo
[code]
it has above error also

[2017-08-01 11:06] andy1028 commented on #1053
i try update styled-components to 2.1.1
it has above error also

[2017-08-01 11:06] philpl commented on #1053
With most setups for server-side rendering, the import order changes, which leads to different unique component ids on the client and server. To prevent this we have a babel plugin that assigns IDs that aren't based on the import order, but based on the filename and component name:

https://www.styled-components.com/docs/advanced#serverside-rendering

[2017-08-01 11:06] #1053 closed

[2017-08-01 11:12] philpl commented on #1053
Btw, since I'm seeing this now. Generally speaking you'd want to avoid wrapping components with the `styled()` factory for your own components, and keep that for third-party ones or when it's absolutely necessary. This way you force yourself to keep your container/structural component logic separate and preserve nice features like our prop whitelist.

[2017-08-01 12:47] thysultan commented on #1045
Yes, it does autoprefix it with `-webkit-backdrop-filter`.

[2017-08-01 15:47] szilagyikinga commented on #943
I am using the method described above but to add a custom "className" to a third party library:

[code]

The props pageClassName is correctly passed to the component but the css in not added to the page. Any idea what can be wrong? I am using styled-components 2.1.1

[2017-08-01 19:15] damassi commented on #893
@Igorbek - would you mind posting a complete example? I'm testing via Mocha but not sure exactly how to implement your fix.

[2017-08-01 22:47] Igorbek commented on #893
Sure, it is pretty simple:

[code]

In fact, I have my own snapshot serializer that produce nice snapshots of input element, its rendered output and captured css.

[2017-08-02 00:08] Swivelgames commented on #666
A link to the docs! Awesome! 😄

After doing some Googling, it wasn't immediately apparent what `innerRef` was. But I did end up finding it after a little while sifting digging through the docs. Thanks @k15a!

[2017-08-02 02:09] andy1028 commented on #1053
thanks for reply，below is my .bablrc config

[code]
is has above error also

[2017-08-02 04:23] thejameskyle opened #1055 "Reversing the relationship in theming"
Heyo,

Right now the recommended pattern across styled-components and [theming](https://github.com/iamstarkov/theming) (including the packages that consume it like [emotion](https://github.com/tkh44/emotion)) is to pass specific styles down from the root of your app:

[code]

This works for certain types of problems. But when you're writing a full theme for your app, you're touching hundreds or ev

[2017-08-02 05:36] mxstbr commented on #1055
I like it!

Related: https://github.com/styled-components/styled-components/pull/113

[2017-08-02 10:04] oreqizer opened #1056 "Idea: static CSS generation based on propTypes"
# What

Add a _provider_ that flags all styled components to render all possible values from a finite set defined by prop type.

### Definition

Possible values would be taken from `propTypes` as so:

[code]

A class for every possible size (`small`, `medium` and `big`) would be created.

### Extraction

A raw CSS text would then be extractable from the app with all possible classes. It could then

[2017-08-02 10:51] philpl commented on #1056
I'm currently working on SC v3 and a core preprocessing library https://gist.github.com/philpl/e05ff063869c096a7a9795ca95769576. Static extraction has been a recurring question, that after long discussions and cobsiderations we discovered to not be possible for styled-components as is.

I have a gist here describing the biggest specificity problems that occur with styled-components and mixins that

[2017-08-02 10:51] #1056 closed

[2017-08-02 10:58] oreqizer commented on #1056
👍  thx for explanation

[2017-08-02 13:37] weaintplastic commented on #632
just in case someone stumbles over this and is looking for a solution: We've built a little library for rendering inline css for emails in javascript/react. https://github.com/researchgate/inline-stylesheet

[2017-08-02 13:41] Tokimon commented on #991
Just a final question on this subject:
My initial notion about decoupling styled-components from React was not (limited) to usage in React-like languages. I could see a use-case for this module in something like Vue, Angular, Ember, Backbone (and what have you) as well. So if I one day in the future wanted to use one of those frameworks, would I have to chose another module (like fela) or is there

[2017-08-02 13:48] DaniyarJakupov opened #1057 "Flow: styled-components/native. Required module not found"
## Version
styled-components@2.1.1
flow-bin@0.47.0
flow-typed@2.1.5

## Reproduction

Bootstrapped app with create-react-native-app. Installed storybook, styled-components and added flow. Installed definitions:
`flow-typed install styled-components@2.1.1`

Have really simple component:
[code]

When I run flow, I'm getting this error:

<img width="827" alt="screen shot 2017-08-02 at 15 40 14" src="

[2017-08-02 14:26] DaniyarJakupov commented on #1057
I figured it out. As it is described in docs I did this:

You should add the following lines to your .flowconfig, if you run into Flow errors, coming from the styled-components package in your node_modules directory.
`[ignore]
.*/node_modules/styled-components/.*`

But it's not mentioned there that we need to add styled-components under the libs section. Maybe it was obvious, but still I think it

[2017-08-02 14:31] philpl commented on #1057
cc @styled-components/typers

[2017-08-02 14:33] philpl commented on #991
@Tokimon the usage of this will be very different, depending on the framework. There are already implementations for: vanilla DOM, vue, elm...

For v3 I'm extracting some preprocessing logic and css processing into a core lib. Together with our stylesheet implementation or Glamour's sheet anyone can port SC to another framework :)

[2017-08-02 15:02] cdimitroulas commented on #866
@geelen thanks for your comment - it seems we misunderstood the correct use of the StyleSheetManager and that was what caused the memory leak.
That has been corrected now and everything seems to be working properly :+1:

[2017-08-02 17:02] relekang commented on #1057
That should not be necessary, can you paste the flowconfig you ended up with?

[2017-08-03 01:19] rsouthgate commented on #1052
To follow up... this is identical to #277 or at least a comment in it.

Since declaration blocks are cached would it make sense to have an ejectGlobal() method which can both remove the block from the style tag and remove the matching key from the internal cache?

Then ThemeProvider could also provide a hook at the point at which an old theme is 'unmounted'... something along the lines of:
[code]

[2017-08-03 05:22] shashkovdanil opened #1058 "Platform specific code (react-native)"
How to separate styles for iOS and Android?

[2017-08-03 06:56] DaniyarJakupov commented on #1057
Sure, here it is:
[code]

[2017-08-03 08:00] k15a commented on #943
@szilagyikinga Maybe you should open an issue at ReactPaginate so they add the className prop to the dom. :)

[2017-08-03 14:15] goldenbearkin opened #1060 "Adapting based not on props?"
is it possible to inject variable not from props? says, i have a list and want to dynamically change the size of each items like below:

[code]

[2017-08-03 14:17] mxstbr commented on #1060
Do you mean like this?

[code]

[2017-08-03 14:17] #1060 closed

[2017-08-03 14:33] k15a commented on #666
Hey @Swivelgames,

you probably want to access the value of an input field or call some DOM methods like `.focus()`. In React you can access the corresponding DOM element of a React element with refs.

[code]

The problem is that we can't forward the ref prop to the underlying component because it's already handled by React and set to the styled wrapper component. That's the reason you need to use

[2017-08-03 14:37] philpl commented on #666
@Swivelgames:

Hiya, may I ask you what the problem is with the example in the docs? Or why you weren't able to find it? :smile: we're still working on refining them

[2017-08-03 17:25] wmertens commented on #730
@geelen @mxstbr I think there is a good case here for having a react component that does the actual injecting (rendering `null`), removing the CSS when it is unmounted.

instead of
[code]

you'd do
[code]

The only differences with regular styled components would be:
* renders `null`
* does not wrap the css with an own class

This way:
* Global styles can be easily modified via props
* It works wi

[2017-08-03 17:44] ColinFendrick commented on #709
Is this working? Trying to put some shadow on a view with the exact same above code and nothing is happening.

[2017-08-03 18:01] jasonalmaturner commented on #657
I've had this same problem with using styled-components in the angular/react app I'm working on. I found this snippet by @dfrankland that fixed my problem.

[code]

https://github.com/dfrankland/styled-components-angular-ie-11-conflict/blob/master/src/main.js

[2017-08-03 19:16] jacobp100 commented on #709
It only works for iOS IIRC

[2017-08-03 19:49] ColinFendrick commented on #709
We're building React Native for iOS and it's not showing up.

[2017-08-03 21:27] wmertens commented on #1053
@philpl I have the same problem with the same configuration. Even with the babel plugin, the names aren't consistent.

[2017-08-03 21:30] wmertens commented on #1053
For example, the initial HTML has this comment in the generated styles:

[code]

but React complains that
[code]

How can I troubleshoot the rehydration?

[2017-08-03 22:27] matt-erhart opened #1062 "Warn when ignoring"
I had some color names as strings, e.g. 'green', and I was getting no styles showing up and no errors. I think it would help to have warnings in the console when something is ignored by a styled-component.

[2017-08-04 06:27] jacobp100 commented on #709
Does it work with the native `StyleSheet.create`?

[2017-08-04 08:04] jonasws commented on #1057
I have the same problem, running a fresh bootstrap of `create-react-native-app` on Fedora 26. The `.flowconfig` in the previous comment did not cut it for me.

[2017-08-04 09:34] wmertens commented on #1053
I thought I found the issue, there was one file that was creating different components with the same name, but even after fixing that the problem persists.

@philpl Can you reopen this one please?

[2017-08-04 11:49] philpl commented on #973
@matt-erhart Please open a new issue with all versions, some setup info, and so on :smile:

[2017-08-04 11:51] philpl commented on #709
@ColinFendrick Does this definitely not work for you?

[code]

[2017-08-04 11:53] philpl commented on #1053
@wmertens @andy1028 Sorry, I actually misread the description and overlooked the mention of `.extend`. This method breaks the deterministic ID generation right now, but it was fixed in this PR: https://github.com/styled-components/styled-components/pull/1044

It's not release yet though.

[2017-08-04 11:57] mxstbr commented on #1053
Ohh we should release that!

[2017-08-04 12:01] philpl commented on #1053
@mxstbr I wanted to wait for some of @schwers optimisations and release a minor, but we could release this as a patch already

[2017-08-04 12:04] wmertens commented on #1053
Hmm ok I think I'm hitting another case but let's see what that patch does…

On Fri, Aug 4, 2017 at 2:01 PM Phil Plückthun <notifications@github.com>
wrote:

[2017-08-04 12:08] philpl commented on #1053
@wmertens can you open a new issue with the code snippet that is causing this? Specifically, the resulting SSR critical CSS of this component, the **transpiled** components that match that `displayName` (possibly including the server and client code if you can), and some details on your hot reloading setup :)

[2017-08-04 12:09] mxstbr commented on #1053
Releases are cheap, let's push a patch out?

[2017-08-04 12:10] philpl commented on #1053
@mxstbr Ok, I'll release it and write up some quick release notes :+1:

[2017-08-04 12:54] ColinFendrick commented on #709
Figured out the problem. `overflow: hidden;` will ofc turn that box shadow off. Thanks.

[2017-08-04 13:00] vukk commented on #1052
Not the proper way to fix this, but while the `ejectGlobal()` or another fix is in discussed/developed, you could use a hack like this to get around the content hashing & lazy loading:
[code]

The random number chances the hash (well, unless you happen to be unlucky and hit the same random number twice), and hence appends the styles again, and in CSS the latest definitions override the previous on

[2017-08-04 13:47] wmertens commented on #1053
Ok, will create a new issue once I tested with the patch. I haven't been
able to locate a snippet so far, the failure location varies a little.

On Fri, Aug 4, 2017 at 2:10 PM Phil Plückthun <notifications@github.com>
wrote:

[2017-08-04 14:30] kevcenteno opened #1063 "Typescript 2.4 Error: Variable StyledComponentClass from external module cannot be named."
## Version
2.1.1
Typescript: 2.4.2

## Reproduction
Given a styled-component `src/wrapper.tsx`
[code]

and tsconfig.json
[code]

The following error occurs:
[code]

## Steps to reproduce

## Expected Behavior
Doesn't throw error

## Actual Behavior
Throws error
[code]

[2017-08-04 14:31] kevcenteno commented on #973
@matt-erhart @philpl Created the issue https://github.com/styled-components/styled-components/issues/1063

[2017-08-04 14:34] philpl commented on #1063
We'll need more information on your tsconfig, I suspect. Otherwise it's just a duplicate of the other issue with a different version if TS :wink:

cc @styled-components/typers

[2017-08-04 14:45] kevcenteno commented on #1063
@philpl Updated with full tsconfig.json and wrapper.tsx

[2017-08-04 14:55] kevcenteno commented on #1063
A not so nice workaround would be to wrap the styled component with an SFC:
[code]

[2017-08-04 15:36] philpl commented on #1063
Actually, I just realised I recognise the error in combination with the enabled `declaration` option. When the compiler is trying to generate the type definitions, it can only do that if the class definition is in turn in scope as well.

@Igorbek I think something is going very wrong when some people use `declaration`. Is there anything we can do to make this use case easier?

[2017-08-04 18:03] Igorbek commented on #1063
Yes, that is annoying TS error that prevents writing **declaration** files when they use inferred types that are defined externally. There're 2 issues here:
1. `StyledComponentClass` is not exported
2. The name should imported even if it's not used explicitly

The first we can fix, and we will. The second you'd have fix yourself.

[2017-08-04 18:20] k15a commented on #1052
@rsouthgate could you please share a reproduction on codesandbox or webpackbin?

You can find the boilerplates in the issue template :)

[2017-08-04 18:26] IvanCoronado commented on #1057
@relekang Same problem here, the project was working fine but after remove node_modules and install it again with yarn. I got the same problem.

`[ignore]
.*/node_modules/styled-components/.*
.*/node_modules/stylelint/.*

[include]

[libs]

[options]

[lints]
`
styled-components@2.1.1
flow-bin@0.50.0
flow-typed@2.1.2

[2017-08-04 20:24] Igorbek commented on #1063
Ah, I though it was not exported, but it was. If you write your code that way, it should work:

[code]

We cannot fix this on our side, that is TypeScript's intended behavior, but [the fix is under consideration](https://github.com/Microsoft/TypeScript/issues/9944).

[2017-08-04 20:29] Tokimon commented on #991
ok cool. Thanks for update :)

[2017-08-04 21:31] kevcenteno commented on #1063
Should we close this issue, or keep it open for future reference?

[2017-08-04 23:28] rsouthgate commented on #1052
Hi,
Here's a slightly contrived demo: https://www.webpackbin.com/bins/-KqjXlFCyDD4QtZ7GKcV

Theme is updated every 5 seconds. Theme changes a color value through the object it returns, but each theme also injects a global style (in this case the size of the h1). Color continues to be reapplied correctly, but the caching mechanism means the size only cycles once, before styled-components stops inje

[2017-08-05 00:09] philpl commented on #1063
@kevcenteno we generally don't keep issues open, but link to them when we see fit :wink: It might be worth adding to the docs though. Sounds about right, @Igorbek? :)

[2017-08-05 00:09] #1063 closed

[2017-08-05 00:15] philpl commented on #1052
@rsouthgate This is not really a question of how to do it, or should you do it. It's a question of whether it concerns our API, and the answer is: Maybe. But not in the way it's being applied in your example, since that's general best practice. It's applying a side effect on every render, which is supposed to be side effect-less. So while we can consider ejecting global stylings with a suggested A

[2017-08-05 00:18] #1052 closed

[2017-08-05 01:34] rsouthgate commented on #1052
Thanks @philpl My motivation was a particular project where I'm developing a component library rather than an app. If I were the app developer I would say totally - any one of those alternatives would be fine. But as a component library developer I'm already asking any app developer to ensure their app is wrapped by a <ThemeProvider>, they probably already have a store provider wrapping that and I

[2017-08-05 06:56] dfguo commented on #1056
@philpl do you mind expanding on how Emotion sidestep the mixin issue listed at the bottom of this gist: https://gist.github.com/philpl/7b8a021f19ead2ec534091976a1ff6dc

I'm just starting to read more into this, so this might come off as a stupid question.

[2017-08-05 11:01] philpl commented on #1056
@dfguo it's not a stupid question at all actually :wink: With the `composes` operator, their mixins used to be "defined" as specificity-less. You can't write static properties that take a higher priority than it, because it's defined to be just a property holding some mixins that are going to be applied.

Now while Emotion doesn't apply this behaviour anymore, it can be really useful for us to be

[2017-08-05 12:22] nelix commented on #1055
This is pretty good if your app has some themes, but its less useful if you wish to provide a way for consumers of your library a way to provide their own theme.

[2017-08-05 13:33] thejameskyle commented on #1055
@nelix The changes I suggested above don't remove any functionality like that. But I would argue that relying on users to theme third-party components from the top of their app is already a bad API for it.

If you do this:

[code]

You are now tied into that one theme for the third-party component throughout your app, you don't have the option to use it in different ways visually.

Instead you imm

[2017-08-05 14:39] philpl commented on #1055
@mxstbr I think this is really valuable advice for styled-components at scale. Do you think we should expand the docs' theming section and add this approach?

[2017-08-05 20:13] braska commented on #1053
I have same issue and I realized that error occurs in case of re-requiring compiled entrypoint (`src/serverRender.jsx`, for example).

In production environment `src/serverRender.jsx` is required once (on boot) in `index.js`. But in dev environment it's necessary re-require `src/serverRender.jsx` after each modification in sources.

I prepared demo application to reproduce issue: https://github.co

[2017-08-05 21:29] yaronlevi opened #1065 "React Native - Wrapping a pure component and manipulating the passed styled object"
I am asking this after a couple of days of digging in the issues and articles related to styled components.

When using React Native, I am wrapping and styling a pure stateless component and inside the pure component I want to manipulate the passed styled object like so:
[code]

So the behavior I want to achieve is a default value for background-color. If a background-color was not defined when st

[2017-08-06 02:42] philpl commented on #1065
You can achieve this with the `defaultProps`. Set the static property on either of the components, the factory's result, or the wrapped `MyView`.

The style object is a value, since that's how style sheets work in React Native. Once these are created they're just references.

We don't allow more obscure stuff like this, since it's not a good idea to introduce side effects like this, that directly

[2017-08-06 02:42] #1065 closed

[2017-08-06 13:43] yaronlevi commented on #1065
Ok I see what you mean... so basically, I should strive to use the styled-components's primitive in the lower levels, and in my example, the PFC should be above.

Can you please explain in detail or small piece of code (-:

[2017-08-07 05:27] mxstbr commented on #1055
Yep, I think that makes a lot of sense.

[2017-08-07 09:30] stheobald commented on #1033
Confirming this issue - I removed node_modules and .next. Manually installed stylis@3.2.8, and have verified that this error is present with styled-components@2.1.1, but NOT in styled-components@2.1.0

[2017-08-07 10:31] philpl commented on #1033
@stheobald @andy1028 I'm certain it's an installation issue. What version of npm or yarn are you using? And what's the output of `npm ls stylis` or `yarn list stylis`?

[2017-08-07 10:38] stheobald commented on #1033
yarn list stylis
yarn list v0.27.5
├─ next@2.4.9
│  └─ stylis@3.1.5
└─ stylis@3.2.8

Note that I have a babel-plugin.js as per https://github.com/zeit/next.js/tree/v3-beta/examples/with-styled-jsx-postcss  (only not postcss) to pick up the correct stylis version

npm --version
5.0.3

yarn --version
0.27.5

[2017-08-07 10:50] philpl commented on #1033
@stheobald A couple of things I can see here :)

- styled-components is not listed
- next should only passively depend on stylis via styled-jsx
- styled-jsx-postcss should depend on styled-jsx as well which depends on stylis in turn
- stylis@3.2.8 is installed globally which should work

Sone background: styled-components updated to a new version of stylis that added the constructor API to separat

[2017-08-07 11:23] JimmyLv commented on #538
Wrapping with `ThemeProvider` in test will also meet some issue with enzyme:

[code]

[code]

as you can have a try, the `state()` method from enzyme is only work for `root` wrapper, so that we can't get the `state` of the component who is wrapped by ThemeProvider.

Any idea or walkaround.

[2017-08-07 11:27] hanselsen commented on #1050
I fixed this by using an overlay which becomes visible when props.isCreatingMarker is true and vice versa.
Could not fix the original issue, but this is very acceptable as well.

[2017-08-07 11:27] #1050 closed

[2017-08-07 11:40] philpl commented on #538
@JimmyLv I think you're confusing this issue with another one. Please continue your question at https://github.com/styled-components/styled-components/issues/624. :wink: It might even have a solution for your problem

[2017-08-07 12:16] simonas88 commented on #304
I'm having the same issue as OP with v2.1.2 of styled-components and react-native v0.47.0

[2017-08-07 12:25] callumlocke commented on #719
I just want to point out this is not just a matter of aesthetics. Unwanted prefixes are actually a real footgun: if you click to disable a property in the devtools, the browser may quietly fall back to the using some prefixed property. If you fail to notice this, it can lead to minutes or hours of pointless layout debugging. And even when you do notice it, it's painstaking to make sure you catch e

[2017-08-07 13:03] philpl commented on #304
@simonas88 please open a new issue with the information that is provided in the template :)

This issue is closed and was fixed :) if a similar issue manifests itself on a different version it's definitely a different issue altogether

Also, commenting on an old issue notifies all previous participants which is not necessary ;)

[2017-08-07 13:45] JimmyLv commented on #624
Wrapping with ThemeProvider in test will also meet some issue with enzyme:

export const mountWithTheme = (children, options) => {
  const wrapper = mount(<ThemeProvider theme={injectTheme}>{children}</ThemeProvider>, options);
  const instance = wrapper.root.instance();
  return wrapper.mount({ context: instance.getChildContext() });
};
const wrapper = mountWithTheme(<DataContainer
        config

[2017-08-07 13:54] philpl opened #1068 "TypeScript props interface is cast to never when theme prop is not given and BaseStyledInterface is used"
This line (L66) was recently added, and it causes an edge case in a very specific (but common) use case:

https://github.com/styled-components/styled-components/blob/62ae36eeb6ddf43ec2f1d5b8e0546dd8df47b15d/typings/styled-components.d.ts#L65-L68

Here we set the theme prop to be optional when `P extends { theme?: T; }`. But by default `T` is `any` in the exposed `BaseStyledInterface`.

This causes

[2017-08-07 13:55] philpl commented on #1068
@Igorbek I just hunted this bug down with @JonWallsten. It's a really specific edge case with the `styled()` factory, but not at all unlikely to be encountered. It is caused by the change you last made in the typings file. Mind having a look? I know how to get rid of it, but not how to properly fix `WithOptionalTheme` :wink:

[2017-08-07 14:26] ohjames commented on #624
The workaround has already been pasted in this very thread.

[2017-08-07 14:34] philpl commented on #624
@ohjames @JimmyLv I've been following this for a while w/o actually pointing out the obvious solution. Sorry for that!

https://github.com/styled-components/styled-components/blob/master/src/models/StyledComponent.js#L100

When there's no ThemeProvider context present, the StyledComponent defaults to the actual `theme` prop. This means that you can just pass `theme` as a prop manually or set it on

[2017-08-07 14:34] #624 closed

[2017-08-07 14:36] ohjames commented on #624
The same hacks are needed for ApolloProvider and many others so it'd be good to provide a solution for it in enzyme I think. They should allow dive() even in non-shallow components.

[2017-08-07 18:16] alerosa commented on #866
@geelen yeah, thanks a lot for your support!

[2017-08-07 21:35] stheobald commented on #1033
@philpl - perhaps it's less ambiguous if I just share a reproducing repo :-D (I'm not using postcss)

https://github.com/stheobald/next-nested-grid
Using next@latest, styled-components@latest and styled-jsx@latest WITH a babel patch entry for styled-jsx

In this project, the error doesn't visibly break any styling (mostly because there's not much there). In my full project, the error causes layout

[2017-08-08 00:46] thejameskyle commented on #1055
@mxstbr do you want to migrate the API of styled-theming into styled-components or move the styled-theming repo into the styled-components org?

[2017-08-08 01:15] Igorbek commented on #1068
Sure, let me take a look.

[2017-08-08 08:57] IIIristraM opened #1070 "Styled component loses props in typescript after second wrap"
styled-components v2.1.2
typescript v2.4.2

Double wrapping of custom react component in `styled` function has component without origin props in the result.

[code]
and finally

`<IconErase { ...{ icon: iconErase } />`

**Expected result**
No errors, IconErase component has same props as origin Icon component

**Actual Result**
[code]
Component has only default themed styled component props (i.e.

[2017-08-08 09:08] JonWallsten commented on #1070
Probably the same as the previous bug report: https://github.com/styled-components/styled-components/issues/1068

[2017-08-08 09:14] IIIristraM commented on #1070
There is custom theme in my case, that is set by code

[code]

[2017-08-08 10:27] sfrieson-tm commented on #965
This is an issue for me as well.  We have a few basic classnames like `.clearfix` and `.visually-hidden` that still need to be supported and work generally well, but every once in a while, the cascade will not result in the order we want/expect it to because we've expected the globals to be at the top.

[2017-08-08 13:55] philpl commented on #1070
This is definitely a duplicate of #1068. Although it proves that there's different ways to reproduce that bug :) If you'd like you can copy over the description of your `Theme` interface there :wink:

[2017-08-08 13:55] #1070 closed

[2017-08-08 14:00] philpl commented on #965
This is not limited to `injectGlobal` as all styles will now end up in one style sheet that can be rehydrated. So I'm going to go ahead and close this issue and all future discussion can be moved here :wink: https://github.com/styled-components/styled-components/issues/860

@sfrieson-tm I think you're talking about the order inside the stylesheet here and not about the position of the style tag? T

[2017-08-08 14:00] #965 closed

[2017-08-08 14:05] alexcroox commented on #965
This thread was about the position of the style tag for injectGlobal, it was being added after normal styled-components rules, when it was expected to be at the top as typically injectGlobal is used to add third party styles that might need to be overwritten inside components.

[2017-08-08 14:45] philpl commented on #965
@alexcroox there is no separate style tag for it anymore, so you can't rely on that. It is meant as an escape hatch and thus not suitable for every scenario. However, if we fix the overall position of the style tag to be determinable, then you can rely on the fact that its styles will come first when the `injectGlobal` function is called before creating any other StyledComponents

[2017-08-08 15:18] stephane-r opened #1071 "Warning with server side rendering"
Hi community,

## Version
2.0.0

## Actual Behavior

I use styled-components on Meteor project with server side rendering, and i've React warning in browser console :

[code]

It's on Meteor project, so i don't have webpack config.

You can see my **index.js** on server :

[code]

And my **babelrc** :

[code]

I think the problem is because i use styled-components on server AND on client. Maybe i

[2017-08-08 16:01] philpl commented on #1071
So you're already using the babel plugin which generates consistent component IDs:

```["styled-components", { "ssr": true }]```

But from what I can see here is that you're simply outoutting different class names here:

[code]

This output is cut off so you'll have to investigate this yourself, but you can see here that on the server the `a` tag starts rendering a class called `activ...` and on t

[2017-08-08 16:04] cyberthom opened #1072 "Reverse component selectors, CSS mixins, and implicit state"
Hi,

We've got a use case that requires composing together CSS mixins.

This is so that we can easily swap out the styling for the same components for different brands. (Think Walmart's use case who want to use the same components across all their ecommerce sites like Walmart, ASDA or Sam's Club)

The approach we've spiked is based on composing CSS mixins and using reverse component selectors:

##

[2017-08-08 16:22] wmdmark commented on #1032
Our company is also running into this problem. We have a core "UI" built with styled-components used by both our internal team and by external development partners.

We also use styled-components in our other app packages and then things get borked when we import from our UI library.

Does anyone know of a temporary solution while this issue is being worked on (ideally that works without ejecting

[2017-08-08 16:34] stephane-r commented on #1071
Hi @philpl

Thank for your response.

I've upgrade my styled-components package on latest version :) But same problem. Maybe, the problem is my routes ? I've my routes on server-side AND client side, styled-components is executed on server and client ? :

My server side routes :

[code]

And my client side routes :

[code]

Maybe, the problem is here ?

[2017-08-08 17:41] Igorbek commented on #1068
Sorry, I couldn't understand what the problem was by given screenshot. Can you please give the full repro code and point what the type expectations you had that were not met.
I tried repro code from #1070 and it did work for me.

@IIIristraM I've used the simplified repro from #1070:

[code]

@IIIristraM you didn't provide `IconProps` interface, please correct me if it differs from in what I showe

[2017-08-08 22:09] philpl commented on #1072
You can use the reverse of what you're doing I.e. define the parent for the reverse selector in the child. An example can be found here: https://www.styled-components.com/docs/faqs#can-i-refer-to-other-components

You can also give theming a try instead of dismissing it. It can be really powerful due to its flexibility. Have you tried reversing the theming relationship as described by James Kyle i

[2017-08-08 22:11] philpl commented on #1032
@wmdmark the temporary and in fact proper solution is to share the styled-components library. If you are certain that you have completely separate bundles on one single page, and are using webpack, give externals a try.

[2017-08-08 22:13] philpl commented on #1071
@stephane-r I think that's unlikely. The most plausible explanation is that the babel plugin is not taking effect on either the server code, client code, or even both.

Can you paste a snippet of the transpiled server code and client code of one of the affected styled components?

Also the original code so I can make sure that it's not a simple usage mistake.

I'm afraid without seeing any part of

[2017-08-08 22:16] philpl commented on #1068
@JonWallsten can you please paste some code so we can come up with a minimal reproduction? :)

[2017-08-09 02:25] gurs1kh opened #1073 "Warning: Unknown prop `innerRef` on <div> tag."
I keep on getting the following warning:
`Warning: Unknown prop 'innerRef\' on <div> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop`

The only way to resolve this seems to be by changing\
`const StyledView = styled(({position, ...props}) => <View {...props} />)`
to
`const StyledView = styled(({position, innerRef, ...props}) => <View {...props} />)`

I hav

[2017-08-09 02:25] gurs1kh commented on #1073
Also, I have done my best to look through other issues, but none have solved my problem

[2017-08-09 05:29] wmertens commented on #730
No opinions for or against?

[2017-08-09 05:57] JonWallsten commented on #1068
@philpl This should probably do it:
https://www.webpackbin.com/bins/-KqwRNbXrBQ3PDkUF9Hi
Webpackbin however won't show interface related errors. So you would probably have to test it locally. I don't have a simple boilerplate, so it's probably faster you you to test it. Is that okey with you?

[2017-08-09 09:52] stephane-r commented on #1071
@philpl I've find the difference server side/client side : i add new item on my navigation (item Admin, display after client load with Meteor) :

server side :

`data-reactid="16">contact</span></span></a></nav><a class="active`

client side :

`data-reactid="16">contact</span></span></a><a class="App__NavigationItem-zyueqg-1 gMzkOZ" href="/admin" data-reactid="17"><span data-reactid="18"><span cl

[2017-08-09 11:06] ungerpeter opened #1074 "defaultValue property not supported for styled.input"
I think the defaultValue property is not working with an enhanced input field using styled.input.

Code:
[code]
is working.
Ref: [https://facebook.github.io/react/docs/uncontrolled-components.html#default-values](https://facebook.github.io/react/docs/uncontrolled-components.html#default-values)

Now I try to style it with following code:
[code]
is not working.

Is there a way to achieve the defaul

[2017-08-09 12:28] philpl commented on #1071
Ok, make sure to only add a difference after the initial render :)

[2017-08-09 12:28] #1071 closed

[2017-08-09 12:30] philpl commented on #1073
When you're wrapping your own component we don't filter any props so they go directly onto the renderer element. Make sure to take care of that.

It'd be even better to reverse this order. Wrapping your own components is often not preferable and you should try to instead have your structural components above your presentational ones

[2017-08-09 14:27] philpl commented on #1074
Can't reproduce it. Seems to be working fine for me. I also don't see how this can be related to SC, as we just wrap a normal React element in our styled components.

Have you made sure that `entry.foo` actually passes a correct value?

https://codesandbox.io/s/48V26znOn

[2017-08-09 14:27] #1074 closed

[2017-08-09 14:42] wmdmark commented on #1032
@philpl what do you mean by share the styled-components library? Bundle it with the project? The UI lib is an npm package that can be used by other projects (internal and external). The issue is that when those projects use styled-components themselves they get borked as soon as the UI library is imported as a dependency.

Seems like this is a pretty major issue for anyone trying to create npm pac

[2017-08-09 14:47] avindra commented on #1068
[code]

This will throw an error in `StyledDumbBox`

Reverting to `2.1.1` fixes the build error.

[2017-08-09 15:31] philpl commented on #1032
@wmdmark You have to make sure that the module is not duplicated. That's a basic problem with a lot of libraries, not exclusive to ours. Otherwise you also run the risk of duplicating the SC module that you're shipping to the client.

There are a couple of options to fix this:

- Make sure that in your shared npm packages you depend on SC using `peerDependencies`, not a normal one, to make dedupli

[2017-08-09 16:38] wmdmark commented on #1032
@philpl  Thanks for the tips, but I don't think this addresses the issue we're having since styled-components is _not_ being duplicated in this scenario (our UI lib builds without styled-components bundled). However, when I import anything from the UI lib, it immediately breaks any local styled-components being used in the project.

Is there anything else that would cause this besides duplication?

[2017-08-09 17:31] gurs1kh commented on #1073
I'm not sure what you mean. Can you provide an example? By the way, innerRef is not a prop that I created.

[2017-08-09 17:54] puradox commented on #439
Going along with @satya164's recommendation of a `filtered` HOC:
[code]

[2017-08-09 18:01] puradox commented on #439
Going along with @satya164's proposal for a `filtered` HOC, here's my solution:
[code]
Hopefully this helps someone out while the maintainers are working towards a more permanent solution 😄

[2017-08-09 18:44] philpl commented on #1073
It looks to me like you're using a very outdated version then? The `innerRef` is only passed if the child is a StyledComponent as well. I think we had a bug passing it all the time before v2 or in some patch of v2.

https://github.com/styled-components/styled-components/blob/master/src/models/StyledComponent.js#L159

[2017-08-09 18:46] philpl commented on #1032
@wmdmark then your problem is not related to this issue, since it doesn't match its description of two React apps (i.e. bundles). Please create a separate one

[2017-08-09 18:50] gurs1kh commented on #1073
I'm on the latest version, but only recently updated to it. Before updating, I didn't get this warning

[2017-08-09 19:01] fremfi opened #1075 "Pseudo classes aren't receiving the props"
`
const IconComponent = styled.i`
    &:before {
        text-decoration: inherit;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        vertical-align: top;
        text-align: center;

[2017-08-09 19:09] philpl commented on #1073
Is `View` a styled component as well?

Please submit all the necessary details for me to look into this. I hope you understand that it's near impossible without them to find out what exactly is going on 😢  Please don't just skip and delete the issue template when opening an issue

https://raw.githubusercontent.com/styled-components/styled-components/master/.github/ISSUE_TEMPLATE.md

[2017-08-09 19:10] philpl commented on #1075
Please submit all the necessary details for me to look into this. Otherwise I'd have to copy this into a CodeSandbox or sth similar myself. Please don't just skip and delete the issue template when opening an issue :wink:

https://raw.githubusercontent.com/styled-components/styled-components/master/.github/ISSUE_TEMPLATE.md

[2017-08-09 19:12] philpl commented on #1062
You mean you had quotes around some values?

Right now it's not possible for us to literally lint your CSS, I'm afraid 😞  You can try our stylelint-processor, or wait for v3 which will actually parse all CSS.

[2017-08-09 19:12] #1062 closed

[2017-08-09 19:17] philpl commented on #1057
As it seems that none of the issues here seem to be issues with our typings, but usage issues, I have to ask you to try to:

- Use the **exact** instructions (including the exact `flowconfig`  without extra sections) in the docs: https://www.styled-components.com/docs/api#flow
- Try the mentioned `lib` trick above
- Open a new issue with a **reproduction repo** adhering to the issue template

As t

[2017-08-09 19:17] #1057 closed

[2017-08-09 19:18] philpl commented on #1033
@Thysultan any ideas? seems fine to me

[2017-08-09 19:18] wmdmark opened #1076 "Using styled-components in a monorepo"
## Version
\> 2.0

## Reproduction

We have a UI library built with styled-components that is for use by our team internally as well as with external developers. While this library depends on styled-components, it _does not_ bundle styled components as part of the npm distribution.

## Steps to reproduce

Install an npm library that exports components built with styled-components in a React projec

[2017-08-09 19:18] wmdmark commented on #1032
@philpl OK, moved to #1076

[2017-08-09 19:23] philpl commented on #1030
First of all, this is not the website's repo. Please open an issue there.

This is not a styled-components issue. We made sure that it supports the same versions of browsers as React.

I haven't tested the site in IE or Edge so it's probably another Web API. I also can't tell you what went wrong without some debugging output or sth similar.

Also, the issue template is totally not fitting the issu

[2017-08-09 19:23] #1030 closed

[2017-08-09 19:25] philpl commented on #1006
I'm sorry for the late reply.

First, I don't think this could possibly have anything to do with styled-components.

Second of all, you are unfortunately not following the issue template, which explains why none ofthe other maintainers replied yet. This makes it hard to debug, not even thinking about the long code snippet here.

If this is still an issue, try to reproduce your bug in a minimal cod

[2017-08-09 19:26] #983 closed

[2017-08-09 19:26] philpl commented on #998
Closing due to inactivity. Yarn and NPM issues are impossible to debug without some more info, like `npm ls styled-components && npm ls is-function`

[2017-08-09 19:26] #998 closed

[2017-08-09 19:28] IljaDaderko commented on #1006
Sorry for poor handling of this, issue has been resolved, was related to svg properties bug in safari.

[2017-08-09 19:28] #1006 closed

[2017-08-09 19:31] fremfi commented on #1075
@philpl thank you. I just read it, and will ask my question on the channel. I apologize for skipping it.

[2017-08-09 19:31] #1075 closed

[2017-08-09 19:40] philpl commented on #1006
No worries! Thanks for the follow up

[2017-08-09 19:42] philpl commented on #1075
It's ok to ask a question here if you're frustrated and are searching for an answer. No worries

A reproduction is needed though. I'll reply on Gitter

[2017-08-09 20:40] Igorbek commented on #1068
Ah, I think I've got what's going on... I'll fix it shortly

[2017-08-10 00:04] gurs1kh commented on #1073
sorry about that. I am on version 2.1.2 and I'm having issue on the React Native version of styled-comoponents (styled-components/native).
View refers to React Native's View component.

[2017-08-10 09:38] ungerpeter commented on #1074
Sorry for the confusion, this was actually my fault.
The entry.foo wasn't containing the desired value on the initial render call.

[2017-08-10 09:47] #1068 closed

[2017-08-10 09:47] philpl commented on #1068
I'll release a minor version today containing this fix

[2017-08-10 10:18] philpl commented on #1073
Right, in this case you're using React Native Web or something similar, I assume.

This is expected behaviour since each component needs to handle refs for setNativeProps. You need to pass on the innerRef prop as ref. The warning that is telling you to do this only comes up when setNativeProps is called.

On web you can also safely ignore this warning or filter innerRef as you already did.

I see

[2017-08-10 10:18] #1073 closed

[2017-08-10 10:20] jracollins commented on #1072
Hi @philpl

Thanks for the quick reply.

Unfortunately we can't refer to the specific parent in the component as these components are designed to be atomic and consumed by multiple "composed components" and so the component will not know what the parent will always be.

With regard to the theming, despite being powerful, we would still have to dictate the all css properties that are customizable i

[2017-08-10 10:48] philpl commented on #1072
Ok, I see.

That's fair, yes. You could also just `extend` the component and use that. In fact it's a pretty common pattern to just pull in a component, extend it for the current component's context, and use that instead. So for example, you could create a `ShoppingBagButton`.

This kind of brings me to the next problem. Yes, you can't use the parent's props to determine what the child will look l

[2017-08-10 12:13] joetidee opened #1078 "How to get keyCode from styled component?"
Please see this S.O. question...

[https://stackoverflow.com/questions/45612899/how-to-capture-the-keycode-from-a-styled-component](https://stackoverflow.com/questions/45612899/how-to-capture-the-keycode-from-a-styled-component)

[2017-08-10 12:34] k15a commented on #1078
Take a look how React handles events at https://facebook.github.io/react/docs/events.html. styled-components doesn't change this behaviour at all.

[2017-08-10 12:39] thysultan commented on #1033
Yes, it works fine on my end. Looks like a cache issue on your end, though i'm not sure why it would be using the next@2.4.9 version – stylis@3.1.5 that does not support the `new Stylis()` API that s-c@latest moved to.

[2017-08-10 12:45] #1078 closed

[2017-08-10 16:16] joetidee commented on #1078
Looks like I needed to check event.charCode as well.

[2017-08-10 17:53] k15a commented on #1078
It should be the same with event.charCode :)

[2017-08-10 21:23] renatorib opened #1079 "[TS] StyledComponentClass does not have any construct or call signatures"
Hello. I'm trying to up a new project with typescript + styled-components, but I faced with a problem with prop types + jsx.
I get this error: `[ts] JSX element type 'Styled' does not have any construct or call signatures` when I try to use a Component from styled.

[code]

![image](https://user-images.githubusercontent.com/3277185/29192601-5ca6429c-7df8-11e7-81ed-3784105a7a94.png)

`Styled` type

[2017-08-10 21:31] renatorib commented on #1079
**Updating:** it seems that the prop types do not influence the error:

![image](https://user-images.githubusercontent.com/3277185/29193041-18c45fe4-7dfa-11e7-8169-889f79508355.png)

[2017-08-10 21:41] renatorib commented on #1079
Sorry, my bad. I forgot to install `@types/react`;

[2017-08-10 21:41] #1079 closed

[2017-08-10 22:11] renatorib opened #1080 "[TypeScript] styled argument do not accept string for tagnames"
It does not work:

![image](https://user-images.githubusercontent.com/3277185/29194229-0ec54c6a-7dff-11e7-8e96-1a07ecf01954.png)

It works:

![image](https://user-images.githubusercontent.com/3277185/29194326-6752f684-7dff-11e7-93e5-e6577ee8ecb4.png)

Following `styled typings` I found that first argument receive `Component<P>`:
[code]

If I add `| string;` at Component type, the first example wor

[2017-08-10 23:07] philpl commented on #1080
This does look like an oversight to me. Rest assured that you can still use the shorthands. Please check out our docs for some examples of them: https://www.styled-components.com/docs

cc @styled-components/typers

[2017-08-11 00:42] vladimir-kondratenko commented on #1055
Why not just resolve this problem like below?
[code]
or
[code]

[2017-08-11 00:57] vladimir-kondratenko commented on #860
@oliviertassinari What about this approach?
[code]

[2017-08-11 01:05] probablyup commented on #1055
This only works if you don’t expect to change the base styles. At Zocdoc,
we are building white labelled sites now that customize the entire page
style via extending a base theming blob.

So we have the complexity you spoke of, plus having to freely swap out the
underlying values of the base theme. Breaking up the styles and dispersing
them becomes impossible to maintain.
On Thu, Aug 10, 2017 at 8

[2017-08-11 01:36] geelen commented on #1055
This is excellent work. I've always considered both the props and theming APIs as kind of a minimum viable approach that anyone can build their own interfaces on top of, once we had a bit more real-world usage.

I would prefer to keep it as a separate package, but under the organisation, and fully integrated into the documentation. That way, SC itself keeps the low level API (if your interpolation

[2017-08-11 03:37] thejameskyle commented on #1055
This API does not get rid of the ability to pass down CSS values:

[code]

[code]

Passing down just the information you need and doing everything else at the component level is a lot easier to manage.

[2017-08-11 03:37] thejameskyle commented on #1055
Also, I'll transfer the repo if no one has any objections

[2017-08-11 06:27] geelen commented on #1055
Of course, but that's only because it doesn't change the basic functionality. By making it easier to pass down keys into your styling data structures you guide people away from passing down values at all. It would be way better if, when you take a component and give it two variants using a _mode_, you also got the ability to overwrite it from outside.

Personally, I don't like passing down values.

[2017-08-11 07:20] thejameskyle commented on #1055
One of the things I really like about what `<ThemeProvider/>` already provides is the simplicity of an arbitrary object I can pass down.

It's very recognizable in React when compared to `props`. It doesn't require any additional learning.

Explaining `theme()` and `theme.variants()` is made easy by the fact that it's just writing a simple function for you with no additional conventions or work ha

[2017-08-11 07:49] geelen commented on #1055
I get that point, having `theme` as a normal object is good and shouldn't be removed lightly. But the `theme` function you're suggesting has an implementation like this (for a simple case):

[code]

I'm suggesting you allow a fallback along the lines of this:

[code]

I get that it makes the function more complex but it also is a really useful seam where you can add some dynamic customisation for

[2017-08-11 07:52] geelen commented on #1055
An alternate API:

[code]

[code]

This is worse (mutating singletons) but sometimes worse is better 😄

[2017-08-11 08:03] geelen commented on #1072
Yeah I would suggest doing something like the following:

[code]

[code]

[2017-08-11 09:15] mxstbr commented on #1055
Yeah please transfer the repo, would love to add the docs to the website as well!

[2017-08-11 13:11] oliviertassinari commented on #860
@vladimir-kondratenko increasing the specificity will most likely work. But we have an opportunity to make is simpler.

[2017-08-11 13:46] morajabi commented on #1011
I don't know how to test my code before publishing to npm correctly, so I'm making a PR for you to review it, and sorry if I didn't get what you mean properly.

[2017-08-11 16:48] renatorib commented on #1080
Sorry, I guess I did not express the problem very well.

I want to create styled components with prop types and using string for html tags

[code]

But typescript does not let me do that, because of this type:
[code]

[2017-08-11 16:49] renatorib commented on #1080
Ops, I've closed issue by missclick. Sorry.

[2017-08-11 17:06] Igorbek commented on #1080
I'm sure #1067 should be addressing this feature.

[2017-08-11 17:20] renatorib commented on #1080
@Igorbek exactly that issue.

For now, I've created a wrapper to handle this:
[code]

[2017-08-11 19:01] philpl commented on #1080
@renatorib is there any reason why you're using this workaround instead of the shorthands?

[2017-08-11 19:04] renatorib commented on #1080
@philpl because I can't pass types using shorthands.

You know how?

[2017-08-11 19:12] renatorib commented on #1080
This way, styled do not recognize props in ThemedStyledProps (because I don't pass any prop types definitions):
![image](https://user-images.githubusercontent.com/3277185/29228263-864bd794-7eaf-11e7-8658-486beb161e14.png)

Using the workaround it recognize, but I can't use shorthands as well:

![image](https://user-images.githubusercontent.com/3277185/29228343-c9617480-7eaf-11e7-8a87-4760aa672c9b.

[2017-08-11 19:37] philpl commented on #1080
@renatorib before—I don't know if it still works—TS was able to infer it back to the generic from usage:

[code]

But if that doesn't work you might still be able to do this:

[code]

[2017-08-11 19:59] probablyup opened #1083 "Classname ordering problem since 2.1.2"
## Version
styled-components@2.1.2
babel-plugin-styled-components@1.1.7 (SSR enabled, no preprocessing)

## Reproduction / Steps to reproduce
I don't have repro steps right now, but I'm seeing an issue with the order of how the generated classes are concatenated in v2.1.2, specifically in NODE_ENV=production. Downgrading to v2.1.1 fixes it.

I have a component chain that looks like this:

[code]

[2017-08-11 20:03] renatorib commented on #1080
Yes, first example work. But I'll need to pass `(p: Props)` whenever I use props in my styled component. Seems overkill to me. Imagine that I've a large/complex styled component, and will need to repeat it several times. The best way is when interpolations function from template strings already receive the props in the callback argument.

(but it is also a solution as well)

I also think this work

[2017-08-11 20:53] Igorbek commented on #1080
it allows to pass that props just once:

[code]

[2017-08-11 21:00] renatorib commented on #1080
@Igorbek hummmmm 🤔  now it's interesting

[2017-08-11 21:34] philpl commented on #1080
@renatorib please do not just close the issue, since we actually identified a bug here ;)

[2017-08-11 21:34] renatorib commented on #1080
Oh, okay.

[2017-08-11 21:43] philpl commented on #1083
So first the disclaimer: Factories that wrap around StyledComponents (see `styled(Arrow)` where `Arrow` is a StyledComponent) are not the preferred use-case anymore, so things could be screwy. Not sure.

We have some missing information:

- What's the resulting classnames?
- What does the reproduction case on codesandbox / webpackbin look like?
- Is the babel plugin being used? (If yes, what versi

[2017-08-11 21:48] probablyup commented on #1083
What do you mean? What's the recommended pattern then if you need to do override styles?

[2017-08-11 23:22] philpl commented on #1083
@probablyup The `.extend` and `.withComponent` methods. I mean you are using `.extend` for 3, but not for 4. https://www.styled-components.com/docs/basics#extending-styles

[2017-08-11 23:45] probablyup commented on #1083
Isn't it wasteful to use .extend though unless you need to, since it
duplicates all the styles?
On Fri, Aug 11, 2017 at 7:22 PM Phil Plückthun <notifications@github.com>
wrote:

[2017-08-12 00:48] philpl commented on #1083
@probablyup that only applies to SSR, and in that case gzip takes care of the duplication for you quite nicely. :)

[2017-08-12 00:49] probablyup commented on #1083
Hmm alright, noted. I'll try switching syntax internally and seeing if that
improves things.
On Fri, Aug 11, 2017 at 8:48 PM Phil Plückthun <notifications@github.com>
wrote:

[2017-08-12 23:56] webchaz opened #1085 "Components with ability to override styles"
When sharing components using styled components I've seen a few different ways folks will allow the end user to override or customize the styles, such as including class names or allowing inline styles in props.  Is there a recommended way or standard to allowing components to be overridden.  I could see possibly allowing a styled component as a prop, but having the ability to merge the styles?

[2017-08-13 10:13] searene opened #1086 "Add style to third party libraries that didn't handle className correctly"
Suppose I have a third-party react component that looks like this.

[code]

And I use it with styled-components like this.

[code]

Of course it didn't work. To make it work, the third-party library has to pass `this.props.className` to `className`, like this:

[code]

So I have to modify the library's source code to make it work, which I do not prefer.

Is there any way to make it work without mo

[2017-08-13 11:38] k15a commented on #1086
I think the best thing is to open an issue there and ask if they can forward the className. Otherwise I can't think of a solution for this problem other than wrapping the Component in another one and applying the styles to the custom class.

[code]

[2017-08-13 12:57] searene commented on #1086
Thank you, this is the only solution I can think of too. I will see if there's anything React Color could do about it.

[2017-08-13 12:57] #1086 closed

[2017-08-13 18:28] probablyup commented on #1083
@philpl I've been thinking more on this and have a general note: people on my team have commented that it's confusing to know when to use `styled()` vs `.extend`.

I agree with that and unless you have an IDE popup that tells you what you're touching is a styled-component, you have to dig down into the impl to figure out which thing to use.

It would be better to always use the `styled()` API and

[2017-08-13 18:34] philpl commented on #1083
@probablyup The general rule we've established is: Always use `.extend`.

https://github.com/styled-components/styled-components/issues/45
https://github.com/styled-components/styled-components/pull/46

This is also what we state in the documentation: https://www.styled-components.com/docs/basics#extending-styles

[2017-08-13 18:36] probablyup commented on #1083
`.extend` doesn't work on non styled-components. What I'm saying is your API is made confusing for no reason by giving two ways to do the same thing that require impl knowledge to differentiate.

Styled components should just automatically `.extend` if given another styled component.

[2017-08-13 18:39] probablyup commented on #1083
I'm going to move this into a new issue since the conversation has kind of diverged.

[2017-08-13 18:47] probablyup opened #1087 "Simplifying the public API"
Currently there are a few ways to use the `styled` API:

1. Creating a new styled-component: `styled.div`
2. Adding styles to an existing React component: `styled(MyComponent)`
3. Extending an existing styled-component: `StyledThing.extend`

I believe the API can be made much simpler by making use case `#3` an implementation detail, rather than something the developer needs to think about and cros

[2017-08-13 18:47] #1083 closed

[2017-08-13 18:53] probablyup commented on #1087
As an aside, I'm happy to take the lead on implementing this.

[2017-08-13 19:14] k15a commented on #1087
You can currently use `styled('div')` currently without problems. It's not different to `styled.div` at all. We have these shorthands on one side because it's nicer to write and because you also can be sure that the tag is valid with `styled.div`.

In addition, you can also use `styled(StyledThing)`. The difference is that `styled(StyledThing)` only adds the 2 different classes together. `styled(S

[2017-08-13 19:26] philpl commented on #1087
I'd refer to the "UNIX" way here. Overloading APIs is not a good idea. All our methods and APIs do a single thing and are very predictable. So predictable in fact, that you could read about them without much explanation and use them immediately.

To bring over your argument from the other issue which is kind of missing here:

It's not confusing, since it's not supposed to work on non-styled-compon

[2017-08-13 19:27] probablyup commented on #1087
@k15a I understand that you can use styled(StyledThing) today, but it's not using the semantics of .extend which is suboptimal and can lead to unexpected consequences like classes out of order. Hence the desire to adjust the implementation

[2017-08-13 19:28] philpl commented on #1087
@probablyup see my comment (and also the edit for the reason of why I closed this)

The keyword is *can*, but *shouldn't*. Maybe a docs issue can help here.

[2017-08-13 19:31] probablyup commented on #1087
Perhaps, but you aren't addressing the core DX issue I brought up that the consumer shouldn't have to have perfect knowledge of the TYPE of component they're consuming.

At best it's irritating, at worst it's nigh impossible if you're consuming a third party library and don't know the impl of their components. Could be a mix of direct styled component primitives and React components...

[2017-08-13 19:33] probablyup commented on #1087
Also, it bothers me that you close issues without allowing some discussion around the subject. Maybe the original decision was suboptimal or made without some use cases in mind.

I don't mind contributing, but this behavior is hostile and I'm getting to the point where I'd rather just fork than try to convince you of things.

[2017-08-13 19:39] philpl commented on #1087
@probablyup

There is no type here. Third-party or your own is not a type but perfectly normal knowledge that can even just be inferred by the import statement.

You don't have to know anything except whether they accept a className. It's captured by a note here in the docs which are visually "marked" to look important: https://www.styled-components.com/docs/basics#styling-any-components

We had s

[2017-08-13 19:41] probablyup commented on #1087
How so?

[code]

does not tell me if `Thing` is a normal React component or a styled component. That knowledge is required in order to select the proper API and get the expected behavior.

[2017-08-13 19:48] probablyup commented on #1087
This is not always easy to obtain. Many libraries strip out their propTypes for production builds and/or don't mention `className` at all because they simply spread-apply given props. A component is effectively opaque to the consumer with the exception of any documentation (if available.)

The `styled` function however knows which components are their own and has the information to make that decis

[2017-08-13 19:53] philpl commented on #1087
There are several places to look through, if you'd like to know why we chose to add the three methods that are now part of v2 (in order):

- https://github.com/styled-components/styled-components/issues/45
- https://github.com/styled-components/styled-components/issues/291#issuecomment-272659197
- https://github.com/styled-components/styled-components/issues/494#issuecomment-296374445
- https://gi

[2017-08-13 19:59] probablyup commented on #1087
I get what you're saying, but I strongly feel it inhibits productivity and introduces unnecessary cognitive load. As with the axiom of function over form when it comes to engineering, productivity should always prevail over elegance/aesthetics where it makes sense.

Like I'm not bringing this up just because I don't personally like it. Actual other people have commented to me that this is confusin

[2017-08-13 20:36] grsabreu commented on #1058
You can use RN's Platform
[code]

[2017-08-14 01:57] #1058 closed

[2017-08-14 03:38] danikenan commented on #176
added support for `injectGlobal` and `extend`:
[code]

[2017-08-14 04:35] geelen commented on #1087
I agree with @philpl here totally. The API that we have has come about because _each_ case fits the ergonomics of a _single_ use-case better than one that tries to fit them all. Working with primitives? `styled.div`. Working with components? Use `styled(Comp)` and make sure `Comp` accepts a `className` prop. Extending an existing component? `Foo.extend`. Want to change the tag underneath a compone

[2017-08-14 04:35] #1087 closed

[2017-08-14 04:38] geelen commented on #1085
Yep, definitely the recommended way to override styles is to pass a classname. Calling `styled(Comp)` actually wraps `Comp` and passes `className` down, which sounds like what you're looking for: https://www.styled-components.com/docs/basics#styling-any-components

[2017-08-14 04:41] probablyup commented on #1087
I'm getting mixed signals here. Phil specifically said not to use `styled(StyledComponent)` because it's apparently not supported or well tested because you're supposed to use `.extend` for overriding a styled component. Is that not the case?

[2017-08-14 04:51] geelen commented on #1087
No it's perfectly fine, it's just... when you usually use it, you don't actually _want_ a hierarchy of components. You want multiple variants of one component:

[code]

In this case, each component is flattened, simply taking the rules of the previous and creating a new component rendering a `div`. That's pretty different to adding styles to a component that comes from somewhere else. In general,

[2017-08-14 05:07] mxstbr commented on #1087
Yep, we should add that note to the docs @geelen @philpl!

[2017-08-14 06:00] #1085 closed

[2017-08-14 07:10] jasan-s commented on #184
@karolisgrinkevicius it seems you still need to use attrs even with NavLink

[2017-08-14 17:16] jracollins commented on #1072
Thank you both @geelen and @philipl

It didn't occur to me that putting mixins in the theme quite like that would solve our issue (I think I tried but implemented it wrong!), but @geelen your reply put me on the right track - It's a great solution and solves exactly the issue of the 'props scope' where you couldn't access the components props when wanting to extend styles, and now everything works

[2017-08-14 17:28] #1072 closed

[2017-08-14 17:28] philpl commented on #1072
Glad you found a pattern that works for you :)

[2017-08-14 21:56] Fer0x commented on #659
I found a hack workaround for using with `react-frame-component`.
[Demo](https://stackblitz.com/edit/react-rgthal?file=index.js)

[code]

[2017-08-14 23:23] ryanheathers commented on #1032
@geelen checking to see if there is movement on this issue. For now I am working around it by simply using an older version of styled-components, but obviously would love to use the latest and greatest. Really appreciate the work here!

[2017-08-15 00:50] gurs1kh commented on #1073
When using styled.View, I get the following error:
`Warning: Unknown prop `position` on <div> tag.`
This is because the position prop is not a prop of View.

[2017-08-15 03:01] jimmy-guo opened #1089 "alc"
## Version
2.1.0

## Reproduction

https://www.webpackbin.com/bins/-KeeZCr0xKfutOfOujxN
https://codesandbox.io/s/rkmNRByE4

## Steps to reproduce

## Expected Behavior

## Actual Behavior

[2017-08-15 03:02] #1089 closed

[2017-08-15 03:30] philpl commented on #1076
Since the StyleSheet will be responsible for any bugs here, we can assume that it's fine as long as it's a singleton. Since you're not installing it in the dependency, we have to investigate more here. Otherwise I don't have anything to go on in this issue.

My guess is that it's the same as #1032, but you haven't found the cause of the duplication.

What would help is:

- `npm ls styled-component

[2017-08-15 17:21] okcoker commented on #943
In searching for my particular issue, I keep ending up here so maybe I'm missing something.

If I have a button defined something like:
[code]

How can I use the generated class name from `Button` for a library component? I'm not creating a new class here like the above comments. I'm just trying to do something like:

[code]

Is the expected solution for this supposed to be the following?

[code]

[2017-08-15 18:38] k15a commented on #943
You can create a new Button component just for the LibraryComponent with the styles of your own Button component with `withComponent`.

[code]

I hope that this is what you're looking for.

[2017-08-16 13:40] bitriddler opened #1090 "Calling PropTypes validators directly is not supported by the `prop-types` package"
## Versions
styled-components: 2.1.2
react: 15.6.1

I get this warning whenever I try to use a styled component
[code]

[2017-08-16 18:26] ravinggenius opened #1091 "Inline styles are passed through (instead of being added to the generated CSS)"
Once in a while I have some component that needs little style tweaks basically everywhere it is used. It is pretty cumbersome to add a whole bunch of optional props to try to mix and match to get the results I want, so I just add a couple rules inline. Below is an example how I currently handle this:

[code]

In my case the tweaks are completely arbitrary but generally one or two rules. Adding pro

[2017-08-16 18:34] Noitidart opened #1092 "Using StyleSheet helper for react-native"
Hi I had a question. I searched issues and I tried on gitter but got no reply yet. On spectrum it seems only few issues created. Please excuse this.

I'm trying to decide if I should use styled-components in my React Native project. Does this use StyleSheet component imported from react-native project? Or is it doing inline styles on all the components?

[2017-08-16 18:42] k15a commented on #1092
We're using `css-to-react-native` to create the React Native StyleSheet objects from CSS.

[2017-08-16 18:48] Noitidart commented on #1092
Thank you sir, it seems that package does not use `StyleSheet`. Thank you for leaving this issue open for me to close.

[2017-08-16 18:48] #1092 closed

[2017-08-17 16:26] tleunen opened #1093 "preprocess doesn't work inside a storybook"
## Version
2.1.2
babel-plugin-styled-components: 1.1.7
[code]

## Steps to reproduce
- Setup a project using styled-component with the babel plugin and the preprocess option
- Create a SC component
- Render it inside the storybook

## Expected Behavior
- The css is applied on the element

## Actual Behavior
- The element is naked. Altough the css is in the dom, and the classe applied on the elemen

[2017-08-17 19:37] philpl commented on #1093
The second class in your screenshot looks faulty. This is probably due to misusage. I’ll need some code snippets, optimally also their transposed version, to determine what went wrong.

It’s also worth noting that preprocess is only a proof of concept and not supposed to be stable. A version of it that’ll be officially rolled out will be available with v3

[2017-08-17 19:45] tleunen commented on #1093
Yep, the second one was this:
[code]

[2017-08-17 20:18] gustavopch commented on #1085
@geelen Some components like `react-autosuggest` allow you to use some CSS classes to style not only the root component, but a bunch of subcomponents too. I don't see how styled-components could be used in this case. Any idea?

[2017-08-17 20:21] k15a commented on #1085
[code]

[2017-08-17 20:57] gustavopch commented on #1085
Thank @k15a. Your answer led me to the solution and I'll let it here for other people:
[code]

This will basically create a `<div>` outside of the Autosuggest elements and the classes will be applied.

[2017-08-17 21:25] philpl commented on #1093
It looks like the plugin is actually not being applied here at all. Could it be that your presets are being applied before it, e.g. because you’re using the env property?

[2017-08-17 21:33] tleunen commented on #1093
Hmm. So yes, I'm using the env property in `.babelrc`, but the plugin is set at the root level, not inside my custom env setting.

Isn't the plugin reading from the root when it's not set inside the env?

[2017-08-17 22:00] tleunen commented on #1093
So after copying the plugin into the specific environment section, it works. At least I see the css. But it seems that references to other component like this doesn't work properly.
[code]
It actually produce the following code, but the second css classname on each line should be different
![image](https://user-images.githubusercontent.com/1972567/29435662-bcad5e14-835c-11e7-882e-5b07817b6b4c.png)

[2017-08-18 09:49] zenjava opened #1094 "styled-component wrap Component flow-type check isn't active"
## Version
2.1.0

## Steps to reproduce
run the code.
## Expected Behavior
[code]
## Actual Behavior
[code]

[2017-08-18 10:11] upanicon opened #1095 "Reference to Style-Component Classes in Selector"
When nesting two Styled-Components, can i define a style for the Children from its parent by referencing the Styled-Component directly?

example:

[2017-08-18 10:18] #1095 closed

[2017-08-18 10:41] okcoker commented on #943
@k15a I think that is indeed the correct function but doing `const LibraryButton = Button.withComponent(LibraryComponent)` doesn't account for the `whatever` attribute. Is the only way to have `LibraryComponent` have the same styles as `<Button whatever />` to have a separate extended component?

[2017-08-18 11:05] philpl commented on #1094
The `className` prop in React in general can't be a number. Also it will be passed on to the child component, since you're wrapping a custom custom component here.

Apart from the instructions still being in your PR description here, we need more information on:

- Why did you expect this to happen?
- What would you like to happen instead?

From what I can tell you were trying to use the `classNam

[2017-08-18 11:22] zenjava commented on #1094
Thanks, I am confused LogoStyled is wraping with StyledComponents, props type check, is not active on Flow-type checker.If I need  wrapping my own components with StyledComponents, how do write it better and flow-typed is find the 'title' type is error for LogoStyled ?

[2017-08-18 13:34] philpl commented on #1094
You're talking about Flow? In your example you mention TypeScript:

And it indeed looks like TS.

We assume that a specific structure, that adheres to our best practices, is used with the typings. So the best practice for your `Logo` component is more like this:

[code]

As you can see I'm reversing the relationship here. `LogoStyled` (renamed to `LogoTitle`) is a **presentational component**. Tha

[2017-08-18 15:17] zenjava commented on #1094
Thank you, your answer solved my question. Once again thank you for your attention。 😄👍

[2017-08-18 15:23] #1094 closed

[2017-08-18 15:23] philpl commented on #1094
Cool :)

[2017-08-18 16:18] arahansen commented on #887
Unfortunately, nonce attributes are [not supported in ie11](http://caniuse.com/#feat=contentsecuritypolicy2)

Is there any known workaround for avoiding such CSP violations as this in ie11?

[2017-08-18 22:07] canadaduane commented on #743
I'm in a similar situation, but I'm confused by @philpl's comment:

```refs just don't work with functional components as they inherently don't have an instance to pass up```

The following is found in the React docs:
[code]

I recognize the difference between a functional component and a class component. However, I'd like to do just as the React docs suggest, and save the ref inside a closure. Wh

[2017-08-19 15:59] jpls93 opened #1097 "Can't pass props to exported named components"
## Version
2.1.2

## Reproduction
See [Webpack Bin](https://www.webpackbin.com/bins/-Krv9odtidkQAN75uvbS)
## Steps to reproduce
See [Webpack Bin](https://www.webpackbin.com/bins/-Krv9odtidkQAN75uvbS)
## Expected Behavior
`DivB` should receive props
## Actual Behavior
`DivB` does not receive props

[2017-08-19 16:28] philpl commented on #1097
Your wrapped component must accept the className prop. It’s all in the docs in this section :wink: https://www.styled-components.com/docs/basics#styling-any-components

It also mentions that this pattern is not recommended :smile: Try to use the presentational component (in our case styledcomponent) as the lowest one, and put your presentational components around it instead

[2017-08-19 16:28] #1097 closed

[2017-08-19 19:21] jpls93 commented on #1097
@philpl Thank you so much!

[2017-08-19 21:30] hmontes opened #1098 "Best way to comment inside an styled component?"
If you comment with Next.js and styled components.

[code]

The line /* ${} */ produces an error. If you don't use the ${} inside the comments the code works well.

This issue is not present in Create-React-App (I think in JEST is present).

So, What is the best way to comment inside a styled component? With ${/* */} ?

P.D: If you use ` inside of a comment throws an error too.

[2017-08-20 13:08] dmitrizzle opened #1099 "CSS `filter` isn't prefixed"
## Version
`styled-components@2.1.2`

## Reproduction
[code]
## Steps to reproduce
- Use the above component and inspect element in browser

## Expected Behavior
[code]

## Actual Behavior
[code]

***
I'm not really sure what the cut off for prefixes is, because it works well in most cases (like `flexbox`) and doesn't show in others (like `box-shadow`) - which is expected since we're way past this

[2017-08-20 13:58] mxstbr commented on #1099
@thysultan

[2017-08-20 14:46] diondiondion commented on #1099
Especially these three regularly make me cry in silence every time I come across them:

![screen shot 2017-08-20 at 16 39 27](https://user-images.githubusercontent.com/5636050/29495777-3c36850a-85c6-11e7-9c15-4a0fc305c0da.png)

😢

[2017-08-20 15:33] thysultan commented on #1099
Pushed a patch for this in 3.2.9. @diondiondion I'm sure that was also patched in a previous release.

[2017-08-20 16:37] mxstbr commented on #1099
Thanks @thysultan!

[2017-08-20 16:37] #1099 closed

[2017-08-20 19:15] avbanks commented on #233
@kachkaev Thankyou for this!

[2017-08-21 15:27] stavb opened #1100 "Pass props not as strings"
Hi, I'm fairly new to this and I'm trying to style my components according to props passed not as strings, like "Button primary small" for example.

Say I have 7-8 of those button types, (small/large/primary/warning etc), each has some different styling, is there a nicer way to do that rather than use { css } ?

Right now I have something like that:
${(props) => props.small && css& {
    (all the

[2017-08-21 21:19] JesseChrestler commented on #659
I was able to get it to work. One nice thing that they could add in the future is a listener on the Stylesheet model. This way we can listen to the onChange event and get the notifications when other parts of the app change the stylesheets. what i ended up doing was adding an interval that would update the header of the iframe every so often (5 seconds). The other problem was it kept reloading the

[2017-08-21 21:49] stephenway commented on #659
@Fer0x I found injecting into the react-frame-component head arg directly solved my issue. Maybe this would help you?

[code]

[2017-08-22 01:40] JesseChrestler commented on #659
This is exactly right, if you don't have any dynamic variables that are set at run time, or for example if you use the theme provider. This would kinda throw a wrench into the works as the style sheet is changing you have no way to hang on to that persistence.

[2017-08-22 07:35] Fer0x commented on #659
I use redux, so I just pass redux store through context  to FramedComponent and on each store update replace frames stylesheets with `StyleSheet.instance.toHTML()`. It's a very dirty hack and can cause problems with perfomance. Also that solution will not help if you use stateful components.

[2017-08-22 14:49] stephenway commented on #659
Updated my example with how I'm updating the styles through state. @Fer0x Is this how your doing it?

[2017-08-23 07:38] jole78 opened #1101 "support for unnamed components"
Hello, I've used SC for a while now and I can't help noticing that my components get "cluttered" with a lot of these SC components, like this one for example.
[code]

Using glamorous I can just do something like this for example:

[code]
However I can not see this possible with styled-components or have I misunderstood it completely?

I love SC and don't want to use object literals, love that it's

[2017-08-23 07:55] dashed commented on #1101
You probably don't need styled-components.

If you want what you're proposing, you can just do this then:

[code]

[2017-08-23 08:04] jole78 commented on #1101
Yes I know I can do that. But this was more along the lines of a feature request/discussion that something like this would be possible.

[code]
FYI, I know that API wouldn't actually work but something that resembles it perhaps??. Or something that would make a use case with using an 'unnamed' styled component work.

[2017-08-23 09:02] dashed commented on #1101
Reason why it won't work is because jsx syntax doesn't allow it: http://facebook.github.io/jsx/

If your file feels cluttered, perhaps that's a sign to refactor components into their own files.

[2017-08-23 09:44] foiseworth commented on #896
@three60five did your issue get resolved in the other thread? I can't see an answer to it and I'm tackling the same issue.

[2017-08-23 10:55] ablbol opened #1103 "babel-plugin-styled-components caused client warning and does not minify"
Thanks for this library.
I am using styled-components for the first time (v. 2.1.2). I am using ssr with babel in the backend and webpack for the front end.  Things work great without babel-plugin-styled-components. But when I use the plugin (v. 1.1.7) , I start getting warnings in the client
[code]
Also when I use the "minify": true option, the styles coming from the server are not minified.

Thi

[2017-08-23 11:00] martynhoyer opened #1104 "position: sticky not prefixed for iOS"
## Version
2.1.1

## Steps to reproduce

Use `position: sticky;` on a component.

## Expected Behavior

Resultant CSS:
[code]

## Actual Behavior

[code]
(no prefixed rule)

Both https://github.com/styled-components/styled-components/issues/158 and https://github.com/styled-components/styled-components/issues/111 reference this issue but they're closed, so I'm raising this one as requested.

You c

[2017-08-23 11:28] jamesknelson opened #1105 "Proposal: escape interpolated strings by default"
styled-components currently requires developers to manually sanitize interpolated strings if they want to avoid CSS injection exploits. And manual sanitization works in theory, it appears that very few people in the ecosystem are actually doing so.

For example, it is possible to inject global styles by setting the `text` prop on a rebass `Tooltip` (see [rebass issue](https://github.com/jxnblk/reb

[2017-08-23 11:38] philpl commented on #1105
Regarding that proposal, we do not introduce helper functions or new additions to the API very often, if at all.

The "manual" part is really important. This is because we don't expect a particular string to come in. A string containing more rules can very well be valid additions to the styling.

We do also have a section on warning about this: https://www.styled-components.com/docs/advanced#secur

[2017-08-23 11:39] philpl commented on #1104
cc @thysultan

[2017-08-23 11:40] philpl commented on #1103
It seems that only the server code is being transpiled and not the client code :wink:

[2017-08-23 11:40] #1103 closed

[2017-08-23 11:43] philpl commented on #1101
This is all done on purpose. We encourage the user to enforce a strict "pyramidal" structure of components where: container/logic components come first (uppermost), structural components come second, and presentational components come last (leaf components).

This is exactly why we do not support this use case. styled-components is all about enforcing best practices and keeping the styling maintai

[2017-08-23 11:43] #1101 closed

[2017-08-23 14:03] smolleyes opened #1106 "Input not working on react-native"
hi

i can  t use input on react-native

when i do a simple

[code]

i have

`_.native2.default.input is not a function` Oo

everything else works :/

just reinstalled with yarn add ... and rn 0.47.1

thanks !

[2017-08-23 14:12] ablbol commented on #1103
How do you transpile the client code?

[2017-08-23 15:04] philpl commented on #1103
@ablbol that fully depends on your set up. Generally, for example in next.js, the transpiler is used for both and server code is emitted to a separate path before it gets transpiler again and bundled up for the client.

Oftentimes people run the transpiler for the server completely separately or run a second bundler, so it’s rare to see that in your case only the server code is being transpired co

[2017-08-23 15:07] philpl commented on #1106
You’re referring to a tag name / Dom element name here, but for React Native you need to refer to their components’ names: https://facebook.github.io/react-native/docs/components-and-apis.html

For an input you can use the InputText component. So the call would be styled.InputText

[2017-08-23 15:07] #1106 closed

[2017-08-23 17:00] thysultan commented on #1104
patched in stylis 3.2.10

[2017-08-23 17:21] k15a commented on #1098
The best way is either use normal CSS comments or we also supper JS Like comments in the styled-components.

[2017-08-23 17:21] philpl commented on #1104
Cheers :)

[2017-08-23 17:21] #1104 closed

[2017-08-23 17:26] philpl commented on #1098
I’ll need more information to see whether we can improve this behaviour.

Generally the comments should be stripped, even with interpolations, but I don’t think we have tests for it, so I might be wrong and not up to date on this.

Backticks cannot work in general since they’re a JS feature and the comments are just part of the string. That means that the backtick takes precedence and ends the tag

[2017-08-23 19:28] smolleyes commented on #1106
hi

ok thanks

but you might have a look to your doc

https://www.styled-components.com/docs/basics#react-native

i searched for" input" on this page :)

[2017-08-23 20:25] OutThisLife opened #1107 "How to change asset URLs?"
Looking for functionality similar to https://github.com/postcss/postcss-url but I don't believe styled-components works w/ postcss.

Anyone have a solution?

[2017-08-23 20:49] bteng22 commented on #896
bump! Also running into this problem that doesn't seem to be resolved in issue #624

[code]
Trying to select the styled.li component to assert that the attribute active gets set appropriately from props and it doesn't seem to be cooperating too well.

(using preact, which hopefully, doesn't contribute to the problem)
Versions:
[code]

[2017-08-23 21:29] philpl commented on #1106
@smolleyes the problem is that we don’t have a whole lot of space right now for a list. Also it’d be kind of redundant. Maybe we should link to the components list? I’d appreciate an issue with some ideas on the website repository :)

[2017-08-23 21:31] philpl commented on #1107
We don’t have compile time plugin support and likely won’t have it anytime soon — If ever. Sorry for that! We like to keep things focused ;)

Instead you could write a small helper function that does this for you? Babel-plugin-preval could even help you with compile time checks and path resolution

[2017-08-23 21:31] #1107 closed

[2017-08-23 21:32] philpl commented on #1107
cc @mxstbr do you have more ideas by any chance?

[2017-08-23 21:37] philpl commented on #896
You can always set the displayName manually to discover a certain component.

Afaik you can also pass the component into find to discover it instead of a display name

Maybe you could help to propose a helper for this kind of functionality on jest-styled-components? https://github.com/styled-components/jest-styled-components/issues/61

[2017-08-23 22:41] OutThisLife commented on #1107
I'll check out preval, thanks for the direction.

[2017-08-24 00:53] probablyup opened #1108 "Alternating local/nonlocal components create many separate style tags"
## Version
2.1.0

## Reproduction

Types of injections out of order create multiple of each style block type (https://codesandbox.io/s/7403wnx2mx):
<img width="844" alt="screen shot 2017-08-23 at 8 49 33 pm" src="https://user-images.githubusercontent.com/570070/29644500-a0b8729c-8844-11e7-8fa6-1561abf9a15c.png">

Each type in order produces only one of each style block (https://codesandbox.io/s/y7

[2017-08-24 03:36] philpl commented on #728
@chochihim you generally can't nest rules in React Native. There's also nothing to go after, since there are no classes in React Native either. For most style props that have a varying name from `style` I often just go for the `.attrs` method and just use inline styles in that specific case

[2017-08-24 03:46] chochihim commented on #728
@philpl I am not nesting rules in React Native. I am trying to style `TabBar` from [react-native-tab-view](https://github.com/react-native-community/react-native-tab-view) which contains custom style props like `tabStyle`, `indicatorStyle` etc. I tried below but failed:

[code]
So I wonder if `.attrs` works for React Native.

[2017-08-24 03:50] philpl commented on #728
@chochihim when you create that rule body inside the SC css there for optionStyle, that’s what I’m referring to as the nested rules due to the css-y nature of the term :)

The attrs method does work with react native

[2017-08-24 04:03] chochihim commented on #728
@philpl So do you mean `.attrs ` works but not in the way I am using it for my case? Is it I can only use inline-style/StyleSheet like:

[code]
to provide style for optional style props like `indicatorStyle`?

[2017-08-24 06:03] geelen opened #1109 "[docs suggestion] Import order of global styles"
Just hit something demo-ing SC to a mate. If you do this:

[code]

Because this file depends upon its imports, `App.js` is _always_ evaluated before this file. Which means if it declares any styled components they will be inserted before the `injectGlobal` call here. It means something like a reset is running in the wrong order. You just need to extract another import:

[code]

[code]

Then, order

[2017-08-24 06:30] ablbol commented on #1103
I am using webpack in the frontend and babel in the backend.  I don't have babel setup for the front end.  I am able to use the plugin in babel by following instructions but I have no idea how to add the plugin in webpack. This is what I have in package.json. But it is not clear to me how to add the plugin in webpack!! Thanks for your help.

[code]

Here is what I have in webpack config:
[code]

[2017-08-24 06:39] martynhoyer commented on #1104
Thanks folks! Speedy turnaround 👍

[2017-08-24 06:40] k15a commented on #1109
I think this is pretty much related to https://github.com/styled-components/styled-components/issues/1108 and we should.change the behaviour :)

[2017-08-24 07:58] philpl commented on #728
@chochihim the prop in attrs works and it will be passed. But you’ll have to pass inline styles or a Stylesheet as in your new code snippet.

I also have to ask you to please post in spectrum, Gitter, etc, or open a new issue. This issue is mostly unrelated, closed, and you’ll ping everyone who participated in it.

[2017-08-24 09:10] FabioAntunes commented on #1055
I'm a bit confused how does this solves the problem:

[code]

You would still have computations, but instead on relying on the theme you are relying custom functions?

What happens if me as a user of the theme want to change one of the default colours to something else? Let's say I want my primary color to have the value `#133777` how can I easily override that value across my entire application?

[2017-08-24 09:14] ikhattab commented on #709
This isn't working for me, I tried to add:

[code]

but it gives me the following warning:

[code]

[2017-08-24 09:24] thejameskyle commented on #1055
You can still pass values down if you need to, but you should default to co-locating your theme styles with your components.

[2017-08-24 10:13] FabioAntunes commented on #1055
But isn't that the same as using the default `props.theme`?  I'm just trying to understand how would this works in terms of providing a framework on top of styled components and allowing the users to be able to customise it.

This seems to work fine if you hardcode the styles and just have a couple of options to choose from, but if you want to have something like Bootstrap sass variables, were eve

[2017-08-24 10:37] thejameskyle commented on #1055
Having implemented UI frameworks that way I think it's just the wrong way to work with CSS-in-JS and components.

The best way to do it is to have your users wrap your UI framework components with their own components that pass in their theming directly.

[code]

Then use that everywhere instead.

[code]

Supplying the company theme through context is extremely limiting in that you can only have p

[2017-08-24 10:38] thejameskyle commented on #1055
Also this was covered [earlier in the thread](https://github.com/styled-components/styled-components/issues/1055#issuecomment-320443948) so I encourage you to go back and read the entire thread

[2017-08-24 11:38] wmertens commented on #1100
I don't understand what you are asking. If you're talking about repeating styles, you can put the styling in a theme object, and then grab the style from the theme object.

[code]

[2017-08-24 11:41] wmertens commented on #1091
The `style` prop is for inline styling, not for adjusting classes. With `style` you can have 60fps animations, with classes not.

[2017-08-24 11:47] wmertens opened #1110 "css does not filter falsy values"
I have a component (Box) that I use _a lot_ in my app, and as such I'd like it to be more optimized.

I replaced the css string with a css object so that I could calculate all values with one function call.

[code]

However, if I don't specify a position, the resulting css has `position: false`. Since the only valid falsy css value is `0`, it would be nice if https://github.com/styled-components/s

[2017-08-24 12:18] jacobp100 commented on #709
@mxstbr @philpl Do we want to try and support a translation from `box-shadow` to various `shadow-*` properties?

[2017-08-24 12:44] FabioAntunes commented on #1055
Allow me to disagree, a theme should supply variables/units to be used across the components, not styles. I think the other way around it's way more unmanageable, you will always need to have some reference on your styles to the base unit you are using, either be it the colour or the font-size. You will need to reference that value across multiple components either importing a variable or using a

[2017-08-24 14:06] philpl commented on #709
@jacobp100 Yes! I'd love that :heart: :smile:

[2017-08-24 14:24] ablbol opened #1111 "props are comming empty from the server"
I am using styled-components (v. 2.1.2).
I am using SSR with the following configuration:
I am bundling the front end with webpack and compiling the backend with babel.
I was not able to use babel plugin for styled component in the front end because I could not figure out how to use the plugin with webpack.
I have a style that looks like this:
[code]

In the server, props.theme.primary is empy but

[2017-08-24 15:05] philpl commented on #1111
This is unfortunately by far not enough information to go after.

The plugin needs to be used on both with the `ssr` option enabled. Otherwise the ids are not going to match up.

Sounds like the `ThemeProvider` is not in the right context / not being used.

[2017-08-24 15:25] ablbol commented on #1111
Thanks for your quick reply.
I am using the Theme provider in the client side. This is how it looks:

[code]

This is what I have in the server side:
[code]

[2017-08-24 15:29] stavb commented on #1100
Thank you, it's actually wasn't what I was asking. I am using a theme object.
My theme looks something like that:

`{
primary: {
        background: '#52c7ca',
        color: '#212121',
   },
success: {
        background: '#2196f3',
        color: '#fff',
      },
 info: {
        background: '#69f0ae',
        color: '#212121',
      }
}`

It's just a fragment of course. It's actually huge. Henc

[2017-08-24 15:33] k15a commented on #1100
@stavb If you use code fences you can actually make your comments a log more readable:
[code]

[2017-08-24 15:37] wmertens commented on #1100
Yes actually, what we (Yaska.eu) do is we switch themes throughout the app.

We follow the Material UI reasoning of having a base color + an accent
color for a theme, and then 3 text opacities for the primary/secondary/hint
text; the text is either black of white, depending on the color.

Then we have some helper functions that select a color, and use those in
the css depending on use case. So if

[2017-08-24 15:38] stavb commented on #1100
@k15a thank you so much, I was embarrassed to ask how :))

[2017-08-24 15:46] stavb commented on #1100
I'll look into that then. Thank you for the answer!

[2017-08-24 15:49] ravinggenius commented on #1091
Good point about inline styles being used for animation; I hadn't considered that. Is there any interest in pulling in `[tweaks]` (or some "standard" prop) to adjust classes the way I described?

[2017-08-24 15:52] k15a commented on #1100
@stavb You can even enable syntax highlighting if you put your language after the fence:

[code]

For example:

[code]

[2017-08-24 15:55] stavb commented on #1100
@k15a Thanks!

[2017-08-24 16:34] philpl commented on #1091
@ravinggenius Sorry, we’re not looking into adding a prop like that. We believe that it’d encourage the wrong patterns that go against the best practices laid out by our API.

You can also use the attrs method btw to compute some style on the fly. It often shouldn’t be necessary to pass any inline styles. Animations are a big exception depending on how you implement them

[2017-08-24 16:34] #1091 closed

[2017-08-24 16:37] philpl commented on #1111
The ThemeProvider is indeed missing on your server side ;) just add it there as well. You could alternatively just add it to your app if it’s also just a wrapper. I’d recommend you to share as much code there as possible between the client and server, especially if it ends up being the same.

Also make sure to set up the Babel plugin on both ends. I’m not sure why you’re not setting up the same Ba

[2017-08-24 16:41] adamchenwei opened #1112 "When using styled-component, unit test becomes not fesible"
Things like `wrapper.find('.traveler-selection__input')` with enzyme becomes no longer fesible because we don't use class name the regular way in styled-component.

Is there a solution on this?

Thanks

[2017-08-24 16:56] ablbol commented on #1111
After placing the theme provider in the server, things worked well. I was was following the docs but it did not say to place the ThemeProvider no both side.
Thank you soooo much for your help.

[2017-08-24 16:58] ablbol commented on #1103
I resolved this issue.
I thought that webpack will pick up configs from babelrc but for some reason it did not.  I ended up adding the following line to webpack config:
[code]
Thanks alot for all your time and help.

[2017-08-24 16:58] chiss2906 opened #1113 "Wrong css if a template string wrapped to newline."
After the css is being wrapped by a formatter, in that case Prettier, it seems to lack the tabs
[code]

The devtools output:
<img width="210" alt="screen shot 2017-08-24 at 18 50 34" src="https://user-images.githubusercontent.com/3668084/29678258-27a34e30-88fe-11e7-9d19-238c68e4245b.png">

[2017-08-24 21:08] philpl commented on #1112
There are already a load of issues asking for different approaches. It’s not infeasible but part of separating presentational and structural components surfaces during testing when it’s not strictly executed

https://github.com/styled-components/styled-components/issues/896#issuecomment-324469861

https://github.com/styled-components/styled-components/issues/624

Apart from the necessity to search

[2017-08-24 21:08] #1112 closed

[2017-08-24 21:08] #1111 closed

[2017-08-25 02:13] tmeasday commented on #1011
Not sure what the status is here, but I'd be happy to take a look at it if you are stuck @morajabi

[2017-08-25 02:15] tmeasday commented on #1076
For the record, I've found `npm ls` and `yarn list` to be unreliable for this kind of problem. Not sure why but they sometimes don't tell you about duplicates. I find asking the filesystem with something as simple as `find node_modules | grep /styled-components/package.json` works.

[2017-08-25 06:48] morajabi commented on #1011
I think that'd be good to take a look and help me with that. @tmeasday

[2017-08-25 12:19] adamchenwei commented on #1112
@philpl sorry! yes, I need to search for the issues first... duh... silly me since there are already 66 issues lol

Thanks for answering me with reference those I was reading those and found them very helpful!

Thanks

[2017-08-25 14:57] momosh opened #1115 "Unknown props when using .attrs constructor"
So, I'm trying out the new .attrs constructor that comes with the v2. And I'm doing the exact same thing as in example about Attaching additional props.
And I get this error:
Unknown props `margin`, `padding` on <input> tag. Remove these props from the element.

I'm using:
"react": "^15.6.1",
"styled-components": "^2.1.2",
"webpack": "^3.5.3"

[2017-08-25 21:35] k15a commented on #1115
We are not filtering the attrs and just passing them down to the component. That's the reason why this method is called attrs and not props :)

[2017-08-26 01:06] episodeyang opened #1116 "Serverside Inlineling for emails"
## TLDR: need an `inline` mode for rendering emails

HI, I tried to look for this but couldn't find it anyway. Now react is almost truly universal, at least universally used, I would like to build an email server that renders with `react`.

Emails clients typically strips `<styles>` component leaving only the inline ones, so it is typical for email servers to inline all CSS. Is there a mode (like

[2017-08-26 07:12] momosh commented on #1115
Thanks for answering me, but I'm completely sure that I understand this, just started using styled-components myself pretty recently.
What would be a solution to this problem then, can you give me some example? Thnx :)

[2017-08-26 09:27] k15a commented on #1116
It's best to use another tool for inlining CSS :)

[2017-08-26 09:42] episodeyang commented on #1116
@k15a  Nah,  ¯\_(ツ)_/¯ that's how it is used to be done (for 20 years now?)

Really with the full css-in-js stack this is a use case that is gonna come up sooner or later.

[2017-08-26 11:46] k15a commented on #1116
I don't think that we should take care of inlining CSS for emails at all. That's not our focus area and so it's much better to rely on a tool specifically made for inlining CSS.

I don't see any advantage of this:
[code]
over this:
[code]

It will just bloat our library because we have to take care of something that's not used by 95% of our users.

[2017-08-26 11:47] tmeasday commented on #1011
@morajabi do you have a branch/fork somewhere with your changes I can look at?

[2017-08-26 13:48] philpl commented on #1116
As already said we don’t add a lot of features and APIs an instead try to cleanly and directly solve the 90% usecase.

I’m sure you can code up a library that does this in a really simple way in a day :) I’m sorry, but it doesn’t have any other usecases on the web unfortunately

[2017-08-26 13:48] #1116 closed

[2017-08-26 13:59] morajabi commented on #1011
@tmeasday no I deleted my repo because I found my approach was wrong. If you can help, provide me a suggestion on how this should be done. Then I can finish this. Thanks.

[2017-08-26 16:20] episodeyang commented on #1116
My current thinking is that this is probably best done as an add-on library specifically for the `styled-components`.

@philpl Email is a big part of the web. Just like mobile, mobile web and desktop web, email is another large platform that is often overlooked. Even if this use case shouldn't be part of the core library, I would like to ask for your help to shape it as a `styled-component` or `re

[2017-08-27 11:25] philpl commented on #1116
@episodeyang you can probably import all the constructors that we’re using and replace ComponentStyle with something like InlineStyle that is using our original stylis logic to object the css string into the style prop but disallows rules. That should be sufficient ?

[2017-08-27 11:27] episodeyang commented on #1116
Oh I see, does this work for nested selectors like child selectors? 🤔

[2017-08-27 14:41] raymondsze opened #1118 "Is it possible to convert styled css to jss object format?"
I enjoy using the library styled-components to style my components, especially it supports the style lint checking.

I am now using the latest material-ui for the web development, and I would like to have a style lint checking for my components, but material-ui takes jss as their style soultion. stylelint seems not possible for jss right now.

What I think is there a easy way to have a function **

[2017-08-27 16:44] enginehenryed commented on #630
@Igorbek TSC complains
[code]

[2017-08-27 16:59] philpl commented on #1116
@episodeyang Unfortunately that's not how the style attribute works. Since it can't inject **any** rules, we can't provide any functionality like this anyway.

Maybe at this point you'd like to consider a simpler solution? You can't use nested rules, pseudo selectors, child selectors, or even dynamic CSS (via interpolations in our case)

If you'd like to keep the best practices of styled-component

[2017-08-27 17:28] philpl commented on #1115
@momosh The solution is to either:

- Ignore the warning (but note that the prop will appear as an attribute on the DOM element)
- Rename `margin` and `padding` (the example in the docs is contrived and should not be used as is)
- Do the computation for your actual props using a transform function

If we assume that you've just used the example, it would become this:

[code]

Note that I'm not usi

[2017-08-27 17:28] #1115 closed

[2017-08-27 17:32] philpl commented on #1113
I'm pretty sure we can't really do anything to fix this as it's simply unexpected. Have you tried using the `minify` option of the babel plugin?

Maybe @thysultan's stylis can fix this upstream by checking whether the char after the stripped whitespaces is significant, and then keeping one?

Also note that you can work around this as follows:

[code]

I think prettier doesn't look at nested tagged

[2017-08-27 17:34] philpl commented on #1110
Hm, I mean we have the rules for it right below:

https://github.com/styled-components/styled-components/blob/master/src/utils/flatten.js#L20

So it is possible to fix. But I'm kind of stunned by the example. It is pretty contrived, since you could just default to an empty string.

I'm sure anyway that it'd be good practice to fix.

cc @mxstbr

[2017-08-27 17:39] philpl commented on #1118
This is simply not possible right now. Maybe you can actually come up with something as a stylis middleware so that you don't increase your bundle size even more significantly.

In v3 we're working towards the foundation of a shared format that would allows interoperability like this. But right now we don't have anything specific.

To get a little bit more into what you're doing though: Since you'

[2017-08-27 19:42] kof commented on #1118
I would actually love to have stylelint for JSS, but don't have enough time to do it myself.

[2017-08-27 19:51] kof commented on #1118
Looked into this issue https://github.com/paypal/glamorous/issues/28 looks like there is still no eslint integration for objects based syntax.

[2017-08-27 20:23] thysultan commented on #1113
@philip How would the input passed to stylis look like that produces this.

[2017-08-27 21:09] kof commented on #1118
Btw, have you seen this plugin? It allows you to use template literals in JSS http://cssinjs.org/jss-template, it doesn't have full support of what SC is doing, but probably its enough for you?

[2017-08-28 03:13] episodeyang commented on #1116
Let's break this down:
- **pseudo selectors**: this is either not supported in email clients, or needed but can just be attached to the component themselves.
- **nested rules**: this is needed, but best done by Juice in fact, now thinking about it.
- **child selectors**: this is also needed, but best done by Cheerio.

    Apparently, besides inlining CSS for each component, you need to query all a

[2017-08-28 03:25] geelen commented on #1110
Wait, returning `false` should result in an empty string, so you _should_ be getting `position: ;`. Are you saying you get `position: false;` instead? Because that may be an issue with `objToCss` as you mention.

To clarify, the string `false` should never be output, it should be replaced with an empty string. Any other behaviour is a bug.

[2017-08-28 06:27] mxstbr commented on #1110
That should be a filter, right? We should be doing a `Object.keys(obj).filter(key => key === 0 || Boolean(key))` before the map so we don't even output `position: ;` but skip that rule entirely?

[2017-08-28 06:29] mxstbr commented on #1118
I'll close this out since it's not something we'll be actively working towards, hope the answers so far help!

[2017-08-28 06:29] #1118 closed

[2017-08-28 06:32] mxstbr commented on #1113
@thysultan the input would look like

[code]

can we fix this in stylis? Looks like a pretty big edge, to me that sounds like a bug in prettier. /cc @azz

Going to close this out since it's likely not relevant to our issue tracker.

[2017-08-28 06:32] #1113 closed

[2017-08-28 06:34] #1100 closed

[2017-08-28 06:40] geelen commented on #1110
Yeah..... I think so! There's... no way an empty value could ever be valid or meaningful, right? Not even if its a media query or nesting or something, if the value is falsey and not 0 you can delete the key. If someone could PR with a test case to cover that would be swell!

[2017-08-28 06:50] mxstbr commented on #1105
I wouldn't mind shipping automatic escaping to be honest, and then having some sort of escape hatch if you really don't want to escape. How much code would it be to sanitise the input?

[2017-08-28 11:15] thysultan commented on #1113
Hard to tell, this produces `border:thin solid;rgba(0,0,0,.45)` on my end. What version of stylis is installed in this case?

[2017-08-28 14:27] HashemKhalifa commented on #657
@jasonalmaturner  Would u tell me what u changed?!

[2017-08-28 14:35] mxstbr commented on #657
[code]

[2017-08-28 15:37] HashemKhalifa commented on #657
actually, I'm trying to fix my issue using this solution but I'm using react2angular to handle react components separately what I have to follow?!

[2017-08-28 16:43] philpl commented on #1105
@mxstbr we really can’t do this right now as we can’t interpret what is reasonable input from the user and what isn’t. At that point we’d have to enforce the css helper for mixins which is a breaking change and still can’t tell whether the user is interpolating: a value, a property, or a selector

I think this will need to wait for v3 but is totally doable then

[2017-08-28 16:44] reznord commented on #1110
I'd be happy to take this if it's still free!

[2017-08-28 16:48] philpl commented on #1110
@reznord Awesome! Feel free to implement the change as suggested by @mxstbr. It should however probably align with the filter logic for false values that flatten is applying. You can probably extract a common function for it and reuse it to filter the object. For the tests, there should already be a test (on my phone& forgot where it is) that tests the object interpolations. (It might just be in t

[2017-08-28 17:48] dfrankland commented on #657
@HashemKhalifa, using [`react2angular`][r2a] doesn't really affect the way the fix is implemented.

[Following the `react2angular` example][r2a example], you only need to add one line:
[code]

[r2a]:https://github.com/coatue-oss/react2angular
[r2a example]: https://github.com/coatue-oss/react2angular#2-expose-it-to-angular

[2017-08-28 19:45] HashemKhalifa commented on #657
@dfrankland Thanks for your reply, .element here refer to what?
this is my example but it didn't work.
`.component('hotelSearchMapComponent', react2angular(hotelSearchMapComponent, ['lat', 'lng', 'zoom', 'hotels', 'symbol', 'rate', 'from', 'to', 'onSelectHotel']))
  .element(document).ready(() => angular.bootstrap(document.body, [MODULE_NAME], {}))`

[2017-08-29 00:04] orta opened #1121 "Bug: clones + yarn install fails on rollup stage"
## Version
2.1.0 - af7975c

## Reproduction

[code]

## Steps to reproduce

[code]
## Behavior

The `yarn` command does does  install correctly, however `build:dist` fails. Is this critical? Nah, but I know its the kind of thing that you don't notice if you don't have fresh eyes to a project 👍

[2017-08-29 00:57] daedlock commented on #176
I will implement this if I get enough upvotes :P

[2017-08-29 01:38] danikenan commented on #176
+1

[2017-08-29 07:09] wood1986 opened #1124 "[Feature Request] Both styled.div`...`.attrs({}) and styled.div.attrs({})`` should support"
As for the high frequency styling issue in #134 , @mxstbr suggested
[code]

Is it possible to have the following pattern declaration?

[code]

I think the static properties should appear before any dynamic properties. Then we use it afterwards

[2017-08-29 07:35] MathieuLorber commented on #176
Please, not a notification-storm of "+1" posts, upvote with the thumb on @daedlock post.

[2017-08-29 08:02] HashemKhalifa commented on #657
getting these errors
![screen shot 2017-08-29 at 12 01 27 pm](https://user-images.githubusercontent.com/3355748/29810691-dbe73f8a-8cb1-11e7-9534-e2bef24a390d.png)
![screen shot 2017-08-29 at 12 01 36 pm](https://user-images.githubusercontent.com/3355748/29810690-dbe2001a-8cb1-11e7-954f-8b2b5a63ff29.png)

[2017-08-29 08:39] geelen commented on #1124
Yeah... nah this isn't possible sorry. I actually tried to implement this but because of the way our constructor works, it's _much_ better if the template string is the last thing that can be called before a component is "complete".

You can do your second option with a sneaky `.extend` though:

[code]

Note the empty template string at the end, too.

[2017-08-29 08:44] mxstbr commented on #1121
Thanks! I thought I fixed this in #1119, when did you clone? 🤔

[2017-08-29 08:44] #1124 closed

[2017-08-29 08:45] mxstbr commented on #176
I feel like the 107 upvotes on the OP speak for themselves :wink:

[2017-08-29 10:52] philpl commented on #657
I think at this point you should consider opening an issue on their repo instead :wink:

[2017-08-29 10:55] philpl commented on #176
I’m locking this issue — Just in case — Since there is not a lot to be discussed here anymore. However, if someone decides to implement this and push a repo on GitHub, we’re happy to move it into our org of course. :smile:

[2017-08-29 11:10] geelen commented on #176
Us webstorm users:
![there are dozens of us!](https://media.tenor.com/images/88b9219dee67dcd72201f336956988d3/tenor.gif)

[2017-08-29 16:33] vonovak opened #1125 "font weight does not work on react-native ios"
## Steps to reproduce
[code]
## Expected Behavior

font-weight works

## Actual Behavior

font-weight is ignored on ios, works on android

when using RN's stylesheet, it works on ios too

[2017-08-29 16:35] bkazi commented on #216
Has there been any progress on this? Is it still something that needs working on?

Maybe I'm over-simplifying it but, would it be possible to run the existing tests aliasing `react` with `preact-compat` and `inferno-compat` using something like [jest-alias-module-loader](https://www.npmjs.com/package/jest-alias-module-loader)?

[2017-08-29 16:39] mxstbr commented on #1125
As long as a font of that weight is included it should definitely work. You likely don't have the font in weight 600 on iOS!

/cc @jacobp100 for good measure.

[2017-08-29 16:39] #1125 closed

[2017-08-29 16:40] mxstbr commented on #216
No progress so far, PRs welcome!

[2017-08-29 16:49] philpl commented on #216
@bkazi That's a great idea! If you'd like to port it, that'd be amazing :heart: It should probably take the general direction of our native/primitive tests, which are more minimal and still cover a huge chunk of the functionality.

[2017-08-29 16:50] bkazi commented on #216
Brilliant, I'll start working on an initial PR

[2017-08-29 16:54] vonovak commented on #1125
sorry, you're right, it was the font

[2017-08-29 17:14] orta commented on #1121
Straight before posting this issue - af7975c - which is still master's head

[2017-08-29 18:55] bkazi commented on #216
So turns out Jest makes it pretty easy to alias modules with [`moduleNameMapper`](https://facebook.github.io/jest/docs/en/configuration.html#modulenamemapper-object-string-string) config option

I've started working on porting the react-native tests, you can view the commit [here](https://github.com/bkazi/styled-components/commit/7a1032178604d27a14ced406831428d050170eb9). The tests don't pass and

[2017-08-29 18:58] mxstbr commented on #216
Let's open a PR and collaborate there; I think you should probably work on the web tests since Preact doesn't have a `View` or `Text`.

[2017-08-29 19:51] bkazi opened #1127 "Excessive warnings while running tests"
Running the tests locally results in a lot of warnings since React has recently moved the test utils and renderers to different libraries. This add unnecessary noise while debugging the tests.

Can be fixed as referenced [here](https://github.com/airbnb/enzyme/issues/968#issuecomment-310996577), by removing `react-addons-test-utils` as a a dependency and adding `react-test-renderer` instead

[2017-08-29 20:02] mxstbr commented on #1127
PRs very welcome!

[2017-08-29 21:19] ypling commented on #1032
@ryanheathers, I think your work around would help with my use case:

I want to use styled component in an existing project which has a lot global styles.
In order to stop being effected by any old styles. I added class name 'reset' to the container of my new UI components.
[code]
So this reset will override SC generated styles without your work around.
But with sass I can easily wrap all styles i

[2017-08-30 01:30] danoc opened #1128 "Markdown link incorrectly formatted in documentation"
## Version
2.1.2

## Reproduction
1. Visit: https://www.styled-components.com/docs/api#withcomponent
2. See that `(Extending Styles)[/docs/basics#extending-styles]` is not rendered as a link.

![image](https://user-images.githubusercontent.com/916038/29851262-085c7392-8ce8-11e7-8360-9308f134c53e.png)

[2017-08-30 05:36] craigdallimore opened #1129 "No vendor prefixing when there is a space before a colon"
## Version
2.1.2

## Reproduction

https://www.webpackbin.com/bins/-KslbnNurc9fc65tePBR

## Steps to reproduce

Use a `display : flex` instead of `display: flex`

## Expected Behavior

Having a space before a colon would not influence vendor prefixing

## Actual Behavior

A space before a colon prevents vendor prefixing from being applied

[2017-08-30 05:40] craigdallimore commented on #1129
This is possibly a documentation thing - if the rule is "don't have a space" that would be good to know, if it's in the documentation I'm afraid I did not see it. (I can see that all examples have the "no-space" style)

[2017-08-30 06:14] k15a commented on #1129
@thysultan

[2017-08-30 08:16] thysultan commented on #1129
Patched in stylis 3.2.14.

[2017-08-30 08:46] #1129 closed

[2017-08-30 08:59] craigdallimore commented on #1129
Incredible, thanks very much!

[2017-08-30 10:26] philpl commented on #1128
Good spot! Thanks for reporting :smile:

In the future btw, there's a separate repo for the website where you can report these: https://github.com/styled-components/styled-components-website

[2017-08-30 11:42] kutyel opened #1130 "withTheme should not break if a default theme is provided"
We are migrating a quite big React UI-kit to styled components 🎉 🎉 🎉  but found the following problem, every time we want to do some theming, the code for our components looks like this:

[code]

And the code gets even uglier when you have to adjust the styling to conditional prop values... you can imagine.

Besides that, when using `withTheme` HOC in components and you don't wrap **everything** i

[2017-08-30 12:59] philpl commented on #1130
You can use the `defaultProps` to define fallbacks.

[code]

It shouldn't actually break but just output a `console.error`:

https://github.com/styled-components/styled-components/blob/master/src/hoc/withTheme.js#L37

[2017-08-30 13:21] philpl commented on #1128
I've got a fix in place for it: https://github.com/styled-components/styled-components-website/pull/98

[2017-08-30 13:21] #1128 closed

[2017-08-30 14:35] daedlock opened #1131 "[Started] Webstorm / IntelliJ Language Support Plugin"
As discussed on parent issue https://github.com/styled-components/styled-components/issues/176. I have started working on the plugin and I am more than half-way through.

Here is the repo:
https://github.com/daedlock/styled-components-webstorm-syntax

Please re-open the old issue so that I can accept suggestions from users & contributors

[2017-08-30 16:03] mxstbr commented on #176
@daedlock has started working on a Webstorm plugin and is already quite far based on previous suggestions in this thread: https://github.com/styled-components/styled-components/issues/1131 :tada:

Please try it out and contribute to it, it'd be awesome to finally have an officially recommended solution for Webstorm users.

[2017-08-30 16:03] mxstbr commented on #1131
Posted over there to notify the folks, also submitted a couple issues in the repo. Awesome work so far!

[2017-08-30 16:03] #1131 closed

[2017-08-30 16:08] mxstbr commented on #1130
I would recommend you export your own `ThemeProvider` that sets a default theme in case the users don't provide a custom one. Don't even need `.defaultProps` everywhere in that case, but of course if you prefer users are aware of you using `styled-components` using `defaultProps` will work perfectly too!

See this draft documentation we never finished: https://github.com/styled-components/styled-c

[2017-08-30 16:15] daedlock commented on #1131
@mxstbr thanks! will respond to the issues shortly

[2017-08-30 17:49] kutyel commented on #1130
I was trying to accomplish that without having to provide an extra `ThemePromider`, anyway, is there a wat to provide such with already a theme obj inside? That way I dont have to export both the first `defaultTheme` and the `ThemeProvider`as well...

[2017-08-30 17:52] artalar opened #1132 "Shortcut variables for function"
HI! Thanks for your work, it's great!
When I'm using theme parameters I must write realy large code with function:
`color: ${props => props.theme.primaryColor}`
thanks for ES6 i can write this as
`color: ${({theme}) => theme.primaryColor}`
but it's not getting any better

Would  be great if I get just one parameter (without some calculation) by some "styled-components-variable" synthesis like:
`co

[2017-08-30 18:48] mxstbr commented on #1132
We could do that, but we won't.

Let me elaborate on why: We strongly believe in using the power of tools we have available. In `styled-components` case that means JavaScript and CSS; it's the reason why you can write actual CSS vs writing CSS as objects.

The same thing applies to interpolations, we love love love having the power of JavaScript to style our apps. JavaScript can do all the things

[2017-08-30 18:48] #1132 closed

[2017-08-30 18:49] mxstbr commented on #1130
Sorry I don't quite understand the question?

[2017-08-30 18:58] kutyel commented on #1130
If I do what the mentioned doc purposes, I end up with something like this:

[code]

That way I have to export **two things**, and my question is regarding if there is some way to embed that default theme in the ThemeProvider so that I you only have to import the first but not the second.

Thanks for your patience :)

[2017-08-30 19:01] mxstbr commented on #1130
No worries, just merge the passed-in theme with the default theme:

[code]

That way your users can override specific parts of the theme, but for all the rest (or if none is provided, the whole thing) the default theme stays in place!

[2017-08-31 06:43] scf4 commented on #1015
@philpl any progress?

[2017-08-31 07:24] jaggerwang opened #1133 "Does the PR for syntax supporting in babel-sublime already merged? I still not seeing in SublimeText."
The [PR](https://github.com/babel/babel-sublime/pull/289) is already merged. I'm using the latest SublimeText3 with latest babel-sublime plugin, but still cannot seeing the syntax highlight.
![image](https://user-images.githubusercontent.com/1255011/29911364-342a27a2-8e60-11e7-8779-f0dfc5b6bd96.png)

## Version
2.1.2

## Reproduction

Using the latest SublimeText3 with plugin bable-sublime.

## St

[2017-08-31 08:12] mxstbr commented on #1133
I don't think so :cry: @zertosh it'd be great to finally get that released!!

[2017-08-31 08:12] #1133 closed

[2017-08-31 08:51] kutyel commented on #1130
[code]
It breaks evetything without a `ThemeProvider` 😕

[2017-08-31 09:23] mxstbr commented on #1130
Yep, that's the whole point! Without a `ThemeProvider` your components will look like shit, so we throw an error so your users know what to do and aren't surprised by your horrible looking components :wink:

I think if you provide a default theme to your `withTheme`d component it shouldn't throw anymore?

[code]

If that doesn't work I think we should change that behavior to render with the defaul

[2017-08-31 09:48] kutyel commented on #1130
Yep, that's what I thought, and nope, it does **not** work :)

[2017-08-31 10:34] mxstbr commented on #1130
Reopening as a bug since that seems like valuable behavior to implement. /cc @iamstarkov @kentcdodds

PRs very welcome, the line that would need to change is https://github.com/styled-components/styled-components/blob/af7975c146fb2b330585cb7c5e65b265f74d0fef/src/hoc/withTheme.js#L35 I think. Please also add tests for this behavior!

[2017-08-31 10:38] kutyel commented on #1130
Would like to give it a try, how can I know if a `defaultTheme` prop has been passed? :)

[2017-08-31 11:14] philpl commented on #1130
@kutyel @mxstbr

To be referring to my last comment, there's no error being thrown inside `withTheme`:

https://github.com/styled-components/styled-components/blob/master/src/hoc/withTheme.js#L35

But I agree that it's confusing that we are logging an error even if the prop is defined. This however also reminded me that the behaviour of `withTheme` is very counterintuitive in general as it doesn't

[2017-08-31 11:15] philpl commented on #1015
@scf4 As stated before, there's no plans to pick this up again as of now.

cc @geelen

[2017-08-31 12:46] mxstbr commented on #1130
Yeah that makes sense to me, unsure why those ended up being inconsistent but we should 100% align them.

[2017-08-31 13:28] philpl commented on #1105
So while we can't escape interpolations automatically for now, we should make an effort educating our users until then. There'll likely still be attack vectors even when we automatically escape interpolations, since for mixins we can only enforce the `css` helper, but then need to provide an alternative.

Anyway, @jamesknelson has made some excellent points and his new example is super to show wha

[2017-08-31 20:19] adamchenwei commented on #657
Hey everyone, someone even opened a repo regarding it, that when styled-component run with AngularJS in IE11, it breaks.
https://github.com/dfrankland/styled-components-angular-ie-11-conflict

Any fixes atm? really need it, super sad it happens...

[2017-08-31 21:59] philpl commented on #657
@adamchenwei To quote myself:

I don't really have time to look at it in detail, but the proposed fix confirmed it for me. If someone could explain why it happens and it turns out that it's a problem with our codebase, then we'd be able to actually fix it.

[2017-09-01 01:38] hmontes opened #1134 "Refer to same component"
Hi

I need to do this.
[code]

My question is: How can i do that with Styled components?

I tried.
[code]
But doesn't work. The padding 36px 16px 0 104px is in ALL the divs with CommentWrap components. Not only in the Children.

Thanks

[2017-09-01 04:31] tmeasday commented on #1011
Hi @morajabi,

I would just imitate what mobx does: https://github.com/mobxjs/mobx/pull/1083/files

Although they are doing something complicated because they want to give users a way to indicate that they indeed do want to run multiple copies. AFAICT no one wants to do that for styled-components so this should be even simple.

[2017-09-01 05:54] geelen commented on #1105
Yeah, I think with v3 we can have a much higher level of guarantees around interpolations. Meaning that an interpolation like `color: ${ props => props.userInputLol };` can be checked as being a valid CSS value, right? So it couldn't add extra rules, or selectors.

The problem is this:

[code]

The `html:not(&)` trick in your example @jamesknelson is a really good one. I can't think of any way to

[2017-09-01 06:14] mxstbr commented on #1134
With an ampersand! `&`

[code]

[2017-09-01 06:14] #1134 closed

[2017-09-01 13:40] hmontes commented on #1134
Your solution don't worked (Affects ALL the divs. not only the children). But thanks to your post i found the solution: Is with TWO ampersand.

[code]

I think is not the ideal but works.

Thank you

[2017-09-01 14:29] philpl commented on #1134
cc @thysultan Is there anything we can do to avoid this un-contextual behaviour of the ampersand selector? I know we can talk about that for v3, but to kind of talk about this right now:

Based on the feedback above that means that this resolves to the same selector still, right?

[code]

[2017-09-01 18:37] timbset commented on #905
That's great. But what's the reason that you don't have function that return just a class name instead of component?

[2017-09-01 18:53] hmontes commented on #1134
Sorry. My mistake. That solution don't work

[2017-09-01 20:06] probablyup opened #1135 "Some issues preventing thorough minification"
1. There are some instances of `typeof process !== 'undefined'` in the codebase which will defeat DCE in some build tools like webpack. By default, webpack only replaces `process.env.NODE_ENV` in production mode (`-p`) and would not touch a naked use of `process`.

2. `process.env.NODE_ENV` is being replaced by rollup for non-minified builds (e.g. `dist/styled-components.es.js`) which then does no

[2017-09-01 21:17] mxstbr commented on #1135
PRs very welcome! :blush:

[2017-09-01 22:16] thysultan commented on #1134
@philpl Yes?

[2017-09-01 23:16] wtgtybhertgeghgtwtg opened #1136 "[Proposal] Consider allowing implicit `extend`."
Apologies if this has been suggested before, but I could not find it in the archives.

Let's say I have some component `OriginalComponent`
[code]
I can extend that component two ways
[code]
The recommend way performs better (since the tree is a level smaller) and gives fewer classes.  And while the API is very simple and obvious, the explicit requirement seems artificial.

What I propose is a slig

[2017-09-01 23:24] wtgtybhertgeghgtwtg commented on #1136
If you put the check in the `StyledComponent` model, it will potentially boost the performance of `withComponent`, as well, since[ that loops back through `createStyledComponent`](https://github.com/styled-components/styled-components/blob/ec8bb67e067d8e1187cca6fdd9468bfcc93cd364/src/models/StyledComponent.js#L239).

[2017-09-02 00:07] philpl commented on #1136
Duplicate of https://github.com/styled-components/styled-components/issues/1087

[2017-09-02 00:07] #1136 closed

[2017-09-02 00:09] philpl commented on #1134
@hmontes Yes cheers, aware of that :)

@thysultan I think this might not match the spec, or does it?

[2017-09-02 00:11] philpl commented on #1135
Yep, I’ve noticed that as well. I’m not sure if rollup replaces this for us already? Whoever likes to pick this up will need to check unfortunately :)

[2017-09-02 00:16] thysultan commented on #1134
SASS spec or CSS spec?

[2017-09-03 00:01] arahansen opened #1137 "Support CSP Restrictions Without Nonce Attribute (IE11)"
I have a project that I would like to explore using a css-in-js library such as styled-components.

However, the Content-Security-Policy restrictions for this project are such that style tags are not allowed to be injected onto the page, and must be served in the initial static html file.

One solution around this would be to provide a nonce attribute. Styled components accomplishes this through a

[2017-09-03 00:13] philpl commented on #1137
This will generally not be possible, even with v3, for various reasons. I've compiled a document that sums up the problems since it has come up repeatedly: https://gist.github.com/philpl/7b8a021f19ead2ec534091976a1ff6dc#file-2-specificity-md

I don't think there'll be an easy way around. However, can we at least fix the problem with SSR somehow for IE11?

[2017-09-03 00:16] arahansen commented on #1137
We currently don't have any SSR implemented on this project, and I don't believe it's a priority for the team at the moment. I'm not sure the team could be convinced that s-c or another css-in-js lib will provide enough of an improved development experience to offset the setup and maintenance of a SSR solution.

However, I'm open to suggestions! If there is something we can do at build time, for e

[2017-09-03 01:55] philpl commented on #1137
So I've just read up on IE 11 not supporting CSP except HTML 5 Sandbox. I don't think IE 11 would even block anything, since it doesn't support any of the directives anyway. So where does this concern stem from, when IE 11 clearly doesn't support it anyway?

I don't really see how we can support CSP without SSR, when CSP is literally not (barely, but for all intents and purposes not at all) suppor

[2017-09-03 02:36] geelen commented on #1137
Yeah from my understanding IE11 won't block the inline stylesheets at all, right? Its implementation of CSP doesn't do that... I think??

[2017-09-03 04:53] searene opened #1140 "shouldComponentUpdate isn't called when wrapping React components with styled-components"
I have three files, `App.js`, `InputContainer.js` and `index.js`

# App.js
[code]

# InputContainer.js
[code]

# index.js
[code]

# interface
![2017-09-03-123752_380x51_scrot](https://user-images.githubusercontent.com/3351317/30000591-e176188a-90a4-11e7-8c87-5deaa697b1d4.png)

# Expected behavior
When I click on the button, only one line will be appended in the console:

[code]

Because `shouldCom

[2017-09-03 05:09] philpl commented on #1140
You're dynamically creating a StyledComponent here:

[code]

As with every component, you are recreating the type of an element, forcing it to be of a different type on every rerender. Not only is this really expensive as React throws away that part of the subtree, but it also causes the behaviour you are experiencing as that component is never the same in two rerenders.

styled-components creates

[2017-09-03 05:09] #1140 closed

[2017-09-03 10:02] mxstbr commented on #1140
Boom, now it works!

[code]

[2017-09-03 11:13] yordis opened #1141 "Class attachment is failing"
## Version
2.1.0

## Reproduction
https://codesandbox.io/s/3y3wl59x1p

## Steps to reproduce
- Extend the Original logo to another version

## Expected Behavior
I expect the `AlternativeLogo` to apply the styles added
## Actual Behavior
The `AlternativeLogo` do not have the styles.

The classes is been created with the values if I am not mistaking but the class is not been attached to the element

[2017-09-03 12:02] morajabi commented on #1141
You need to transfer the rest of props (or just the `className`) to the wrapper in the `Original` component in order to extending works. like this:

[code]

[2017-09-03 12:08] yordis commented on #1141
@morajabi aahh I see what you are doing there 👍 Got it!

Thanks a lot for the help!

[2017-09-03 12:08] #1141 closed

[2017-09-03 13:10] searene commented on #1140
@philpl @mxstbr Thanks, now it works!

[2017-09-03 15:34] pak11273 opened #1142 "image src props for urls"
## Version
2.1.0

I have an option to use any url for the source to my image component and it works.  However, in the console I keep getting a Type error in the console:

`Uncaught TypeError: Cannot read property '__reactInternalInstance$h4ttge1zri8' of null`

## Steps to reproduce

    const Img = styled.img`
        src: url(${props => props.src});
    `

    <Img src="http://some url to a pictu

[2017-09-03 16:03] morajabi commented on #1142
What is `src` property in your CSS? What to do you want to achieve with this styled component named `Img`?

[2017-09-03 16:23] pak11273 commented on #1142
`src` is the css property.  I want to get rid of the error I posted.

[2017-09-03 16:25] morajabi commented on #1142
There's no CSS property named `src`.

[2017-09-03 16:56] pak11273 commented on #1142
Why does my component still work if there is no `src` property?  Maybe I should clarify what I'm asking.  Let's say I want a stylized image component:

    const HeaderImg = styled.img`
      width: 100px;
      height: 100px;
      border: 1px solid blue;
    `
But for each instance of the component I want the image source to be different:

    const HeaderImg = styled.img`
      width: 100px;

[2017-09-03 17:08] pak11273 commented on #1142
Ok. I just got the same error using `<img>` tag.  So this is not a styled-components issue, it's a reactjs issue.      I think what I have already is fine.  Thanks for the help.

[2017-09-03 17:08] #1142 closed

[2017-09-03 17:40] pak11273 commented on #1142
[reference](https://github.com/facebook/react/issues/6472)

[2017-09-03 17:40] pak11273 commented on #1142
if anyone is having this issue the problem I was facing is solved here: https://github.com/facebook/react/issues/6472

[2017-09-03 21:07] arahansen commented on #1137
Wow, @geelen you're totally right. [MDN even lists `style-src` as "no support" for IE](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP). I guess I never looked there 😅. I think this answers my question. Thanks guys!

[2017-09-03 21:07] #1137 closed

[2017-09-04 09:46] psa-gbellencontre opened #1144 "CSS Sprite functionnality"
Hi
I'm using Styled Components for a few days, and I'm searching how to deal with CSS sprites.
I use webpack-spritesmith, but it generates Sass mixins, and I can't use them directly in styled components blocks.

Is there a solution to deal with sprites in styled components blocks ?

[2017-09-04 10:21] VeeruSA commented on #431
Hi, I want to display data in cards, if I have only one record in DB, I need to display only one card with big size like post card size in the center, if 2 records then 2 post cards displaying side by side and if 3 records then need to display 3 cards smaller than the post card. My code is as below..Plz help me

import React, { Component } from 'react';
import Pagination from '../components/pagina

[2017-09-04 10:22] mxstbr commented on #1144
I'd recommend asking thsi question [on StackOverflow with the `styled-components` tag](https://stackoverflow.com/questions/tagged/styled-components)! This is an issue tracker :blush:

[2017-09-04 10:22] #1144 closed

[2017-09-04 10:23] mxstbr commented on #431
This question has been answered, please post your custom question on [StackOverflow with the `styled-components` tag](https://stackoverflow.com/questions/tagged/styled-components)!

I'm going to lock this issue since there's nothing to add here.

[2017-09-04 10:25] philpl commented on #1144
@psa-gbellencontre Seconding @mxstbr here, since this is really not styled-components related.

To give you a starting point for some ideas though, generally you'd want to use a webpack-plugin that can be used with JS. I'd take a look at this one here: https://github.com/tswaters/webpack-sprite-plugin

You can probably write a utility that uses the coordinates that this outputs

[2017-09-04 11:12] tsupol opened #1145 "Cannot share Styled Components between components (SSR, Production Build Only)"
## Version
2.1.2
babel-plugin-styled-components: 1.2.0

## Steps to reproduce
in Heading.js
[code]
in index.js
[code]

## Expected Behavior
no error in production

## Actual Behavior
produces the following error
[code]
(Minified React error 130;)

## More Details
Used with next.js@3.2.1, react@15.5.4
Styled Component in the same file works normally
No error or warning in development mode

[2017-09-04 11:49] dmt-13 opened #1146 "Styled-components together with Material-UI and Next.js"
Hi. I'm trying to use styled-components together with Material-UI. Also I'm using Next.js for server rendering. I used your documentation and now styled-components are rendered fine on the server side. But I have some difficulties with server-side rendering for Material-UI. It uses JSS and react-jss package, the last one has class `SheetsRegistry`, which collects critical CSS and renders it on the

[2017-09-04 12:02] tsupol commented on #1145
The issue seem to be caused by the mixing of various plugins not the fault of Styled Component itself.
Sorry for posting this.

[2017-09-04 12:05] morajabi commented on #1146
Doesn't this help you with SSR on Next.js?
It's an example for Next with Styled Components:
https://github.com/zeit/next.js/tree/master/examples/with-styled-components

[2017-09-04 12:09] dmt-13 commented on #1146
@morajabi Not actually. As I wrote, styled-components works nicely, I have a problem with Material-UI. It is not rendered on the server-side and `getStyleElement` doesn't grab it's styles.

[2017-09-04 13:05] mxstbr commented on #1145
No worries, happy that you've figured it out!

[2017-09-04 13:05] #1145 closed

[2017-09-04 13:07] mxstbr commented on #1146
I would suggest asking this question [over in the material-ui repo](https://github.com/callemall/material-ui) or on StackOverflow, you'll have better luck there finding folks who know how to server-side render it!

[2017-09-04 13:07] #1146 closed

[2017-09-05 07:43] kachkaev commented on #583
Looks like I'm experiencing performance issues too. The interface I'm working on contains a few elements that can be toggled (selected). When I interact with these in Safari and Chrome on iOS for the first time, re-rendering sometimes takes over a second and everything freezes during this.

Here's how a timeline looks in Safari on iOS when a simple _styled-components_ switch is toggled for the fir

[2017-09-05 08:03] mxstbr commented on #583
Try running against the current master branch version (you should be able to install `@next` maybe?) we've done some big improvements on un- and remounting speed thanks to @schwers!

[2017-09-05 08:13] kachkaev commented on #583
Thanks for the hint @mxstbr. `npm i styled-components@next` installs `styled-components@2.0.0-15`. I just tried `styled-components@2.1.3-0` (the latest known release in this repo dated 9 days ago) and haven't noticed any improvement.

Looking forward for a new release! Let know if you need any help with testing.

[2017-09-05 17:43] gaastonsr commented on #439
For those interested, currently, I'm solving this by using @vdanchenkov [solution](https://github.com/styled-components/styled-components/issues/135#issuecomment-256018643).

[code]

[2017-09-06 03:59] #1127 closed

[2017-09-06 05:27] wmertens commented on #1110
@reznord I implemented it…

I was kind of expecting that it would also work for the ``css`foo: ${p => false}` `` case, but that can't work because s-c doesn't parse the CSS. That should be done by stylis.

[2017-09-06 15:37] Aleksion commented on #1083
Is the className ordering issue fixed? I'm experiencing it 50% of the time, when I deploy my code to production.

 It seems to happen whenever I've used .extend:

<img width="214" alt="screen shot 2017-09-06 at 11 36 33" src="https://user-images.githubusercontent.com/3367641/30120754-c36c8130-92f7-11e7-932a-90142dcfb83b.png">
<img width="217" alt="screen shot 2017-09-06 at 11 36 49" src="https://u

[2017-09-06 16:17] probablyup commented on #1083
Happens to me too. Haven't quite figured out the issue yet.
On Wed, Sep 6, 2017 at 11:38 AM Aleksander <notifications@github.com> wrote:

[2017-09-06 19:46] joetidee commented on #927
I am having a similar issue. I have a Button styled component:

`<Button innerRef={(elem) => this.btn = elem} />`

but I am getting `null` returned when doing this:

`console.log(this.btn);`

If I use 'ref' instead of 'innerRef', then I get the StyledComponent object back. Are you able to advise?

Gist:
https://gist.github.com/joetidee/5316feb0a39b52bf9b48399888258781

[2017-09-06 22:30] joetidee opened #1151 "Advice when using innerRef with exported styled component..."
Hi, I appreciate that there are some thread/ previous issues mentioning innerRef, but I could really do with some advice on how to get around this issue:

https://stackoverflow.com/questions/46085051/how-to-use-the-styled-component-property-innerref-with-a-react-stateless-compone

[2017-09-07 02:22] jmmolina796 opened #1152 "How can I add a third party library (like normalize) to my project?"
I want to add a third party library such as normalize, Does it exist a way to do it with styled-components? Or Do I have to import it like whatever file?
`import 'normalize.css'`

[2017-09-07 06:55] mxstbr commented on #1152
Use `injectGlobal`! See https://www.styled-components.com/docs/api for more information.

[2017-09-07 06:55] #1152 closed

[2017-09-07 07:24] k15a commented on #1151
`innerRef` ist consumed by styled-components so you need to pass another prop (e.g. `_ref`) to the styled-component and then pass it further as ref to the Component.

[2017-09-07 08:58] joetidee commented on #1151
Would you mind providing a quick example?

[2017-09-07 10:40] #1135 closed

[2017-09-07 13:36] joetidee commented on #927
@k15a Could you please provide a quick example of passing down a separate _ref prop?

[2017-09-07 14:30] kachkaev commented on #583
Hey guys! When about are you planning to cut a new release? Just curious to see if there any performance improvements after a contribution from @schwers. Trying that on the weekend would be awesome!

[2017-09-07 18:37] k15a commented on #1151
So you have the following component hierarchy:
- Styled(Button)
- Button
- styled.div
- div

React itself handles the ref prop and attaches it to the Styled(Button).
- Styled(Button) <- ref
- Button
- styled.div
- div

Because React already handles the ref there is no way for styled-components to pass the ref down to the underlying component. That's the reason there is a special property called in

[2017-09-07 18:37] #1151 closed

[2017-09-08 06:39] nb256 opened #1154 "styled-props demo link in readme section has gone"
styled-props (demo) link should be fixed since it does not work.

http://www.webpackbin.com/N1EKUqgvG

[2017-09-08 07:44] wood1986 opened #1155 "The final HTML DOM should not have any props from JSX Wrapper except with using `attrs`"
## Version
2.1.0

## Reproduction

https://www.webpackbin.com/bins/-KtVOP6OYjAfjyqgdtrs
![untitled](https://user-images.githubusercontent.com/5212215/30201057-3b2648be-942e-11e7-8f45-f47475e1facc.png)

## Steps to reproduce
See my screenshot and https://www.webpackbin.com/bins/-KtVOP6OYjAfjyqgdtrs

## Expected Behavior
`<section data-react-root class="sc-bwzfXH gzMTbA">`

## Actual Behavior
`<sect

[2017-09-08 07:57] mxstbr commented on #1155
This is expected behaviour, we maintain a whitelist of valid DOM attributes and pass them through.

----

@geelen this would be an interesting solution to the whitelist problem? Did you consider removing the whitelist and only passing through props from `.attrs`?

[2017-09-08 07:57] #1155 closed

[2017-09-08 10:41] jamiewinder commented on #439
@gaastonsr - sorry if this is in the wrong place (though the issue you linked to is closed), but I can't seem to get that workaround working. Here's an example:
https://codesandbox.io/s/88r0x11zvl

(i.e. Item takes a 'complete' prop which I want to hide from the `div`; I know this isn't necessary for a div, but the point is the same).

[2017-09-08 17:39] mxstbr commented on #176
There's finally an official WebStorm plugin, partly built by @daedlock and partly built by JetBrains employees!!

Go use it, star it, recommend it: https://plugins.jetbrains.com/plugin/9997-styled-components
Also give the repo a star on GitHub while you're at it: https://github.com/styled-components/webstorm-styled-components

I'm going to unlock and close this issue, feels so great :tada:

[2017-09-08 17:39] #176 closed

[2017-09-08 18:18] diegohaz commented on #1154
cc @RafalFilipek

[2017-09-08 19:55] wood1986 commented on #1155
Based on the question you ask @geelen, I want to know if you think it is nice to have this behavior. If so, I am going to fix that. My point is I think `height="300" width="300" dir="rtl"` should come from the attrs only. And I am concerned about the priority of attrs and the props from the Wrapper

[2017-09-08 20:22] mxstbr commented on #1155
The idea behind the whitelist is that's it's a much nicer DX, see #731 and all the linked discussion for the context around the question.

[2017-09-08 23:04] Charliekenney23 opened #1156 "Setting shorthand border property on `Image` element in React Native defaults unsupported `border-style` key"
First off I wanted to say thanks for such an **awesome** library. I can't imagine going back to css modules/manual jsx inline styles.

Not *entirely* sure if this is intended or not, but I figured I'd raise a flag. Basically, when using the short hand `border` property in react-native, the `border-style` property defaults to a value of `solid` (when not specified), which is an invalid key for the

[2017-09-09 02:23] jmmolina796 commented on #1152
Thank you!
At the end I did this:
[code]

[2017-09-09 10:42] aganglada commented on #277
I will say **theming** is one of the solutions you can use.

Is your issue solved @dotcarls? If so, what was your final one/can we close this one?

[2017-09-09 14:37] philpl commented on #1156
I noticed this as well. Generally speaking it is intended and expected behaviour.
But when the `border-style` in the shorthand is missing, I think we should not default ourselves, but not set the value to a default and bet on React Native's default instead.

Does that sound reasonable, @jacobp100 ?

[2017-09-10 10:53] JamieDixon commented on #134
@mxstbr Better late than never!

It works beautifully. Thanks for the great work everyone. SC has made such a difference to our project.

![sep-10-2017 11-52-05](https://user-images.githubusercontent.com/1519443/30248371-8322c1f0-961e-11e7-8526-103b0a4ed79f.gif)

[2017-09-10 16:16] jacobp100 commented on #1156
CSS does reset omitted properties in shorthands. So if you do,

[code]

It'll reset the colour to the default of `currentColor`.

I did this purely because that's how CSS works, but it might be a bit dogmatic. I don't know what would be best here. I suspect either way, somebody will find the behaviour confusing 😂

[2017-09-10 17:43] bkazi commented on #1121
This might not necessarily be related
but I had this issue few days ago even with the fix from #1119 included
However since updating to yarn 1.0.1 I reinstalled node dependencies and it has disappeared
I notice you're on a pre 1.0.0 version of yarn so maybe that's the difference, bit of a long shot really

[2017-09-10 18:25] Hunsu opened #1158 "[Native] flex:1 shorthand behaves differently than StyleSheet and triggers a FlatList quirk"
## Version
2.1.2

## Reproduction

https://github.com/Hunsu/styled-components-bug-with-flatlist

## Steps to reproduce
Run the app. You won't have the bug if you change line 18 of the component DogCard to `<View style={styles.cardContainer} >`
## Expected Behavior
All images are shown in the list.
## Actual Behavior
The first images are rendered and then disappear and only some are rendered.

[2017-09-10 20:13] philpl commented on #1156
@jacobp100 can we detect whether the previous rules contain `border-style` (after the last shorthands where expanded)? This might allow us to reset it when needed

[2017-09-10 21:04] jacobp100 commented on #1156
We might need to override styles from other rules though.

[code]

[2017-09-11 02:17] qzm opened #1159 "styled-components in React Native render error"
## Version
2.1.2

## Reproduction

[code]

## Steps to reproduce
I use the styled-components for React Native,
if i change the logoWrapper to View and change the logoImage to Image, it works

## Expected Behavior
no error

## Actual Behavior
Expected a component class got [object Object]

![screen shot 2017-09-11 at 10 05 20](https://user-images.githubusercontent.com/2801450/30255923-823149e0-96d9

[2017-09-11 02:24] qzm commented on #1159
is my fault ,sorry

[2017-09-11 02:24] #1159 closed

[2017-09-11 02:27] qzm commented on #1159
I change component names with a capital letters

[2017-09-11 06:28] morajabi commented on #1158
You need to add units to your CSS properties in styled-components styles.
https://github.com/styled-components/styled-components-native-code-mod

[2017-09-11 08:42] Hunsu commented on #1158
I did that and it didn't fix the problem. I think it should have warned me though. If you could give some indications I could debug further this problem.

[2017-09-11 11:18] philpl commented on #1159
@qzm btw try the Stack Overflow or Spectrum before you open an issue first btw :smile:

In general the rule of thumb is: Is the title / problem very vague? Do you think it is not a library bug? Then it might be a question, not an issue. Of course you can open an issue as a last resort, but since you figured it out on your own, Spectrum might be a good choice for smaller questions :wink: Cheers!

[2017-09-11 11:33] philpl commented on #1158
If you remove `flex: 1` it fixes the issue.

I'm pretty sure that means that the `flex` shorthand in `css-to-react-native` is not resetting correctly, or outputting slightly different values. https://github.com/styled-components/css-to-react-native/blob/master/src/transforms/flex.js

The good news is: You don't need to add it (same for `width`) to make your list work. It's completely unnecessary.

[2017-09-11 12:03] Chaoste commented on #398
I suggest doing the same stuff as for media queries - writing templates in seperate files.

[2017-09-11 12:12] philpl commented on #398
@evenchange4 It should be easy to create a function in JS for this. The mentality that we're following is: Use the power of JS inside CSS via tagged template literals. So this should be super easily achievable. Take a look at this, like @Chaoste is suggesting: https://www.styled-components.com/docs/advanced#media-templates

The definitive answer—to add on to what @k15a said—even with us having use

[2017-09-11 13:23] jacobp100 commented on #1158
There's #465, which is similar. (Sorry it goes off topic!)

I'll add to this though,

React Native has two flex models: [non-standard `flex`](http://facebook.github.io/react-native/docs/layout-props.html#flex), and the web-standard `flex{Grow, Shrink, Basis}`. The main differences are that in the non-standard model, a positive `flex` implies a `flexShrink` of `0`, and a negative insteal implies a

[2017-09-11 13:23] #1158 closed

[2017-09-11 13:44] philpl commented on #465
@jacobp100 I propose we just add some notes to the React Native section of the website. We had that issue on `border` as well, and while there's no definitive solution on either, an entry to the docs would clarify this issue

[2017-09-11 13:50] jacobp100 commented on #465
I agree! I'll try and find some time to do this!

[2017-09-11 21:32] prevostc commented on #1032
Same issue here, I have a react widget that anyone can install with a google-analytics-like js tag.

However, this widget conflicts with my customer apps that use styled components too (and it was quite hard to debug :D)
It turns out that there is a conflicts in the style tags. The first inserted style tag (my client's tag) gets kicked out by my widget style tag.

I would like to be able to set th

[2017-09-12 01:13] philpl commented on #1032
This will either be solved by: https://github.com/styled-components/styled-components/pull/1102 or by https://github.com/styled-components/styled-components/issues/1011

Since the last comments have not been defining the problem further we can move on to the issue/PR above addressing some solutions instead. I'll go ahead and lock this issue, as use-cases or +1s are not going to be helpful. I hope

[2017-09-12 06:30] kopax opened #1160 "[Feature] injectTheme"
feature injectTheme?
=======================

I am creating lots of small packages of my react components that can be re-used but they all require to have a theme

Generally, I use only one `<ThemeProvider theme={theme} />`wrapper for the whole application.

In this scenaria, having a `const defaultProps = { theme }` would not be enough to make it work as the theme from the ThemeProvider will over

[2017-09-12 06:53] #1160 closed

[2017-09-12 11:32] MrLoh opened #1162 "withTheme forces always makes PureComponent update"
When I wrap a pure component with `withTheme` it always receives a new theme prop, no matter wether the theme has changed.

## Version
2.1.1 native

## Reproduction
Let's say I have a component

[code]

[2017-09-12 11:46] philpl commented on #1162
We only update `withTheme`s internal state when the theme changes:

https://github.com/styled-components/styled-components/blob/master/src/hoc/withTheme.js#L43-L45

But on its own the component is not a PureComponent, which is on purpose, since we don't make any assumptions about your practices.

This is why a reproduction is **very important**. Please take a look at the issue template.

There are

[2017-09-12 11:46] #1162 closed

[2017-09-12 12:59] MrLoh commented on #1162
Sorry, I figured that the mistake was on my side. I was setting the theme wrong accidentally. Thanks for the pointer how `withTheme` works.

[2017-09-12 13:02] philpl commented on #1162
@MrLoh No worries! Glad you figured it out :smile:

[2017-09-12 13:03] philpl commented on #1156
@jacobp100 I'd tend to then say that this is a "won't fix" / "can't fix" issue

[2017-09-12 14:44] jacobp100 commented on #1156
We do need a proper fix for this. We're currently disabling the border shorthand purely because the iOS image component doesn't support it.

[2017-09-13 01:17] sbrichardson opened #1163 "Theme & passed props performance best practice question"
After reviewing your docs and strategies for building heavily themed/dynamic components

I thought it may be better performance to have the property functions run once, instead of defining a function for each property. This method below also improve using the 'extend' sc method, since that outputs a single stylesheet that has the original properties, as well as duplicates for any over-ridden style

[2017-09-13 03:25] oyeanuj commented on #1056
@philpl Did you ever get a chance to write this blog post?

I'd like to understand the differences between `emotion` and SC more, especially in terms of future directions.

[2017-09-13 09:27] samnut2 commented on #583
Hi guys, I thought it might be useful to put my tests for release 2.1.3-0 which has big performance enhancement by comparing it with react-fela and styletron, almost the same or faster in prod env. I'm new to css-in-js and just getting my hands wet comparing some of the interesting frameworks.
Hope to see more info about the enhancements done in this release that gave that performance hit.

[2017-09-13 11:31] philpl commented on #1056
@oyeanuj Like my reply on Twitter stated, the differences will shrink and the plan is that both will have the same platform. In essence, we will have stable preprocessing as well, and the gap will shrink. For you as a user not much will change apart from that.

I have to see whether I'll find time to write an article on it.

[2017-09-13 21:03] Aleksion commented on #1083
This is becoming more and more of an issue. Any idea why this is happening?

[2017-09-13 21:27] a-type commented on #1055
I maintain an internal component library for my organization and ran into a lot of problems with how to co-locate themes, allow library consumers to extend component styling or modify theme properties, etc, as discussed here. Came upon this thread and was pretty inspired by the proposals. Like @FabioAntunes , though, I was really dreaming of a solution where I can reference some 'universal' values

[2017-09-13 21:29] Aleksion opened #1164 "Classname reordering when extending styles is inconsistent."
I'm reopening this since #1083 got closed without the issue being resolve. (or this might be another issue.

 I'm experiencing this 50% of the time, when I deploy my code to production. (On Netlify)

It seems to happen whenever I've used .extend or styled(COMPONENT), but then again, only 50% of the time. This is before and after a refresh:

<img width="214" alt="screen shot 2017-09-06 at 11 36 33"

[2017-09-13 22:45] philpl commented on #1164
That’s true! The discussion diverged a lot from the original issue and wasn’t resolved.

We’ll need a stable reproduction first, before tackling this issue apart from a screenshot unfortunately. Can you provide a CodeSandbox or sth similar to reproduce this?

cc @geelen: I think we pinned down the issue to styled(COMPONENT) any idea why it might take higher priority?

[2017-09-13 23:49] sbr464 commented on #1163
I also tested the performance of caching identical styles. By default, each time you use an instance of a styled component, all of the theme functions are re-ran. The them file doesn't need to be regenerated over and over for identical unique classes, just for the variations.

Not really a typical use case but I was curious if it would help, I rendered 10,000 elements on a page in a loop (lodash.t

[2017-09-14 00:29] Aleksion commented on #1164
What makes it so hard, is that I haven't been able to replicate it locally. I've been trying in code sandbox, without "luck"

One thing to note is that it doesn't do it on all styles throughout the page. It seems it becomes more of an issue on larger projects.

And I NEVER get it when I run it locally. I only get it when I serve the build online (through netlify's cdn). I don't think how it's serv

[2017-09-14 00:34] Aleksion commented on #1164
Oh, and it's happening on a gatsby project. Might be relevant.

[2017-09-14 01:31] philpl commented on #1164
@Aleksion:

`.extend` combines the parent's rules with the new ones and creates a **single class** that's totally separate from the parent's. Thus it's impossible for it to trigger this bug. It must somehow be triggered by using `styled(StyledComponent)` where the deferred rule injection fails to work.

Generally I can only suggest you to keep using `.extend` when it's your own styled component an

[2017-09-14 01:37] Aleksion commented on #1164
Interesting. I was certain it happened when I was using extend, but I'll try to dig deeper and find out why and what happens.

Wonder whether it can be https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-styled-components that causes the issues.

I'll try again to see if I can reproduce it independently of my project tomorrow. If not I'll report back on your bullet points based o

[2017-09-14 01:37] philpl commented on #1083
Locked in favour of https://github.com/styled-components/styled-components/issues/1164

@probablyup Since this issue needed more info and the new one as well, if you can, please help us find a reproduction, or answer the questions I've posted there :smile:

[2017-09-14 01:39] philpl commented on #1164
@Aleksion The approach I'd suggest is:

- Find the affected components
- Move them into an isolated project with the same setup
- Try to further minimise the resulting reproduction
- See if it happens in create-react-app with the same code and without SSR

It'd be amazing to find out what is causing this 😆  These kinds of "foundational quirks/bugs" make me really anxious.

[2017-09-14 01:40] thejameskyle commented on #1055
I just made a change to styled-theming that accepts functions as theme values:

[code]

While this shouldn't be your default, it does give you a lot more flexibility. In the future with the optional chaining operator, it can be nice with defaults too:

[code]

If people want to define their own utilities for describing theme values, it's now quite simple:

[code]

[2017-09-14 01:43] probablyup commented on #1164
Here's my theory: this is entirely due to module resolution order.

In my work projects, I've noticed we have the same issues when webpack's ModuleConcatenationPlugin is NOT enabled... meaning there's no guarantee of evaluation order in the code. That means that `Thing` in `styled(Thing)` could be evaluated after the file containing `styled(Thing)` and that would mean the rules are injected in the

[2017-09-14 01:46] probablyup commented on #1164
Long story short, @Aleksion if your codebase uses ESM, try turning on `ModuleConcatenationPlugin` and report back.

[2017-09-14 01:47] philpl commented on #1164
@probablyup Unlikely to be this simple, because of dependencies. While it's now not best practice our original inheritance assumption is based on this: `A = styled.div; styled(A)`

If `A` is imported in the example it must've been created / evaluated first (otherwise `A` would of course be undefined; this is how module resolution works) this means that a deferred injection must've been triggered (

[2017-09-14 05:50] geelen commented on #1164
This is super weird. Guaranteed ordering is like feature number 1 for styled-components (literally issue #1), and I _really_ thought I caught all the edge cases...

As phil points out, it can't be module order because `styled(X)` depends on `X`, so you'd get a bunch of underfined errors if it was running out-of-order.

It could be something to do with rehydration injecting multiple styles... but n

[2017-09-14 05:54] geelen commented on #1083
I know this discussion is locked and all but just to be clear—`styled(Arrow)` should _always_ work 100% great no-problems A+ you win! If it's ever "screwy" it's a bug. The only reason you'd choose `.extend` is if you _know_ what you're extending is a SC. Across file boundaries I think that's very rarely the case.

I've seen this too. I should add something to the docs on this point but I haven't y

[2017-09-14 13:19] a-type commented on #1055
Nice! I personally feel that it's a key feature. `styled-theming` is definitely more lightweight and targeted than my more framework-like approach. I've yet to do any serious exploration of performance, which can obviously be a big gotcha with this kind of stuff.

[2017-09-14 15:41] enginehenryed opened #1165 "Identifier (e.g. className) uglifying or hashing"
This may be either a question or a feature request.
I used to develop React application with Webpack, and one of the most useful gimmicks of Webpack was its `css-loader`'s `localIdentName`. What [localIdentName](https://github.com/webpack-contrib/css-loader#modules) does was to give the reference to the css selector with a hashed name.

For example, if there is a style definition as following,
[co

[2017-09-14 18:31] OutThisLife commented on #1107
@philpl @mxstbr Is there a better way to do this?

[2017-09-14 19:26] avindra commented on #1068
No rush on this since we just pinned our app to the previous version, but when is 2.1.3 due?

[2017-09-15 00:44] coopermaruyama opened #1166 "Input elements get re-rendered in DOM when contained in styled components"
## Version
2.1.2

## Reproduction

https://www.webpackbin.com/bins/-Ku1w7qFoN6MVobreB-a

## Steps to reproduce

1. Create a styled component
2. Put a controlled text input in it
3. type into the text input

## Expected Behavior
input should not lose focus

## Actual Behavior
Input loses focus

This is due to the fact that a styled components re-renders completely, so it removes then adds a new tex

[2017-09-15 01:01] epilande commented on #1166
@coopermaruyama having the styled component in the `render` function causes it to re-render. Your `Container` styled component gets dynamically created on every render.

Updated example: https://www.webpackbin.com/bins/-Ku224IKqB3pQVsdsx9d

[2017-09-15 01:03] coopermaruyama commented on #1166
ahhh okay. Thats very interesting. thanks for pointing this out, I was really scratching my head over this one. Will close this now.

[2017-09-15 01:03] #1166 closed

[2017-09-15 07:01] k15a commented on #1165
Could you clarify a bit more? Our classes are normally hashed and so exactly what you want?

[2017-09-15 07:53] mxstbr commented on #1165
I also don't understand this question. If you want human readable names, use https://github.com/styled-components/babel-plugin-styled-components!

If you don't want human readable names, then don't use it.

[2017-09-15 07:53] #1165 closed

[2017-09-15 13:46] diegohaz commented on #1154
Closed in #1157

[2017-09-15 13:46] #1154 closed

[2017-09-15 13:49] PengyuanZhao commented on #1115
This warning could be gone in React 16 which supports [custom attributes](https://facebook.github.io/react/blog/2017/09/08/dom-attributes-in-react-16.html)

[2017-09-17 20:03] lhz516 opened #1168 "TypeScript SSR: className not match"
[babel-plugin-styled-components](https://www.styled-components.com/docs/tooling#babel-plugin) is the solution for matching client and server classNames. However, if I use Typescript, what can I do to solve this issue?

## Version
2.1.2

## Steps to reproduce
1. Set up a Typescript project with React + React Router. Share routes code for client & server
2. Achieve SSR with `styled-components` follo

[2017-09-18 07:11] probablyup opened #1169 "Generating optimal payloads"
I came across this stylis-plugin today: https://www.npmjs.com/package/stylis-atomic

Not used much, but it brings up an interesting train of thought on strategies that libraries like styled-components can harness to dramatically slim the amount of CSS pushed to the client.

Curious if a technique like this is on the roadmap? Or perhaps even just trying out this plugin.

It seems like it would be s

[2017-09-18 11:10] k15a commented on #1169
We already had a discussion about this at https://github.com/styled-components/styled-components/issues/351. You might want to check it out.

[2017-09-18 12:15] danistefanovic commented on #1076
I'm not sure if I run into the same bug as described above. Here is a repo for reproduction: https://github.com/danistefanovic/styled-components-keyframes-bug

Let me know if I should open a new issue for this.

[2017-09-18 15:06] mxstbr commented on #1169
Going to close this as a duplicate, didn't know about that @thysultan plugin though!

[2017-09-18 15:06] #1169 closed

[2017-09-18 15:08] mxstbr commented on #1168
Unfortunately, there is no way to get reliable class names without some sort of build step. Can you not use Babel plugins with TypeScript?

[2017-09-18 15:08] #1168 closed

[2017-09-18 15:40] probablyup commented on #1164
@Aleksion are any of your styled components exported default without saving to a variable first?

[code]

[2017-09-18 15:44] Aleksion commented on #1164
No, they're all exported as

[code]

I haven't been able to properly replicate it by the way. I haven't been experiencing in prod for a while, and I never did figure out how to create the error locally. I'll update accordingly if I hit it again.

[2017-09-18 15:47] probablyup commented on #1164
Ok, as of last week I could still repro. I'll try and put a minimal example
together.
On Mon, Sep 18, 2017 at 11:44 AM Aleksander <notifications@github.com>
wrote:

[2017-09-18 15:49] Aleksion commented on #1164
That would be great! as @geelen said, guaranteed ordering is a must for this library. And while it's working now, having experienced the errors makes me hesitant to go all in.

[2017-09-18 17:10] anthify opened #1170 "linear-gradient support for React Native"
Hey,

There seems to be no support for gradients.

Example:
[code]

returns `Failed to parse declaration "background...`

I see this is a feature React Native itself lacks, and have found some libraries that provide this functionality, but it would be cool to have access to it via styled-components.

Any ideas on how it could be implemented?

Anth

PS _*loving styled-components*_

[2017-09-18 17:25] byrekt commented on #657
Just a heads-up. If you use auto-bootstrapping with `ng-app` on the `html` tag of your index.html, you can try moving `ng-app` to the `body` tag. That resolved it for me.

[2017-09-19 09:53] MariusAlch commented on #1079
Thank for documenting, had same issue. :)

[2017-09-19 13:53] jacobp100 commented on #1170
So I think there is some sort of native support React Native [here](https://github.com/facebook/react-native/blob/master/Libraries/ART/ReactNativeART.js).

If someone wants to look into this, I help on the CSS parsing side.

[2017-09-19 15:41] wagg-matt opened #1172 "withComponent question"
I'm working on a project where I have external component repos all built with styled components.

When trying to use `withComponent` internally like below it works as intended:
[code]

Yet when I try to use an external repo, all built with styled-components I get a `_Button2.default.withComponent is not a function` error. With the below code:

[code]

Is this the intention or is this a bug? I am u

[2017-09-19 16:17] mxstbr commented on #1172
First of all, you should move your styled-components definitions out of your render method-otherwise you're creating a new component on every render unnecessarily which could have a large performance impact:

[code]

Second, it sounds like your external `<Button />` is not a styled component directly. **Only styled-components have a `.withComponent` method**, not normal React components!

If it is

[2017-09-19 16:17] #1172 closed

[2017-09-19 16:21] wagg-matt commented on #1172
@mxstbr thanks very much

[2017-09-19 20:00] lXSPandora commented on #180
Hey guys look at this https://github.com/lXSPandora/vscode-styled-components-snippets

[2017-09-19 20:56] puffstream opened #1173 "Third-party component seems broken after applying styled"
Used a couple of different third-party components and styling the parent element seems to break the third-party component functionality. Have checked all other questions etc.. in the issues log and can't see anything that would help to resolve this issue.

For example - import Collapse from 'react-collapse';

const Wrapper = styled.div
 ${wrapperStyles}

`<Wrapper><h1>Some header</h1><Collapse>Som

[2017-09-19 21:18] k15a commented on #1173
The third-party component needs to pass down the classname.

[2017-09-19 21:36] puffstream commented on #1173
@k15a I think the Third-Party applies two in-line styling, one to the parent and one to the Collapse nested in - see DOM above. And the nested height gets dynamically updated when you click toggle. But this in-line styling gets disabled upon applying a parent Styled element, not sure if the classname is the issue.

[2017-09-19 21:44] k15a commented on #1173
Could you please share a reproduction on codesandbox or webpackbin?

[2017-09-19 23:19] puffstream commented on #1173
https://www.webpackbin.com/bins/-KuRCLRInICl2K48c83k Okay, seems to be working 😛 The other two things I haven't mentioned, is 1. its a shared component and 2. its inside of Storybook, so I'll follow up on these things next. Thanks for replies 😄

[2017-09-20 13:41] philpl commented on #1170
Afaik that's not actually exposed for styling, otherwise this wouldn't exist, right? ^^ https://github.com/react-native-community/react-native-linear-gradient

Shall we close this for now?

[2017-09-20 14:21] jacobp100 commented on #1170
[There's an example in the React Native examples.](https://github.com/facebook/react-native/blob/master/RNTester/js/ARTExample.js) I think we should leave this open until it's been looked into!

[2017-09-20 15:13] mxstbr commented on #1170
The linear gradient support is for react-art though? https://github.com/reactjs/react-art That's a drawing tool?

[2017-09-20 16:07] jacobp100 commented on #1170
Yea, but that's implemented in React Native core. I looked into it and we might have something like,

[code]

And this might need to direct properties rather than style properties. Then again, the documentation is sparse, so I could be wrong.

[2017-09-21 19:44] arecvlohe commented on #773
This is really neat!

[2017-09-22 09:15] Chaoste opened #1174 "Reacts low priority warning regarding createClass and props-types"
Hi guys,

I'm getting the following react warnings. Styled-components is the only library I'm using and I already removed those deprecated code styles from my code. Do you still use createClass and PropTypes from the react package? Would be great to remove these warnings :)

Greetings,
Thomas

[2017-09-22 09:23] mxstbr commented on #1174
PRs to remove any left over usage very welcome! Probably related to #1090?

[2017-09-22 14:11] alexdevero opened #1175 "Dangling semicolon sometimes breaks styles"
## Version
2.1.2

## Reproduction
Sometimes, dangling semicolon in a rule-set with a single declaration is causing complete break of styles. Every time this issue occurred, the only difference between expected and actual result was always only dangling semicolon in a rule-set with single declaration. And, removing the semicolon always solved the issue.

With semicolon:
![semicolon-code](https://us

[2017-09-22 16:45] mxstbr commented on #1175
/cc @thysultan

[2017-09-22 20:38] philpl commented on #1175
Can you paste the interpreted CSS by your browser please? That would help out a lot :)

[2017-09-23 06:15] alexdevero commented on #1175
@philpl that's the problem. No CSS is interpreted at all. Only browser "default" styles are applied.

[2017-09-23 08:15] MadalenaGoncalves commented on #246
9+º´~ii-\\\\ã

[2017-09-24 16:00] philpl commented on #1175
@alexdevero sorry, yes silly me haha, can you copy the raw css of the part class that is incorrectly generated?

[2017-09-24 17:54] thysultan commented on #1175
Can't reproduce this in stylis – pasting

[code]

Into [stylis.js.org/](https://stylis.js.org/) produces the right output.

What am i missing?

[2017-09-25 22:45] thebetterjort opened #1176 "nextJS + styled-components/primitives"
Deploying to now.sh returns "Internal Server Error" anytime I try and style a View. I can use styled.Text``; without issue. It gives me an Invariant error.
https://with-styled-components-fupmatqvuu.now.sh/_src
https://with-styled-components-fupmatqvuu.now.sh/

Am I not understanding something?

[code]
_Document.js

[code]

index.js

[code]

[2017-09-26 04:42] BeijiYang commented on #1090
I have the same problem when I try to style a third-party component (such as an antd Button) ,
but  " const Div = styled.div`` "works perfectly.

it drives me crazy.

[2017-09-26 05:02] BeijiYang commented on #1090
I did this:

[code]

and this warning was gone.

[2017-09-26 05:04] malekjaroslav commented on #570
This would be really great. I managed to make it work by this:
[code]
But then I have an issue with `.extend` and other functions.

[2017-09-26 08:35] #1090 closed

[2017-09-26 09:36] alex-cory commented on #135
I did mine like this.
[code]

[2017-09-26 09:46] alexdevero commented on #1175
@philpl is it possible that this issue can be caused by large amount of code in a single file (or two)? My form component (pure exported styled-components) has 150 lines. Then, on contact page where I import this form component are another +/- 227 lines of code for styled-components, plus react code.

I can't give you the exact code because it is in private repo. However, I will try to "customize